Repository jina-ai/serve, pull requests merged in 2020-10, with the labels that each got.

#1011 Fix encoder driver for tree traversal
  jina/drivers/encode.py
  tests/unit/drivers/yaml/mockencoder-mode1.yml
  tests/unit/drivers/yaml/mockencoder-mode2.yml
  tests/unit/flow/yaml/mockencoder-mode1.yml
  tests/unit/flow/yaml/mockencoder-mode2.yml
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#999 feat: sse logger now monitor the tail of file
  jina/logging/sse.py
  jina/resources/logserver.default.yml
Labels: area/core, component/logging, component/resource, hacktoberfest, hacktoberfest2020, size/S

#1007 feat: slice is there and some test cleanups
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/craft.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/resources/executors.requests.BaseRanker.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/level_depth/yaml/encoder.yml
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
  tests/integration/level_depth/yaml/rank.yml
  tests/integration/level_depth/yaml/segmenter.yml
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/querylang/test_slice_ql.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_recursive_traversal.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/flow/test_flow_multimode.py
Labels: area/core, area/testing, component/client, component/driver, component/resource, hacktoberfest, hacktoberfest2020, size/L

#1010 fix(drivers): fix dunderkey bug and add tests
  jina/drivers/querylang/queryset/dunderkey.py
  tests/unit/drivers/querylang/queryset/test_dunderkeys.py
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1009 Fix mypy errors 743
  jina/clients/python/io.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/lookup.py
  jina/helper.py
Labels: area/core, area/helper, component/client, component/driver, hacktoberfest, hacktoberfest2020, size/M

#1017 refactor(cli): rename jina_cli to cli
  .dockerignore
  Dockerfiles/alpinex.Dockerfile
  Dockerfiles/debianx.Dockerfile
  Dockerfiles/pip.Dockerfile
  cli/__init__.py
  cli/api.py
  cli/autocomplete.py
  cli/export.py
  setup.py
Labels: area/docker, hacktoberfest, hacktoberfest2020, size/S

#1018 feat(zmq): add ssh tunneling
  jina/parser.py
  jina/peapods/zmq.py
Labels: area/core, area/helper, area/network, component/peapod, hacktoberfest, hacktoberfest2020, size/S

#1016 tests: add skipped tests for incremental indexing
  tests/integration/incremental_indexing/docindexer.yml
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/incremental_indexing/vectorindexer.yml
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1019 style: move numpy to internal
  jina/clients/python/request.py
  jina/helper.py
Labels: area/core, area/helper, component/client, hacktoberfest, hacktoberfest2020, size/S

#1023 ci: fix copyright action
  .github/workflows/copyright.yml
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/helper.py
  jina/drivers/querylang/queryset/lookup.py
  jina/enums.py
  jina/excepts.py
  jina/executors/metas.py
  jina/proto/__init__.py
  jina/proto/uid.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/network, component/driver, component/executor, component/proto, executor/meta, hacktoberfest, hacktoberfest2020, size/S

#1024 fix: no early file closing
  jina/clients/python/io.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_io.py
Labels: area/core, area/testing, component/client, hacktoberfest, hacktoberfest2020, size/M

#1026 fix: yaml config in fluentd logger
  jina/logging/logger.py
  jina/resources/logging.fluentd.yml
Labels: area/core, component/logging, component/resource, hacktoberfest, hacktoberfest2020, size/S

#1027 fix: no special default for filter ql
  jina/drivers/querylang/filter.py
Labels: area/core, component/driver, hacktoberfest, hacktoberfest2020, size/XS

#1004 feat: enable fluentd logging
  docs/chapters/install/via-pip.md
  docs/chapters/logging/index.md
  docs/index.rst
  extra-requirements.txt
  jina/drivers/__init__.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/flow/__init__.py
  jina/logging/__init__.py
  jina/logging/base.py
  jina/logging/logger.py
  jina/logging/pipe.py
  jina/logging/sse.py
  jina/parser.py
  jina/peapods/container.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  jina/resources/fluent.conf
  jina/resources/logging.fluentd.yml
  jina/resources/logserver.default.yml
  tests/unit/executors/test_executor_logger.py
  tests/unit/logging/__init__.py
  tests/unit/logging/test_logging.py
  tests/unit/test_echostream.py
  tests/unit/test_remote.py
  tests/unit/test_remote2.py
Labels: area/core, area/docs, area/helper, area/network, area/setup, area/testing, component/client, component/driver, component/executor, component/flow, component/logging, component/peapod, component/resource, executor/meta, hacktoberfest, hacktoberfest2020, size/L

#1021 test: take out rm files from tests
  tests/unit/conftest.py
  tests/unit/executors/encoders/numeric/test_transform_encoder.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1032 docs: fix markdown links in CHANGELOG.md and CONTRIBUTING.md
  CHANGELOG.md
  CONTRIBUTING.md
  release.sh
Labels: hacktoberfest, hacktoberfest2020, size/M

#1033 docs(jina): fix wrong redirects
  CHANGELOG.md
  CONTRIBUTING.md
  docs/chapters/hub/build-pod-image.md
  docs/chapters/hub/publish-your-pod-image.md
Labels: area/docs, hacktoberfest, hacktoberfest2020, size/M

#1031 refactor(logger): move all logger config into yaml
  cli/autocomplete.py
  jina/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/helper.py
  jina/docker/database.py
  jina/docker/helper.py
  jina/docker/hubio.py
  jina/drivers/__init__.py
  jina/executors/__init__.py
  jina/flow/__init__.py
  jina/logging/__init__.py
  jina/logging/base.py
  jina/logging/formatter.py
  jina/logging/logger.py
  jina/logging/profile.py
  jina/parser.py
  jina/peapods/container.py
  jina/peapods/gateway.py
  jina/peapods/head_pea.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/peapods/remote.py
  jina/peapods/tail_pea.py
  jina/peapods/zmq.py
  jina/resources/logging.default.yml
  jina/resources/logging.docker.yml
  jina/resources/logging.fluentd.yml
  jina/resources/logging.profile.yml
  jina/resources/logging.remote.yml
  tests/integration/issues/github_936/test_flow_with_sse_no_deadlock.py
  tests/unit/executors/test_executor_logger.py
  tests/unit/logging/test_logging.py
  tests/unit/logging/yaml/file.yml
  tests/unit/logging/yaml/syslog.yml
  tests/unit/test_remote.py
  tests/unit/test_remote2.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/docker, component/driver, component/executor, component/flow, component/logging, component/peapod, component/resource, executor/meta, hacktoberfest, hacktoberfest2020, size/L

#1037 docs: fix markdown html link names
  CHANGELOG.md
  CONTRIBUTING.md
Labels: hacktoberfest, hacktoberfest2020, size/M

#1036 refactor: removed old traversal
  jina/__init__.py
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/flow/__init__.py
  tests/unit/drivers/test_recursive_traversal_tree.py
Labels: area/core, area/entrypoint, area/helper, area/testing, component/driver, component/flow, hacktoberfest, hacktoberfest2020, size/M

#1022 Jina hub login & list
  jina/docker/database.py
  jina/docker/helper.py
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/excepts.py
  jina/parser.py
  jina/resources/hubapi.yml
  tests/unit/docker/test_hub_build.py
  tests/unit/docker/test_hub_list.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/helper, area/testing, component/docker, component/resource, size/L

#1002 Feat flow visualization
  jina/flow/__init__.py
  tests/unit/flow/test_flow_visualization.py
  tests/unit/yaml/test_flow_visualization.yml
Labels: area/core, area/setup, area/testing, component/entrypoint, component/executor, component/flow, component/logging, executor/encoder, executor/ranker, size/M

#1041 chore: adding new client id for oauth
  jina/resources/hubapi.yml
Labels: area/core, component/resource, hacktoberfest, hacktoberfest2020, size/XS

#1038 refactor(tests): refactoring on tests, remove and add tmpdir
  tests/unit/conftest.py
  tests/unit/executors/encoders/clients.py
  tests/unit/executors/encoders/numeric/test_reduce.py
  tests/unit/executors/encoders/numeric/test_transform_encoder.py
  tests/unit/executors/indexers/binarypb.yml
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_exectype.py
  tests/unit/yaml/test-exec-with-driver.yml
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1040 feat: try to see if syslog available
  jina/logging/logger.py
Labels: area/core, component/logging, hacktoberfest, hacktoberfest2020, size/XS

#1043 test: refactor precision evaluator test
  tests/unit/executors/evaluators/test_precision.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1039 refactor: remove apply function
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_recursive_traversal.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/drivers/test_segmenter_driver.py
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/M

#1044 test: added back level depth test
  tests/integration/level_depth/test_search_different_depths.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/XS

#1045 test: remove JinaTestCase
  tests/unit/clients/python/test_request.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1046 test: add tests for driver helper
  tests/unit/drivers/test_helper.py
  tests/unit/test_extract_docs.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1025 Fix drivers convert blob2pnguri
  .github/workflows/ci.yml
  jina/drivers/convert.py
  jina/parser.py
  tests/unit/drivers/test_convert_driver.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1050 feat: emphasise slack, link direct to general channel
  CONTRIBUTING.md
  README.md
Labels: hacktoberfest, hacktoberfest2020, size/S

#1049 refactor(pb): request_id is now a uuid1 str
  cli/__init__.py
  cli/autocomplete.py
  jina/__init__.py
  jina/clients/python/request.py
  jina/helloworld/__init__.py
  jina/parser.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/test_echostream.py
Labels: area/core, area/entrypoint, area/helloworld, area/helper, area/network, area/testing, component/client, component/proto, hacktoberfest, hacktoberfest2020, size/M

#1048 fix: inputlines should always yield
  jina/clients/python/io.py
  tests/unit/clients/python/test_io.py
Labels: area/core, area/testing, component/client, hacktoberfest, hacktoberfest2020, size/S

#1051 Avoid passing whole doc to executor for BinaryPbIndexer
  jina/clients/python/request.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/indexers/keyvalue.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/test_workspace.py
Labels: area/core, area/testing, component/client, component/driver, component/executor, executor/indexer, hacktoberfest, hacktoberfest2020, size/M

#1052 test: refactor io test
  tests/unit/clients/python/test_io.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1035 feat: add evaluation flow and first ranking evaluators
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/evaluate.py
  jina/drivers/helper.py
  jina/enums.py
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/executors/evaluators/__init__.py
  jina/executors/evaluators/decorators.py
  jina/executors/evaluators/rank/__init__.py
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  jina/flow/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/resources/executors.requests.BaseCrafter.yml
  jina/resources/executors.requests.BaseEncoder.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  jina/resources/executors.requests.BaseSegmenter.yml
  jina/resources/executors.requests.BaseVectorIndexer.yml
  jina/resources/executors.requests.BinaryPbIndexer.yml
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/executors.requests.DataURIPbIndexer.yml
  tests/integration/evaluation/__init__.py
  tests/integration/evaluation/rank/__init__.py
  tests/integration/evaluation/rank/flow-evaluate.yml
  tests/integration/evaluation/rank/flow-index.yml
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/rank/yaml/__init__.py
  tests/integration/evaluation/rank/yaml/dummy_ranker.py
  tests/integration/evaluation/rank/yaml/evaluate.yml
  tests/integration/evaluation/rank/yaml/index-doc.yml
  tests/integration/evaluation/rank/yaml/rank.yml
  tests/integration/incremental_indexing/__init__.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_rankingevaluation_driver.py
  tests/unit/executors/evaluators/__init__.py
  tests/unit/executors/evaluators/rank/__init__.py
  tests/unit/executors/evaluators/rank/test_precision.py
  tests/unit/executors/evaluators/rank/test_recall.py
  tests/unit/executors/evaluators/test_decorators.py
  tests/unit/test_driver_yaml.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/proto, component/resource, executor/meta, hacktoberfest, hacktoberfest2020, size/XL

#1056 test: force ignore hub directory in config
  codecov.yml
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1053 fix(indexer): fix arg type for indexers
  cli/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
Labels: area/core, component/executor, executor/indexer, hacktoberfest, hacktoberfest2020, size/S

#1063 fix(hub): remove duplicate line in cookiecutter
  jina/docker/hubio.py
  jina/drivers/__init__.py
  jina/drivers/evaluate.py
  jina/drivers/querylang/slice.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
Labels: area/core, component/docker, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1064 feat(driver): add CacheIndexer and its Driver
  jina/drivers/cache.py
  jina/drivers/index.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, hacktoberfest, hacktoberfest2020, size/M

#1069 test: refactor load yaml test
  tests/unit/test_load_yaml.py
  tests/unit/yaml/dummy_ext_exec_success.yml
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1070 feat: check whether a document has been already indexed
  jina/drivers/cache.py
  jina/drivers/index.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/executors/indexers/cache.py
  jina/logging/formatter.py
  jina/resources/executors._unique.yml
  tests/integration/incremental_indexing/inc_docindexer.yml
  tests/integration/incremental_indexing/inc_vectorindexer.yml
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/unit/drivers/querylang/queryset/test_dunderkeys.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/executors/test_route_exec.py
  tests/unit/executors/yaml/route.yml
Labels: area/core, area/testing, component/driver, component/executor, component/logging, component/resource, executor/indexer, hacktoberfest, hacktoberfest2020, size/M

#1065 feat: add pretrained model exception and accept it while test_uses
  jina/__init__.py
  jina/docker/hubio.py
  jina/excepts.py
  jina/peapods/container.py
  jina/peapods/pea.py
  tests/integration/hub_usage/dummyhub_pretrained/Dockerfile
  tests/integration/hub_usage/dummyhub_pretrained/README.md
  tests/integration/hub_usage/dummyhub_pretrained/__init__.py
  tests/integration/hub_usage/dummyhub_pretrained/config.yml
  tests/integration/hub_usage/dummyhub_pretrained/manifest.yml
  tests/integration/hub_usage/dummyhub_pretrained/requirements.txt
  tests/integration/hub_usage/dummyhub_pretrained/tests/__init__.py
  tests/integration/hub_usage/dummyhub_pretrained/tests/test_dummy.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/flow/test_flow_except.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/docker, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#1075 fix: slack links
  CONTRIBUTING.md
  README.md
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1077 fix: check existence of model path
  jina/executors/encoders/frameworks.py
Labels: area/core, component/executor, executor/encoder, hacktoberfest, hacktoberfest2020, size/S

#1081 refactor(indexer): refactor cache index add shortcuts
  jina/drivers/cache.py
  jina/drivers/convert.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/resources/executors.requests.UniquePbIndexer.yml
  jina/resources/executors.requests.UniqueVectorIndexer.yml
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/integration/incremental_indexing/uniq_docindexer.yml
  tests/integration/incremental_indexing/uniq_vectorindexer.yml
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/testing, component/driver, component/executor, component/resource, executor/indexer, hacktoberfest, hacktoberfest2020, size/M

#1086 refactor(evaluator): rename, style and format
  jina/__init__.py
  jina/drivers/evaluate.py
  jina/executors/evaluators/__init__.py
  jina/executors/evaluators/rank/__init__.py
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/driver, component/executor, component/proto, hacktoberfest, hacktoberfest2020, size/M

#1087 feat(flow): add eval() interface generates hanging pod
  jina/enums.py
  jina/flow/__init__.py
  jina/flow/builder.py
  jina/peapods/pod.py
  tests/unit/flow/test_flow_eval_pod.py
  tests/unit/flow/test_flow_index.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, hacktoberfest, hacktoberfest2020, size/L

#1057 Fix some machine translated bugs in the Russian read me.
  README.ru.md
Labels: hacktoberfest, hacktoberfest2020, size/S

#1083 test: refactor remote test
  tests/unit/clients/python/test_client.py
  tests/unit/peapods/test_remote.py
  tests/unit/test_remote.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1080 fix: fix the driver queryset
  jina/drivers/__init__.py
  jina/drivers/querylang/filter.py
  tests/integration/issues/github_1072/__init__.py
  tests/integration/issues/github_1072/test_queryset.py
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1090 refactor(eval): remove evaluate flow
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/evaluate.py
  jina/drivers/helper.py
  jina/flow/__init__.py
  jina/helper.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/resources/executors._unique.yml
  jina/resources/executors.requests.BaseCrafter.yml
  jina/resources/executors.requests.BaseEncoder.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  jina/resources/executors.requests.BaseSegmenter.yml
  jina/resources/executors.requests.BaseVectorIndexer.yml
  jina/resources/executors.requests.BinaryPbIndexer.yml
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/executors.requests.DataURIPbIndexer.yml
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/rank/yaml/evaluate.yml
  tests/integration/evaluation/rank/yaml/index-doc.yml
  tests/integration/evaluation/rank/yaml/rank.yml
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_rankingevaluation_driver.py
  tests/unit/test_driver_yaml.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/flow, component/proto, component/resource, hacktoberfest, hacktoberfest2020, size/M

#1092 feat(flow): inspect without introducing side-effect on socket
  jina/enums.py
  jina/flow/__init__.py
  jina/parser.py
  jina/peapods/pod.py
  tests/unit/flow/test_flow_eval_pod.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#1089 feat: potentially add argument of ordered indexes from batch
  jina/executors/decorators.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/testing, component/executor, executor/meta, hacktoberfest, hacktoberfest2020, size/M

#1095 test: refactor python client test
  tests/unit/clients/python/test_client.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1088 ci: add test job for examples in cd
  .github/workflows/cd.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#1097 docs: add portuguese translation for readme
  README.pt_br.md
Labels: hacktoberfest, hacktoberfest2020, size/M

#1099 feat(flow): inspect pods are collected before gateway
  cli/autocomplete.py
  jina/enums.py
  jina/flow/__init__.py
  jina/helper.py
  jina/parser.py
  tests/unit/flow/test_flow_eval_pod.py
Labels: area/core, area/helper, area/testing, component/flow, hacktoberfest, hacktoberfest2020, size/M

#1100 feat(driver): add collect evaluation driver
  jina/drivers/reduce.py
  jina/flow/__init__.py
  jina/resources/executors._merge_eval.yml
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
Labels: area/core, area/testing, component/driver, component/flow, component/resource, hacktoberfest, hacktoberfest2020, size/M

#1101 ci: replace match-py-ver to devel
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  extra-requirements.txt
  tests/unit/executors/encoders/numeric/test_transform_encoder.py
Labels: area/cicd, area/housekeeping, area/setup, area/testing, hacktoberfest, hacktoberfest2020, size/S

#1103 ci: just for testing a PR
  CODEOWNERS
  setup.py
Labels: hacktoberfest, hacktoberfest2020, size/S

#1104 ci: just for testing a PR
  CODEOWNERS
  extra-requirements.txt
  setup.py
Labels: area/setup, hacktoberfest, hacktoberfest2020, size/S

#1105 style: fix line space
  jina/peapods/head_pea.py
  jina/peapods/pea.py
  jina/peapods/tail_pea.py
Labels: area/core, area/network, component/peapod, hacktoberfest, hacktoberfest2020, size/XS

#1108 chore: keep track of changes
  CODEOWNERS
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1098 feat: add evaluation encoder and crafter executors and drivers
  jina/drivers/evaluate.py
  jina/executors/evaluators/__init__.py
  jina/executors/evaluators/craft/__init__.py
  jina/executors/evaluators/craft/nlp/__init__.py
  jina/executors/evaluators/craft/nlp/length.py
  jina/executors/evaluators/encode/__init__.py
  jina/executors/evaluators/encode/cosine.py
  jina/executors/evaluators/encode/euclidean.py
  jina/executors/evaluators/rank/__init__.py
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  jina/resources/executors.requests.BaseCraftingEvaluator.yml
  jina/resources/executors.requests.BaseEncodingEvaluator.yml
  tests/unit/drivers/test_craftevaluation_driver.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_rankingevaluation_driver.py
  tests/unit/executors/evaluators/craft/__init__.py
  tests/unit/executors/evaluators/craft/nlp/__init__.py
  tests/unit/executors/evaluators/craft/nlp/test_length.py
  tests/unit/executors/evaluators/encode/__init__.py
  tests/unit/executors/evaluators/encode/test_cosine.py
  tests/unit/executors/evaluators/encode/test_euclidean.py
Labels: area/core, area/testing, component/driver, component/executor, component/resource, hacktoberfest, hacktoberfest2020, size/L

#1093 perf: numpy indexer use partial sort at query time
  jina/executors/indexers/vector.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, hacktoberfest, hacktoberfest2020, size/S

#1015 fix: Renamed pea replica_id to pea_id
  jina/enums.py
  jina/parser.py
  jina/peapods/pea.py
  jina/peapods/pod.py
Labels: area/core, area/helper, area/network, component/peapod, hacktoberfest, hacktoberfest2020, size/S

#1107 fix: fix no attribute error in hub
  jina/executors/devices.py
  jina/executors/encoders/frameworks.py
  tests/unit/executors/encoders/test_frameworks.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/meta, hacktoberfest, hacktoberfest2020, size/S

#1110 test: replace `rm_files` with fixtures
  tests/integration/incremental_indexing/__init__.py
  tests/integration/incremental_indexing/docindexer.yml
  tests/integration/incremental_indexing/inc_docindexer.yml
  tests/integration/incremental_indexing/inc_vectorindexer.yml
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/integration/incremental_indexing/uniq_docindexer.yml
  tests/integration/incremental_indexing/uniq_vectorindexer.yml
  tests/integration/incremental_indexing/vectorindexer.yml
  tests/unit/drivers/test_cache_driver.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1112 feat(pod): allow uses-before/after on single pea
  jina/drivers/control.py
  jina/peapods/pod.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/yaml/examples/faces/flow-query.yml
Labels: area/core, area/network, area/testing, component/driver, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#1114 refactor: flatten evaluator inheritance
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/executors/evaluators/__init__.py
  jina/executors/evaluators/craft/__init__.py
  jina/executors/evaluators/craft/nlp/__init__.py
  jina/executors/evaluators/craft/nlp/length.py
  jina/executors/evaluators/decorators.py
  jina/executors/evaluators/embedding/__init__.py
  jina/executors/evaluators/embedding/cosine.py
  jina/executors/evaluators/embedding/euclidean.py
  jina/executors/evaluators/encode/__init__.py
  jina/executors/evaluators/encode/cosine.py
  jina/executors/evaluators/encode/euclidean.py
  jina/executors/evaluators/rank/__init__.py
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  jina/executors/evaluators/running_stats.py
  jina/executors/evaluators/text/__init__.py
  jina/executors/evaluators/text/length.py
  tests/unit/drivers/test_craftevaluation_driver.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/executors/evaluators/craft/nlp/test_length.py
  tests/unit/executors/evaluators/encode/test_cosine.py
  tests/unit/executors/evaluators/encode/test_euclidean.py
  tests/unit/executors/evaluators/rank/test_precision.py
  tests/unit/executors/evaluators/rank/test_recall.py
  tests/unit/executors/evaluators/test_decorators.py
  tests/unit/executors/evaluators/test_runningstats.py
Labels: area/core, area/testing, component/executor, executor/meta, hacktoberfest, hacktoberfest2020, size/L

#1115 test: add docker helper test
  tests/unit/docker/test_helper.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1116 feat(flow): add plot for uses before after
  jina/flow/__init__.py
  jina/peapods/pod.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/flow/test_flow_visualization.py
Labels: area/core, area/network, area/testing, component/flow, component/peapod, hacktoberfest, hacktoberfest2020, size/S

#1117 feat(cli): check new jina version on start
  cli/__init__.py
  tests/unit/test_helper.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1118 refactor(hubio): remove the dependency of requests from list
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/parser.py
  tests/unit/docker/test_hub_build.py
  tests/unit/docker/test_hub_list.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/helper, area/testing, component/docker, hacktoberfest, hacktoberfest2020, size/M

#1120 feat(hub): show local manifest
  cli/autocomplete.py
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/parser.py
  tests/unit/docker/test_hub_list.py
Labels: area/core, area/helper, area/testing, component/docker, hacktoberfest, hacktoberfest2020, size/M

#1121 test: take out jinatestcase from protobuf test
  tests/unit/proto/test_protobuf.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1124 docs: add ukrainian translation for readme
  README.uk.md
Labels: hacktoberfest, hacktoberfest2020, size/M

#1111 feat: add file based evaluator
  jina/clients/python/__init__.py
  jina/drivers/evaluate.py
  jina/drivers/helper.py
  jina/executors/evaluators/__init__.py
  jina/executors/indexers/keyvalue.py
  tests/integration/evaluation/flow-evaluate-from-file-parallel.yml
  tests/integration/evaluation/flow-evaluate-from-file.yml
  tests/integration/evaluation/flow-index-gt-parallel.yml
  tests/integration/evaluation/flow-index-gt.yml
  tests/integration/evaluation/flow-parallel-evaluate-from-file-parallel.yml
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/evaluation/yaml/__init__.py
  tests/integration/evaluation/yaml/evaluate-from-file.yml
  tests/integration/evaluation/yaml/index-gt.yml
  tests/integration/evaluation/yaml/single-evaluator.yml
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
Labels: area/core, area/testing, component/client, component/driver, component/executor, executor/indexer, hacktoberfest, hacktoberfest2020, size/M

#1132 chore: add maximilianwerk as codeowner for drivers
  CODEOWNERS
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1135 feat(cli): show local version side by side
  jina/docker/hubapi.py
Labels: area/core, component/docker, hacktoberfest, hacktoberfest2020, size/S

#1134 Fix recall calculation
  jina/drivers/evaluate.py
  jina/executors/evaluators/rank/recall.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/unit/drivers/test_rankingevaluation_driver.py
  tests/unit/executors/evaluators/rank/test_precision.py
  tests/unit/executors/evaluators/rank/test_recall.py
Labels: area/core, area/testing, component/driver, component/executor, hacktoberfest, hacktoberfest2020, size/S

#1136 fix: raise better exception for invalid doc id
  jina/excepts.py
  jina/proto/uid.py
Labels: area/core, area/helper, area/network, component/docker, component/proto, hacktoberfest, hacktoberfest2020, size/S

#1138 test: test rest fix topk default
  tests/integration/issues/github_976/flow.yml
  tests/integration/issues/github_976/test_topk.py
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/integration/issues/github_976/yaml/index.yml
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1133 fix: removed top_k default
  jina/clients/python/request.py
  jina/parser.py
  tests/integration/issues/github_976/flow.yml
  tests/integration/issues/github_976/test_topk.py
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/integration/issues/github_976/yaml/index.yml
Labels: area/core, area/helper, area/network, area/testing, component/client, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#1141 feat: help design multimodal driver and exec
  jina/drivers/multimodal.py
  jina/executors/encoders/multimodal/__init__.py
Labels: area/core, component/driver, component/executor, executor/encoder, hacktoberfest, hacktoberfest2020, size/M

#1139 test: add docker hello-world with no devel install
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/XS

#1143 docs: change docstring of rank drivers
  jina/drivers/rank.py
Labels: area/core, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1144 Help multimodal 2
  jina/drivers/multimodal.py
  jina/executors/encoders/multimodal/__init__.py
  tests/integration/multimodal/__init__.py
  tests/integration/multimodal/flow-multimodal-parallel.yml
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/integration/multimodal/yaml/dummy-encoder.py
  tests/integration/multimodal/yaml/encoder-modality1.yml
  tests/integration/multimodal/yaml/encoder-modality2.yml
  tests/integration/multimodal/yaml/multimodal-concatenate.py
  tests/integration/multimodal/yaml/multimodal-encoder.yml
Labels: area/core, area/testing, component/driver, component/executor, executor/encoder, hacktoberfest, hacktoberfest2020, size/M

#1145 fix: random topk rest port
  tests/integration/issues/github_976/test_topk_rest_api.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1142 ci: new workflow for testing examples
  .github/workflows/cd.yml
  .github/workflows/test-examples.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#1130 docs: add windows support communication to readme
  README.md
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1149 fix: load from yaml params
  tests/integration/multimodal/yaml/multimodal-concatenate.py
  tests/integration/multimodal/yaml/multimodal-encoder.yml
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/XS

#1156 feat: dynamic number of arguments
  jina/drivers/multimodal.py
  jina/executors/encoders/multimodal/__init__.py
  tests/integration/multimodal/yaml/multimodal-concatenate.py
Labels: area/core, area/testing, component/driver, component/executor, executor/encoder, hacktoberfest, hacktoberfest2020, size/S

#1147 feat: design pattern doc for incremental index
  docs/chapters/prevent_duplicate_indexing/index.rst
  docs/index.rst
Labels: area/docs, hacktoberfest, hacktoberfest2020, size/S

#1159 chore: add nan as the code owner
  CODEOWNERS
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1146 style: black on merge
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-formatting.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#1150 chore: add packaging in extra requirements
  extra-requirements.txt
Labels: area/setup, hacktoberfest, hacktoberfest2020, size/XS

#1164 refactor(cli): remove the use of packaging
  cli/__init__.py
  extra-requirements.txt
  jina/docker/hubapi.py
Labels: area/core, area/setup, component/docker, hacktoberfest, hacktoberfest2020, size/S

#1162 style: added failure
  .github/workflows/code-formatting.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/XS

#1165 refactor(driver): eval drivers focus on data type of field
  jina/drivers/evaluate.py
  jina/executors/evaluators/__init__.py
  jina/proto/show_field_type.py
  jina/resources/executors.requests.BaseCraftingEvaluator.yml
  jina/resources/executors.requests.BaseEncodingEvaluator.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  tests/integration/evaluation/rank/yaml/evaluate.yml
  tests/integration/evaluation/yaml/evaluate-from-file.yml
  tests/integration/evaluation/yaml/single-evaluator.yml
  tests/unit/drivers/test_craftevaluation_driver.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/network, area/testing, component/driver, component/executor, component/proto, component/resource, hacktoberfest, hacktoberfest2020, size/M

#1163 docs: fix the format issues
  docs/chapters/prevent_duplicate_indexing/index.rst
Labels: area/docs, hacktoberfest, hacktoberfest2020, size/S

#1113 feat: add multimodal driver
  jina/drivers/multimodal.py
  jina/executors/encoders/multimodal/__init__.py
  tests/integration/multimodal/__init__.py
  tests/integration/multimodal/flow-embedding-multimodal-parallel.yml
  tests/integration/multimodal/flow-multimodal-all-types-parallel.yml
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/integration/multimodal/yaml/all-types-multimodal-encoder.py
  tests/integration/multimodal/yaml/all-types-multimodal-encoder.yml
  tests/integration/multimodal/yaml/dummy-encoder.py
  tests/integration/multimodal/yaml/embedding-multimodal-concatenate.py
  tests/integration/multimodal/yaml/embedding-multimodal-encoder.yml
  tests/integration/multimodal/yaml/encoder-modality1.yml
  tests/integration/multimodal/yaml/encoder-modality2.yml
  tests/unit/drivers/test_multimodal_driver.py
Labels: area/core, area/testing, component/driver, component/executor, executor/encoder, hacktoberfest, hacktoberfest2020, size/L

#1169 fix: failure not combinable
  .github/workflows/code-formatting.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/XS

#1175 fix(hub): hub repo name should given by user
  cli/autocomplete.py
  jina/docker/hubio.py
  jina/parser.py
Labels: area/core, area/helper, component/docker, hacktoberfest, hacktoberfest2020, size/S

#1168 fix: disabled pip cache in docker
  Dockerfiles/alpinex.Dockerfile
  Dockerfiles/debianx.Dockerfile
Labels: area/cicd, area/docker, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#1176 refactor: ranking evaluator inherit from field evaluator
  jina/drivers/evaluate.py
  jina/executors/evaluators/rank/precision.py
  tests/integration/evaluation/rank/yaml/evaluate.yml
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/testing, component/driver, component/executor, hacktoberfest, hacktoberfest2020, size/S

#1170 feat: allow zipped-like batching
  jina/executors/decorators.py
  tests/integration/multimodal/yaml/all-types-multimodal-encoder.py
  tests/integration/multimodal/yaml/embedding-multimodal-concatenate.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/helper, area/testing, component/executor, executor/meta, hacktoberfest, hacktoberfest2020, size/M

#1180 refactor(encoder): change get_model to get_cell mindspore idiom
  jina/docker/hubio.py
  jina/excepts.py
  jina/executors/encoders/frameworks.py
  jina/peapods/pea.py
  tests/integration/hub_usage/dummyhub_pretrained/__init__.py
  tests/unit/executors/encoders/test_frameworks.py
  tests/unit/flow/test_flow_except.py
Labels: area/core, area/helper, area/network, area/testing, component/docker, component/executor, component/peapod, executor/encoder, hacktoberfest, hacktoberfest2020, size/S

#1177 chore: remove Nan, Max and Joan as codeowners of modules
  CODEOWNERS
Labels: hacktoberfest, hacktoberfest2020, size/XS

#1181 docs: fix codeblock and filename highlights
  docs/chapters/prevent_duplicate_indexing/index.rst
Labels: area/docs, hacktoberfest, hacktoberfest2020, size/S

#1179 test: refactor container pea test
  tests/unit/mwu-encoder/__init__.py
  tests/unit/mwu-encoder/mwu_encoder.yml
  tests/unit/peapods/test_container.py
  tests/unit/test_container.py
  tests/unit/test_driver_yaml.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/M

#1182 refactor: flowpod invocation for easier inheritance in jinad
  jina/flow/__init__.py
Labels: area/core, component/flow, hacktoberfest, hacktoberfest2020, size/XS

#1183 revert(cli): revert fashion mnist url
  jina/parser.py
Labels: area/core, area/helper, hacktoberfest, hacktoberfest2020, size/XS

#1184 fix(docker): include submodule when building devel images
  .github/workflows/cd.yml
  .github/workflows/nightly.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/XS

#1188 test: remove unused executor test case
  tests/unit/executors/__init__.py
Labels: area/testing, hacktoberfest, hacktoberfest2020, size/S

#1189 fix: pod argument overriden by flow
  jina/flow/__init__.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/testing, component/flow, hacktoberfest, hacktoberfest2020, size/S
