Repository jina-ai/serve, pull requests merged in 2020-08, with the labels that each got.

#755 fix(cicd): fix pip cache problem
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/cla.yml
  .github/workflows/tag.yml
  tests/unit/drivers/test_concat_driver.py
Labels: area/cicd, area/housekeeping, area/testing, size/S

#751 feat: driver reads queryset from the request
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/helper.py
  jina/drivers/querylang/__init__.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/search.py
  jina/executors/__init__.py
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/test_index.py
Labels: area/cicd, area/core, area/helloworld, area/helper, area/housekeeping, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/proto, executor/meta, size/L

#749 refactor(jina): add type checking by monkeytype
  jina/counter.py
  jina/drivers/__init__.py
  jina/drivers/craft.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/helper.py
  jina/helper.py
  jina/peapods/pea.py
  jina/peapods/pod.py
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/executor, component/peapod, executor/crafter, size/M

#756 fix(transformers): Force padding to max length for old and new transf…
  jina/executors/encoders/nlp/transformer.py
Labels: area/core, component/executor, executor/encoder, size/XS

#762 fix(flow): join is an alias of needs
  jina/flow/__init__.py
  jina/logging/sse.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/testing, component/flow, component/logging, size/S

#759 refactor(images): refactor image crafters, will add location
  jina/executors/crafters/image/__init__.py
  jina/executors/crafters/image/crop.py
  jina/executors/crafters/image/helper.py
  jina/executors/crafters/image/normalize.py
  jina/executors/crafters/image/resize.py
  jina/executors/crafters/image/segmenter.py
  jina/proto/jina.proto
  tests/unit/executors/crafters/image/test_crop.py
  tests/unit/executors/crafters/image/test_io.py
  tests/unit/executors/crafters/image/test_normalize.py
  tests/unit/executors/crafters/image/test_resize.py
  tests/unit/executors/crafters/image/test_segmenter.py
  tests/unit/yaml/examples/faces/yaml/customized_executors.py
Labels: area/core, area/network, area/testing, component/executor, component/proto, executor/crafter, size/L

#750 fix: test random_port
  .github/workflows/ci.yml
  jina/flow/__init__.py
  jina/helper.py
  jina/peapods/zmq.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/test_container.py
  tests/unit/test_quant.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/network, area/testing, component/flow, component/peapod, size/M

#764 refactor: Turn BaseFrameworkExecutor into a mixin BaseDeviceHandler
  docs/chapters/all_exec.md
  docs/jina-logo-dark.png
  jina/executors/__init__.py
  jina/executors/clients.py
  jina/executors/devices.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/audio/fairseq.py
  jina/executors/encoders/frameworks.py
  jina/executors/encoders/image/__init__.py
  jina/executors/encoders/image/bigtransfer.py
  jina/executors/encoders/image/customtfkeras.py
  jina/executors/encoders/image/customtorchvision.py
  jina/executors/encoders/image/keras.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/image/torchvision.py
  jina/executors/encoders/nlp/farm.py
  jina/executors/encoders/nlp/flair.py
  jina/executors/encoders/nlp/paddlehub.py
  jina/executors/encoders/nlp/transformer.py
  jina/executors/encoders/nlp/use.py
  jina/executors/encoders/tfserving.py
  jina/executors/encoders/video/paddlehub.py
  jina/executors/encoders/video/torchvision.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue/leveldb.py
  jina/executors/indexers/vector/__init__.py
  jina/executors/indexers/vector/faiss.py
  jina/executors/indexers/vector/milvus.py
  jina/executors/metas.py
  jina/helper.py
  make-doc.sh
  tests/unit/executors/encoders/audio/test_fairseq.py
  tests/unit/executors/encoders/audio/test_spectral.py
  tests/unit/executors/encoders/clients.py
  tests/unit/executors/encoders/image/__init__.py
  tests/unit/executors/encoders/image/test_bigtransfer.py
  tests/unit/executors/encoders/image/test_customtfkeras.py
  tests/unit/executors/encoders/image/test_customtorchvision.py
  tests/unit/executors/encoders/image/test_onnx.py
  tests/unit/executors/encoders/image/test_paddlehub.py
  tests/unit/executors/encoders/image/test_tfkeras.py
  tests/unit/executors/encoders/image/test_torchvision.py
  tests/unit/executors/encoders/nlp/__init__.py
  tests/unit/executors/encoders/nlp/test_char.py
  tests/unit/executors/encoders/nlp/test_farm.py
  tests/unit/executors/encoders/nlp/test_flair.py
  tests/unit/executors/encoders/nlp/test_mock_transformer.py
  tests/unit/executors/encoders/nlp/test_paddlehub.py
  tests/unit/executors/encoders/nlp/test_transformer.py
  tests/unit/executors/encoders/nlp/test_use.py
  tests/unit/executors/encoders/numeric/test_ica.py
  tests/unit/executors/encoders/numeric/test_pca.py
  tests/unit/executors/encoders/video/__init__.py
  tests/unit/executors/encoders/video/test_paddlehub.py
  tests/unit/executors/encoders/video/test_torchvision.py
Labels: area/core, area/docs, area/helper, area/testing, component/executor, executor/encoder, executor/indexer, executor/meta, size/L

#768 fix: wording
  README.md
Labels: size/S

#771 fix: image torch encoders must implement encode
  jina/executors/crafters/image/helper.py
  jina/executors/crafters/image/resize.py
  jina/executors/encoders/image/__init__.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/image/torchvision.py
Labels: area/core, component/executor, executor/crafter, executor/encoder, size/M

#769 fix(crafters): fix crop dimension
  jina/executors/crafters/image/crop.py
  tests/unit/executors/crafters/image/__init__.py
  tests/unit/executors/crafters/image/test_crop.py
  tests/unit/executors/crafters/image/test_io.py
  tests/unit/executors/crafters/image/test_normalize.py
  tests/unit/executors/crafters/image/test_resize.py
Labels: area/core, area/testing, component/executor, executor/crafter, size/S

#780 fix: have url regex pattern compiled just once
  jina/clients/python/request.py
  jina/helper.py
Labels: area/core, area/helper, component/client, size/S

#781 feat: contributors draft section
  README.md
Labels: size/XS

#783 fix: add missing section
  README.md
Labels: size/XS

#770 feat: object detection segmenter
  jina/executors/crafters/image/crop.py
  jina/executors/crafters/image/helper.py
  jina/executors/crafters/image/normalize.py
  jina/executors/crafters/image/object_detection.py
  jina/executors/crafters/image/resize.py
  jina/executors/crafters/image/segmenter.py
  tests/unit/executors/crafters/image/imgs/cars.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-1.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-2.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-5.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-7.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-8.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-0.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-3.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-4.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-6.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-9.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-0.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-1.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-4.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-7.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-8.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-9.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-2.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-3.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-5.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-6.jpg
  tests/unit/executors/crafters/image/test_object_detection.py
Labels: area/core, area/testing, component/executor, executor/crafter, size/M

#782 test: separate test for sliceql
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_slice_ql.py
Labels: area/testing, size/M

#788 fix: test object detection check real image content
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-1.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-1.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-2.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-2.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-5.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-5.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-7.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-7.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-8.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/car-8.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-0.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-0.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-3.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-3.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-4.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-4.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-6.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-6.png
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-9.jpg
  tests/unit/executors/crafters/image/imgs/faster_rcnn/person-9.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-0.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-0.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-1.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-1.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-4.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-4.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-7.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-7.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-8.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-8.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-9.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/car-9.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-2.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-2.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-3.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-3.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-5.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-5.png
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-6.jpg
  tests/unit/executors/crafters/image/imgs/mask_rcnn/person-6.png
  tests/unit/executors/crafters/image/test_crop.py
  tests/unit/executors/crafters/image/test_object_detection.py
Labels: area/testing, size/S

#791 fix: fix eos token error from transformers
  jina/executors/encoders/nlp/transformer.py
  tests/unit/executors/encoders/nlp/test_mock_transformer.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/S

#790 ci: skip ci if changes only affect README and allcontributorssrc
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#800 fix: custom image encoders were broken by refactor
  jina/executors/encoders/image/keras.py
  jina/executors/encoders/image/torchvision.py
  tests/unit/executors/encoders/image/test_customtfkeras.py
  tests/unit/executors/encoders/image/test_customtorchvision.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/S

#801 fix(docs): fix navigation bar hidden problem in docs
  docs/_static/main.css
  docs/template/layout.html
Labels: area/docs, size/S

#803 comment out Jina Hub links in readme
  README.de.md
  README.fr.md
  README.ja.md
  README.md
  README.ru.md
  README.zh.md
Labels: size/S

#804 ci: remove py38 tests and add docs in path-ignore
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#805 fix: disable ci skipping
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#793 JINACORE-119 docs: try to improve documentation on extra dependencies
  docs/chapters/install/via-pip.md
  extra-requirements.txt
Labels: area/docs, area/setup, size/S

#811 fix: transformers are extracting prob distrib over vocab
  jina/executors/encoders/nlp/transformer.py
  tests/unit/executors/encoders/nlp/__init__.py
  tests/unit/executors/encoders/nlp/test_mock_transformer.py
  tests/unit/executors/encoders/nlp/test_transformer.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/M

#812 docs: add docs about common jina practices
  docs/chapters/flow/index.md
Labels: area/docs, size/M

#813 fix: add a unit test for clarify the usage of `Chunk2DocRanker`
  jina/drivers/__init__.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, size/S

#817 fix(drivers): fix the default value for depth_level 814
  jina/drivers/__init__.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/yaml/mockencoder-mode1.yml
  tests/unit/drivers/yaml/mockencoder-mode2.yml
  tests/unit/flow/test_flow.py
  tests/unit/flow/yaml/mockencoder-mode1.yml
  tests/unit/flow/yaml/mockencoder-mode2.yml
  tests/unit/flow/yaml/numpy-indexer-1.yml
  tests/unit/flow/yaml/numpy-indexer-2.yml
Labels: area/core, area/testing, component/driver, size/S

#821 refactor: move base_deps from setup to extra
  extra-requirements.txt
  setup.py
Labels: area/setup, size/S

#820 docs(flow): wording, formatting
  docs/chapters/flow/index.md
Labels: area/docs, size/M

#822 docs: improve documentation of query lang drivers
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/querylang/__init__.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  tests/unit/drivers/querylang/queryset/__init__.py
  tests/unit/drivers/querylang/queryset/test_queryset.py
  tests/unit/yaml/examples/faiss/yaml/encode.yml
Labels: area/core, area/testing, component/driver, size/M

#826 docs: add explanation to all the types
  CONTRIBUTING.md
Labels: size/S

#825 fix: faiss should not keep self.index
  jina/__init__.py
  jina/executors/indexers/vector/__init__.py
  jina/executors/indexers/vector/faiss.py
  tests/unit/executors/encoders/numeric/test_fit_transform.py
  tests/unit/executors/indexers/vector/test_faiss.py
Labels: area/core, area/helper, area/testing, component/executor, executor/indexer, size/S

#827 feat(indexer): add query by ids to BaseNumpyIndexer
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector/__init__.py
  tests/unit/executors/indexers/vector/test_numpy.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#830 refactor(driver): QueryLangDriver is now QuerysetReader
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/drivers/__init__.py
  jina/drivers/querylang/__init__.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/queryset/__init__.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/search.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_vector_search_driver.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, size/M

#835 docs: correct anchor for type in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#838 test: refactor indexer tests and check instance type
  jina/executors/crafters/image/normalize.py
  jina/executors/encoders/image/torchvision.py
  tests/unit/executors/indexers/vector/test_annoy.py
  tests/unit/executors/indexers/vector/test_faiss.py
  tests/unit/executors/indexers/vector/test_milvus.py
  tests/unit/executors/indexers/vector/test_ngt.py
  tests/unit/executors/indexers/vector/test_nmslib.py
  tests/unit/executors/indexers/vector/test_numpy.py
Labels: area/core, area/testing, component/executor, executor/crafter, executor/encoder, size/M

#837 update hello-world docs
  docs/chapters/helloworld/index.rst
Labels: area/docs, size/S

#836 feat: add support for mindspore 431
  jina/executors/devices.py
  jina/executors/encoders/frameworks.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/meta, size/S

#840 chore(readme): add new example
  README.md
Labels: size/XS

#844 test: no need of np asarray
  tests/unit/executors/encoders/nlp/test_mock_transformer.py
Labels: area/testing, size/XS

#849 Docs contributing update
  CONTRIBUTING.md
Labels: size/S

#852 fix(cli): fix hub cli imports
  jina/main/api.py
  jina/main/parser.py
Labels: area/core, component/entrypoint, size/XS

#858 refactor: add pillow back
  docs/chapters/install/via-pip.md
  extra-requirements.txt
Labels: area/docs, area/setup, size/XS

#857 refactor: remove tests migrated to hub
  tests/unit/executors/indexers/keyvalue/test_leveldb.py
  tests/unit/executors/indexers/keyvalue/yaml/test-leveldb.yml
  tests/unit/executors/indexers/vector/test_faiss.py
  tests/unit/executors/indexers/vector/test_milvus.py
  tests/unit/executors/indexers/vector/test_ngt.py
  tests/unit/executors/indexers/vector/test_numpy.py
  tests/unit/executors/rankers/test_bm25.py
  tests/unit/executors/rankers/test_tfidf.py
Labels: area/testing, size/M

#860 refactor: move numpy indexer back in core
  jina/executors/indexers/vector.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/indexers/vector/__init__.py
  tests/unit/executors/indexers/vector/test_nmslib.py
  tests/unit/executors/indexers/vector/yaml/annoy-wrap.yml
  tests/unit/executors/indexers/vector/yaml/nmslib-wrap.yml
  tests/unit/test_hub.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_load_yaml.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#866 refactor: move TransformEncoder back to core
  jina/executors/encoders/numeric/__init__.py
  tests/unit/executors/encoders/numeric/__init__.py
  tests/unit/executors/encoders/numeric/test_feature_agglomeration.py
  tests/unit/executors/encoders/numeric/test_ica.py
  tests/unit/executors/encoders/numeric/test_pca.py
  tests/unit/executors/encoders/numeric/test_random_gaussian.py
  tests/unit/executors/encoders/numeric/test_random_sparse.py
  tests/unit/executors/encoders/numeric/test_transform_encoder.py
  tests/unit/executors/encoders/numeric/test_tsne.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/M

#868 ci: add py38 back
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#870 fix: go back to old sorting
  jina/executors/indexers/vector.py
Labels: area/core, component/executor, executor/indexer, size/XS

#871 fix(hubio): fix hub io build
  jina/docker/hubio.py
  jina/main/parser.py
Labels: area/core, component/entrypoint, size/S

#872 fix(hubio): fix hub io build
  jina/docker/hubio.py
  jina/main/parser.py
Labels: area/core, component/entrypoint, size/XS

#874 fix: add key mappings to post init to avoid serialize
  jina/executors/indexers/vector.py
Labels: area/core, component/executor, executor/indexer, size/XS

#879 fix(docker): fix the error checking
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/counter.py
  jina/docker/checker.py
  jina/docker/hubio.py
  tests/unit/hub-mwu-bad/bad-dockerfile/Dockerfile
  tests/unit/hub-mwu-bad/bad-dockerfile/README.md
  tests/unit/hub-mwu-bad/bad-dockerfile/manifest.yml
  tests/unit/hub-mwu-bad/bad-dockerfile/mwu_encoder.py
  tests/unit/hub-mwu-bad/bad-dockerfile/mwu_encoder.yml
  tests/unit/hub-mwu-bad/bad-pythonfile/Dockerfile
  tests/unit/hub-mwu-bad/bad-pythonfile/README.md
  tests/unit/hub-mwu-bad/bad-pythonfile/manifest.yml
  tests/unit/hub-mwu-bad/bad-pythonfile/mwu_encoder.py
  tests/unit/hub-mwu-bad/bad-pythonfile/mwu_encoder.yml
  tests/unit/hub-mwu-bad/missing-dockerfile/README.md
  tests/unit/hub-mwu-bad/missing-dockerfile/__init__.py
  tests/unit/hub-mwu-bad/missing-dockerfile/manifest.yml
  tests/unit/hub-mwu-bad/missing-dockerfile/mwu_encoder.py
  tests/unit/hub-mwu-bad/missing-dockerfile/mwu_encoder.yml
  tests/unit/hub-mwu-bad/missing-manifest/Dockerfile
  tests/unit/hub-mwu-bad/missing-manifest/README.md
  tests/unit/hub-mwu-bad/missing-manifest/__init__.py
  tests/unit/hub-mwu-bad/missing-manifest/mwu_encoder.py
  tests/unit/hub-mwu-bad/missing-manifest/mwu_encoder.yml
  tests/unit/test_docker.py
  tests/unit/test_hub.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/testing, size/M

#876 docs(other-distros): initial commit
  docs/chapters/install/on-x.md
  docs/index.rst
Labels: area/docs, size/S

#875 fix(readme): remove broken example
  README.md
Labels: size/XS

#883 fix(executor): add force register for easy debug
  .github/labeler.yml
  .github/workflows/cd.yml
  .github/workflows/nightly.yml
  .github/workflows/tag.yml
  jina/drivers/__init__.py
  jina/enums.py
  jina/executors/__init__.py
  tests/unit/test_exectype.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/testing, component/driver, component/executor, executor/meta, size/S

#881 build: release v0.5.0
  jina/__init__.py
Labels: area/core, area/entrypoint, area/helper, size/XS

#886 docs(yaml): change doc for driver syntex
  docs/chapters/yaml/yaml.rst
  jina/drivers/craft.py
  jina/executors/compound.py
Labels: area/core, area/docs, component/driver, component/executor, executor/meta, size/S
