Repository jina-ai/serve, pull requests merged in 2020-12, with the labels that each got.

#1381 refactor: remove unused imports
  jina/docker/hubio.py
Labels: area/core, component/docker, size/XS

#1383 fix: allow indexers to have workspace
  jina/executors/__init__.py
Labels: area/core, component/executor, executor/meta, size/XS

#1387 refactor(types): move extract embeddings and contents into docset
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/predict.py
  jina/drivers/search.py
  jina/types/document/helper.py
  jina/types/sets/document_set.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_predict_mock_driver.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#1388 test: disable test jinad
  .github/workflows/test-jinad.yml
Labels: area/cicd, area/housekeeping, size/XS

#1385 feat: add multimodal set
  jina/drivers/multimodal.py
  jina/types/document/multimodal.py
  jina/types/sets/document_set.py
  tests/conftest.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/types/test_multimodaldocumentset.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/S

#1335 feat: add multimodal document
  jina/drivers/multimodal.py
  jina/excepts.py
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
  jina/types/sets/document_set.py
  tests/conftest.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/types/test_document.py
  tests/unit/types/test_multimodal_document.py
  tests/unit/types/test_multimodaldocumentset.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/M

#1389 test(types): add test document convert
  tests/unit/types/test_document_convert.py
Labels: area/testing, size/S

#1390 refactor: coherent multimodal document naming
  jina/drivers/multimodal.py
  jina/types/sets/document_set.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/types/test_documentset.py
  tests/unit/types/test_multimodaldocumentset.py
Labels: area/core, area/testing, component/driver, component/type, size/S

#1340 fix: handle empty shards
  jina/executors/decorators.py
  jina/executors/indexers/vector.py
  tests/integration/issues/github_1229/__init__.py
  tests/integration/issues/github_1229/test_sharding_empty_index.py
  tests/integration/issues/github_1229/vectorindexer.yml
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, executor/meta, size/M

#1368 refactor(multimodal): refactor multimodal document and set
  jina/drivers/__init__.py
  jina/drivers/multimodal.py
  jina/helper.py
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
  jina/types/sets/document_set.py
  jina/types/sets/match_set.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/types/test_document.py
  tests/unit/types/test_documentset.py
  tests/unit/types/test_multimodal_document.py
  tests/unit/types/test_multimodaldocumentset.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/M

#1393 fix: change numpy metric cosine
  jina/executors/indexers/vector.py
  jina/resources/helloworld.indexer.yml
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/integration/incremental_indexing/uniq_vectorindexer.yml
  tests/integration/incremental_indexing/vectorindexer.yml
  tests/integration/jinad/test_index_query/pods/index.yml
  tests/integration/jinad/test_index_query_with_shards/pods/index.yml
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/yaml/npvec.yml
  tests/unit/flow/yaml/numpy-indexer-1.yml
  tests/unit/flow/yaml/numpy-indexer-2.yml
  tests/unit/peapods/remote/yamls/indexer.yml
  tests/unit/yaml/dummy_exec1.yml
  tests/unit/yaml/test-compound-indexer2.yml
  tests/unit/yaml/test-index-remote.yml
  tests/unit/yaml/test-index.yml
  tests/unit/yaml/test-joint-wrap.yml
  tests/unit/yaml/test-joint.yml
  tests/unit/yaml/test-multifield-indexer-2.yml
  tests/unit/yaml/test-multifield-indexer.yml
  tests/unit/yaml/test-query.yml
Labels: area/core, area/testing, component/executor, component/resource, executor/indexer, size/S

#1391 test: first batch of ensuring callback called
  extra-requirements.txt
  tests/conftest.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/mime/test_mime.py
  tests/integration/mime/test_segmenter.py
  tests/integration/multimodal/test_multimodal_parallel.py
Labels: area/setup, area/testing, size/M

#1395 test: add assert for granularity
  tests/unit/types/test_multimodal_document.py
Labels: area/testing, size/S

#1396 fix: minor thing in test shards
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/testing, size/XS

#1399 refactor(types): refactor docset.append method
  jina/types/document/__init__.py
  jina/types/sets/chunk_set.py
  jina/types/sets/document_set.py
  jina/types/sets/match_set.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/types/test_chunkset.py
  tests/unit/types/test_documentset.py
  tests/unit/types/test_matchset.py
Labels: area/core, area/testing, component/type, size/S

#1401 fix(types): fix setattr problem in document types
  jina/types/document/__init__.py
  jina/types/sets/chunk_set.py
  jina/types/sets/match_set.py
  tests/unit/types/test_document.py
Labels: area/core, area/testing, component/type, size/S

#1400 chore: use pathlib instead of os.path in all unit tests
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/clients/python/test_io.py
  tests/unit/docker/test_helper.py
  tests/unit/docker/test_hub_build.py
  tests/unit/drivers/querylang/queryset/test_queryset.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/test_decorators.py
  tests/unit/executors/test_route_exec.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/test_flow_visualization.py
  tests/unit/logging/test_logging.py
  tests/unit/peapods/remote/test_jinad.py
  tests/unit/peapods/test_container.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_exectype.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
Labels: area/testing, size/M

#1397 docs: added code review guide
  .github/CODE_REVIEW_GUIDELINES.md
  CONTRIBUTING.md
Labels: area/housekeeping, size/S

#1348 feat: native async based grpc & fastapi based rest for gateway
  extra-requirements.txt
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/helper.py
  jina/flow/__init__.py
  jina/peapods/gateway.py
  jina/peapods/gateway/__init__.py
  jina/peapods/gateway/grpc.py
  jina/peapods/gateway/rest.py
  jina/peapods/gateway/servicer.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/peapods/zmq.py
  jina/resources/extra-requirements.txt
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/integration/test_helloworld.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/peapods/test_pea.py
  tests/unit/test_gateway.py
  tests/unit/test_helper.py
Labels: area/core, area/network, area/setup, area/testing, component/client, component/flow, component/peapod, component/resource, size/XL

#1408 fix(gateway): event loop for rest server
  jina/clients/__init__.py
  jina/clients/python/grpc.py
  jina/helper.py
  jina/peapods/gateway/grpc.py
  jina/peapods/gateway/rest.py
Labels: area/core, area/helper, area/network, component/client, component/peapod, size/S

#1409 fix: add opname when ranking
  jina/drivers/rank.py
  tests/unit/drivers/test_matches2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, size/XS

#1410 refactor(client): refactor async client
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/runtime.py
  jina/flow/__init__.py
  jina/peapods/gateway/grpc.py
  jina/peapods/zmq.py
  jina/proto/serializer.py
  jina/types/request/__init__.py
  tests/unit/clients/python/test_client.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/network, area/testing, component/client, component/flow, component/peapod, component/proto, component/type, size/M

#1407 ci: add test jinad checks for pr on master
  .github/workflows/test-jinad.yml
  tests/integration/jinad/test_index_query/test_integration.sh
  tests/integration/jinad/test_index_query_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_distributed/test_integration.sh
  tests/integration/jinad/test_simple_distributed_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_hub_pods/test_integration.sh
Labels: area/cicd, area/housekeeping, area/testing, size/S

#1406 fix: add _merge_matches and _merge_chunks syntax sugar
  jina/resources/executors._merge_chunks.yml
  jina/resources/executors._merge_matches.yml
  tests/integration/issues/github_1229/test_sharding_empty_index.py
  tests/integration/multimodal/flow-embedding-multimodal-parallel.yml
  tests/integration/multimodal/flow-multimodal-all-types-parallel.yml
Labels: area/core, area/testing, component/driver, component/resource, size/S

#1405 refactor: updated helloworld.html to fix a typo
  jina/resources/helloworld.html
Labels: area/core, area/entrypoint, area/helper, area/housekeeping, area/testing, component/resource, size/S

#1411 test: test merge all with more than one request
  tests/integration/evaluation/flow-index-gt-parallel.yml
  tests/integration/evaluation/test_evaluation_from_file.py
Labels: area/testing, size/XS

#1403 fix: check jina version in hub modules when pushing
  jina/docker/hubio.py
  jina/excepts.py
  jina/parser.py
  tests/unit/docker/test_hub_build.py
  tests/unit/executors/indexers/test_binary_indexer.py
Labels: area/core, area/helper, area/testing, component/docker, size/S

#1380 feat(kvindexers): update method for binary pb indexer
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  tests/unit/executors/indexers/test_binary_indexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#1379 refactor: refactor pea loop and closing
  .github/workflows/test-jinad.yml
  jina/clients/python/runtime.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/indexers/__init__.py
  jina/executors/metas.py
  jina/parser.py
  jina/peapods/container.py
  jina/peapods/gateway/grpc.py
  jina/peapods/grpc.py
  jina/peapods/pea.py
  jina/peapods/remote.py
  jina/resources/executors.metas.default.yml
  tests/integration/issues/github_867/test_close_executor.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/network, area/testing, component/client, component/executor, component/peapod, component/resource, executor/indexer, executor/meta, size/M

#1394 docs: add understanding jina recursive document representation
  docs/chapters/101/index.md
  docs/chapters/remote/run-remote-pod-console.md
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/remote/run-remote-pod-jina.md
  docs/chapters/traversal/img/adjacency.png
  docs/chapters/traversal/img/granularity.png
  docs/chapters/traversal/img/nodes.png
  docs/chapters/traversal/img/overview.png
  docs/chapters/traversal/img/recursive.png
  docs/chapters/traversal/img/tree.png
  docs/chapters/traversal/index.md
  docs/index.rst
Labels: area/docs, size/M

#1384 docs(README): add cross and multimodal documentation into readme
  README.md
  docs/chapters/cross-multi-modality/index.md
  jina/__init__.py
  jina/executors/encoders/multimodal/__init__.py
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
Labels: area/core, area/docs, area/entrypoint, area/helper, component/executor, component/type, executor/encoder, size/M

#1417 test: refactor type sets test
  tests/unit/types/sets/__init__.py
  tests/unit/types/sets/test_chunkset.py
  tests/unit/types/sets/test_documentset.py
  tests/unit/types/sets/test_matchset.py
  tests/unit/types/sets/test_querylangset.py
Labels: area/testing, size/S

#1418 refactor: remove _merge_all
  jina/resources/executors._merge_all.yml
  tests/integration/evaluation/flow-evaluate-from-file-parallel.yml
  tests/integration/evaluation/flow-index-gt-parallel.yml
  tests/integration/evaluation/flow-parallel-evaluate-from-file-parallel.yml
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_merge.py
Labels: area/core, area/testing, component/driver, component/resource, size/S

#1361 fix: changes to test levels for hubio
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build_level.py
Labels: area/core, area/testing, component/docker, size/S

#1419 refactor: ensure callback called in tests
  tests/integration/eval_flow/test_flow_eval_pod.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_1229/test_sharding_empty_index.py
  tests/integration/issues/github_929/test_shelfindexer.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/integration/issues/github_976/test_topk.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
Labels: area/testing, size/L

#1425 add newline at the end
  jina/resources/completions/jina.bash
  jina/resources/completions/jina.fish
  jina/resources/completions/jina.zsh
Labels: area/core, component/resource, size/XS

#1428 fix(grpc): rename the file and class
  .github/workflows/ci.yml
  .github/workflows/issue-ref.yml
  .github/workflows/label-pr.yml
  .github/workflows/test-hubapp-hubpods.yml
  .github/workflows/test-jinad.yml
  jina/peapods/peas/gateway/grpc/__init__.py
  jina/peapods/peas/gateway/grpc/async_server.py
Labels: area/cicd, area/core, area/housekeeping, area/network, component/peapod, size/S

#1435 test: refactor primitive type test
  tests/unit/types/document/__init__.py
  tests/unit/types/document/test_converters.py
  tests/unit/types/document/test_document.py
  tests/unit/types/document/test_helper.py
  tests/unit/types/document/test_multimodal_document.py
  tests/unit/types/message/__init__.py
  tests/unit/types/message/test_common.py
  tests/unit/types/message/test_message.py
  tests/unit/types/ndarray/__init__.py
  tests/unit/types/ndarray/test_ndarray.py
  tests/unit/types/querylang/__init__.py
  tests/unit/types/querylang/test_querylang.py
Labels: area/testing, size/S

#1434 test: add test behavior cosine with zeros
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/testing, size/S

#1443 fix: redundant translation in readme Chinese
  docs/chapters/101/README.zh.md
Labels: area/docs, size/XS

#1437 ci: add latency tracking
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/latency-tracking.yml
  .github/workflows/test-hubapp-hubpods.yml
  .github/workflows/test-jinad.yml
Labels: area/cicd, area/housekeeping, size/S

#1445 test: refactor request test
  jina/types/request/__init__.py
  tests/unit/types/request/__init__.py
  tests/unit/types/request/test_common.py
  tests/unit/types/request/test_request.py
Labels: area/core, area/testing, component/type, size/S

#1446 feat: add `env` to pea, pod, flow cli
  jina/flow/__init__.py
  jina/flow/yaml_parser/v1.py
  jina/helper.py
  jina/parser.py
  jina/peapods/peas/__init__.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/yaml/flow-with-envs.yml
  tests/unit/peapods/test_pods.py
  tests/unit/test_cli.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1448 fix(pod): do not set envs in thread mode
  jina/peapods/peas/__init__.py
  tests/unit/peapods/test_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1450 refactor(client): refactor code, style of pyclient
  cli/api.py
  helloworld_pb2.py
  helloworld_pb2_grpc.py
  jina/clients/__init__.py
  jina/clients/helper.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/runtime.py
  jina/clients/request.py
  jina/clients/sugary_io.py
  jina/docker/hubio.py
  jina/excepts.py
  jina/flow/__init__.py
  jina/helloworld/helper.py
  jina/helper.py
  jina/logging/profile.py
  jina/peapods/__init__.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/gateway/grpc/__init__.py
  jina/peapods/peas/gateway/grpc/async_call.py
  jina/peapods/peas/gateway/grpc/async_server.py
  jina/peapods/peas/gateway/grpc/helper.py
  jina/peapods/peas/gateway/rest.py
  jina/peapods/peas/gateway/rest/__init__.py
  jina/peapods/pods/flow.py
  jina/peapods/zmq/__init__.py
  jina/types/request/common.py
  jina/types/sets/querylang.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/test_helloworld.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_io.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_except.py
  tests/unit/peapods/test_container.py
  tests/unit/peapods/test_pea.py
  tests/unit/peapods/test_pods.py
  tests/unit/test_helper.py
  tests/unit/test_quant.py
  tests/unit/types/message/test_message.py
Labels: area/cli, area/core, area/helloworld, area/helper, area/network, area/testing, component/client, component/docker, component/flow, component/logging, component/peapod, component/type, size/XL

#1453 fix: jupyter asyncio
  jina/helper.py
  jina/peapods/peas/gateway/grpc/async_call.py
Labels: area/core, area/helper, area/network, component/peapod, size/S

#1456 fix: hub push again test
  tests/unit/docker/test_hub_build.py
Labels: area/testing, size/XS

#1457 fix(setup): add version to grpcio package
  .github/workflows/nightly.yml
  .github/workflows/tag.yml
  Dockerfiles/debianx.Dockerfile
  RELEASE.md
  docs/chapters/install/via-docker.md
  extra-requirements.txt
  jina/logging/sse.py
  jina/resources/hub-builder/platforms.yml
Labels: area/cicd, area/core, area/docker, area/docs, area/housekeeping, area/setup, component/logging, component/resource, size/S

#1415 feat: numpy indexer update/delete
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#1458 fix(client): handle request exception on client
  .github/workflows/autocommit.yml
  cli/autocomplete.py
  docs/chapters/all_driver.md
  docs/chapters/all_exec.md
  jina/clients/request.py
  jina/parser.py
  jina/peapods/peas/gateway/grpc/async_call.py
  tests/unit/clients/python/test_on_err.py
Labels: area/cicd, area/cli, area/core, area/docs, area/helper, area/housekeeping, area/network, area/testing, component/client, component/peapod, size/M

#1462 test: add client bad iterator test
  tests/unit/clients/python/test_on_err.py
Labels: area/testing, size/S

#1465 feat: helloworld evaluate html
  jina/helloworld/__init__.py
  jina/helloworld/components.py
  jina/helloworld/helper.py
  jina/parser.py
  jina/resources/helloworld.evaluator.yml
  jina/resources/helloworld.flow.evaluate.yml
  jina/resources/helloworld.html
  jina/resources/helloworld.merge-evaluate.yml
Labels: area/core, area/helloworld, area/helper, component/resource, size/M

#1452 test: refactor driver test
  jina/drivers/querylang/queryset/helper.py
  jina/excepts.py
  tests/unit/drivers/querylang/queryset/test_dunderkeys.py
  tests/unit/drivers/querylang/queryset/test_lookup.py
  tests/unit/drivers/querylang/queryset/test_queryset.py
  tests/unit/drivers/test_matches2doc_rank_drivers.py
Labels: area/core, area/helper, area/testing, component/driver, size/M

#1473 fix(io): fix input_files/lines data_type
  jina/clients/sugary_io.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  tests/integration/test_helloworld.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_io.py
Labels: area/core, area/testing, component/client, component/flow, size/M

#1474 test(driver): add test for loading from custom driver
  tests/unit/test_cust_driver.py
  tests/unit/yaml/dummy_encode.py
  tests/unit/yaml/dummy_encode_driver.py
  tests/unit/yaml/test-executor-with-custom-driver.yml
Labels: area/testing, size/S

#1426 refactor: split BasePea in runtime and Pea
  cli/api.py
  extra-requirements.txt
  jina/checker.py
  jina/peapods/__init__.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/gateway/grpc/__init__.py
  jina/peapods/peas/gateway/rest/__init__.py
  jina/peapods/peas/headtail/head.py
  jina/peapods/peas/headtail/tail.py
  jina/peapods/peas/remote/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/flow.py
  jina/peapods/pods/gateway.py
  jina/peapods/pods/remote.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/local/__init__.py
  jina/peapods/runtimes/remote/__init__.py
  jina/peapods/runtimes/remote/jinad/__init__.py
  jina/peapods/runtimes/remote/jinad/api.py
  jina/peapods/runtimes/remote/ssh/__init__.py
  tests/integration/jinad/Dockerfiles/Dockerfile
  tests/integration/jinad/test_index_query/Dockerfile
  tests/integration/jinad/test_index_query_with_shards/Dockerfile
  tests/integration/jinad/test_simple_distributed/Dockerfile
  tests/integration/jinad/test_simple_distributed_with_shards/Dockerfile
  tests/integration/jinad/test_simple_hub_pods/Dockerfile
  tests/unit/clients/python/test_client.py
  tests/unit/flow/test_flow.py
  tests/unit/peapods/peas/__init__.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/pods/__init__.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/__init__.py
  tests/unit/peapods/runtimes/container/__init__.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/local/__init__.py
  tests/unit/peapods/runtimes/local/test_local_runtime.py
  tests/unit/peapods/runtimes/remote/__init__.py
  tests/unit/peapods/runtimes/remote/jinad/__init__.py
  tests/unit/peapods/runtimes/remote/jinad/test_api.py
  tests/unit/peapods/runtimes/remote/jinad/test_remote.py
  tests/unit/peapods/runtimes/remote/jinad/yamls/__init__.py
  tests/unit/peapods/runtimes/remote/jinad/yamls/dummy.py
  tests/unit/peapods/runtimes/remote/jinad/yamls/encoder.yml
  tests/unit/peapods/runtimes/remote/jinad/yamls/flow-index.yaml
  tests/unit/peapods/runtimes/remote/jinad/yamls/indexer.yml
  tests/unit/peapods/runtimes/remote/ssh/__init__.py
  tests/unit/peapods/runtimes/remote/ssh/test_ssh_remote.py
  tests/unit/peapods/test_remote.py
  tests/unit/peapods/zmq/__init__.py
  tests/unit/peapods/zmq/test_zmq_addr.py
  tests/unit/test_gateway.py
Labels: area/cli, area/core, area/helper, area/network, area/setup, area/testing, component/peapod, size/XL

#1475 ci: disable jinad tests temporarily
  .github/workflows/test-jinad.yml
Labels: area/cicd, area/housekeeping, size/XS

#1476 refactor: rename flow output_fn to on_done
  docs/conf.py
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/helper.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/helloworld/__init__.py
  jina/helper.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_1229/test_sharding_empty_index.py
  tests/integration/issues/github_929/test_shelfindexer.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/integration/issues/github_976/test_topk.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/mime/test_mime.py
  tests/integration/mime/test_segmenter.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/test_gateway.py
  tests/unit/test_helper.py
  tests/unit/test_index.py
  tests/unit/test_quant.py
Labels: area/core, area/docs, area/helloworld, area/helper, area/testing, component/client, component/flow, size/XL

#1481 docs: fix missing cli content
  docs/_static/main.css
  docs/chapters/cli/index.rst
  docs/chapters/cli/jina-check.rst
  docs/chapters/cli/jina-client.rst
  docs/chapters/cli/jina-flow.rst
  docs/chapters/cli/jina-gateway.rst
  docs/chapters/cli/jina-helloworld.rst
  docs/chapters/cli/jina-log.rst
  docs/chapters/cli/jina-pea.rst
  docs/chapters/cli/jina-ping.rst
  docs/chapters/cli/jina-pod.rst
  docs/chapters/helloworld/index.rst
  docs/chapters/install/os/index.rst
  docs/chapters/install/os/on-rasp-linux.md
  docs/chapters/install/os/on-wsl.md
  docs/chapters/install/os/on-x.md
  docs/chapters/install/os/via-docker.md
  docs/chapters/install/os/via-pip.md
  docs/chapters/install/upgrade.md
  docs/conf.py
  docs/index.rst
Labels: area/docs, size/M

#1486 ci: add commit lint feedback
  .github/workflows/ci.yml
  .github/workflows/latency-tracking.yml
Labels: area/cicd, area/housekeeping, size/S

#1440 feat: document random_id
  jina/clients/request.py
  jina/drivers/evaluate.py
  jina/drivers/index.py
  jina/drivers/rank.py
  jina/drivers/search.py
  jina/executors/indexers/cache.py
  jina/executors/rankers/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  jina/types/document/uid.py
  jina/types/sets/chunk.py
  jina/types/sets/document.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/unit/clients/python/test_request.py
  tests/unit/docker/test_hub_build.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
  tests/unit/drivers/test_matches2doc_rank_drivers.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/test_helper.py
  tests/unit/types/document/test_document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/network, area/testing, component/client, component/driver, component/executor, component/proto, component/type, executor/indexer, executor/ranker, size/M

#1487 style(runtime): reformat code style in runtime module
  jina/executors/decorators.py
  jina/peapods/__init__.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/local/__init__.py
  jina/peapods/runtimes/remote/__init__.py
  jina/peapods/runtimes/remote/jinad/__init__.py
  jina/peapods/runtimes/remote/jinad/api.py
  jina/peapods/runtimes/remote/ssh/__init__.py
Labels: area/core, area/network, component/executor, component/peapod, executor/meta, size/S

#1488 refactor: update helloworld evaluate
  jina/helloworld/__init__.py
  jina/helloworld/components.py
  jina/helloworld/helper.py
  jina/resources/helloworld.evaluator.yml
  jina/resources/helloworld.flow.evaluate.yml
  jina/resources/helloworld.html
Labels: area/core, area/helloworld, component/resource, size/M

#1489 refactor(helper): move namespace helper into one place
  jina/flow/base.py
  jina/helper.py
  jina/parser.py
  jina/peapods/__init__.py
  jina/peapods/pods/flow.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/remote/jinad/__init__.py
  jina/peapods/runtimes/remote/ssh/__init__.py
  tests/unit/peapods/runtimes/remote/jinad/test_remote.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1495 refactor: add JAML class and use pyyaml as backend
  .github/workflows/ci.yml
  cli/api.py
  docs/chapters/install/os/via-pip.md
  extra-requirements.txt
  jina/docker/checker.py
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/drivers/__init__.py
  jina/enums.py
  jina/executors/__init__.py
  jina/executors/metas.py
  jina/executors/requests.py
  jina/flow/__init__.py
  jina/flow/base.py
  jina/helper.py
  jina/jaml.py
  jina/logging/logger.py
  jina/peapods/runtimes/remote/jinad/api.py
  jina/resources/extra-requirements.txt
  jina/types/sets/document.py
  tests/__init__.py
  tests/integration/logging/test_sse.py
  tests/unit/docker/test_hub_build.py
  tests/unit/docker/test_hub_build_level.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_exectype.py
  tests/unit/test_load_yaml.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-expand4.yml
Labels: area/cicd, area/cli, area/core, area/docs, area/helper, area/housekeeping, area/network, area/setup, area/testing, component/docker, component/driver, component/executor, component/flow, component/logging, component/peapod, component/resource, component/type, executor/meta, size/L

#1500 docs(readme): fix some typos in readme
  README.md
Labels: size/XS

#1508 fix(helloworld): hello-world evaluator use running avg directly
  README.md
  jina/drivers/evaluate.py
  jina/helloworld/__init__.py
  jina/helloworld/helper.py
  jina/resources/executors._eval_pr.yml
  jina/resources/helloworld.flow.query.yml
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/helloworld, area/testing, component/driver, component/resource, size/M

#1507 ci: make lint flake8 independent step
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1513 docs: fix docs layout add show/hide btn
  docs/_static/main.css
  docs/chapters/flow/index.md
  docs/chapters/flow/pattern.md
  docs/index.rst
  docs/template/layout.html
Labels: area/docs, size/L

#1514 docs: add footer to docs
  docs/_static/main.css
  docs/template/footer.html
Labels: area/docs, size/M

#1478 test: reenable jinad tests
  .github/workflows/test-jinad.yml
  tests/integration/jinad/Dockerfiles/Dockerfile
  tests/integration/jinad/test_index_query/Dockerfile
  tests/integration/jinad/test_index_query/docker-compose.yml
  tests/integration/jinad/test_index_query/entrypoint.sh
  tests/integration/jinad/test_index_query/test_integration.sh
  tests/integration/jinad/test_index_query_with_shards/Dockerfile
  tests/integration/jinad/test_index_query_with_shards/docker-compose.yml
  tests/integration/jinad/test_index_query_with_shards/entrypoint.sh
  tests/integration/jinad/test_index_query_with_shards/flow.yml
  tests/integration/jinad/test_index_query_with_shards/pods/slice.yml
  tests/integration/jinad/test_index_query_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_distributed/Dockerfile
  tests/integration/jinad/test_simple_distributed/docker-compose.yml
  tests/integration/jinad/test_simple_distributed/entrypoint.sh
  tests/integration/jinad/test_simple_distributed/test_integration.sh
  tests/integration/jinad/test_simple_distributed_with_shards/Dockerfile
  tests/integration/jinad/test_simple_distributed_with_shards/docker-compose.yml
  tests/integration/jinad/test_simple_distributed_with_shards/entrypoint.sh
  tests/integration/jinad/test_simple_distributed_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_hub_pods/Dockerfile
  tests/integration/jinad/test_simple_hub_pods/docker-compose.yml
  tests/integration/jinad/test_simple_hub_pods/entrypoint.sh
  tests/integration/jinad/test_simple_hub_pods/test_integration.sh
Labels: area/cicd, area/housekeeping, area/testing, size/M

#1469 test: add test for issue 1468
  tests/integration/issues/github_1468/__init__.py
  tests/integration/issues/github_1468/flow.yml
  tests/integration/issues/github_1468/pods/filter_chunk_1.yml
  tests/integration/issues/github_1468/pods/filter_chunk_2.yml
  tests/integration/issues/github_1468/test_reduce_route.py
Labels: area/testing, size/S

#1516 fix(flow): fix flow cls register
  jina/flow/base.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/flow/yaml/dummy-flow.yml
Labels: area/core, area/testing, component/flow, size/S

#1519 ci: revert ci commit lint on pull_request_target
  .github/workflows/ci.yml
  .github/workflows/commit-lint.yml
  .github/workflows/label-pr.yml
  .github/workflows/latency-tracking.yml
Labels: area/cicd, area/housekeeping, size/S

#1430 feat: add named score type
  jina/drivers/rank.py
  jina/drivers/search.py
  jina/excepts.py
  jina/types/document/__init__.py
  jina/types/score/__init__.py
  tests/integration/evaluation/rank/yaml/index-doc.yml
  tests/integration/issues/github_1229/vectorindexer.yml
  tests/unit/types/document/test_document.py
  tests/unit/types/score/__init__.py
  tests/unit/types/score/test_score.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/M

#1522 fix(client): topk ql apply to sliceql and vector search
  jina/clients/request.py
Labels: area/core, component/client, size/S

#1518 refactor: little help to optimizer
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/fashion/__init__.py
  tests/integration/optimizers/fashion/data.py
  tests/integration/optimizers/fashion/evaluation.py
  tests/integration/optimizers/flow.yml
  tests/integration/optimizers/flows/evaluate.yml
  tests/integration/optimizers/flows/index.yml
  tests/integration/optimizers/flows/parameter.yml
  tests/integration/optimizers/optimize.py
  tests/integration/optimizers/pods/__init__.py
  tests/integration/optimizers/pods/components.py
  tests/integration/optimizers/pods/craft.yml
  tests/integration/optimizers/pods/dummy_crafter.py
  tests/integration/optimizers/pods/dummy_evaluate.py
  tests/integration/optimizers/pods/encoder.yml
  tests/integration/optimizers/pods/evaluate.py
  tests/integration/optimizers/pods/evaluate.yml
  tests/integration/optimizers/pods/indexer.yml
  tests/integration/optimizers/pods/reduce.yml
  tests/integration/optimizers/test_optimizer.py
Labels: area/core, area/testing, size/M

#1525 fix: set timeout ready option to hubio
  jina/docker/hubio.py
  jina/parser.py
  tests/integration/hub_usage/dummyhub_slow/Dockerfile
  tests/integration/hub_usage/dummyhub_slow/README.md
  tests/integration/hub_usage/dummyhub_slow/__init__.py
  tests/integration/hub_usage/dummyhub_slow/config.yml
  tests/integration/hub_usage/dummyhub_slow/helper.py
  tests/integration/hub_usage/dummyhub_slow/manifest.yml
  tests/integration/hub_usage/dummyhub_slow/requirements.txt
  tests/integration/hub_usage/dummyhub_slow/tests/__init__.py
  tests/integration/hub_usage/dummyhub_slow/tests/test_dummy.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/docker/test_hub_build_level.py
Labels: area/core, area/helper, area/testing, component/docker, size/S

#1531 style: fix hubio typo
  jina/docker/hubapi.py
  jina/docker/hubio.py
Labels: area/core, component/docker, size/XS

#1483 feat: add logic to batch at encode driver level
  jina/drivers/encode.py
  jina/types/sets/document.py
  tests/integration/encode-driver-batching/__init__.py
  tests/integration/encode-driver-batching/test_encode_driver_batching.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#1494 feat: in aggregate rank drivers keep chunks of matches
  jina/drivers/rank.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  tests/integration/level_depth/yaml/rank.yml
  tests/unit/drivers/rank/__init__.py
  tests/unit/drivers/rank/aggregate/__init__.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, size/L

#1533 refactor: move save/load config to JAML module
  jina/enums.py
  jina/excepts.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/evaluators/__init__.py
  jina/executors/indexers/__init__.py
  jina/flow/base.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/executor/legacy.py
  jina/logging/logger.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/container/__init__.py
  jina/resources/executors.metas.default.yml
  tests/integration/issues/github_867/test_close_executor.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/logging/test_logging.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/local/test_local_runtime.py
  tests/unit/test_helper.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-encoder-env.yml
  tests/unit/yaml/test-flow-v1.yml
Labels: area/core, area/helper, area/network, area/testing, component/executor, component/flow, component/jaml, component/logging, component/peapod, component/resource, executor/indexer, executor/meta, size/L

#1499 docs(devices): improve TorchDevice docstring
  jina/executors/devices.py
Labels: area/core, component/executor, executor/meta, size/S

#1492 fix: access token cred file for hub push
  .github/workflows/ci.yml
  jina/docker/hubapi.py
  tests/integration/hub_usage/hub-mwu/Dockerfile
  tests/integration/hub_usage/hub-mwu/README.md
  tests/integration/hub_usage/hub-mwu/__init__.py
  tests/integration/hub_usage/hub-mwu/manifest.yml
  tests/integration/hub_usage/hub-mwu/mwu_encoder.py
  tests/integration/hub_usage/hub-mwu/mwu_encoder.yml
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/docker/test_hub_build.py
  tests/unit/docker/test_hubapi.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/docker, size/M

#1541 feat: return result from flow and client
  cli/autocomplete.py
  jina/__init__.py
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/helper.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/parser.py
  jina/proto/serializer.py
  jina/types/request/__init__.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/flow/test_flow.py
  tests/unit/types/request/test_request.py
Labels: area/cli, area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/flow, component/proto, component/type, size/M

#1547 test: add test for 1545
  jina/executors/__init__.py
  jina/executors/metas.py
  jina/jaml/__init__.py
  tests/integration/issues/github_1545/__init__.py
  tests/integration/issues/github_1545/test_executor_metas.py
  tests/integration/issues/github_936/__init__.py
  tests/integration/issues/github_969/__init__.py
  tests/integration/issues/github_976/__init__.py
Labels: area/core, area/testing, component/executor, component/jaml, executor/meta, size/S

#1552 fix: set eval at default None precision and recall
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  tests/unit/executors/evaluators/rank/test_precision.py
  tests/unit/executors/evaluators/rank/test_recall.py
Labels: area/core, area/testing, component/executor, size/S

#1555 feat: document set dundermethod add and iadd
  jina/types/sets/document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/type, size/S

#1556 feat: revert pathlib changes
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/clients/python/test_io.py
  tests/unit/docker/test_hub_build.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/test_decorators.py
  tests/unit/executors/test_route_exec.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/test_flow_visualization.py
  tests/unit/logging/test_logging.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/remote/jinad/test_api.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_exectype.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
Labels: area/testing, size/M

#1536 mock wrapper does not call validation function #1535
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_1229/test_sharding_empty_index.py
  tests/integration/issues/github_929/test_shelfindexer.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/integration/issues/github_976/test_topk.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/mime/test_segmenter.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow_index.py
Labels: area/testing, size/M

#1557 fix: crud alternative quick fix
  jina/executors/indexers/crud_vector.py
  jina/executors/indexers/vector.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/indexers/test_numpyindexer_batching.py
  tests/unit/executors/indexers/test_numpyindexer_crud.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/L

#1560 fix: test hub usage github token
  tests/integration/hub_usage/test_hub_usage.py
Labels: area/testing, size/S

#1563 refactor: remove encoders helper module
  jina/executors/encoders/helper.py
  tests/unit/executors/encoders/numeric/__init__.py
  tests/unit/executors/encoders/numeric/test_reduce.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/M

#1559 test: clean up driver test
  tests/unit/drivers/querylang/queryset/test_dunderkeys.py
  tests/unit/drivers/querylang/queryset/test_lookup.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/drivers/test_vector_search_driver.py
Labels: area/testing, size/M

#1562 fix: fix visualization in notebook
  jina/flow/base.py
Labels: area/core, component/flow, size/XS

#1460 feat: index drivers update and delete
  jina/__init__.py
  jina/clients/__init__.py
  jina/clients/request.py
  jina/drivers/index.py
  jina/enums.py
  jina/executors/__init__.py
  jina/executors/indexers/vector.py
  jina/flow/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  tests/integration/crud/__init__.py
  tests/integration/crud/flow.yml
  tests/integration/crud/flow_kv.yml
  tests/integration/crud/flow_vector.yml
  tests/integration/crud/test_crud.py
  tests/integration/crud/yaml/index.yml
  tests/integration/crud/yaml/index_kv.yml
  tests/integration/crud/yaml/index_vector.yml
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_vector_index_driver.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/proto, component/type, executor/indexer, executor/meta, size/L

#1568 fix: fixes CORS behavior for REST API
  jina/peapods/peas/gateway/rest/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#1564 fix: flaky test
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/testing, size/XS

#1467 feat: add batching support for rankers
  jina/executors/decorators.py
  jina/helper.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/helper, area/testing, component/executor, executor/meta, size/S
