Repository jina-ai/serve, pull requests merged in 2020-07, with the labels that each got.

#575 chore: update readme gif
  .github/1500x667new.gif
Labels: area/housekeeping, size/XS

#603 chore: update readme gif banner
  README.md
Labels: size/XS

#604 docs(io): add shortcut to flow io
  docs/chapters/io/index.md
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  tests/test_client.py
Labels: area/core, area/docs, area/helloworld, area/testing, component/flow, size/S

#606 fix(flow): fix the mismatched arguments
  jina/flow/__init__.py
Labels: area/core, component/flow, size/XS

#609 test: use image built from pr in tests
  Dockerfiles/pip.Dockerfile
  tests/mwu-encoder/Dockerfile
  tests/test_container.py
Labels: area/docker, area/testing, size/S

#598 feat: rename port grpc
  docs/chapters/flow/index.md
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/remote/run-remote-pod-jina.md
  docs/chapters/restapi/index.rst
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/flow/__init__.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/peapods/grpc.py
  jina/peapods/pod.py
  jina/peapods/remote.py
  jina/resources/hub-builder-success/index.html
  tests/test_cli.py
  tests/test_client.py
  tests/test_flow.py
  tests/test_gateway.py
  tests/test_index_remote.py
  tests/test_remote.py
  tests/test_remote2.py
Labels: area/core, area/docs, area/network, area/testing, component/client, component/entrypoint, component/flow, component/peapod, component/resource, size/M

#615 feat: add uvloop as alternative event loop
  docs/chapters/envs.rst
  extra-requirements.txt
  jina/__init__.py
  jina/helper.py
  jina/peapods/gateway.py
  jina/peapods/grpc_asyncio.py
  jina/peapods/zmq.py
Labels: area/core, area/docs, area/helper, area/network, area/setup, component/peapod, size/S

#617 fix(gpu): auto downgrade when gpu not available
  jina/executors/frameworks.py
Labels: area/core, component/executor, executor/meta, size/XS

#618 feat(zmq): use zmqstream as default zmqlet
  .github/workflows/cla.yml
  Dockerfiles/debianx.Dockerfile
  docs/chapters/envs.rst
  docs/chapters/troubleshooting.md
  jina/__init__.py
  jina/helper.py
  jina/peapods/grpc_asyncio.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  setup.py
  tests/executors/crafters/test_mime.py
  tests/test_driver_if.py
  tests/test_echostream.py
  tests/test_loadbalance.py
Labels: area/cicd, area/core, area/docker, area/docs, area/helper, area/housekeeping, area/network, area/setup, area/testing, component/peapod, size/M

#623 feat(encoder): transformers truncation strategy
  jina/executors/encoders/nlp/transformer.py
Labels: area/core, component/executor, executor/encoder, size/XS

#624 fix(peapods): got events closed stream
  jina/peapods/zmq.py
Labels: area/core, area/network, component/peapod, size/XS

#626 fix(encoders): fix mask prune creation
  jina/executors/encoders/helper.py
  jina/executors/encoders/nlp/transformer.py
  tests/executors/encoders/nlp/test_transformer.py
Labels: area/core, area/testing, component/executor, executor/encoder, size/S

#627 refactor(crafters): io crafters should craft documents
  jina/drivers/craft.py
  jina/executors/crafters/audio/io.py
  jina/executors/crafters/image/io.py
  jina/executors/crafters/numeric/io.py
  tests/executors/crafters/image/test_io.py
  tests/executors/crafters/numeric/test_io.py
Labels: area/core, area/testing, component/driver, component/executor, discussion required, executor/crafter, size/S

#628 test(flow): improved log server tests
  tests/test_flow.py
Labels: area/testing, size/S

#632 fix(pea): fix socket close when exit
  jina/peapods/pea.py
  jina/peapods/zmq.py
Labels: area/core, area/network, component/peapod, size/S

#629 docs(readme): small adjustments based on han's feedback
  README.md
Labels: size/S

#625 docs(101): add link to explain basics of neural search
  docs/chapters/101/README.md
Labels: area/docs, size/XS

#635 feat(examples): Add changes to implement Faiss Search examples
  jina/drivers/encode.py
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  jina/helloworld/components.py
Labels: area/core, area/helloworld, component/driver, component/flow, size/S

#636 feat(frameworks): add faiss framework to be able to move index to gpu
  jina/executors/frameworks.py
  jina/executors/indexers/vector/faiss.py
Labels: area/core, component/executor, executor/indexer, executor/meta, size/M

#634 feat(flow): dryrun is running by default
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/helper.py
  jina/drivers/search.py
  jina/excepts.py
  jina/flow/__init__.py
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/proto/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_cli.py
  tests/test_flow.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/driver, component/entrypoint, component/flow, component/peapod, component/proto, size/M

#642 feat(indexer): add annoy search_k parameter
  jina/executors/indexers/vector/annoy.py
  tests/executors/indexers/vector/test_annoy.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#638 feat(executors): add nprobe parameter to faiss indexer
  jina/executors/indexers/vector/faiss.py
Labels: area/core, component/executor, executor/indexer, size/S

#641 perf(indexer): change sort method to argpartition, not sort all the array
  jina/executors/indexers/vector/numpy.py
  tests/executors/indexers/vector/test_annoy.py
  tests/executors/indexers/vector/test_faiss.py
  tests/executors/indexers/vector/test_nmslib.py
  tests/executors/indexers/vector/test_numpy.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#646 revert(driver): remove if clause for #640
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/filter.py
  jina/drivers/index.py
  jina/drivers/prune.py
  jina/drivers/reduce.py
  jina/drivers/score.py
  jina/drivers/search.py
  tests/test_driver_if.py
Labels: area/core, area/testing, component/driver, size/M

#644 fix(ci): fix the random failing ci process
  .github/workflows/ci.yml
  jina/clients/python/__init__.py
  jina/drivers/__init__.py
  jina/drivers/encode.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/hubapi/docker.py
  tests/executors/crafters/test_mime.py
  tests/executors/encoders/image/test_customtfkeras.py
  tests/executors/encoders/image/test_customtorchvision.py
  tests/test_cli.py
  tests/test_container.py
  tests/test_flow.py
  tests/test_gateway.py
  tests/test_hub.py
  tests/test_quant.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/client, component/driver, size/M

#645 feat(executors): Applies safe access to `_device` and checks if executor should work `on_gpu` in `_posti_init_wrapper_`
  jina/executors/__init__.py
  jina/executors/frameworks.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/indexer, executor/meta, size/S

#647 feat(driver): add queryset driver
  jina/drivers/querylang/__init__.py
  jina/drivers/querylang/queryset/__init__.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/helper.py
  jina/drivers/querylang/queryset/lookup.py
  tests/test_queryset.py
Labels: area/core, area/testing, component/driver, size/L

#661 refactor(ngt): make ngt inherit from basenumpyindexer
  jina/executors/indexers/vector/ngt.py
Labels: area/core, component/executor, executor/indexer, size/S

#670 refactor(drivers): remove publishdriver
  jina/drivers/control.py
Labels: area/core, component/driver, size/S

#671 tests(flow): test socket configuration of pods and peas in flow
  tests/unit/test_flow.py
Labels: area/testing, component/flow, size/M

#677 fix(milvus): move import milvusdbhandler which imports milvus
  jina/executors/indexers/vector/milvus.py
Labels: area/core, component/executor, executor/indexer, size/XS

#667 refactor(flow): refactor Flow build
  jina/flow/__init__.py
  jina/peapods/__init__.py
  jina/peapods/head_pea.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/peapods/tail_pea.py
  jina/peapods/zmq.py
Labels: area/core, area/network, component/executor, component/flow, component/peapod, discussion required, executor/meta, size/M

#678 tests(flow): add flows from examples to test
  tests/unit/flow/__init__.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_except.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faces/yaml/craft-flip.yml
  tests/unit/yaml/examples/faces/yaml/craft-load.yml
  tests/unit/yaml/examples/faces/yaml/craft-normalize.yml
  tests/unit/yaml/examples/faces/yaml/customized_executors.py
  tests/unit/yaml/examples/faces/yaml/encode.yml
  tests/unit/yaml/examples/faces/yaml/index-chunk.yml
  tests/unit/yaml/examples/faces/yaml/index-doc.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/examples/faiss/yaml/craft.yml
  tests/unit/yaml/examples/faiss/yaml/encode.yml
  tests/unit/yaml/examples/faiss/yaml/index-chunk.yml
  tests/unit/yaml/examples/faiss/yaml/index-doc.yml
Labels: area/testing, size/L

#679 refactor(milvus): check connectivity status before connecting
  jina/executors/indexers/vector/milvusdb/milvusdbhandler.py
Labels: area/core, component/executor, executor/indexer, size/XS

#682 feat(codecov): change codecov config
  codecov.yml
Labels: size/XS

#685 fix(flow): fix access to pod edges, consider IGNORE_GATEWAY optimization should not try to optimize gateway connections
  jina/flow/__init__.py
  tests/unit/test_index.py
Labels: area/core, area/testing, component/entrypoint, component/flow, size/S

#687 🎉 release v0.4.0
  jina/__init__.py
Labels: area/core, area/helper, size/XS

#684 Unify "yaml_path" and "image" into one "uses"
  README.de.md
  README.fr.md
  README.ja.md
  README.md
  README.ru.md
  README.zh.md
  docs/chapters/dashboard/index.md
  docs/chapters/extend/executor.rst
  docs/chapters/extend/mwu.rst
  docs/chapters/flow/index.md
  docs/chapters/helloworld/index.rst
  docs/chapters/hub/build-pod-image.md
  docs/chapters/hub/use-your-pod.md
  docs/chapters/jep/jep-1/index.rst
  docs/chapters/jep/jep-2/index.rst
  docs/chapters/jep/jep-3/index.rst
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/restapi/index.rst
  docs/chapters/simple_exec.md
  docs/chapters/yaml/yaml.rst
  jina/enums.py
  jina/executors/__init__.py
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  jina/helper.py
  jina/main/api.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/__init__.py
  jina/peapods/container.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/resources/helloworld.flow.index.yml
  jina/resources/helloworld.flow.query.yml
  jina/resources/hub-builder-success/index.html
  tests/unit/executors/crafters/nlp/test_split.py
  tests/unit/executors/crafters/test_mime.py
  tests/unit/executors/crafters/test_segmenter.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/hub-mwu/Dockerfile
  tests/unit/mwu-encoder/Dockerfile
  tests/unit/test_client.py
  tests/unit/test_container.py
  tests/unit/test_driver_prune.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_echostream.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_loadbalance.py
  tests/unit/test_quant.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/slow-flow.yml
  tests/unit/yaml/test-flow.yml
  tests/unit/yaml/test-if-flow.yml
Labels: area/core, area/docs, area/helloworld, area/helper, area/network, area/testing, component/entrypoint, component/executor, component/flow, component/peapod, component/resource, executor/meta, size/L

#696 fix(driver): fix slicing del logic
  jina/drivers/querylang/slice.py
Labels: area/core, component/driver, size/XS

#698 fix(peas): fix pea names with replicas
  jina/peapods/pea.py
  tests/unit/peapods/__init__.py
  tests/unit/peapods/test_peapods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#695 fix(api): api should use yaml path
  docs/chapters/dashboard/index.md
  docs/chapters/flow/index.md
  docs/chapters/restapi/index.rst
  jina/main/api.py
  jina/main/parser.py
  jina/resources/helloworld.flow.index.yml
  jina/resources/helloworld.flow.query.yml
  tests/unit/flow/test_flow_index.py
Labels: area/core, area/docs, area/testing, component/entrypoint, component/resource, size/S

#700 refactor(cli): rename replicas to parallel
  jina/enums.py
  jina/executors/metas.py
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/pod.py
  jina/resources/helloworld.flow.index.yml
  jina/resources/helloworld.flow.query.yml
  tests/integration/test_helloworld.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_index.py
  tests/unit/peapods/test_peapods.py
  tests/unit/test_container.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_loadbalance.py
  tests/unit/test_quant.py
  tests/unit/test_remote2.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/slow-flow.yml
  tests/unit/yaml/test-flow.yml
Labels: area/core, area/helloworld, area/helper, area/network, area/testing, component/entrypoint, component/executor, component/flow, component/peapod, component/resource, executor/meta, size/M

#710 tests(querylang): add lookup and filterql tests
  tests/unit/drivers/querylang/queryset/test_lookup.py
  tests/unit/drivers/querylang/test_filterql_driver.py
Labels: area/testing, size/M

#709 refactor(proto!): matches in recursive Document structure
  jina/__init__.py
  jina/drivers/__init__.py
  jina/drivers/querylang/__init__.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/helloworld/helper.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/resources/executors._merge_all.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/helloworld.flow.query.yml
  jina/resources/helloworld.reduce.yml
  tests/unit/drivers/__init__.py
  tests/unit/drivers/test_querylang_drivers.py
  tests/unit/flow/test_flow_index.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_quant.py
Labels: area/core, area/helloworld, area/helper, area/network, area/testing, component/driver, component/proto, component/resource, size/L

#713 feat(ci): add tests and coverage when push on master
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/M

#714 feat(drivers): filterQL cannot handle doc in place
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/resources/executors.requests.CompoundIndexer.yml
  tests/unit/drivers/querylang/__init__.py
  tests/unit/drivers/querylang/test_filterql_driver.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/test_quant.py
Labels: area/core, area/testing, component/driver, component/resource, size/M

#719 feat(proto): change tags from map to struct
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/test_protobuf.py
Labels: area/core, area/helper, area/network, area/testing, component/proto, size/M

#726 fix(driver): fix recursive for matches and chunks
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/index.py
  jina/drivers/search.py
Labels: area/core, component/driver, size/S

#729 feat(rankers): add tests for Chunk2DocRankerDriver + fix bug in the column indexes
  jina/drivers/__init__.py
  jina/drivers/rank.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/executors/rankers/test_bi_match.py
  tests/unit/executors/rankers/test_bm25.py
  tests/unit/executors/rankers/test_max.py
  tests/unit/executors/rankers/test_tfidf.py
Labels: area/core, area/testing, component/driver, size/M

#730 test(flow): add test for double merging pathways
  jina/flow/__init__.py
  jina/helper.py
  jina/resources/executors._merge_all.yml
  tests/unit/flow/test_flow_merge.py
Labels: area/core, area/helper, area/testing, component/flow, component/resource, size/S

#733 test(drivers): add search driver tests
  jina/drivers/search.py
  jina/executors/indexers/keyvalue/leveldb.py
  jina/executors/indexers/keyvalue/proto.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_vector_search_driver.py
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, size/M

#734 test(drivers): add encode driver test
  jina/drivers/encode.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/search.py
  tests/unit/drivers/test_encoder_driver.py
Labels: area/core, area/testing, component/driver, size/M

#712 feat(mode_id): add mode-id in proto + add query Lang driver to filter documents by mode_id if explicitly added as argument
  jina/__init__.py
  jina/drivers/__init__.py
  jina/drivers/reduce.py
  jina/executors/__init__.py
  jina/helper.py
  jina/main/parser.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/drivers/querylang/queryset/test_lookup.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/yaml/mockencoder-mode1.yml
  tests/unit/drivers/yaml/mockencoder-mode2.yml
  tests/unit/executors/indexers/keyvalue/test_leveldb.py
  tests/unit/executors/indexers/keyvalue/yaml/test-leveldb.yml
  tests/unit/executors/indexers/vector/test_annoy.py
  tests/unit/executors/indexers/vector/yaml/annoy-wrap.yml
  tests/unit/executors/indexers/vector/yaml/nmslib-wrap.yml
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/yaml/npvec.yml
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/yaml/mockencoder-mode1.yml
  tests/unit/flow/yaml/mockencoder-mode2.yml
  tests/unit/flow/yaml/numpy-indexer-1.yml
  tests/unit/flow/yaml/numpy-indexer-2.yml
  tests/unit/peapods/test_pea.py
  tests/unit/peapods/test_pods.py
  tests/unit/proto/__init__.py
  tests/unit/proto/test_protobuf.py
  tests/unit/test_driver_prune.py
  tests/unit/yaml/test-prune-driver.yml
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/entrypoint, component/executor, component/peapod, component/proto, executor/indexer, executor/meta, size/L

#737 test(drivers): add test for craft driver
  jina/drivers/craft.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_vector_search_driver.py
Labels: area/core, area/testing, component/driver, size/S

#738 test(drivers): add test for segment driver
  jina/clients/python/request.py
  jina/counter.py
  jina/drivers/craft.py
  jina/executors/frameworks.py
  jina/proto/jina.proto
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/test_client.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/proto, executor/meta, size/M

#742 refactor(indexer): changes detected by using mypy static type checker
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector/milvus.py
  jina/executors/indexers/vector/ngt.py
Labels: area/core, component/executor, executor/indexer, size/S

#740 docs(readme): update hello-world example to match new api
  README.md
  docs/chapters/helloworld/hello-world-flow.png
  jina/helloworld/__init__.py
  jina/resources/helloworld.encoder.yml
Labels: area/core, area/docs, area/helloworld, component/resource, size/S

#748 feat(driver): add concat embedding driver
  README.md
  jina/drivers/reduce.py
  jina/flow/__init__.py
  jina/main/parser.py
  jina/peapods/pod.py
  jina/resources/executors._concat.yml
  jina/resources/executors._pass.yml
  jina/resources/helloworld.reduce.yml
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/crafters/test_mime.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/test_client.py
  tests/unit/test_container.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_echostream.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
  tests/unit/test_quant.py
Labels: area/core, area/network, area/testing, component/driver, component/entrypoint, component/flow, component/peapod, component/resource, size/M
