Repository jina-ai/serve, pull requests merged in 2020-05, with the labels that each got.

#355 fix(docs): update cmd in README
  docs/README.md
Labels: area/docs, size/XS

#360 test: add unit test for quantization
  jina/helloworld/__init__.py
  jina/resources/helloworld.encoder.yml
  tests/test_quant.py
Labels: area/core, area/helloworld, area/testing, component/resource, size/M

#362 refactor: rename flow io args
  .github/workflows/ci.yml
  Dockerfiles/pip.Dockerfile
  README.de.md
  README.fr.md
  README.ja.md
  README.md
  README.ru.md
  README.zh.md
  docs/chapters/flow/README.md
  docs/chapters/helloworld/main.rst
  docs/chapters/io/main.md
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/troubleshooting.md
  jina/clients/python/__init__.py
  jina/flow/__init__.py
  jina/helloworld/__init__.py
  jina/helper.py
  setup.py
  tests/executors/crafters/test_segmenter.py
  tests/test_container.py
  tests/test_flow.py
  tests/test_index.py
  tests/test_index_remote.py
  tests/test_loadbalance.py
  tests/test_quant.py
Labels: area/cicd, area/core, area/docker, area/docs, area/helloworld, area/helper, area/housekeeping, area/testing, component/client, component/flow, size/L

#367 feat(peapod): add compression as an option
  extra-requirements.txt
  jina/helloworld/__init__.py
  jina/main/parser.py
  jina/peapods/zmq.py
  jina/resources/helloworld.flow.index.yml
  tests/executors/crafters/image/test_crop.py
  tests/executors/crafters/nlp/split.py
  tests/executors/encoders/image/test_onnx.py
  tests/executors/encoders/nlp/__init__.py
  tests/executors/encoders/numeric/__init__.py
  tests/executors/encoders/numeric/test_pca.py
  tests/executors/indexers/keyvalue/test_leveldb.py
  tests/executors/indexers/vector/test_annoy.py
  tests/executors/rankers/__init__.py
  tests/test_container.py
  tests/test_flow.py
  tests/test_index.py
  tests/test_index_remote.py
  tests/test_loadbalance.py
  tests/test_quant.py
Labels: area/core, area/helloworld, area/network, area/setup, area/testing, component/entrypoint, component/peapod, component/resource, size/L

#372 fix(hello-world): fix compression dep in hw demo
  README.de.md
  README.fr.md
  README.ja.md
  README.md
  README.ru.md
  README.zh.md
  docs/chapters/helloworld/main.rst
  jina/main/parser.py
  jina/peapods/zmq.py
  jina/resources/helloworld.flow.query.yml
Labels: area/core, area/docs, area/network, component/entrypoint, component/peapod, component/resource, size/S

#377 feat(peapod): add logs grouping by pod name
  docs/chapters/envs.rst
  jina/drivers/control.py
  jina/enums.py
  jina/helloworld/__init__.py
  jina/logging/base.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/pea.py
  jina/peapods/pod.py
Labels: area/core, area/docs, area/helloworld, area/helper, area/network, component/driver, component/entrypoint, component/logging, component/peapod, size/M

#381 fix(logging): fix success level message
  jina/logging/base.py
  tests/test_logging.py
Labels: area/core, area/testing, component/logging, size/S

#376 fix(executors): fix gpu supports
  docs/chapters/envs.rst
  extra-requirements.txt
  jina/__init__.py
  jina/executors/__init__.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/image/onnx.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/image/tfkeras.py
  jina/executors/encoders/image/torchvision.py
  jina/executors/encoders/nlp/flair.py
  jina/executors/encoders/nlp/paddlehub.py
  jina/executors/encoders/nlp/transformer.py
  jina/executors/encoders/paddlehub.py
  jina/executors/encoders/torchvision.py
  jina/executors/encoders/video/paddlehub.py
  jina/executors/encoders/video/torchvision.py
  jina/helper.py
  tests/executors/__init__.py
  tests/executors/encoders/image/__init__.py
  tests/executors/encoders/image/test_onnx.py
  tests/executors/encoders/image/test_paddlehub.py
  tests/executors/encoders/image/test_tfkeras.py
  tests/executors/encoders/image/test_torchvision.py
  tests/executors/encoders/nlp/__init__.py
  tests/executors/encoders/nlp/test_flair.py
  tests/executors/encoders/nlp/test_transformer.py
  tests/executors/encoders/video/__init__.py
  tests/executors/encoders/video/test_paddlehub.py
  tests/executors/encoders/video/test_torchvision.py
Labels: area/core, area/docs, area/helper, area/setup, area/testing, component/executor, executor/encoder, executor/meta, size/XL

#379 fix(shards): fix shard writing logic when closing
  jina/drivers/search.py
  jina/excepts.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue/proto.py
  jina/peapods/pea.py
  tests/test_cli.py
  tests/test_flow.py
  tests/test_index.py
  tests/yaml/test-docpb.yml
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/executor, component/peapod, executor/indexer, size/L

#383 feat(encoder): add farm nlp encoder
  jina/executors/__init__.py
  jina/executors/encoders/nlp/farm.py
  tests/executors/encoders/nlp/test_farm.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/meta, size/M

#384 refactor: on_gpu and to_device in baseclass
  jina/executors/__init__.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/frameworks.py
  jina/executors/encoders/image/onnx.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/image/tfkeras.py
  jina/executors/encoders/image/torchvision.py
  jina/executors/encoders/nlp/farm.py
  jina/executors/encoders/nlp/flair.py
  jina/executors/encoders/nlp/paddlehub.py
  jina/executors/encoders/nlp/transformer.py
  jina/executors/encoders/video/paddlehub.py
  jina/executors/encoders/video/torchvision.py
  jina/executors/frameworks.py
Labels: area/core, component/executor, executor/encoder, executor/meta, size/XL

#388 Docs executors code blocks 387
  jina/executors/encoders/nlp/transformer.py
  jina/executors/frameworks.py
Labels: area/core, component/executor, executor/encoder, executor/meta, size/S

#390 feat: improve python api for client
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/flow/__init__.py
  jina/main/parser.py
  tests/test_flow.py
Labels: area/core, area/testing, component/client, component/entrypoint, component/flow, size/L

#393 refactor(transformer): fix the potential troublemakers
  jina/executors/encoders/nlp/transformer.py
  jina/executors/frameworks.py
Labels: area/core, component/executor, executor/encoder, executor/meta, size/L

#394 fix: default args cause ping error
  .github/workflows/ci.yml
  jina/main/__init__.py
  jina/main/autocomplete.py
  jina/main/export.py
  jina/main/parser.py
  tests/test_flow.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/entrypoint, size/L

#398 feat(proto): add unary grpc endpoint
  jina/__init__.py
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/executors/__init__.py
  jina/executors/crafters/nlp/split.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/numeric/pca.py
  jina/executors/encoders/video/paddlehub.py
  jina/executors/encoders/video/torchvision.py
  jina/executors/indexers/keyvalue/leveldb.py
  jina/executors/indexers/vector/numpy.py
  jina/executors/rankers/bi_match.py
  jina/executors/rankers/tfidf.py
  jina/peapods/gateway.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_cli.py
  tests/test_client.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/executor, component/peapod, component/proto, executor/crafter, executor/encoder, executor/indexer, executor/meta, executor/ranker, size/L

#400 fix(executors): fix the mro bug 397
  jina/executors/encoders/frameworks.py
  jina/executors/encoders/image/onnx.py
  jina/executors/encoders/image/paddlehub.py
  jina/executors/encoders/image/tfkeras.py
  jina/executors/encoders/image/torchvision.py
  jina/executors/encoders/nlp/farm.py
  jina/executors/encoders/nlp/flair.py
  jina/executors/encoders/nlp/paddlehub.py
  jina/executors/encoders/nlp/transformer.py
  jina/executors/encoders/video/paddlehub.py
  jina/executors/encoders/video/torchvision.py
  jina/executors/frameworks.py
  tests/executors/encoders/image/__init__.py
  tests/executors/encoders/image/test_onnx.py
  tests/executors/encoders/image/test_paddlehub.py
  tests/executors/encoders/image/test_tfkeras.py
  tests/executors/encoders/image/test_torchvision.py
  tests/executors/encoders/nlp/__init__.py
  tests/executors/encoders/nlp/test_farm.py
  tests/executors/encoders/nlp/test_flair.py
  tests/executors/encoders/nlp/test_paddlehub.py
  tests/executors/encoders/nlp/test_transformer.py
  tests/executors/encoders/numeric/__init__.py
  tests/executors/encoders/numeric/test_pca.py
  tests/executors/encoders/video/__init__.py
  tests/executors/encoders/video/test_paddlehub.py
  tests/executors/encoders/video/test_torchvision.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/meta, size/L

#406 fix(transformer): fix cls embedding
  jina/executors/encoders/nlp/transformer.py
Labels: area/core, component/executor, executor/encoder, size/XS

#407 test: fix dir path add dep to contrib md
  .github/workflows/cd.yml
  CONTRIBUTING.md
  docs/chapters/all_driver.md
  docs/chapters/all_exec.md
  jina/main/parser.py
  tests/__init__.py
Labels: area/cicd, area/core, area/docs, area/housekeeping, area/testing, component/entrypoint, size/L

#409 doc(sentencizers): fix the docs
  jina/executors/crafters/nlp/split.py
Labels: area/core, component/executor, executor/crafter, size/S

#412 fix(encoders): fix the broken transformers
  jina/executors/encoders/nlp/transformer.py
Labels: area/core, component/executor, executor/encoder, size/XS

#413 fix(drivers): fix the bug in handling empty chunks
  jina/drivers/helper.py
Labels: area/core, component/driver, size/XS

#418 fix(flow): fix the port_grpc bug
  jina/executors/__init__.py
  jina/flow/__init__.py
Labels: area/core, component/executor, component/flow, executor/meta, size/XS

#422 fix(zmqlet): fix slow joiner when request is small
  docs/chapters/flow/README.md
  jina/flow/__init__.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  tests/test_flow.py
Labels: area/core, area/docs, area/network, area/testing, component/flow, component/peapod, size/S

#426 feat: add rest api gateway
  extra-requirements.txt
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/peapods/pod.py
  tests/test_client.py
Labels: area/core, area/network, area/setup, area/testing, component/entrypoint, component/peapod, size/M

#429 docs: add rest api spec
  docs/chapters/restapi/main.rst
  docs/index.rst
  extra-requirements.txt
  jina/peapods/zmq.py
  tests/test_client.py
Labels: area/core, area/docs, area/network, area/setup, area/testing, component/peapod, size/M

#425 On-release action
  .github/workflows/core-release.yml
Labels: area/cicd, area/housekeeping, size/M

#433 feat(executors): add tfserving executors 414
  jina/executors/clients.py
  jina/executors/encoders/clients.py
  tests/executors/encoders/clients.py
  tests/executors/encoders/nlp/test_char.py
Labels: area/core, area/testing, component/executor, executor/encoder, executor/meta, size/M

#437 feat(proto): add data uri as content of doc
  docs/chapters/flow/README.md
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/enums.py
  jina/executors/crafters/mime.py
  jina/executors/crafters/numeric/io.py
  jina/executors/encoders/image/customtorchvision.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/peapods/zmq.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/executors/crafters/test_mime.py
  tests/executors/crafters/test_segmenter.py
  tests/test_client.py
  tests/test_container.py
  tests/test_flow.py
  tests/test_index.py
  tests/test_index_remote.py
  tests/test_loadbalance.py
  tests/test_quant.py
Labels: area/core, area/docs, area/helper, area/network, area/testing, component/client, component/entrypoint, component/executor, component/peapod, component/proto, executor/crafter, executor/encoder, size/M

#438 feat(crafter): add data uri to bytes convert
  jina/executors/crafters/mime.py
  tests/executors/crafters/test_mime.py
Labels: area/core, area/testing, component/executor, executor/crafter, size/S

#440 feat(flow): add block function pause process
  docs/chapters/flow/README.md
  docs/chapters/restapi/main.rst
  jina/flow/__init__.py
  jina/main/api.py
  jina/peapods/gateway.py
Labels: area/core, area/docs, area/network, component/entrypoint, component/flow, component/peapod, size/S

#443 ci: fix dependencies
  .github/workflows/core-release.yml
Labels: area/cicd, area/housekeeping, size/XS

#444 refactor(client): change str mode to enum
  docs/chapters/install/via-pip.md
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/logging/sse.py
  jina/main/parser.py
  jina/peapods/gateway.py
  tests/test_client.py
Labels: area/core, area/docs, area/network, area/testing, component/client, component/entrypoint, component/logging, component/peapod, size/S

#445 fix(gateway): fix cors issue in the rest gateway
  jina/clients/python/request.py
  jina/executors/__init__.py
  jina/executors/crafters/image/io.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
Labels: area/core, area/network, component/client, component/executor, component/peapod, executor/crafter, executor/meta, size/S

#448 feat(encoders): fix the bigtransfer encoders doc
  jina/executors/encoders/image/bigtransfer.py
Labels: area/core, component/executor, executor/encoder, size/S

#455 refactor(crafter): move mime type detect to driver
  Dockerfiles/debianx.Dockerfile
  docs/chapters/io/main.md
  docs/chapters/troubleshooting.md
  extra-requirements.txt
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/craft.py
  jina/drivers/helper.py
  jina/drivers/prune.py
  jina/enums.py
  jina/executors/crafters/convert.py
  jina/executors/crafters/image/io.py
  jina/executors/crafters/mime.py
  jina/executors/crafters/nlp/split.py
  jina/executors/crafters/numeric/io.py
  jina/executors/indexers/__init__.py
  jina/flow/__init__.py
  jina/helloworld/components.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/peapods/pod.py
  jina/peapods/zmq.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/resources/executors.requests.BaseDocCrafter.yml
  jina/resources/executors.requests.BaseVectorIndexer.yml
  jina/resources/executors.requests.ChunkIndexer.yml
  jina/resources/executors.requests.DocPbIndexer.yml
  jina/resources/helloworld.crafter.yml
  tests/executors/crafters/nlp/split.py
  tests/executors/crafters/numeric/test_io.py
  tests/executors/crafters/test_mime.py
  tests/executors/crafters/test_segmenter.py
  tests/executors/indexers/keyvalue/test_leveldb.py
  tests/test_client.py
Labels: area/core, area/docker, area/docs, area/helloworld, area/helper, area/network, area/setup, component/client, component/driver, component/entrypoint, component/executor, component/flow, component/peapod, component/proto, component/resource, executor/crafter, executor/indexer, size/L

#456 feat(crafter): add Any2Buffer convert
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/craft.py
  jina/executors/crafters/convert.py
  jina/logging/sse.py
  jina/main/parser.py
  jina/peapods/gateway.py
  tests/executors/crafters/test_mime.py
  tests/executors/crafters/test_segmenter.py
  tests/test_client.py
  tests/test_container.py
  tests/test_flow.py
  tests/test_index.py
  tests/test_index_remote.py
  tests/test_loadbalance.py
  tests/test_quant.py
Labels: area/core, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/logging, component/peapod, executor/crafter, size/M

#461 refactor(helloworld): use data uri instead of metainfo
  docs/chapters/flow/README.md
  jina/executors/crafters/convert.py
  jina/helloworld/__init__.py
  jina/helloworld/components.py
  jina/helloworld/helper.py
  jina/resources/helloworld.crafter.yml
Labels: area/core, area/docs, area/helloworld, component/executor, component/resource, executor/crafter, size/M

#467 docs: add JEP-3 for the multifield search
  docs/chapters/jep/jep-3/JEP3-index-design.png
  docs/chapters/jep/jep-3/main.rst
  docs/chapters/jep/jep-3/query.yml
  docs/chapters/jep/main.rst
Labels: area/docs, size/M
