Repository jina-ai/serve, pull requests merged in 2020-09, with the labels that each got.

#888 fix(README): wording, expand cookiecutter
  README.md
Labels: size/S

#851 feat(client): add level depth param to _generate
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/rank.py
  jina/drivers/search.py
  jina/helper.py
  tests/integration/level_depth/__init__.py
  tests/integration/level_depth/flow-index.yml
  tests/integration/level_depth/flow-query.yml
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/level_depth/yaml/encoder.yml
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
  tests/integration/level_depth/yaml/rank.yml
  tests/integration/level_depth/yaml/segmenter.yml
  tests/integration/test_helloworld.py
  tests/unit/clients/__init__.py
  tests/unit/clients/python/__init__.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_slice_ql.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_collect_matches_rank_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/yaml/mockencoder-mode1.yml
  tests/unit/drivers/yaml/mockencoder-mode2.yml
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/test_quant.py
  tests/unit/test_request.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faces/yaml/craft-flip.yml
  tests/unit/yaml/examples/faces/yaml/craft-load.yml
  tests/unit/yaml/examples/faces/yaml/craft-normalize.yml
  tests/unit/yaml/examples/faces/yaml/customized_executors.py
  tests/unit/yaml/examples/faces/yaml/encode.yml
  tests/unit/yaml/examples/faces/yaml/index-chunk.yml
  tests/unit/yaml/examples/faces/yaml/index-doc.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/examples/faiss/yaml/craft.yml
  tests/unit/yaml/examples/faiss/yaml/encode.yml
  tests/unit/yaml/examples/faiss/yaml/index-chunk.yml
  tests/unit/yaml/examples/faiss/yaml/index-doc.yml
  tests/unit/yaml/slow-flow.yml
  tests/unit/yaml/slow-worker.py
Labels: area/core, area/helper, area/testing, component/client, component/driver, component/executor, executor/ranker, size/XL

#892 Fix readme 2020 09b
  README.md
Labels: size/S

#894 Fix readme 2020 09c
  README.md
Labels: size/S

#900 fix: changed index type in reduce code
  jina/executors/encoders/helper.py
Labels: area/core, component/executor, executor/encoder, size/XS

#898 feat: added unit test cases to reduce code
  tests/unit/executors/encoders/numeric/test_reduce.py
Labels: area/testing, size/S

#903 fix(hubio): add build_success check before test_uses
  CONTRIBUTING.md
  jina/docker/hubio.py
Labels: area/core, component/docker, size/S

#904 Docs english fixes
  docs/chapters/cli/exit.rst
  docs/chapters/envs.rst
  docs/chapters/faq/dev.rst
  docs/chapters/helloworld/index.rst
  docs/chapters/install/autocomplete.md
  docs/chapters/install/upgrade.md
  docs/chapters/install/via-docker.md
  docs/chapters/install/via-pip.md
  docs/index.rst
Labels: area/docs, size/M

#901 refactor: have flow and pods inherit from exit stack
  .github/workflows/ci.yml
  jina/flow/__init__.py
  jina/peapods/pod.py
  tests/unit/peapods/test_pea.py
  tests/unit/peapods/test_pods.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/network, area/testing, component/flow, component/peapod, size/M

#906 ci: move test dep to extra-requirements.txt
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  extra-requirements.txt
Labels: area/cicd, area/housekeeping, area/setup, size/S

#907 fix(peapod): fix eventloop and shutdown logic
  jina/flow/__init__.py
  jina/peapods/gateway.py
  jina/peapods/grpc_asyncio.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/network, area/testing, component/flow, component/peapod, size/S

#909 feat(driver): add VectorFillDriver
  jina/drivers/helper.py
  jina/drivers/search.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/test_adjacency.py
  tests/unit/test_extract_docs.py
  tests/unit/yaml/test-adjacency.yml
Labels: area/core, area/testing, component/driver, size/M

#912 docs: correct syntax issue in helloworld
  docs/chapters/helloworld/index.rst
Labels: area/docs, size/XS

#913 feat(driver): add fill_embedding in search driver
  jina/drivers/search.py
  jina/executors/__init__.py
  jina/executors/indexers/__init__.py
  jina/flow/__init__.py
  jina/helper.py
  jina/peapods/__init__.py
  jina/peapods/container.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/level_depth/flow-index.yml
  tests/integration/level_depth/flow-query.yml
  tests/integration/level_depth/test_search_different_depths.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_load_yaml.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/executor, component/flow, component/peapod, executor/indexer, executor/meta, size/M

#920 feat(cli): add daemon as argument of pea
  jina/__init__.py
  jina/docker/hubio.py
  jina/main/parser.py
  jina/peapods/pea.py
  tests/unit/test_container.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/docker, component/entrypoint, component/peapod, size/S

#918 test: add tests with executor that sleeps on save
  tests/integration/issues/867/test_close_executor.py
Labels: area/testing, size/S

#921 tests: improve issue 867 testing
  extra-requirements.txt
  jina/peapods/pea.py
  tests/integration/issues/867/test_close_executor.py
Labels: area/core, area/network, area/setup, area/testing, component/peapod, size/S

#922 fix(api): change uses to yaml_path
  jina/main/api.py
Labels: area/core, component/entrypoint, size/XS

#925 Refactor yaml path uses
  jina/docker/hubio.py
  jina/main/api.py
  jina/main/autocomplete.py
  jina/main/parser.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/yaml/test-flow-port.yml
Labels: area/core, area/testing, component/docker, component/entrypoint, size/S

#917 feat: cli for creating Jina app using cookiecutter
  CONTRIBUTING.md
  jina/docker/hubio.py
  jina/main/parser.py
  tests/unit/test_hub.py
Labels: area/core, area/testing, component/docker, component/entrypoint, size/S

#926 fix(cli): fix overriding of flow args
  tests/unit/flow/test_flow.py
Labels: area/testing, size/S

#927 refactor(pod): add uses-before and after
  docs/chapters/simple_exec.md
  jina/drivers/__init__.py
  jina/main/api.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/pod.py
  jina/resources/helloworld.flow.query.yml
  tests/unit/flow/test_flow_index.py
  tests/unit/yaml/examples/faces/flow-query.yml
Labels: area/core, area/docs, area/network, area/testing, component/driver, component/entrypoint, component/peapod, component/resource, size/S

#919 feat: added Matches2DocRankDriver
  jina/drivers/rank.py
  jina/executors/rankers/__init__.py
  tests/unit/drivers/test_matches2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, component/executor, discussion required, executor/ranker, size/M

#930 test: add good testing for executors decorator
  jina/executors/decorators.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/test_decorators.py
  tests/unit/executors/yaml/npvec.yml
Labels: area/core, area/testing, component/executor, executor/meta, size/M

#934 docs: remove local floating navbar
  docs/template/layout.html
Labels: area/docs, size/S

#932 feat(indexer): add shelfpbindexer for data persistance
  jina/executors/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  tests/integration/executors/indexers/vector/server_config.yaml
  tests/integration/executors/indexers/vector/test_milvusindexer.py
  tests/integration/issues/__init__.py
  tests/integration/issues/github_867/__init__.py
  tests/integration/issues/github_867/test_close_executor.py
  tests/integration/issues/github_929/__init__.py
  tests/integration/issues/github_929/binarypb.yml
  tests/integration/issues/github_929/shelfpb.yml
  tests/integration/issues/github_929/test_shelfindexer.py
  tests/unit/executors/indexers/shelfpb.yml
  tests/unit/executors/indexers/test_shelfindexer.py
  tests/unit/test_exectype.py
  tests/unit/test_index.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/executor, executor/indexer, executor/meta, size/L

#938 feat: add capacity to lookup and use querylang with tags in protobuf …
  jina/drivers/querylang/queryset/dunderkey.py
  tests/unit/drivers/querylang/queryset/test_lookup.py
  tests/unit/drivers/querylang/queryset/test_queryset.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
Labels: area/core, area/testing, component/driver, size/M

#940 fix: moving hub new template readme to cookiecutter
  CONTRIBUTING.md
Labels: size/S

#939 fix: keep text, blob and buffer after vectorsearch
  jina/resources/executors.requests.CompoundIndexer.yml
Labels: area/core, component/resource, size/XS

#937 Bookkeeping for jina hub push flows
  extra-requirements.txt
  jina/docker/checker.py
  jina/docker/database.py
  jina/docker/helper.py
  jina/docker/hubio.py
  jina/excepts.py
Labels: area/core, area/helper, area/setup, component/docker, size/M

#941 fix: set request top_k, needed to be read by jinabox
  jina/clients/python/request.py
  jina/drivers/search.py
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/test_index.py
Labels: area/core, area/testing, component/client, component/driver, size/S

#948 refactor(helper): improve mem usage function
  extra-requirements.txt
  jina/helper.py
  jina/logging/profile.py
  tests/unit/peapods/test_pea.py
  tests/unit/peapods/test_pods.py
Labels: area/core, area/helper, area/setup, area/testing, component/logging, size/M

#946 fix: add additonal params to build summary
  jina/docker/checker.py
  jina/docker/database.py
  jina/docker/hubio.py
  jina/main/parser.py
  jina/resources/hub-builder/manifest.yml
  tests/unit/hub-mwu-bad/bad-dockerfile/manifest.yml
  tests/unit/hub-mwu-bad/bad-pythonfile/manifest.yml
  tests/unit/hub-mwu-bad/fail-to-start/manifest.yml
  tests/unit/hub-mwu-bad/missing-dockerfile/manifest.yml
  tests/unit/hub-mwu/manifest.yml
  tests/unit/test_hub.py
Labels: area/core, area/testing, component/docker, component/entrypoint, component/resource, size/M

#945 fix(io-functions): wording
  docs/chapters/io/index.md
Labels: area/docs, size/S

#933 fix: traversing adjacency graph for multiple query chunks
  jina/clients/python/io.py
  jina/drivers/__init__.py
  jina/helloworld/components.py
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/helloworld.indexer.yml
  jina/resources/helloworld.reduce.yml
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/test_recursive_traversal.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/yaml/numpy-indexer-1.yml
  tests/unit/flow/yaml/numpy-indexer-2.yml
Labels: area/core, area/helloworld, area/testing, component/client, component/driver, component/resource, size/M

#950 feat(indexer): add memmap numpy indexer
  extra-requirements.txt
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/executors/indexers/vector.py
  jina/executors/metas.py
  jina/helloworld/__init__.py
  jina/helper.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/memmap/__init__.py
  tests/integration/memmap/test_mmap.py
  tests/unit/executors/encoders/numeric/test_transform_encoder.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/test_decorators.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/test_index.py
Labels: area/core, area/helloworld, area/helper, area/setup, area/testing, component/entrypoint, component/executor, executor/indexer, executor/meta, size/L

#935 fix: Fix deadlock when __sse_queue__ QueueHandler receives logs
  extra-requirements.txt
  jina/flow/__init__.py
  jina/logging/queue.py
  jina/logging/sse.py
  jina/peapods/container.py
  jina/peapods/head_pea.py
  jina/peapods/pea.py
  jina/peapods/tail_pea.py
  tests/integration/issues/github_867/test_close_executor.py
  tests/integration/issues/github_936/test_flow_with_sse_no_deadlock.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/test_flow_with_sse.py
Labels: area/core, area/docs, area/entrypoint, area/helloworld, area/helper, area/network, area/setup, area/testing, component/client, component/docker, component/driver, component/entrypoint, component/executor, component/flow, component/logging, component/peapod, component/resource, executor/indexer, executor/meta, size/XL

#956 refactor: change error message if interrupting pea loop
  jina/peapods/pea.py
Labels: area/core, area/network, component/peapod, size/XS

#958 fix: set start_sse_server daemon to True
  jina/flow/__init__.py
Labels: area/core, component/flow, size/XS

#961 fix(hubio): fix name conflict in test-uses of hubio
  docs/jinahub.png
  jina/docker/hubio.py
  make-doc.sh
  tests/unit/test_hub.py
Labels: area/core, area/docs, area/testing, component/docker, size/S

#962 feat: add type annotations to jina drivers
  jina/drivers/__init__.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/lookup.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
Labels: area/core, component/driver, component/executor, executor/meta, size/S

#963 feat: add type annotations in jina executors
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/decorators.py
Labels: area/core, component/driver, component/executor, executor/meta, size/S

#957 Add type annotations in jina/clients
  jina/clients/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/io.py
  jina/docker/database.py
  jina/docker/helper.py
  jina/docker/hubio.py
Labels: area/core, component/client, component/docker, size/S

#965 fix: issue with hyphen in random name and raise_error
  jina/docker/hubio.py
  jina/helper.py
Labels: area/core, area/helper, component/docker, size/XS

#967 fix(import): fix module import for different usages
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/__init__.py
  jina/helper.py
  jina/peapods/pea.py
  tests/integration/hub_usage/__init__.py
  tests/integration/hub_usage/dummyhub/Dockerfile
  tests/integration/hub_usage/dummyhub/README.md
  tests/integration/hub_usage/dummyhub/__init__.py
  tests/integration/hub_usage/dummyhub/config.yml
  tests/integration/hub_usage/dummyhub/helper.py
  tests/integration/hub_usage/dummyhub/manifest.yml
  tests/integration/hub_usage/dummyhub/requirements.txt
  tests/integration/hub_usage/dummyhub/tests/__init__.py
  tests/integration/hub_usage/dummyhub/tests/test_dummy.py
  tests/integration/hub_usage/dummyhub_abs/Dockerfile
  tests/integration/hub_usage/dummyhub_abs/README.md
  tests/integration/hub_usage/dummyhub_abs/__init__.py
  tests/integration/hub_usage/dummyhub_abs/config.yml
  tests/integration/hub_usage/dummyhub_abs/helper.py
  tests/integration/hub_usage/dummyhub_abs/manifest.yml
  tests/integration/hub_usage/dummyhub_abs/requirements.txt
  tests/integration/hub_usage/dummyhub_abs/tests/__init__.py
  tests/integration/hub_usage/dummyhub_abs/tests/test_dummy.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/test_container.py
  tests/unit/test_hub.py
Labels: area/cicd, area/core, area/entrypoint, area/helper, area/housekeeping, area/network, area/testing, component/peapod, size/M

#971 test(drivers): add tests for illustrating the issues
  tests/unit/drivers/test_recursive_traversal.py
Labels: area/testing, size/S

#972 fix(helper): fix multiple helper functions
  .github/workflows/force-release.yml
  .github/workflows/release.yml
  docs/jinahub.jpg
  docs/jinahub.png
  jina/clients/python/helper.py
  jina/docker/hubio.py
  jina/helper.py
  jina/logging/profile.py
  jina/peapods/zmq.py
  jina/resources/hub-builder-success/slack-jinahub.json
  make-doc.sh
  release.sh
  tests/integration/hub_usage/dummyhub/Dockerfile
  tests/integration/hub_usage/dummyhub_abs/Dockerfile
  tests/unit/test_driver_yaml.py
  tests/unit/test_helper.py
  tests/unit/test_hub.py
  tests/unit/test_load_yaml.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-expand.yml
Labels: area/cicd, area/core, area/docs, area/helper, area/housekeeping, area/network, area/testing, component/client, component/docker, component/logging, component/peapod, component/resource, size/M

#974 fix(helper): fix multiple helper functions
  jina/docker/hubio.py
  jina/logging/profile.py
  tests/unit/hub-mwu-bad/bad-dockerfile/Dockerfile
  tests/unit/hub-mwu-bad/bad-pythonfile/Dockerfile
  tests/unit/hub-mwu-bad/fail-to-start/Dockerfile
  tests/unit/hub-mwu-bad/missing-manifest/Dockerfile
  tests/unit/hub-mwu/Dockerfile
  tests/unit/test_hub.py
Labels: area/core, area/testing, component/docker, component/logging, size/S

#977 fix: remove credential
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/docker/helper.py
  jina/docker/hubio.py
  jina/main/parser.py
  jina/resources/hub-builder/login.yml
Labels: area/cicd, area/core, area/housekeeping, component/docker, component/entrypoint, component/resource, size/S

#978 docs: update tutorial collection
  README.md
Labels: size/S

#979 test: proposal for the new flow traversal
  tests/unit/drivers/test_recursive_traversal_tree.py
Labels: area/testing, size/M

#981 Feat add mime types
  jina/drivers/craft.py
  tests/unit/drivers/test_segmenter_driver.py
Labels: area/core, area/testing, component/driver, size/M

#982 feat: add ndarray to uri driver
  jina/drivers/convert.py
Labels: area/core, component/driver, size/S

#968 test: add test for multitype messages without optimization
  jina/peapods/zmq.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/unit/docker/__init__.py
  tests/unit/docker/hub-mwu-bad/__init__.py
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/Dockerfile
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/README.md
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/__init__.py
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/manifest.yml
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/mwu_encoder.yml
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/Dockerfile
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/README.md
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/__init__.py
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/manifest.yml
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/mwu_encoder.yml
  tests/unit/docker/hub-mwu-bad/fail-to-start/Dockerfile
  tests/unit/docker/hub-mwu-bad/fail-to-start/README.md
  tests/unit/docker/hub-mwu-bad/fail-to-start/__init__.py
  tests/unit/docker/hub-mwu-bad/fail-to-start/manifest.yml
  tests/unit/docker/hub-mwu-bad/fail-to-start/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/fail-to-start/mwu_encoder.yml
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/README.md
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/__init__.py
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/manifest.yml
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/mwu_encoder.yml
  tests/unit/docker/hub-mwu-bad/missing-manifest/Dockerfile
  tests/unit/docker/hub-mwu-bad/missing-manifest/README.md
  tests/unit/docker/hub-mwu-bad/missing-manifest/__init__.py
  tests/unit/docker/hub-mwu-bad/missing-manifest/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-manifest/mwu_encoder.yml
  tests/unit/docker/hub-mwu/Dockerfile
  tests/unit/docker/hub-mwu/README.md
  tests/unit/docker/hub-mwu/__init__.py
  tests/unit/docker/hub-mwu/manifest.yml
  tests/unit/docker/hub-mwu/mwu_encoder.py
  tests/unit/docker/hub-mwu/mwu_encoder.yml
  tests/unit/docker/test_docker.py
  tests/unit/docker/test_hub_build.py
  tests/unit/peapods/test_zmq.py
  tests/unit/test_quant.py
Labels: area/cicd, area/core, area/housekeeping, area/network, area/testing, component/peapod, size/M

#980 fix: fix set metas overriding default from client
  jina/executors/__init__.py
  tests/integration/issues/github_867/test_close_executor.py
  tests/integration/issues/github_867/yaml/slowexecutor.yml
  tests/unit/executors/test_set_metas.py
Labels: area/core, area/testing, component/executor, executor/meta, size/S

#985 fix: add database function find_many to mongodb
  jina/docker/database.py
Labels: area/core, component/docker, size/XS

#986 ci: add hacktoberfest.yml
  .github/workflows/hacktoberfest.yml
Labels: area/cicd, area/housekeeping, hacktoberfest, hacktoberfest2020, size/S

#988 refactor: remove array_in_pb trick for now
  jina/peapods/zmq.py
Labels: area/core, area/network, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#989 fix: #973
  jina/resources/hub-builder-success/index.html
Labels: area/core, component/resource, hacktoberfest, hacktoberfest2020, size/XS

#990 docs: migrate flow intro from example to docs
  docs/chapters/io/index.md
Labels: area/docs, hacktoberfest, hacktoberfest2020, size/M

#991 refactor: remove array_in_pb arg
  jina/__init__.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/peapods/zmq.py
  tests/integration/issues/github_969/test_messages_different_types.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/entrypoint, component/peapod, hacktoberfest, hacktoberfest2020, size/S

#983 feat: new tree traversal structure
  jina/drivers/__init__.py
  jina/drivers/craft.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/resources/executors._merge_all.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/helloworld.reduce.yml
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/drivers/test_reduce_all_driver.py
Labels: area/core, area/testing, component/driver, component/resource, size/M

#992 refactor: move cli interface out of jina module
  .dockerignore
  Dockerfiles/alpinex.Dockerfile
  Dockerfiles/debianx.Dockerfile
  Dockerfiles/pip.Dockerfile
  MANIFEST.in
  jina/__init__.py
  jina/checker.py
  jina/clients/__init__.py
  jina/flow/__init__.py
  jina/logging/sse.py
  jina/parser.py
  jina/peapods/__init__.py
  jina/peapods/container.py
  jina/peapods/gateway.py
  jina/peapods/pod.py
  jina/peapods/remote.py
  jina_cli/__init__.py
  jina_cli/api.py
  jina_cli/autocomplete.py
  jina_cli/export.py
  setup.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/integration/issues/github_936/test_flow_with_sse_no_deadlock.py
  tests/integration/test_helloworld.py
  tests/unit/clients/python/test_client.py
  tests/unit/docker/test_hub_build.py
  tests/unit/flow/test_flow.py
  tests/unit/peapods/test_pea.py
  tests/unit/peapods/test_pods.py
  tests/unit/test_container.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_echostream.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_remote.py
  tests/unit/test_remote2.py
  tests/unit/test_yamlparser.py
Labels: area/core, area/docker, area/entrypoint, area/helper, area/network, area/setup, area/testing, component/client, component/flow, component/logging, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#994 feat: added tree traversal for ranker
  jina/drivers/rank.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/level_depth/yaml/rank.yml
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_collect_matches_rank_driver.py
  tests/unit/drivers/test_matches2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#993 feat: tree traversal default for SliceQL
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/resources/executors.requests.BaseRanker.yml
  tests/unit/drivers/querylang/test_querylang_drivers.py
Labels: area/core, area/testing, component/driver, component/resource, hacktoberfest, hacktoberfest2020, size/S

#998 fix: fixed double argument setting of use_tree_traversal
  jina/resources/helloworld.reduce.yml
Labels: area/core, component/resource, hacktoberfest, hacktoberfest2020, size/XS

#1001 feat: switched to tree traversal for index driver
  jina/drivers/index.py
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/yaml/numpy-indexer-1.yml
  tests/unit/flow/yaml/numpy-indexer-2.yml
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S

#1003 feat: added tree traversal for search driver
  jina/drivers/__init__.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/helloworld.reduce.yml
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/unit/drivers/test_kv_search_driver.py
Labels: area/core, area/testing, component/driver, component/resource, hacktoberfest, hacktoberfest2020, size/S

#1006 Feat tree traversal crafter
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/reduce.py
  tests/unit/drivers/test_concat_driver.py
Labels: area/core, area/testing, component/driver, hacktoberfest, hacktoberfest2020, size/S
