Repository jina-ai/serve, pull requests merged in 2020-11, with the labels that each got.

#1194 feat(executor): add classifier as new family of executor
  jina/drivers/predict.py
  jina/executors/classifiers/__init__.py
  jina/proto/build-proto-with-python.sh
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/drivers/test_predict_driver.py
  tests/unit/drivers/test_predict_mock_driver.py
  tests/unit/flow/test_flow_eval_pod.py
Labels: area/core, area/network, area/testing, component/driver, component/executor, component/proto, hacktoberfest, hacktoberfest2020, size/L

#1192 test: refactor workspace test
  jina/executors/compound.py
  tests/unit/test_workspace.py
Labels: area/core, area/testing, component/executor, executor/meta, hacktoberfest, hacktoberfest2020, size/M

#1208 chore: update extra req for test
  extra-requirements.txt
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
Labels: area/setup, area/testing, size/S

#1191 docs: add korean translation of readme
  README.kr.md
Labels: hacktoberfest, hacktoberfest2020, size/M

#1206 docs(hub): fix picture
  docs/chapters/hub/img/5f4181e9.png
  docs/chapters/hub/publish-your-pod-image.md
Labels: area/docs, size/XS

#1204 docs(hub): minor spelling correction
  docs/chapters/hub/build-pod-image.md
Labels: area/docs, size/XS

#1205 docs: v parameter missing
  docs/chapters/hub/build-pod-image.md
  docs/chapters/jep/jep-2/index.rst
Labels: area/docs, size/XS

#1200 docs(io): correct duplicate word
  docs/chapters/io/index.md
Labels: area/docs, size/XS

#1201 docs(io): use new crafter base class
  docs/chapters/io/index.md
Labels: area/docs, size/S

#1207 fix(contributing): switch testing to pytest
  CONTRIBUTING.md
Labels: size/XS

#1209 docs: cleanup crafters docstring
  jina/executors/crafters/__init__.py
Labels: area/core, component/executor, executor/crafter, size/XS

#1211 docs: update all executors and drivers
  docs/chapters/all_driver.md
  docs/chapters/all_exec.md
Labels: area/docs, size/L

#1187 fix: rely on control request to set ready docker pea
  jina/peapods/container.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  tests/unit/peapods/test_container.py
Labels: area/core, area/network, area/testing, component/peapod, hacktoberfest, hacktoberfest2020, size/M

#1213 Chore move i18n readmes
  .github/i18n/README.de.md
  .github/i18n/README.fr.md
  .github/i18n/README.ja.md
  .github/i18n/README.kr.md
  .github/i18n/README.pt_br.md
  .github/i18n/README.ru.md
  .github/i18n/README.uk.md
  .github/i18n/README.zh.md
  README.md
Labels: area/housekeeping, size/S

#1214 fix: clean up root file structure
  .github/CLA.md
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/codecov.yml
  .github/workflows/cd.yml
  .github/workflows/cla.yml
  .github/workflows/force-release.yml
  .github/workflows/release.yml
  .github/workflows/tag.yml
  CONTRIBUTING.md
  MAINTAINERS
  scripts/make-doc.sh
  scripts/release.sh
Labels: area/cicd, area/housekeeping, size/S

#1210 feat(zmq): lazy access to request body
  cli/autocomplete.py
  jina/__init__.py
  jina/checker.py
  jina/clients/python/__init__.py
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/helper.py
  jina/drivers/querylang/select.py
  jina/drivers/reduce.py
  jina/enums.py
  jina/excepts.py
  jina/flow/__init__.py
  jina/flow/builder.py
  jina/parser.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/peapods/zmq.py
  jina/proto/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/message/__init__.py
  jina/proto/message/lazyrequest.py
  jina/proto/show_field_type.py
  jina/resources/executors._clear.yml
  tests/integration/eval_flow/__init__.py
  tests/integration/eval_flow/test_flow_eval_pod.py
  tests/integration/message/__init__.py
  tests/integration/message/test_message.py
  tests/integration/mime/__init__.py
  tests/integration/mime/test_mime.py
  tests/integration/mime/test_segmenter.py
  tests/unit/drivers/test_helper.py
  tests/unit/executors/test_route_exec.py
  tests/unit/proto/test_message.py
  tests/unit/proto/test_pb_struct_tags.py
  tests/unit/test_echostream.py
  tests/unit/test_gateway.py
  tests/unit/test_is_read_message.py
  tests/unit/test_quant.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/flow, component/peapod, component/proto, component/resource, size/XL

#1217 fix: back to tcp
  jina/peapods/container.py
Labels: area/core, area/network, component/peapod, size/XS

#1219 fix: increase flaky test runs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#1220 Style code commits in one workflow
  .github/workflows/cd.yml
  .github/workflows/code-formatting.yml
  .github/workflows/contributors.yml
  .github/workflows/copyright.yml
  .github/workflows/core-autocommit.yml
  .github/workflows/release.yml
Labels: area/cicd, area/housekeeping, size/M

#1222 refactor: remove replica naming
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/metas.py
  jina/logging/logger.py
  jina/resources/executors.metas.default.yml
  tests/unit/drivers/test_collect_matches_rank_driver.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-expand3.yml
  tests/unit/yaml/test-workspace.yml
Labels: area/core, area/testing, component/executor, component/logging, component/resource, executor/meta, size/M

#1223 fix: revert change communication
  jina/peapods/container.py
Labels: area/core, area/network, component/peapod, size/S

#1226 Docs readme code conduct
  README.md
Labels: size/XS

#1228 refactor(driver): move reduce logic to BaseDriver
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/reduce.py
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/proto/message/__init__.py
  jina/resources/executors._concat.yml
  jina/resources/executors._merge.yml
  jina/resources/executors._merge_all.yml
  jina/resources/executors._merge_eval.yml
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/test_helper.py
Labels: area/core, area/network, area/testing, component/driver, component/executor, component/proto, component/resource, executor/meta, size/M

#1203 Remote invocations using jinad & REST
  extra-requirements.txt
  jina/peapods/jinad.py
  jina/peapods/remote.py
  tests/unit/peapods/remote/test_jinad.py
  tests/unit/peapods/remote/test_remote.py
  tests/unit/peapods/remote/yamls/dummy.py
  tests/unit/peapods/remote/yamls/encoder.yml
  tests/unit/peapods/remote/yamls/flow-index.yaml
  tests/unit/peapods/remote/yamls/indexer.yml
  tests/unit/peapods/test_remote.py
  tests/unit/test_remote2.py
Labels: area/core, area/network, area/setup, area/testing, component/peapod, size/L

#1233 ci: fix git pull and dev-bot msg
  .github/workflows/cd.yml
  .github/workflows/core-autocommit.yml
  .github/workflows/release.yml
Labels: area/cicd, area/housekeeping, size/S

#1234 docs(test): improved documentation
  CONTRIBUTING.md
Labels: size/XS

#1230 style(jinad): fixing jinad code styling
  jina/peapods/jinad.py
  jina/peapods/remote.py
  tests/unit/peapods/remote/test_jinad.py
  tests/unit/peapods/remote/test_remote.py
  tests/unit/peapods/test_remote.py
Labels: area/core, area/network, area/testing, component/peapod, size/M

#1235 fix: adapt log info after lazy reading
  jina/drivers/control.py
  jina/drivers/querylang/queryset/dunderkey.py
Labels: area/core, component/driver, size/S

#1236 Fix readme contributor
  README.md
Labels: size/S

#1237 test: take out jina test case from test index
  tests/unit/test_index.py
Labels: area/testing, size/M

#1238 feat(except): improved exception handling
  extra-requirements.txt
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/helper.py
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/enums.py
  jina/excepts.py
  jina/executors/decorators.py
  jina/parser.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/message/__init__.py
  jina/resources/logging.profile.yml
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/logging/test_logging.py
  tests/unit/test_helper.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/setup, area/testing, component/client, component/driver, component/executor, component/peapod, component/proto, component/resource, executor/meta, size/XL

#1241 fix(proto): dockerize proto generation
  .github/logo-only.gif
  Dockerfiles/debianx.Dockerfile
  Dockerfiles/pip.Dockerfile
  Dockerfiles/protogen.Dockerfile
  README.md
  extra-requirements.txt
  jina/proto/build-proto.sh
  jina/proto/jina_pb2_grpc.py
Labels: area/core, area/docker, area/housekeeping, area/network, area/setup, component/proto, size/S

#1242 docs(proto): add protogen to docs
  Dockerfiles/protogen.Dockerfile
  docs/chapters/proto/modify.rst
  jina/proto/build-proto.sh
Labels: area/core, area/docker, area/docs, area/network, component/proto, size/S

#1244 chore: update readme slogan
  README.md
Labels: size/XS

#1246 docs: improve queryset docs
  docs/chapters/flow/index.md
Labels: area/docs, size/S

#1218 test: southpark distributed
  .github/workflows/test-examples.yml
Labels: area/cicd, area/housekeeping, size/S

#1247 refactor(num_part): rewrite num_part logic at pea, driver and proto
  .github/i18n/README.de.md
  .github/i18n/README.fr.md
  .github/i18n/README.ja.md
  .github/i18n/README.ru.md
  .github/i18n/README.zh.md
  docs/chapters/envs.rst
  docs/chapters/flow/index.md
  docs/chapters/simple_exec.md
  jina/clients/python/__init__.py
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/reduce.py
  jina/excepts.py
  jina/executors/decorators.py
  jina/flow/__init__.py
  jina/flow/builder.py
  jina/parser.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/message/__init__.py
  jina/resources/executors._pass.yml
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/issues/github_936/test_flow_with_sse_no_deadlock.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/integration/level_depth/flow-index.yml
  tests/integration/mime/test_mime.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/unit/clients/python/test_client.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/test_route_exec.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/peapods/remote/test_remote.py
  tests/unit/peapods/test_container.py
  tests/unit/test_echostream.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
  tests/unit/test_quant.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/test-flow.yml
  tests/unit/yaml/test_flow_visualization.yml
Labels: area/cicd, area/core, area/docs, area/helper, area/housekeeping, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/peapod, component/proto, component/resource, executor/meta, size/L

#1249 docs: add missing word
  docs/chapters/101/README.md
Labels: area/docs, size/XS

#1245 docs: add queryset usage info
  docs/chapters/flow/index.md
Labels: area/docs, size/S

#1254 fix(remote): fix remote close context
  jina/peapods/jinad.py
  jina/peapods/remote.py
Labels: area/core, area/network, component/peapod, size/S

#1257 docs(readme): Fix grammar issues
  README.md
Labels: size/S

#1259 feat: replace iterable with sequence as hints
  jina/drivers/__init__.py
  jina/drivers/cache.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/index.py
  jina/drivers/multimodal.py
  jina/drivers/predict.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/queryset/lookup.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank.py
  jina/drivers/reduce.py
  jina/drivers/search.py
Labels: area/core, component/driver, size/S

#1256 style: use f-strings instead of %s-formatting
  jina/__init__.py
  jina/checker.py
  jina/clients/python/grpc.py
  jina/clients/python/helper.py
  jina/docker/hubio.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/decorators.py
  jina/executors/requests.py
  jina/flow/__init__.py
  jina/flow/builder.py
  jina/helper.py
  jina/logging/profile.py
  jina/parser.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  jina/proto/message/__init__.py
  setup.py
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/fail-to-start/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-manifest/mwu_encoder.py
  tests/unit/docker/hub-mwu/mwu_encoder.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_yamlparser.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/docker, component/executor, component/flow, component/logging, component/peapod, component/proto, executor/meta, size/M

#1260 docs: add note on 'score' field
  docs/chapters/flow/index.md
Labels: area/docs, size/S

#1263 test: helloworld without JinaTestCase and local directories
  tests/integration/test_helloworld.py
Labels: area/testing, size/M

#1265 feat(client): add callback_on and continue_on_error
  cli/autocomplete.py
  jina/clients/python/__init__.py
  jina/enums.py
  jina/parser.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_929/test_shelfindexer.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_index.py
  tests/unit/test_quant.py
Labels: area/core, area/helper, area/testing, component/client, size/M

#1264 Readme overhaul 2020-11
  README.md
Labels: size/S

#1266 refactor: remove unused code
  jina/peapods/container.py
  tests/unit/peapods/test_container.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1232 feat: add id to logger via os env
  docs/chapters/envs.rst
  extra-requirements.txt
  jina/flow/__init__.py
  jina/logging/formatter.py
  jina/logging/logger.py
  jina/logging/queue.py
  jina/logging/sse.py
  jina/parser.py
  jina/peapods/container.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/resources/fluent.conf
  tests/integration/logging/__init__.py
  tests/integration/logging/logserver_config.yml
  tests/integration/logging/test_logging.py
  tests/integration/logging/test_sse.py
  tests/unit/logging/test_logging.py
  tests/unit/logging/yaml/fluent.yml
Labels: area/cicd, area/core, area/docs, area/helper, area/housekeeping, area/network, area/setup, area/testing, component/flow, component/logging, component/peapod, component/resource, size/M

#1270 chore: style helloworld html
  jina/resources/helloworld.html
Labels: area/core, component/resource, size/S

#1271 docs(readme): wordsmithing
  README.md
Labels: size/S

#1272 docs: add warning about _unique
  docs/chapters/prevent_duplicate_indexing/index.rst
Labels: area/docs, size/S

#1275 feat(remote): add ssh remote peapod
  jina/enums.py
  jina/parser.py
  jina/peapods/__init__.py
  jina/peapods/container.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/peapods/ssh.py
  jina/peapods/zmq.py
  tests/unit/peapods/test_ssh_remote.py
  tests/unit/test_zmq_addr.py
Labels: area/core, area/helper, area/network, area/testing, component/peapod, size/M

#1276 refactor(proto): remove spawn request
  Dockerfiles/pip.Dockerfile
  cli/autocomplete.py
  jina/__init__.py
  jina/docker/hubio.py
  jina/enums.py
  jina/excepts.py
  jina/executors/crafters/__init__.py
  jina/parser.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/integration/logging/test_sse.py
  tests/unit/flow/test_flow_except.py
Labels: area/core, area/docker, area/entrypoint, area/helper, area/network, area/setup, area/testing, component/docker, component/executor, component/peapod, component/proto, executor/crafter, size/L

#1282 feat: parse dict as document
  jina/clients/python/request.py
  tests/unit/clients/python/test_request.py
Labels: area/core, area/testing, component/client, size/M

#1284 refactor: standardize typename
  jina/__init__.py
  jina/checker.py
  jina/clients/python/helper.py
  jina/clients/python/request.py
  jina/counter.py
  jina/docker/hubio.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/predict.py
  jina/executors/__init__.py
  jina/executors/crafters/__init__.py
  jina/executors/decorators.py
  jina/helper.py
  jina/importer.py
  jina/logging/logger.py
  jina/logging/sse.py
  jina/peapods/gateway.py
  jina/peapods/grpc.py
  jina/peapods/grpc_asyncio.py
  jina/peapods/jinad.py
  jina/peapods/pea.py
  jina/peapods/remote.py
  jina/peapods/zmq.py
  jina/resources/extra-requirements.txt
  tests/unit/test_helper.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/docker, component/driver, component/executor, component/logging, component/peapod, component/resource, executor/crafter, executor/meta, size/L

#1286 docs(helper): add helper text for import ext
  .github/workflows/cd.yml
  .github/workflows/nightly.yml
  jina/clients/python/request.py
  jina/importer.py
  jina/resources/helloworld.html
  scripts/release.sh
Labels: area/cicd, area/core, area/helper, area/housekeeping, component/client, component/resource, size/S

#1291 test: remove duplicated random_docs
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/peapods/test_container.py
Labels: area/testing, size/S

#1274 Ci update hub
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
  scripts/jina-hub-update.py
Labels: area/cicd, area/housekeeping, size/M

#1292 fix: use 'sudo' for update hub flow
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
Labels: area/cicd, area/housekeeping, size/S

#1293 docs readme learn revamp
  README.md
Labels: size/S

#1294 fix: hub update token
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
  scripts/jina-hub-update.py
Labels: area/cicd, area/housekeeping, size/S

#1296 fix: ci hub update missing python3-setuptools
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
  scripts/jina-hub-update.py
Labels: area/cicd, area/housekeeping, size/S

#1297 refactor: remote default should be jinad
  jina/parser.py
Labels: area/core, area/helper, size/XS

#1289 feat(types): Document as new primitive type
  .github/labeler.yml
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/clients/python/grpc.py
  jina/clients/python/request.py
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/rank.py
  jina/drivers/search.py
  jina/enums.py
  jina/excepts.py
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/executors/indexers/cache.py
  jina/flow/__init__.py
  jina/helper.py
  jina/importer.py
  jina/logging/__init__.py
  jina/peapods/pea.py
  jina/peapods/zmq.py
  jina/types/document/__init__.py
  jina/types/document/uid.py
  jina/types/message/__init__.py
  jina/types/message/request.py
  jina/types/ndarray/__init__.py
  jina/types/ndarray/dense/__init__.py
  jina/types/ndarray/generic.py
  jina/types/ndarray/sparse/__init__.py
  jina/types/querylang/__init__.py
  jina/types/request/__init__.py
  jina/types/request/common.py
  tests/__init__.py
  tests/integration/incremental_indexing/__init__.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_976/test_topk.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/peapods/test_container.py
  tests/unit/test_helper.py
  tests/unit/test_importer.py
  tests/unit/types/__init__.py
  tests/unit/types/test_document.py
  tests/unit/types/test_message.py
  tests/unit/types/test_ndarray.py
  tests/unit/types/test_querylang.py
Labels: area/core, area/entrypoint, area/helper, area/housekeeping, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/logging, component/peapod, executor/indexer, executor/meta, size/XL

#1299 fix: remote args for cli
  jina/peapods/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#1301 ci: changing env vars for gh action
  .github/workflows/cd.yml
  .github/workflows/nightly.yml
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/S

#1303 refactor(client): wrap callback with try except
  README.md
  jina/clients/python/__init__.py
  jina/clients/python/helper.py
  jina/importer.py
  tests/unit/flow/test_flow_except.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, area/testing, component/client, size/M

#1306 docs(remote): fix the dead links
  docs/chapters/remote/run-remote-pod-console.md
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/remote/run-remote-pod-jina.md
Labels: area/docs, size/XS

#1288 feat: add needs_all()
  jina/flow/__init__.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/testing, component/flow, size/S

#1308 fix(flow): fix host assign in flow build
  jina/flow/__init__.py
  jina/parser.py
  jina/peapods/pod.py
  tests/unit/flow/test_remote_orchestrate.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1309 feat: random port ranges are configurable
  jina/helper.py
Labels: area/core, area/helper, size/XS

#1310 fix: remote host_out None
  jina/peapods/pod.py
  tests/unit/flow/test_remote_orchestrate.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1311 test: help jinad integration
  .github/workflows/test-jinad.yml
  tests/integration/jinad/test_simple_distributed/Dockerfile
  tests/integration/jinad/test_simple_distributed/docker-compose.yml
  tests/integration/jinad/test_simple_distributed/requirements.txt
Labels: area/cicd, area/core, area/housekeeping, area/network, area/testing, component/peapod, size/S

#1307 feat: add integration test for jinad
  .github/workflows/test-jinad.yml
  tests/integration/jinad/test_simple_distributed/.env
  tests/integration/jinad/test_simple_distributed/Dockerfile
  tests/integration/jinad/test_simple_distributed/docker-compose.yml
  tests/integration/jinad/test_simple_distributed/flow.yml
  tests/integration/jinad/test_simple_distributed/test_integration.sh
Labels: area/cicd, area/housekeeping, area/testing, size/M

#1314 test: remove the deprecated tests
  tests/integration/message/__init__.py
  tests/integration/message/test_message.py
Labels: area/testing, size/S

#1312 fix: send terminate signal instead of delete jinad endpoint call
  jina/peapods/jinad.py
  jina/peapods/pea.py
  jina/peapods/remote.py
  jina/peapods/zmq.py
  tests/integration/jinad/test_simple_distributed/test_integration.sh
  tests/unit/peapods/test_zmq_addr.py
  tests/unit/test_zmq_addr.py
Labels: area/core, area/network, area/testing, component/peapod, size/M

#1318 chore: remove hex from identity
  jina/executors/__init__.py
  jina/helper.py
  jina/types/request/__init__.py
  tests/unit/test_echostream.py
  tests/unit/test_is_read_message.py
Labels: area/core, area/helper, area/testing, component/executor, component/type, executor/meta, size/S

#1319 test: help fix kv search driver test
  jina/drivers/multimodal.py
  jina/types/document/__init__.py
  jina/types/document/helper.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/types/test_document.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#1320 test: help refactor tests
  jina/drivers/search.py
  jina/types/document/__init__.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/test_index.py
Labels: area/core, area/testing, component/driver, component/type, size/S

#1322 test: help refactoring tests
  jina/types/document/__init__.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/test_index.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#1323 refactor(types): move append and extend into QueryLangSet
  jina/clients/python/request.py
  jina/types/request/__init__.py
  jina/types/sets/querylang_set.py
  tests/unit/types/test_message.py
Labels: area/core, area/testing, component/client, component/type, size/S

#1324 refactor: add set types to top-level import
  jina/__init__.py
  jina/importer.py
  jina/logging/logger.py
Labels: area/core, area/entrypoint, area/helper, component/logging, component/resource, size/S

#1325 docs: add classifier wsl
  docs/chapters/extend/executor.rst
  docs/chapters/install/on-wsl.md
Labels: area/docs, size/S

#1327 fix: replace image with uses
  docs/chapters/hub/build-pod-image.md
  docs/chapters/hub/use-your-pod.md
  jina/resources/hub-builder-success/index.html
Labels: area/core, area/docs, component/resource, size/XS

#1328 docs: fix wsl
  docs/chapters/install/on-x.md
  docs/chapters/install/via-pip.md
  docs/index.rst
Labels: area/docs, size/S

#1300 fix: adapt to new remote log endpoint
  extra-requirements.txt
  jina/excepts.py
  jina/peapods/jinad.py
  jina/peapods/remote.py
  jina/resources/extra-requirements.txt
Labels: area/core, area/helper, area/network, area/setup, component/peapod, component/resource, size/M

#1305 tests(integration): improve test_hello_world
  tests/integration/test_helloworld.py
Labels: area/testing, size/S

#1334 fix: incompatible options containerpea
  jina/peapods/container.py
Labels: area/core, area/network, component/peapod, size/XS

#1298 ci: automatic testing/building of hub images on new release
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
  scripts/jina-hub-update.py
Labels: area/cicd, area/housekeeping, size/M

#1331 fix: send terminate to every Pea
  jina/peapods/remote.py
Labels: area/core, area/network, component/peapod, size/S

#1339 refactor: refactor the test for evaluation
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
Labels: area/testing, size/S

#1342 refactor: moving log parse to core from jinad
  jina/peapods/jinad.py
Labels: area/core, area/network, component/peapod, size/XS

#1338 test: add integ test about non blocking gateway
  jina/clients/python/__init__.py
  tests/integration/gateway_non_blocking/__init__.py
  tests/integration/gateway_non_blocking/flow.yml
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/gateway_non_blocking/yaml/fast_slow.yml
  tests/integration/gateway_non_blocking/yaml/fast_slow_driver.py
Labels: area/core, area/testing, component/client, size/S

#1343 refactor(types): move add_chunk add_match to Set
  jina/drivers/craft.py
  jina/drivers/evaluate.py
  jina/drivers/index.py
  jina/drivers/rank.py
  jina/drivers/search.py
  jina/excepts.py
  jina/types/document/__init__.py
  jina/types/document/uid.py
  jina/types/querylang/__init__.py
  jina/types/request/__init__.py
  jina/types/sets/chunk_set.py
  jina/types/sets/document_set.py
  jina/types/sets/match_set.py
  tests/__init__.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/unit/drivers/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/types/test_documentset.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/M

#1345 fix: fix module name in tag workflow
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/XS

#1341 fix: add jina version info to docker image name
  jina/docker/checker.py
  jina/docker/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
Labels: area/core, area/testing, component/docker, size/S

#1346 test: refactor index remote
  tests/__init__.py
  tests/unit/peapods/test_remote.py
  tests/unit/test_index_remote.py
  tests/unit/test_remote2.py
  tests/unit/yaml/test-index-remote.yml
Labels: area/testing, size/M

#1352 chore(flow): no constructor for class method needed
  docs/chapters/flow/index.md
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/issues/github_976/test_topk.py
  tests/integration/level_depth/test_search_different_depths.py
Labels: area/docs, area/testing, size/S

#1353 fix(helper): search file error handling
  jina/helper.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, area/testing, size/S

#1359 fix: topk priority
  jina/clients/python/request.py
  tests/integration/issues/github_976/test_topk_rest_api.py
Labels: area/core, area/testing, component/client, size/XS

#1354 fix: make load config static
  jina/flow/__init__.py
Labels: area/core, component/flow, size/XS

#1360 ci: remove hub updater
  .github/workflows/tag.yml
  .github/workflows/update_hub.yml
  scripts/jina-hub-update.py
Labels: area/cicd, area/housekeeping, size/M

#1364 fix(readme): update korean readme
  .github/i18n/README.kr.md
Labels: area/housekeeping, size/M

#1367 fix: assert with var
  tests/integration/jinad/test_index_query/test_integration.sh
  tests/integration/jinad/test_index_query_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_distributed/test_integration.sh
  tests/integration/jinad/test_simple_distributed_with_shards/test_integration.sh
Labels: area/testing, size/S

#1356 test: replace all random docs with new api
  jina/types/sets/document_set.py
  tests/__init__.py
  tests/unit/drivers/querylang/queryset/test_queryset.py
  tests/unit/test_helper.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/test_yamlparser.py
  tests/unit/types/test_document.py
  tests/unit/types/test_documentset.py
  tests/unit/yaml/test-joint.yml
Labels: area/core, area/testing, component/type, size/M

#1370 docs: fix the type error
  README.md
Labels: size/XS

#1371 refactor(gateway): clean code, move file structure
  jina/clients/python/__init__.py
  jina/peapods/gateway.py
  jina/peapods/gateway/__init__.py
  jina/peapods/gateway/grpc.py
  jina/peapods/gateway/rest.py
  jina/peapods/gateway/servicer.py
  jina/peapods/pod.py
  jina/peapods/zmq.py
  tests/unit/clients/python/test_client.py
  tests/unit/peapods/test_pea.py
Labels: area/core, area/network, area/testing, component/client, component/peapod, size/L

#1373 feat(flow): pretty print flow obj in ipython
  jina/flow/__init__.py
Labels: area/core, component/flow, size/M

#1372 refactor chunkset and matchset append method
  jina/types/sets/chunk_set.py
  jina/types/sets/match_set.py
  tests/__init__.py
  tests/unit/types/test_chunkset.py
  tests/unit/types/test_documentset.py
  tests/unit/types/test_matchset.py
Labels: area/core, area/testing, component/type, size/M

#1376 docs(contributing): fix link to commit style
  CONTRIBUTING.md
Labels: size/XS

#1365 fix: dont overwrite docker image names
  jina/docker/hubapi.py
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build.py
Labels: area/core, area/testing, component/docker, size/S
