Repository jina-ai/serve, pull requests merged in 2020-06, with the labels that each got.

#472 refactor: make BaseRanker abstract
  docs/chapters/all_driver.md
  docs/chapters/all_exec.md
  docs/chapters/extend/executor.rst
  jina/drivers/score.py
  jina/executors/rankers/__init__.py
  jina/executors/rankers/bi_match.py
  jina/executors/rankers/tfidf.py
  jina/resources/executors.requests.BaseRanker.yml
  tests/test_driver_yaml.py
Labels: area/core, area/docs, area/testing, component/driver, component/executor, component/resource, executor/ranker, size/S

#474 refactor(proto): add doc-level uri out of oneof content
  jina/__init__.py
  jina/clients/python/request.py
  jina/drivers/craft.py
  jina/drivers/helper.py
  jina/enums.py
  jina/executors/crafters/convert.py
  jina/helloworld/helper.py
  jina/main/autocomplete.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/resources/executors.requests.BaseDocCrafter.yml
  tests/executors/__init__.py
  tests/executors/crafters/audio/test_monophone.py
  tests/executors/crafters/audio/test_normalize.py
  tests/executors/crafters/audio/test_split.py
  tests/executors/crafters/image/test_crop.py
  tests/executors/crafters/numeric/test_io.py
  tests/executors/crafters/test_mime.py
  tests/executors/crafters/test_segmenter.py
  tests/executors/encoders/clients.py
  tests/executors/encoders/image/__init__.py
  tests/executors/encoders/image/test_customtorchvision.py
  tests/executors/encoders/nlp/__init__.py
  tests/executors/encoders/nlp/test_char.py
  tests/executors/encoders/numeric/__init__.py
  tests/executors/encoders/numeric/test_pca.py
  tests/executors/encoders/video/__init__.py
  tests/executors/indexers/keyvalue/test_leveldb.py
  tests/executors/indexers/vector/test_annoy.py
  tests/mwu-encoder/mwu_encoder.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_container.py
  tests/test_driver_yaml.py
  tests/test_flow.py
  tests/test_index.py
  tests/test_index_remote.py
  tests/test_load_yaml.py
  tests/test_loadbalance.py
  tests/test_quant.py
  tests/test_workspace.py
  tests/test_yamlparser.py
Labels: area/core, area/helloworld, area/helper, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/proto, component/resource, executor/crafter, size/M

#479 refactor(driver): move convert crafter to driver
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/executors/crafters/convert.py
  jina/helper.py
  jina/resources/executors.base.yml
  jina/resources/helloworld.crafter.yml
  tests/executors/crafters/test_mime.py
  tests/test_load_yaml.py
  tests/yaml/dummy_exec2.yml
Labels: area/core, area/helper, area/testing, component/driver, component/executor, component/resource, executor/crafter, size/M

#480 fix(crafter): fix args of the crafter
  jina/executors/compound.py
  jina/executors/crafters/audio/io.py
  jina/executors/crafters/image/io.py
  jina/executors/crafters/nlp/split.py
  jina/executors/crafters/numeric/io.py
  tests/executors/crafters/audio/test_io.py
  tests/executors/crafters/image/test_io.py
  tests/executors/crafters/nlp/split.py
  tests/executors/crafters/numeric/test_io.py
Labels: area/core, area/testing, component/executor, executor/crafter, executor/meta, size/S

#486 feat(driver): add override as an option to the driver
  jina/drivers/convert.py
  jina/executors/crafters/image/io.py
  jina/executors/indexers/keyvalue/proto.py
  jina/resources/executors.requests.DocURIPbIndexer.yml
Labels: area/core, component/driver, component/executor, component/resource, executor/crafter, executor/indexer, size/S

#493 feat(flow): add ingest by lines
  jina/clients/python/io.py
  jina/flow/__init__.py
Labels: area/core, component/client, component/flow, size/S

#494 feat(gateway): add convert driver to the gateway
  jina/clients/python/request.py
  jina/drivers/convert.py
  jina/executors/__init__.py
  jina/main/parser.py
  jina/peapods/gateway.py
  tests/executors/crafters/test_mime.py
Labels: area/core, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/peapod, executor/meta, size/M

#488 feat: add the support for multi-field search
  docs/chapters/jep/jep-3/main.rst
  docs/chapters/proto/modify.rst
  jina/__init__.py
  jina/clients/python/request.py
  jina/drivers/encode.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/reduce.py
  jina/drivers/score.py
  jina/drivers/search.py
  jina/executors/indexers/vector/numpy.py
  jina/helper.py
  jina/main/parser.py
  jina/peapods/pea.py
  jina/proto/build-proto.sh
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_flow.py
  tests/test_helper.py
  tests/yaml/test-multifield-encoder.yml
  tests/yaml/test-multifield-indexer-2.yml
  tests/yaml/test-multifield-indexer.yml
Labels: area/core, area/docs, area/helper, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/peapod, component/proto, executor/indexer, size/L

#502 revert: add the support for multi-field search
  docs/chapters/jep/jep-3/main.rst
  docs/chapters/proto/modify.rst
  jina/__init__.py
  jina/clients/python/request.py
  jina/drivers/encode.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/reduce.py
  jina/drivers/score.py
  jina/drivers/search.py
  jina/executors/indexers/vector/numpy.py
  jina/helper.py
  jina/main/parser.py
  jina/peapods/pea.py
  jina/proto/build-proto.sh
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_flow.py
  tests/test_helper.py
  tests/yaml/test-multifield-encoder.yml
  tests/yaml/test-multifield-indexer-2.yml
  tests/yaml/test-multifield-indexer.yml
Labels: area/core, area/docs, area/helper, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/peapod, component/proto, executor/indexer, size/L

#496 fix(gateway): add message field to gateway
  jina/peapods/gateway.py
  tests/test_client.py
  tests/test_flow.py
  tests/yaml/test-docpb.yml
Labels: area/core, area/network, area/testing, component/peapod, size/S

#504 feat: multi-field search
  docs/chapters/cli/index.rst
  docs/chapters/dashboard/index.md
  docs/chapters/extend/executor.rst
  docs/chapters/flow/index.md
  docs/chapters/helloworld/index.rst
  docs/chapters/hub/index.rst
  docs/chapters/io/index.md
  docs/chapters/jep/index.rst
  docs/chapters/jep/jep-1/main.rst
  docs/chapters/jep/jep-2/main.rst
  docs/chapters/jep/jep-3/index.rst
  docs/chapters/proto/index.rst
  docs/chapters/proto/modify.rst
  docs/chapters/remote/index.rst
  docs/chapters/restapi/index.rst
  docs/index.rst
  jina/__init__.py
  jina/clients/python/request.py
  jina/drivers/encode.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/score.py
  jina/drivers/search.py
  jina/executors/indexers/vector/numpy.py
  jina/main/parser.py
  jina/proto/build-proto.sh
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/yaml/test-multifield-encoder.yml 
  tests/yaml/test-multifield-indexer-2.yml
  tests/yaml/test-multifield-indexer.yml
Labels: area/core, area/docs, area/helper, area/network, area/testing, component/client, component/driver, component/entrypoint, component/executor, component/proto, executor/indexer, size/L

#514 feat(indexer): add binary KVIndexer with better perf
  docs/chapters/envs.rst
  jina/__init__.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/indexers/keyvalue/leveldb.py
  jina/executors/indexers/keyvalue/proto.py
  jina/resources/helloworld.indexer.chunk.yml
  tests/test_flow.py
  tests/test_workspace.py
  tests/yaml/npvec.yml
  tests/yaml/test-compound-indexer.yml
  tests/yaml/test-compound-indexer2.yml
  tests/yaml/test-joint.yml
  tests/yaml/test-multifield-indexer-2.yml
  tests/yaml/test-multifield-indexer.yml
Labels: area/core, area/docs, area/helper, area/testing, component/driver, component/executor, component/resource, executor/indexer, size/M

#524 feat: add `if` expression to BaseDriver
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/filter.py
  jina/drivers/helper.py
  jina/drivers/index.py
  jina/drivers/prune.py
  jina/drivers/reduce.py
  jina/drivers/score.py
  jina/drivers/search.py
  jina/executors/indexers/keyvalue/proto.py
  tests/test_driver_if.py
  tests/yaml/test-if-encode1.yml
  tests/yaml/test-if-encode2.yml
  tests/yaml/test-if-flow.yml
  tests/yaml/test-ifdriver1.yml
  tests/yaml/test-ifdriver2.yml
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, size/M

#526 feat(proto): add details to error status
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/drivers/control.py
  jina/enums.py
  jina/executors/__init__.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_flow.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/peapod, component/proto, executor/meta, size/L

#528 feat(crafter): add deepsegment
  extra-requirements.txt
  jina/executors/crafters/nlp/split.py
Labels: area/core, area/setup, component/executor, executor/crafter, size/S

#532 fix(except): move inherit from oserror to syserror
  jina/excepts.py
  jina/peapods/pea.py
Labels: area/core, area/helper, area/network, component/peapod, size/S

#531 fix the bug in query with faiss
  jina/executors/indexers/vector/faiss.py
  jina/executors/indexers/vector/numpy.py
Labels: area/core, component/executor, executor/indexer, size/M

#536 feat(driver): add uri2text convert
  jina/drivers/convert.py
  tests/test_flow.py
  tests/yaml/datauriindex.yml
Labels: area/core, area/testing, component/driver, size/S

#544 fix(docs): add 404 page generation
  .github/workflows/cla.yml
  docs/conf.py
  docs/requirements.txt
Labels: area/cicd, area/docs, area/housekeeping, size/S

#551 fix(pea): fix except handling in pea
  jina/__init__.py
  jina/clients/python/__init__.py
  jina/drivers/encode.py
  jina/drivers/prune.py
  jina/drivers/reduce.py
  jina/executors/encoders/__init__.py
  jina/peapods/pea.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/test_flow.py
  tests/test_flow_except.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/peapod, component/proto, executor/encoder, size/M

#554 fix(indexer): is trained set on train call
  jina/executors/decorators.py
  jina/executors/indexers/vector/faiss.py
  tests/test_index_train.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/XS

#556 feat: add jina hub command
  .github/workflows/core-release.yml
  jina/clients/python/helper.py
  jina/helloworld/helper.py
  jina/hubapi/__init__.py
  jina/hubapi/checker.py
  jina/hubapi/docker.py
  jina/hubapi/helper.py
  jina/main/api.py
  jina/main/autocomplete.py
  jina/main/parser.py
  jina/resources/hub-builder/login.yml
  jina/resources/hub-builder/manifest.yml
  jina/resources/hub-builder/osi-approved.yml
  jina/resources/hub-builder/platforms.yml
  tests/hub-mwu/Dockerfile
  tests/hub-mwu/README.md
  tests/hub-mwu/manifest.yml
  tests/hub-mwu/mwu_encoder.py
  tests/hub-mwu/mwu_encoder.yml
  tests/hub-mwu/mwu_encoder_ext.yml
  tests/test_hub.py
Labels: area/cicd, area/core, area/helloworld, area/housekeeping, area/testing, component/client, component/entrypoint, component/resource, size/L

#558 docs(contributing): make more developer friendly
  CONTRIBUTING.md
Labels: size/M

#545 docs(101): cherry pick content
  docs/chapters/101/README.md
Labels: area/docs, size/S

#559 feat(hub): add docker readme push
  jina/__init__.py
  jina/hubapi/docker.py
  jina/main/parser.py
  release.sh
Labels: area/core, area/helper, component/entrypoint, size/S

#569 fix(driver): remove pub driver with post_hook
  jina/hubapi/docker.py
  jina/main/parser.py
  jina/peapods/pea.py
  jina/peapods/pod.py
  tests/test_flow.py
  tests/test_hub.py
Labels: area/core, area/network, area/testing, component/entrypoint, component/peapod, size/S

#566 docs(readme): wording improvement
  README.md
Labels: size/S

#564 docs(code-of-conduct): initial commit
  CODE_OF_CONDUCT.md
Labels: size/S

#570 feat(peapods): add error skipping strategy
  jina/drivers/__init__.py
  jina/enums.py
  jina/main/parser.py
  jina/peapods/gateway.py
  jina/peapods/pea.py
Labels: area/core, area/helper, area/network, component/driver, component/entrypoint, component/peapod, size/S

#574 fix(driver): topkfilter now remove irrelevant chunks
  jina/__init__.py
  jina/drivers/filter.py
  jina/peapods/pea.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.DataURIPbIndexer.yml
  jina/resources/executors.requests.DocPbIndexer.yml
  tests/yaml/datauriindex.yml
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/peapod, component/proto, component/resource, size/M

#578 feat(proto): add location info to chunk
  jina/__init__.py
  jina/drivers/craft.py
  jina/executors/crafters/nlp/split.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/executors/crafters/nlp/split.py
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/executor, component/proto, executor/crafter, size/M

#581 feat(indexer): add size
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue/proto.py
Labels: area/core, component/executor, executor/indexer, size/S

#589 refactor(indexer): abstract rw ndarray from numpyindexer
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector/__init__.py
  jina/executors/indexers/vector/annoy.py
  jina/executors/indexers/vector/faiss.py
  jina/executors/indexers/vector/nmslib.py
  jina/executors/indexers/vector/numpy.py
  jina/executors/indexers/vector/sptag.py
  jina/executors/indexers/vector/vector.py
  tests/executors/indexers/vector/test_annoy.py
  tests/test_index.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#592 feat(indexer): allow user switch indexer in query time
  docs/chapters/jep/index.rst
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector/__init__.py
  jina/executors/indexers/vector/vector.py
  tests/executors/indexers/vector/annoy-wrap.yml
  tests/executors/indexers/vector/nmslib-wrap.yml
  tests/executors/indexers/vector/test_annoy.py
Labels: area/core, area/docs, area/testing, component/executor, executor/indexer, size/M

#579 test(gateway): concurrency test for rest gateway
  tests/test_gateway.py
Labels: area/testing, size/M

#599 fix(indexer): fix ref_indexer in ChunkIndexer
  docs/chapters/jep/jep-1/index.rst
  docs/chapters/jep/jep-2/index.rst
  jina/executors/indexers/vector/__init__.py
  jina/executors/indexers/vector/annoy.py
  jina/executors/indexers/vector/faiss.py
  jina/executors/indexers/vector/nmslib.py
  jina/executors/indexers/vector/sptag.py
  tests/executors/indexers/vector/test_annoy.py
  tests/test_index.py
  tests/yaml/test-joint-wrap.yml
Labels: area/core, area/docs, area/testing, component/executor, executor/indexer, size/L
