Repository jina-ai/serve, pull requests merged in 2021-11, with the labels that each got.

#3841 fix(types): fix csv loader dialect
  jina/types/document/generators.py
Labels: area/core, size/S, component/type

#3842 feat(types): add only_id option to match func
  jina/types/arrays/neural_ops.py
  jina/types/arrays/traversable.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: size/M, area/core, area/testing, component/type

#3844 feat(proto): adjust proto for star routing
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
Labels: size/L, area/core, area/network, component/proto

#3830 fix(jaml): remove duplicate py_modules while parsing yaml
  jina/jaml/__init__.py
  jina/jaml/helper.py
  tests/unit/jaml/test_type_parse.py
Labels: area/core, size/S, area/testing, size/XS, component/jaml

#3847 fix(types): fix location and bounding box in converters
  jina/types/document/converters.py
Labels: area/core, size/S, component/type

#3839 docs: add similar audio search tutorials
  docs/_static/similar-audio-search-6pO06krKrf8_30000_airplane.mp3
  docs/_static/similar-audio-search-HL-SGox-Ez0_churchbell.mp3
  docs/_static/similar-audio-search-IusuWEAoIoY_churchbell.mp3
  docs/_static/similar-audio-search-LX_FgjpJE60_airplane.mp3
  docs/_static/similar-audio-search-UE3XnVFodMI_230000_applause.mp3
  docs/_static/similar-audio-search-YpUQ46pPj4c_airplane.mp3
  docs/_static/similar-audio-search-_JTHtcRHxnw_churchbell.mp3
  docs/datatype/audio/find-replace-audio.md
  docs/datatype/audio/index.md
  docs/datatype/audio/similar-audio-search/index.md
  docs/datatype/audio/similar-audio-search/similar-audio-search-flow.svg
Labels: size/M, area/docs

#3829 docs: 3d mesh search tutorial
  docs/datatype/mesh/flow.png
  docs/datatype/mesh/index.md
  docs/datatype/mesh/mesh-search.md
  docs/datatype/mesh/query_doc.gif
  docs/datatype/mesh/top_1.gif
  docs/datatype/mesh/top_2.gif
  docs/datatype/mesh/top_3.gif
Labels: size/M, size/L, area/docs

#3822 fix: make accessible shard and replica info at container rt
  cli/autocomplete.py
  jina/executors/__init__.py
  jina/parsers/peapods/pea.py
  jina/peapods/pods/__init__.py
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
  tests/distributed/test_workspaces/test_custom_container.py
  tests/integration/container_runtime_args/__init__.py
  tests/integration/container_runtime_args/replica-exec/Dockerfile
  tests/integration/container_runtime_args/replica-exec/__init__.py
  tests/integration/container_runtime_args/replica-exec/config.yml
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/issues/github_3124/test_cli_executor.py
  tests/integration/override_config_params/container/test_override_config_params.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/unit/executors/test_executor.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, component/executor, executor/meta, area/cli

#3851 docs: multiprocessing spawn
  docs/advanced/experimental/windows.md
  docs/fundamentals/flow/remarks.md
Labels: size/M, area/docs

#3852 docs(audio tutorial): grammatical corrections
  docs/datatype/audio/index.md
Labels: size/S, area/docs

#3853 docs: add general tutorial on 3d mesh data
  docs/datatype/mesh/3dmesh-man.gif
  docs/datatype/mesh/image45.gif
  docs/datatype/mesh/img.png
  docs/datatype/mesh/index.md
  docs/datatype/mesh/pointcloud-man.gif
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/types/document/converters.py
  tests/unit/types/document/test.glb
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/setup, component/type

#3855 perf(types): more efficient batching and resampling
  docs/datatype/image/index.md
  jina/helloworld/multimodal/my_executors.py
  jina/types/arrays/neural_ops.py
  jina/types/arrays/traversable.py
  jina/types/document/converters.py
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/type

#3833 test(stream): fix flaky http protocol
  tests/integration/streaming/test_clients_streaming.py
Labels: size/S, area/testing

#3826 feat: allow rolling update with uses_with in jinad
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pod.py
  daemon/api/endpoints/pods.py
  daemon/clients/flows.py
  daemon/clients/pods.py
  daemon/stores/containers.py
  daemon/stores/partial.py
  tests/daemon/unit/api/endpoints/partial/test_flow.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
  tests/distributed/test_workspaces/test_remote_workspaces.py
Labels: size/M, size/S, area/testing, area/daemon

#3859 fix: set does not guarantee order
  jina/jaml/helper.py
Labels: area/core, size/XS, component/jaml

#3861 feat(types): add text_fields to get_vocabulary to doc and da
  jina/types/arrays/document.py
  jina/types/document/__init__.py
Labels: area/core, size/S, component/type

#3863 refactor(types): improve the array type checking
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/types/arrays/document.py
  jina/types/document/__init__.py
  jina/types/mixin.py
  tests/unit/types/document/test_helper.py
Labels: size/M, area/core, area/testing, component/resource, area/setup, component/type

#3864 fix(hub): fix version check and requirement parsing
  cli/autocomplete.py
  docs/advanced/hub/push-executor.md
  jina/flow/base.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/parsers/hubble/new.py
  jina/parsers/hubble/pull.py
  jina/parsers/hubble/push.py
  jina/types/document/converters.py
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_pushpull.py
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/flow, component/type, area/cli

#3870 feat(executor): Executor.from_hub now accepts jinahub scheme 🍾
  jina/executors/__init__.py
  jina/helper.py
  jina/jaml/__init__.py
  tests/unit/executors/test_executor.py
Labels: area/core, area/helper, size/S, area/testing, component/executor, executor/meta, component/jaml

#3856 refactor: separate k8s namespace from flow name
  docs/advanced/experimental/kubernetes.md
  jina/clients/mixin.py
  jina/flow/base.py
  tests/k8s/conftest.py
  tests/k8s/test_custom_resource_dir.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
Labels: size/M, area/core, size/S, area/testing, area/docs, size/XS, component/flow, component/client

#3878 refactor(types): refactoring documentarray and memmap via mixin
  docs/fundamentals/document/documentarraymemmap-api.md
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/types/arrays/abstract.py
  jina/types/arrays/chunk.py
  jina/types/arrays/document.py
  jina/types/arrays/match.py
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/memmap/bpm.py
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/content.py
  jina/types/arrays/mixins/empty.py
  jina/types/arrays/mixins/getattr.py
  jina/types/arrays/mixins/group.py
  jina/types/arrays/mixins/io/__init__.py
  jina/types/arrays/mixins/io/binary.py
  jina/types/arrays/mixins/io/common.py
  jina/types/arrays/mixins/io/csv.py
  jina/types/arrays/mixins/io/json.py
  jina/types/arrays/mixins/magic.py
  jina/types/arrays/mixins/match.py
  jina/types/arrays/mixins/plot.py
  jina/types/arrays/mixins/sample.py
  jina/types/arrays/mixins/text.py
  jina/types/arrays/mixins/traverse.py
  jina/types/arrays/types.py
  jina/types/document/__init__.py
  tests/unit/types/arrays/documentarray/__init__.py
  tests/unit/types/arrays/documentarray/test_chunkarray.py
  tests/unit/types/arrays/documentarray/test_documentarray.py
  tests/unit/types/arrays/documentarray/test_matcharray.py
  tests/unit/types/arrays/memmap/__init__.py
  tests/unit/types/arrays/memmap/test_buffer.py
  tests/unit/types/arrays/memmap/test_memmap.py
  tests/unit/types/arrays/mixins/__init__.py
  tests/unit/types/arrays/mixins/test_empty.py
  tests/unit/types/arrays/mixins/test_getset.py
  tests/unit/types/arrays/mixins/test_group.py
  tests/unit/types/arrays/mixins/test_io.py
  tests/unit/types/arrays/mixins/test_magic.py
  tests/unit/types/arrays/mixins/test_match.py
  tests/unit/types/arrays/mixins/test_plot.py
  tests/unit/types/arrays/mixins/test_sample.py
  tests/unit/types/arrays/mixins/test_text.py
  tests/unit/types/arrays/mixins/test_traverse.py
  tests/unit/types/arrays/test_batching.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/document/test_converters.py
Labels: area/core, area/testing, area/network, component/peapod, size/XL, area/docs, component/type

#3867 chore: logo change
  README.md
Labels: size/XS

#3877 feat: star routing graph gateway
  jina/peapods/runtimes/gateway/graph/__init__.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  tests/unit/peapods/runtimes/gateway/graph/__init__.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
Labels: size/L, area/core, area/testing, area/network, component/peapod

#3885 refactor(helloworld): use inference mode
  jina/helloworld/chatbot/my_executors.py
  jina/helloworld/multimodal/my_executors.py
Labels: area/core, size/S

#3887 feat: star routing - refactor grpc data runtime
  cli/api.py
  jina/peapods/networking.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/peapods/runtimes/worker/__init__.py
  jina/types/message/__init__.py
  tests/unit/peapods/runtimes/worker/test_grpc_data_runtime.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
  tests/unit/peapods/test_networking.py
Labels: size/L, area/core, area/testing, area/network, component/peapod, component/type, area/cli

#3889 refactor(types): new implementation on ndarray types
  docs/fundamentals/document/document-api.md
  extra-requirements.txt
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/resources/extra-requirements.txt
  jina/types/arrays/mixins/content.py
  jina/types/arrays/mixins/io/csv.py
  jina/types/document/__init__.py
  jina/types/document/graph.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  jina/types/ndarray/dense/__init__.py
  jina/types/ndarray/dense/numpy.py
  jina/types/ndarray/generic.py
  jina/types/ndarray/sparse/__init__.py
  jina/types/ndarray/sparse/numpy.py
  jina/types/ndarray/sparse/pytorch.py
  jina/types/ndarray/sparse/scipy.py
  jina/types/ndarray/sparse/tensorflow.py
  tests/unit/clients/python/test_request.py
  tests/unit/peapods/runtimes/gateway/http/test_models.py
  tests/unit/test_helper.py
  tests/unit/test_quant.py
  tests/unit/types/arrays/mixins/test_match.py
  tests/unit/types/document/test_document.py
  tests/unit/types/document/test_helper.py
  tests/unit/types/ndarray/test_generic.py
  tests/unit/types/ndarray/test_ndarray.py
  tests/unit/types/test_repr_str.py
Labels: area/core, area/testing, area/network, size/XL, area/docs, component/resource, area/setup, component/proto, component/type

#3890 docs: polish small to big image search
  docs/datatype/image/small-images-inside-big-images/alaeddine.jpg
  docs/datatype/image/small-images-inside-big-images/building-executors.md
  docs/datatype/image/small-images-inside-big-images/building-flows.md
  docs/datatype/image/small-images-inside-big-images/formulating-problem.md
  docs/datatype/image/small-images-inside-big-images/index.md
  docs/datatype/image/small-images-inside-big-images/pre-requisites.md
Labels: size/S, area/docs

#3891 feat(proto): enable sending multiple messages in a list
  jina/peapods/runtimes/worker/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/serializer.py
Labels: size/M, area/core, area/network, component/peapod, component/proto

#3893 feat: star routing gateway
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/peapods/runtimes/remote.py
  jina/peapods/networking.py
  jina/peapods/runtimes/gateway/__init__.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/gateway/http/__init__.py
  jina/peapods/runtimes/gateway/http/app.py
  jina/peapods/runtimes/gateway/websocket/__init__.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/stream/base.py
  jina/peapods/stream/client.py
  jina/peapods/stream/gateway.py
  tests/integration/gateway_clients/__init__.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
Labels: area/core, area/testing, area/network, component/peapod, size/XL

#3894 feat(types): add scipy sparse to ravel/unravel
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/mixins/content.py
  jina/types/ndarray/__init__.py
  tests/unit/types/ndarray/test_ndarray.py
Labels: size/M, area/core, area/testing, component/type

#3897 feat: star routing gateway all protocols
  cli/api.py
  daemon/models/__init__.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/peapods/peas/helper.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/gateway/__init__.py
  jina/peapods/runtimes/gateway/http/__init__.py
  jina/peapods/runtimes/gateway/websocket/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  jina/peapods/stream/base.py
  jina/peapods/stream/client.py
  jina/peapods/stream/gateway.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/gateway/http/test_app.py
  tests/unit/peapods/runtimes/test_runtimes.py
Labels: size/L, area/core, area/testing, area/network, component/peapod, component/flow, area/cli, area/daemon

#3892 docs: remove compound executor and graph document
  docs/advanced/experimental/index.md
Labels: size/M, area/docs, size/XS

#3902 refactor(types): leverage new ndarray to match
  jina/math/distance.py
  jina/math/helper.py
  jina/types/arrays/mixins/match.py
  jina/types/ndarray/__init__.py
  tests/unit/math/test_distance.py
  tests/unit/types/arrays/memmap/test_memmap.py
  tests/unit/types/arrays/mixins/test_match.py
Labels: size/M, area/core, area/testing, component/type, component/math

#3901 test: add streaming and prefetch tests
  jina/peapods/stream/base.py
  jina/peapods/stream/client.py
  jina/peapods/stream/gateway.py
  tests/integration/gateway_clients/test_streaming.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3899 feat(head): new head runtime for star routing
  Dockerfiles/protogen.Dockerfile
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/peapods/runtimes/head.py
  jina/peapods/networking.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/head/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/__init__.py
  jina/types/message/common.py
  tests/unit/clients/test_helper.py
  tests/unit/peapods/runtimes/head/__init__.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
  tests/unit/peapods/test_networking.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
Labels: area/docker, area/core, area/testing, area/network, component/peapod, size/XL, component/flow, component/proto, component/type, area/cli

#3903 fix(types): fix all zeros and near zero sparse ravel
  jina/types/ndarray/__init__.py
  tests/unit/types/arrays/mixins/test_getset.py
Labels: area/core, size/S, area/testing, component/type

#3905 feat(worker): merge docs in worker runtime
  jina/peapods/networking.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/peapods/runtimes/worker/__init__.py
  tests/unit/peapods/runtimes/request_handlers/test_data_request_handlers.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3909 fix: fix signal handling from __init__ streamlit
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#3908 feat(tests): star routing runtime integration tests
  jina/peapods/networking.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/head/__init__.py
  tests/integration/runtimes/__init__.py
  tests/integration/runtimes/test_runtimes.py
Labels: size/L, area/core, area/testing, area/network, component/peapod

#3910 test: test runtimes fast slow request
  tests/integration/runtimes/test_runtimes.py
Labels: size/S, area/testing

#3915 feat(zmq): purge zmq, zed, routing_table
  cli/api.py
  cli/autocomplete.py
  daemon/api/dependencies.py
  daemon/stores/partial.py
  extra-requirements.txt
  jina/checker.py
  jina/excepts.py
  jina/flow/base.py
  jina/helper.py
  jina/parsers/__init__.py
  jina/parsers/peapods/pea.py
  jina/parsers/peapods/runtimes/worker.py
  jina/parsers/peapods/runtimes/zmq.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/k8s.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/zmq/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/stream/gateway.py
  jina/peapods/zmq/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/resources/extra-requirements.txt
  jina/types/message/__init__.py
  jina/types/message/common.py
  jina/types/routing/__init__.py
  jina/types/routing/table.py
  tests/daemon/unit/api/endpoints/test_logs.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/flow-orchestrate/test_remote_orchestrate.py
  tests/unit/peapods/pods/test_k8s_pod.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/test_runtimes.py
  tests/unit/peapods/runtimes/zmq/__init__.py
  tests/unit/peapods/runtimes/zmq/test_zed_runtime.py
  tests/unit/peapods/zmq/__init__.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
  tests/unit/peapods/zmq/test_zmq_addr.py
  tests/unit/types/message/test_common.py
  tests/unit/types/message/test_message.py
  tests/unit/types/test_routing_graph.py
Labels: area/core, area/helper, area/testing, area/network, component/peapod, size/XL, component/resource, component/flow, area/setup, component/proto, component/type, area/cli, area/daemon

#3919 refactor(types): use mixin to refactor document class
  docs/datatype/audio/index.md
  docs/datatype/image/index.md
  docs/datatype/mesh/index.md
  docs/datatype/tabular/index.md
  docs/datatype/text/index.md
  docs/datatype/video/index.md
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/documentarraymemmap-api.md
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/arrays/chunk.py
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/match.py
  jina/types/document/__init__.py
  jina/types/document/converters.py
  jina/types/document/graph.py
  jina/types/document/helper.py
  jina/types/document/mixins/__init__.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/audio.py
  jina/types/document/mixins/buffer.py
  jina/types/document/mixins/content.py
  jina/types/document/mixins/convert.py
  jina/types/document/mixins/dump.py
  jina/types/document/mixins/helper.py
  jina/types/document/mixins/image.py
  jina/types/document/mixins/match.py
  jina/types/document/mixins/mesh.py
  jina/types/document/mixins/plot.py
  jina/types/document/mixins/text.py
  jina/types/document/mixins/version.py
  jina/types/document/mixins/video.py
  jina/types/list.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  jina/types/struct.py
  tests/unit/types/arrays/documentarray/test_chunkarray.py
  tests/unit/types/arrays/documentarray/test_matcharray.py
  tests/unit/types/document/test_converters.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, area/network, size/XL, area/docs, component/client, component/proto, component/type

#3895 docs: add configurations to hide sidebar and nav when loaded in iframe
  docs/_static/iframe.js
  docs/_static/main.css
  docs/_templates/page.html
  docs/conf.py
Labels: size/S, area/docs

#3921 test: gateway to worker
  tests/integration/runtimes/test_runtimes.py
Labels: size/S, area/testing

#3918 feat(pea): adapt peas for star routing
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/runtimes/worker.py
  jina/peapods/networking.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/gateway/__init__.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
Labels: size/M, size/L, area/core, area/testing, area/network, component/peapod, component/flow, component/proto, area/cli

#3923 feat(tests): integration tests for peas
  daemon/api/dependencies.py
  jina/enums.py
  jina/parsers/peapods/pea.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/__init__.py
  tests/integration/peas/__init__.py
  tests/integration/peas/test_pea.py
  tests/unit/peapods/pods/test_compound_pods.py
Labels: size/L, area/core, area/helper, area/testing, area/network, component/peapod, area/daemon

#3924 docs(fundamentals): more polishing
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/documentarraymemmap-api.md
Labels: size/M, area/docs

#3698 feat(types): add ranking evaluation mixin
  .github/workflows/force-docs-build.yml
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/documentarray/document-array-visualize.png
  docs/fundamentals/document/documentarray/index.md
  docs/fundamentals/document/documentarray/match_illustration_5.svg
  docs/fundamentals/document/documentarray/traverse-example-docs.svg
  docs/fundamentals/document/documentarraymemmap-api.md
  docs/fundamentals/document/index.md
  jina/helper.py
  jina/math/evaluation.py
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/empty.py
  jina/types/arrays/mixins/evaluation.py
  jina/types/arrays/mixins/magic.py
  jina/types/arrays/mixins/traverse.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/audio.py
  jina/types/document/mixins/buffer.py
  jina/types/document/mixins/content.py
  jina/types/document/mixins/convert.py
  jina/types/document/mixins/dump.py
  jina/types/document/mixins/helper.py
  jina/types/document/mixins/image.py
  jina/types/document/mixins/mesh.py
  jina/types/document/mixins/plot.py
  jina/types/document/mixins/text.py
  jina/types/document/mixins/video.py
  jina/types/mixin.py
  jina/types/score/map.py
  tests/unit/types/arrays/mixins/test_eval_class.py
  tests/unit/types/arrays/mixins/test_eval_metrics.py
Labels: size/M, size/L, area/core, area/helper, area/testing, component/type, component/math

#3925 refactor(types): traversal_paths is now a comma-sep string
  docs/fundamentals/document/documentarray-api.md
  jina/types/arrays/mixins/traverse.py
  tests/unit/types/arrays/mixins/test_traverse.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#3832 docs: draft image search via text
  docs/datatype/image/bike1.png
  docs/datatype/image/bike2.png
  docs/datatype/image/bike3.png
  docs/datatype/image/cat1.png
  docs/datatype/image/cat2.png
  docs/datatype/image/cat3.png
  docs/datatype/image/dog1.png
  docs/datatype/image/dog2.png
  docs/datatype/image/dog3.png
  docs/datatype/image/index_flow_text2image.svg
  docs/datatype/image/query_flow_text2image.svg
  docs/datatype/image/text2image.md
Labels: size/M, area/docs, size/XS

#3926 feat(types): add framework & gpu support to match function
  docs/fundamentals/document/documentarray-api.md
  jina/math/distance/__init__.py
  jina/math/distance/numpy.py
  jina/math/distance/paddle.py
  jina/math/distance/tensorflow.py
  jina/math/distance/torch.py
  jina/types/arrays/mixins/match.py
  tests/unit/math/test_distance.py
  tests/unit/math/test_distance_paddle.py
  tests/unit/math/test_distance_tf.py
  tests/unit/math/test_distance_torch.py
  tests/unit/math/test_eval_metrics.py
  tests/unit/types/arrays/mixins/test_match.py
Labels: size/L, area/core, area/testing, component/type, component/math

#3928 style(type): use type_check instead of if false
  jina/checker.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/mixin.py
  jina/excepts.py
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/helloworld/chatbot/my_executors.py
  jina/helloworld/fashion/my_executors.py
  jina/helloworld/multimodal/my_executors.py
  jina/helper.py
  jina/importer.py
  jina/jaml/parsers/base.py
  jina/optimizers/__init__.py
  jina/optimizers/parameters.py
  jina/parsers/optimizer.py
  jina/peapods/networking.py
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/mixins/__init__.py
  jina/types/document/graph.py
  jina/types/document/helper.py
  jina/types/document/mixins/__init__.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/content.py
  jina/types/document/mixins/plot.py
  jina/types/message/__init__.py
  jina/types/score/map.py
  tests/integration/hub_usage/dummyhub_pretrained/__init__.py
Labels: size/M, area/core, area/helper, area/testing, area/network, component/peapod, component/executor, executor/meta, component/flow, component/client, component/type, component/jaml

#3916 docs: polishing
  README.md
  docs/advanced/experimental/windows.md
  docs/advanced/hub/create-hub-executor.md
  docs/advanced/hub/hub-portal.md
  docs/advanced/hub/index.md
  docs/advanced/hub/push-executor.md
  docs/advanced/hub/use-hub-executor.md
  docs/fundamentals/clean-code.md
  docs/fundamentals/concepts.md
  docs/get-started/hello-world/covid-19-chatbot.md
  docs/get-started/hello-world/index.md
  docs/get-started/hello-world/multimodal.md
  docs/get-started/install.md
  docs/get-started/install/troubleshooting.md
  docs/index.md
Labels: size/M, area/docs

#3929 fix(executor): do not raise error but return none if no workspace
  jina/executors/__init__.py
Labels: area/core, size/S, component/executor, executor/meta

#3930 refactor(client): drop prettytable using rich to plot routes
  extra-requirements.txt
  jina/clients/helper.py
  jina/hubble/hubio.py
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, component/resource, area/setup, component/client

#3932 feat(proto): regenerate proto
  jina/proto/jina_pb2.py
Labels: area/core, area/network, size/XL, component/proto

#3922 feat: star routing container pea
  cli/api.py
  daemon/stores/partial.py
  jina/flow/base.py
  jina/parsers/peapods/pea.py
  jina/peapods/__init__.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/container.py
  jina/peapods/peas/container_helper.py
  jina/peapods/peas/factory.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/issues/github_2371/test_pea.py
  tests/integration/peas/container/__init__.py
  tests/integration/peas/container/gateway-runtime/Dockerfile
  tests/integration/peas/container/gateway-runtime/runtime.py
  tests/integration/peas/container/head-runtime/Dockerfile
  tests/integration/peas/container/head-runtime/runtime.py
  tests/integration/peas/container/test_pea.py
  tests/integration/peas/container/worker-runtime/Dockerfile
  tests/integration/peas/test_pea.py
  tests/unit/clients/python/test_client.py
  tests/unit/flow-construct/test_flow_enter_error.py
  tests/unit/peapods/peas/container/__init__.py
  tests/unit/peapods/peas/container/env-checker/Dockerfile
  tests/unit/peapods/peas/container/env-checker/executor.py
  tests/unit/peapods/peas/container/env-checker/executor.yml
  tests/unit/peapods/peas/container/fail-start/Dockerfile
  tests/unit/peapods/peas/container/fail-start/executor.py
  tests/unit/peapods/peas/container/fail-start/executor.yml
  tests/unit/peapods/peas/container/gateway-runtime/Dockerfile
  tests/unit/peapods/peas/container/gateway-runtime/runtime.py
  tests/unit/peapods/peas/container/head-runtime/Dockerfile
  tests/unit/peapods/peas/container/head-runtime/runtime.py
  tests/unit/peapods/peas/container/test_container_pea.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/runtimes/container/flow.yml
  tests/unit/peapods/runtimes/container/mwu-encoder/Dockerfile
  tests/unit/peapods/runtimes/container/mwu-encoder/mwu_encoder.py
  tests/unit/peapods/runtimes/container/mwu-encoder/mwu_encoder.yml
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/test_runtimes.py
  tests/unit/test_cli.py
  tests/unit/test_echostream.py
  tests/unit/test_is_decompressed_message.py
Labels: area/core, area/testing, area/network, component/peapod, size/XL, component/flow, area/cli, area/daemon

#3934 fix(client): assure error not called on done
  jina/clients/helper.py
  tests/unit/clients/test_helper.py
Labels: area/core, size/S, area/testing, component/client

#3942 test: star routing fix gateways
  jina/peapods/stream/gateway.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3943 fix(evaluate): fix length and hash check on evaluate mixin
  docs/fundamentals/document/documentarray-api.md
  jina/types/arrays/mixins/evaluation.py
  tests/unit/types/arrays/mixins/test_eval_class.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#3945 fix: fix streaming tests
  jina/peapods/runtimes/base.py
  jina/peapods/stream/base.py
Labels: area/core, size/S, area/network, component/peapod

#3948 refactor: container pea move heavylifting in new process
  jina/peapods/peas/container.py
  tests/unit/peapods/peas/container/test_container_pea.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3944 perf: create DocumentArray index map lazily
  jina/types/arrays/document.py
  jina/types/document/graph.py
  tests/unit/types/arrays/documentarray/test_documentarray.py
Labels: area/core, size/S, area/testing, component/type

#3951 fix: check traversal_paths once
  jina/types/arrays/mixins/traverse.py
Labels: area/core, size/S, size/XS, component/type

#3940 feat: star routing pods
  .github/workflows/ci.yml
  .github/workflows/latency-tracking.yml
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/peapods/pod.py
  jina/peapods/__init__.py
  jina/peapods/networking.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/factory.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  jina/peapods/pods/factory.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/gateway/http/__init__.py
  jina/peapods/runtimes/gateway/http/app.py
  jina/peapods/runtimes/gateway/websocket/__init__.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  tests/integration/runtimes/test_runtimes.py
  tests/k8s/test_connection_pool.py
  tests/unit/peapods/peas/container/test_container_pea.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_networking.py
  tests/unit/peapods/pods/test_pod_factory.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/pods/test_scale.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
  tests/unit/peapods/runtimes/request_handlers/test_data_request_handlers.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
  tests/unit/peapods/test_networking.py
Labels: area/housekeeping, area/core, area/cicd, area/testing, area/network, component/peapod, size/XL, component/flow, area/cli

#3957 test: unblock skipped test
  jina/peapods/peas/container.py
  tests/unit/peapods/peas/container/test_container_pea.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3949 feat: jinad pea
  .github/workflows/ci.yml
  daemon/api/dependencies.py
  daemon/dockerize.py
  daemon/stores/partial.py
  jina/helper.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/container.py
  jina/peapods/peas/factory.py
  jina/peapods/peas/helper.py
  jina/peapods/peas/jinad.py
  scripts/get-all-test-paths.sh
  tests/daemon/unit/stores/test_peapodstore.py
  tests/distributed/test_remote_peas/__init__.py
  tests/distributed/test_remote_peas/test_remote_peas.py
  tests/unit/peapods/peas/test_jinad.py
Labels: area/housekeeping, size/L, area/core, area/helper, area/cicd, area/testing, area/network, component/peapod, area/daemon

#3958 feat(tests): add pod integration tests
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/gateway/__init__.py
  jina/peapods/runtimes/head/__init__.py
  scripts/get-all-test-paths.sh
  tests/integration/peas/test_pea.py
  tests/integration/pods/__init__.py
  tests/integration/pods/test_pod.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3956 perf: small improve on uuid generation in doc
  daemon/models/id.py
  jina/helper.py
  jina/types/document/__init__.py
Labels: area/core, area/helper, size/S, size/XS, component/type, area/daemon

#3961 test(pea): remote pea topologies
  daemon/api/endpoints/logs.py
  scripts/get-all-test-paths.sh
  tests/distributed/test_remote_peas/executors/executor.py
  tests/distributed/test_remote_peas/test_remote_peas.py
Labels: size/M, size/S, area/testing, area/daemon

#3959 docs: fix doc-bot style during load
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
Labels: size/M, area/docs

#3963 feat(types): make structview more defaultdict like
  jina/helper.py
  jina/types/arrays/mixins/group.py
  jina/types/struct.py
  tests/unit/types/arrays/mixins/test_group.py
  tests/unit/types/test_struct_view.py
Labels: area/core, area/helper, size/S, area/testing, component/type

#3967 fix(types): fix getter setter when da/dam/values is empty
  jina/types/arrays/mixins/content.py
  tests/unit/types/arrays/mixins/test_content.py
Labels: area/core, size/S, area/testing, component/type

#3969 fix: docbot overflow and scrolling
  docs/_static/docbot.css
  docs/_static/docbot.js
Labels: size/S, area/docs

#3970 docs: executor best practice regarding docker resource
  docs/advanced/hub/executor-best-practices.md
Labels: size/S, area/docs

#3960 refactor: refactor streamer result handling
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/gateway/http/app.py
  jina/peapods/runtimes/gateway/request_handling.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/stream/__init__.py
  jina/peapods/stream/base.py
  jina/peapods/stream/client.py
  jina/peapods/stream/gateway.py
  scripts/get-all-test-paths.sh
  tests/unit/peapods/stream/test_stream.py
Labels: size/M, size/L, area/core, size/S, area/testing, area/network, component/peapod, component/client

#3977 fix: fix fileLock dependency
  jina/hubble/helper.py
Labels: area/core, size/S

#3979 test: add unit types test to list
  scripts/get-all-test-paths.sh
Labels: size/XS

#3974 feat: no return in ChunkArray/MatchArray append
  jina/types/arrays/chunk.py
  jina/types/arrays/match.py
  tests/unit/types/arrays/documentarray/test_chunkarray.py
  tests/unit/types/arrays/documentarray/test_matcharray.py
  tests/unit/types/document/test_document.py
Labels: area/core, size/S, area/testing, component/type

#3978 fix(docbot): feedback tooltip ui style
  docs/_static/docbot.css
  docs/_templates/docbot.html
Labels: size/S, area/docs

#3980 docs(document): add fluent interface and make docbot generate it
  docs/fundamentals/document/apple.png
  docs/fundamentals/document/apple1.png
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/fluent-interface.md
  jina/hubble/helper.py
  jina/types/document/__init__.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/match.py
  scripts/devbot.sh
  scripts/update-fluent-interface.py
  tests/unit/types/document/test_document.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#3984 fix: warning ldarray rdarray should be 'traversal_paths'
  jina/types/arrays/mixins/match.py
Labels: area/core, size/XS, component/type

#3981 docs: versioning
  .github/workflows/force-docs-build.yml
  .github/workflows/label-pr.yml
  docs/Makefile
  docs/_static/main.css
  docs/_templates/sidebar/brand.html
  docs/conf.py
  docs/makedoc.sh
  docs/requirements.txt
Labels: size/M, area/housekeeping, area/cicd, area/docs

#3983 fix: filelock dependency not required
  jina/hubble/helper.py
Labels: area/core, size/S

#3985 docs: add latest version to root
  .github/workflows/force-docs-build.yml
  docs/_templates/sidebar/brand.html
  docs/conf.py
  docs/makedoc.sh
Labels: area/housekeeping, size/S, area/cicd, area/docs, size/XS

#3982 refactor(daemon): use context to set envs
  daemon/api/dependencies.py
  jina/jaml/__init__.py
  jina/types/document/__init__.py
  tests/daemon/unit/api/flow_with_env.yml
  tests/daemon/unit/api/test_dependencies.py
  tests/distributed/test_dir_structures/src1/flow_config_yml.yml
  tests/distributed/test_dir_structures/src1/flow_py_modules.yml
  tests/distributed/test_dir_structures/src2/flow_config_yml.yml
  tests/distributed/test_dir_structures/src2/flow_py_modules.yml
  tests/distributed/test_dir_structures/src3/flow_config_yml.yml
  tests/distributed/test_dir_structures/src3/flow_py_modules.yml
  tests/distributed/test_dir_structures/src4/flow_config_yml.yml
  tests/distributed/test_dir_structures/src4/flow_py_modules.yml
  tests/distributed/test_dir_structures/src5/flow_config_yml.yml
  tests/distributed/test_dir_structures/src5/flow_py_modules.yml
  tests/distributed/test_scale_remote/flow_container.yml
  tests/distributed/test_scale_remote/flow_zed.yml
  tests/distributed/test_topologies/yamls/flow_glg.yml
  tests/distributed/test_topologies/yamls/flow_gllg.yml
  tests/integration/scale/test_scale.py
Labels: area/core, size/S, area/testing, component/type, component/jaml, area/daemon

#3991 fix: change name of qa bot tutorial md file
  docs/tutorials/question-answering-bot.md
Labels: size/L, area/docs, size/XS

#3994 feat: add plot function
  jina/peapods/pods/__init__.py
  jina/peapods/pods/k8s.py
Labels: size/M, area/core, area/network, component/peapod

#3986 feat(flow): adapt Flow for StarRouting
  cli/autocomplete.py
  daemon/api/dependencies.py
  jina/enums.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/head.py
  jina/parsers/peapods/runtimes/worker.py
  jina/peapods/networking.py
  jina/peapods/peas/jinad.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/k8s.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/request_handling.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/peapods/runtimes/worker/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/__init__.py
  scripts/get-all-test-paths.sh
  tests/conftest.py
  tests/integration/peas/test_pea.py
  tests/integration/pods/test_pod.py
  tests/integration/runtimes/test_runtimes.py
  tests/k8s/test_connection_pool.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
  tests/k8s/test_pods.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_block.py
  tests/unit/flow-construct/test_flow_enter_error.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-construct/test_flow_skip.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/flow-example/test_flow_empty_request.py
  tests/unit/flow-example/test_flow_example_face.py
  tests/unit/flow-example/test_flow_example_faiss.py
  tests/unit/flow-example/test_flow_examples.py
  tests/unit/flow-orchestrate/test_flow_before_after.py
  tests/unit/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/flow-orchestrate/test_flow_dynamic_routing.py
  tests/unit/jaml/test_type_parse.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/test_yamlparser.py
Labels: size/L, area/core, area/helper, area/testing, area/network, component/peapod, size/XL, component/flow, component/proto, component/type, area/cli, area/daemon

#4001 docs: allow local branch only
  docs/Makefile
  docs/_templates/sidebar/brand.html
  docs/conf.py
  docs/makedoc.sh
Labels: size/M, area/docs

#3999 docs(version): fix selected version not rendering
  docs/_static/main.css
  docs/_templates/sidebar/brand.html
Labels: size/S, area/docs

#4005 feat(types): add embed and fromgen mixin to da & dam
  .github/images/cat-similar.png
  .github/images/clock-10min.svg
  .github/images/clock-1min.svg
  .github/images/clock-5min.svg
  .github/images/readme-curl.svg
  .github/images/readme-flow-plot.svg
  .github/images/readme-q-match.svg
  .github/images/readme-swagger-ui.gif
  README.md
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/documentarraymemmap-api.md
  docs/fundamentals/document/fluent-interface.md
  docs/get-started/install/troubleshooting.md
  img.png
  jina/__init__.py
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/embed.py
  jina/types/arrays/mixins/io/binary.py
  jina/types/arrays/mixins/io/common.py
  jina/types/arrays/mixins/io/csv.py
  jina/types/arrays/mixins/io/from_gen.py
  jina/types/arrays/mixins/io/json.py
  jina/types/arrays/mixins/plot.py
  jina/types/document/generators.py
  jina/types/document/mixins/__init__.py
  jina/types/document/mixins/image.py
  jina/types/document/mixins/sugar.py
  tests/unit/clients/python/test_io.py
  tests/unit/test_readme.py
  tests/unit/types/arrays/mixins/docs.jsonlines
  tests/unit/types/arrays/mixins/test_embed.py
  tests/unit/types/arrays/mixins/test_io.py
Labels: area/housekeeping, area/core, area/helper, area/testing, size/XL, area/docs, area/entrypoint, component/type

#3996 feat(daemon): add env to partial daemon
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pea.py
  daemon/api/endpoints/partial/pod.py
  daemon/stores/containers.py
  daemon/stores/flows.py
  daemon/stores/partial.py
  daemon/stores/peas.py
  tests/daemon/unit/api/endpoints/partial/test_pea.py
  tests/daemon/unit/api/endpoints/partial/test_pod.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/distributed/test_env_vars/__init__.py
  tests/distributed/test_env_vars/envvars_ws1/executor.py
  tests/distributed/test_env_vars/envvars_ws1/executor.yml
  tests/distributed/test_env_vars/envvars_ws1/flow.yml
  tests/distributed/test_env_vars/envvars_ws2/config.yml
  tests/distributed/test_env_vars/envvars_ws2/exec.py
  tests/distributed/test_env_vars/envvars_ws2/flow_with_env.yml
  tests/distributed/test_env_vars/test_remote_flow_executor.py
  tests/distributed/test_env_vars/test_remote_flow_files.py
Labels: size/M, area/housekeeping, size/S, area/cicd, area/testing, area/daemon

#4007 feat(types): add support of ONNX runtime to .embed()
  README.md
  docs/fundamentals/document/documentarray-api.md
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/types/arrays/mixins/embed.py
  tests/unit/types/arrays/mixins/test_embed.py
Labels: size/M, area/core, area/testing, area/docs, component/resource, area/setup, component/type

#4002 docs: refactor indexers page
  docs/advanced/experimental/indexers.md
Labels: size/S, area/docs

#4009 fix: improve docs
  jina/types/arrays/mixins/match.py
Labels: area/core, size/XS, component/type

#4010 docs(types): add parallel map to documentarray-like objects
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/fluent-interface.md
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/parallel.py
  jina/types/document/__init__.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/image.py
  jina/types/list.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  jina/types/request/__init__.py
  jina/types/routing/table.py
  jina/types/score/__init__.py
  jina/types/struct.py
  tests/unit/types/arrays/mixins/test_parallel.py
  tests/unit/types/document/test_converters.py
  tests/unit/types/test_pickle.py
Labels: size/M, area/core, area/testing, area/docs, component/type
