Repository jina-ai/serve, pull requests merged in 2021-09, with the labels that each got.

#3315 docs(hub): add hub executor best practices
  .github/images/hub-best-practices.png
  docs/advanced/hub/create-hub-executor.md
  docs/advanced/hub/executor-best-practices.md
  docs/advanced/hub/index.md
  docs/index.md
Labels: area/housekeeping, size/S, area/docs

#3312 fix: rolling update with container runtime
  cli/autocomplete.py
  daemon/api/dependencies.py
  daemon/models/ports.py
  daemon/stores/partial.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/runtimes/container/__init__.py
  tests/distributed/test_rolling_update_container_runtime/__init__.py
  tests/distributed/test_rolling_update_container_runtime/docker-compose.yml
  tests/distributed/test_rolling_update_container_runtime/flow_dbms.yml
  tests/distributed/test_rolling_update_container_runtime/flow_query.yml
  tests/distributed/test_rolling_update_container_runtime/pods/dbms/Dockerfile
  tests/distributed/test_rolling_update_container_runtime/pods/dbms/config.yml
  tests/distributed/test_rolling_update_container_runtime/pods/dbms/executor.py
  tests/distributed/test_rolling_update_container_runtime/pods/query/Dockerfile
  tests/distributed/test_rolling_update_container_runtime/pods/query/config.yml
  tests/distributed/test_rolling_update_container_runtime/pods/query/executor.py
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, area/cli, area/daemon

#3313 feat: disable button and search animation
  jina/helloworld/multimodal/static/index.html
Labels: area/core, size/S

#3319 fix: remove typo and small rewrite of match explanation
  docs/fundamentals/document/documentarray-api.md
  jina/flow/base.py
Labels: area/core, size/S, area/docs, component/flow

#3204 ci: enable workflows for external contributors
  .github/workflows/ci.yml
  .github/workflows/label-pr.yml
  .github/workflows/latency-tracking.yml
Labels: area/housekeeping, size/S, area/cicd

#3325 refactor: make operators private
  jina/types/arrays/search_ops.py
Labels: area/core, size/XS, component/type

#3330 docs: add recommend way to perform heavy lift jobs
  docs/fundamentals/clean-code.md
Labels: size/S, area/docs

#3329 chore: add eah title
  .github/images/eah.svg
  README.md
Labels: area/housekeeping, size/XS

#3335 refactor(hub): alias to name
  jina/hubble/__init__.py
  jina/hubble/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing

#3318 refactor: remove redundant code
  .github/workflows/ci.yml
  extra-requirements.txt
  jina/peapods/pods/k8s.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  jina/resources/extra-requirements.txt
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: size/M, area/housekeeping, area/core, area/cicd, area/testing, area/network, component/peapod, component/resource, area/setup

#3337 docs: add conda install instructions
  README.md
  docs/get-started/install.md
Labels: size/S, area/docs

#3338 perf: embeddings
  jina/types/arrays/document.py
Labels: area/core, size/XS, component/type

#3340 docs: use port replace port expose in client
  .coveragerc
  .github/codecov.yml
  docs/fundamentals/flow/flow-as-a-service.md
  docs/fundamentals/flow/index.md
  pytest.ini
  tests/integration/crud/__init__.py
  tests/integration/v2_api/test_returns.py
  tests/unit/clients/python/test_client.py
Labels: area/housekeeping, size/S, area/testing, area/docs

#3336 fix: small changes to conda script
  conda/meta.yaml
  scripts/create-conda-recipe.py
Labels: size/S

#3344 feat(k8s): client access from within the cluster
  jina/peapods/pods/k8slib/kubernetes_tools.py
Labels: area/core, area/network, component/peapod, size/XS

#3346 ci: classify flow unit test
  tests/unit/flow-construct/__init__.py
  tests/unit/flow-construct/mwu-encoder/Dockerfile
  tests/unit/flow-construct/mwu-encoder/__init__.py
  tests/unit/flow-construct/mwu-encoder/mwu_encoder.py
  tests/unit/flow-construct/mwu-encoder/mwu_encoder.yml
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_enter_error.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-construct/test_flow_skip.py
  tests/unit/flow-construct/test_flow_start_noblock.py
  tests/unit/flow-construct/test_flow_visualization.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/flow-construct/test_slow_executor_shutdown.py
  tests/unit/flow-construct/yaml/dummy-flow.yml
  tests/unit/flow-construct/yaml/flow-allinone-oldstyle.yml
  tests/unit/flow-construct/yaml/flow-allinone.yml
  tests/unit/flow-construct/yaml/flow-gateway.yml
  tests/unit/flow-construct/yaml/flow-legacy-syntax.yml
  tests/unit/flow-construct/yaml/flow-v1-syntax.yml
  tests/unit/flow-construct/yaml/flow-v1.0-syntax.yml
  tests/unit/flow-construct/yaml/flow-v99-syntax.yml
  tests/unit/flow-construct/yaml/flow-with-envs.yml
  tests/unit/flow-construct/yaml/test-flow-port.yml
  tests/unit/flow-example/__init__.py
  tests/unit/flow-example/test_flow_example_face.py
  tests/unit/flow-example/test_flow_example_faiss.py
  tests/unit/flow-example/test_flow_segmenter.py
  tests/unit/flow-example/yaml/dummy-seg-not-random.yml
  tests/unit/flow-orchestrate/__init__.py
  tests/unit/flow-orchestrate/test_asyncflow.py
  tests/unit/flow-orchestrate/test_flow_before_after.py
  tests/unit/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/flow-orchestrate/test_flow_dynamic_routing.py
  tests/unit/flow-orchestrate/test_flow_http_extend.py
  tests/unit/flow-orchestrate/test_flow_merge.py
  tests/unit/flow-orchestrate/test_remote_orchestrate.py
  tests/unit/flow-orchestrate/yaml/flow-gateway.yml
Labels: size/S, area/testing

#3348 fix: dam can be returned by an executor
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  tests/unit/peapods/runtimes/request_handlers/test_data_request_handlers.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3350 feat: k8s parallel for shards
  jina/peapods/pods/k8slib/kubernetes_deployment.py
Labels: area/core, area/network, component/peapod, size/XS

#3352 feat(match): add exclude_self to match func
  jina/types/arrays/neural_ops.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: area/core, size/S, area/testing, component/type

#3324 feat(flow): add install_requirments args when using jinahub
  cli/autocomplete.py
  jina/flow/base.py
  jina/hubble/helper.py
  jina/parsers/peapods/pod.py
  jina/peapods/peas/helper.py
  tests/integration/hub_usage/dummyhub/requirements.txt
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/dummy_executor/requirements.txt
  tests/unit/hubble/test_helper.py
Labels: area/core, size/S, area/testing, area/network, component/peapod, component/flow, area/cli

#3356 perf: improve constructor of doc
  jina/types/document/__init__.py
Labels: area/core, size/XS, component/type

#3339 perf: document fast init
  jina/types/document/__init__.py
Labels: area/core, size/S, component/type

#3355 refactor: unnecessary raise as builtin sample already raise
  jina/types/arrays/search_ops.py
Labels: area/core, size/XS, component/type

#3354 fix(k8s): uses with
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3353 fix: #3351
  jina/jaml/parsers/executor/legacy.py
Labels: area/core, size/S, component/jaml

#3347 refactor(protobuf): use .uri as an independent attribute
  docs/fundamentals/document/document-api.md
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  tests/unit/clients/python/test_client.py
  tests/unit/helloworld/multimodal/test_executors.py
  tests/unit/peapods/runtimes/gateway/http/test_models.py
  tests/unit/types/document/test_document.py
Labels: size/M, area/core, area/helper, area/testing, area/network, area/docs, component/proto, area/entrypoint, component/type

#3349 docs: add note to warn users about int data type in doc.tags and parameters
  docs/fundamentals/document/document-api.md
  docs/fundamentals/executor/executor-built-in-features.md
Labels: size/M, area/docs

#3361 docs(type): restructure document type
  .github/2.0/doc.content.svg
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/documentarray-api.md
Labels: area/housekeeping, size/L, area/docs

#3362 fix: name can be None in args
  jina/jaml/parsers/executor/legacy.py
Labels: area/core, size/XS, component/jaml

#3358 test: pods k8s parse args unit test
  jina/peapods/pods/k8s.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3366 fix(type): fix check on unique content field
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, size/S, area/testing, component/type

#3359 test(k8s): unit test tools
  jina/peapods/pods/k8slib/kubernetes_tools.py
  tests/k8s/test_custom_resource_dir.py
  tests/unit/peapods/pods/k8slib/__init__.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_tools.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3357 docs: kubernetes cook book
  docs/advanced/experimental/index.md
  docs/advanced/experimental/kubernetes.md
Labels: size/M, area/docs

#3363 fix(routing): fix static routing table args
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/flow.py
  jina/parsers/peapods/base.py
  jina/peapods/grpc/__init__.py
  jina/peapods/pods/k8s.py
  jina/peapods/runtimes/grpc/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/types/message/__init__.py
Labels: area/core, size/S, area/network, component/peapod, component/flow, component/type, area/cli

#3372 fix: k8s needs
  jina/peapods/pods/k8s.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: size/M, area/core, area/testing, area/network, component/peapod

#3375 docs: add note on indexers
  .github/images/replicas.png
  docs/fundamentals/executor/index.md
  docs/fundamentals/executor/indexers.md
Labels: area/housekeeping, size/S, area/docs

#3369 fix: clean-up and re-ordering of `hub new` table
  jina/hubble/hubio.py
Labels: area/core, size/S

#3379 fix(types): allow da extend with None
  jina/types/arrays/document.py
  tests/unit/flow-example/test_flow_empty_request.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, size/S, area/testing, component/type

#3380 fix: uses=Executor should work with spawn start method
  jina/flow/base.py
  jina/jaml/__init__.py
  jina/peapods/peas/__init__.py
  tests/integration/multiprocessing_spawn/__init__.py
  tests/integration/multiprocessing_spawn/modules/exec.py
  tests/integration/multiprocessing_spawn/modules/main_cls.py
  tests/integration/multiprocessing_spawn/modules/main_empty.py
  tests/integration/multiprocessing_spawn/modules/main_name.py
  tests/integration/multiprocessing_spawn/test_spawn.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, component/flow, component/jaml

#3371 docs: add tutorial on building executor
  docs/advanced/hub/push-executor.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-built-in-features.md
  docs/get-started/install.md
  docs/index.md
  docs/tutorials/new_executor.md
Labels: size/M, area/docs

#3385 fix(type): empty DA match should be just nop
  jina/types/arrays/neural_ops.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: area/core, size/S, area/testing, component/type

#3376 ci(docs): fix broken styles in 404 page
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd, size/XS

#3391 fix(executor): improve checking for executor init and @requests func
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-built-in-features.md
  docs/fundamentals/executor/executors-in-action.md
  docs/fundamentals/flow/add-exec-to-flow.md
  docs/fundamentals/flow/send-recv.md
  jina/__init__.py
  jina/clients/__init__.py
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/flow/base.py
  jina/jaml/parsers/executor/legacy.py
  jina/types/document/__init__.py
  scripts/inject-cli-as-overload.py
  scripts/inject-document-props-as-overload.py
  tests/unit/executors/test_executor.py
  tests/unit/test_helper.py
Labels: size/L, area/core, area/helper, area/testing, component/executor, executor/meta, area/docs, component/flow, component/client, area/entrypoint, component/type, component/jaml

#3392 chore: add _path to memmap to ease copy
  jina/types/arrays/memmap.py
  tests/unit/test_helper.py
Labels: area/core, area/testing, size/XS, component/type

#3394 docs: add executor GPU tutorial
  .gitignore
  docs/_static/hub_new_gpu.png
  docs/advanced/hub/push-executor.md
  docs/index.md
  docs/tutorials/gpu_executor.md
Labels: size/M, area/docs

#3395 refactor(helloworld): remove unnecessary code in hello world
  jina/helloworld/chatbot/my_executors.py
  jina/helloworld/multimodal/my_executors.py
  jina/types/document/generators.py
Labels: area/core, size/S, component/type

#3382 docs: add chatbot tutorial
  docs/_static/flow.png
  docs/_static/plot_flow1.svg
  docs/_static/plot_flow2.svg
  docs/_static/results.png
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/documentarraymemmap-api.md
  docs/get-started/hello-world/covid-19-chatbot.md
  docs/index.md
  docs/tutorials/chatbot.md
  docs/tutorials/practice-your-learning.md
Labels: size/L, area/docs

#3402 fix(hub): use name instead of uuid after hub pulling
  jina/hubble/hubio.py
Labels: area/core, size/XS

#3403 fix(hub): replace docker hub url with jina hub url, and it is clickable
  jina/hubble/hubio.py
Labels: area/core, size/XS

#3404 fix(spawn): uses executor with quotes
  jina/flow/base.py
  jina/jaml/__init__.py
  tests/integration/multiprocessing_spawn/test_spawn.py
  tests/unit/jaml/test_type_parse.py
Labels: area/core, size/S, area/testing, component/flow, component/jaml

#3405 feat(types): allow match on traversal paths
  jina/types/arrays/neural_ops.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: size/M, area/core, area/testing, component/type

#3409 perf: make slow pkg_resources import inline
  jina/hubble/helper.py
Labels: area/core, size/XS

#3410 feat: flow polls ready status from every pod 🍾
  jina/flow/base.py
  jina/peapods/peas/__init__.py
Labels: size/M, area/core, area/network, component/peapod, component/flow

#3412 docs(k8s): improve k8s documentations
  docs/advanced/experimental/kubernetes.md
Labels: size/M, area/docs

#3411 docs: add introduction of jina hub website
  .github/hub-website-detail-arguments.png
  .github/hub-website-detail-dep.png
  .github/hub-website-detail-tag.png
  .github/hub-website-detail.png
  .github/hub-website-list.png
  .github/hub-website-search-1.png
  .github/hub-website-search-2.png
  docs/advanced/hub/hub-portal.md
  docs/advanced/hub/index.md
Labels: area/housekeeping, size/S, area/docs

#3414 fix(hubio): make hub pulling progressbar smoother
  jina/hubble/hubio.py
Labels: size/M, area/core

#3406 docs: add note on compound executor
  docs/advanced/experimental/compound_executors.md
  docs/advanced/experimental/index.md
  docs/advanced/experimental/indexers.md
Labels: size/S, area/docs

#3416 refactor(types): fix traversal path type check
  jina/types/arrays/neural_ops.py
  jina/types/arrays/traversable.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/document/test_document_traverse.py
Labels: area/core, size/S, area/testing, component/type

#3142 feat: add clear method
  daemon/clients/base.py
  tests/distributed/test_workspaces/test_remote_workspaces.py
Labels: size/S, area/testing, area/jinaD

#3426 ci: pre commit hook
  scripts/docstrings_lint.sh
Labels: size/XS

#3423 fix(daemon): improve error logging
  daemon/clients/peas.py
Labels: size/XS, area/daemon

#3424 feat(hubio): do not pull latest version by default
  cli/autocomplete.py
  docs/advanced/experimental/compound_executors.md
  docs/fundamentals/document/documentarray-api.md
  jina/flow/base.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/parsers/__init__.py
  jina/parsers/hubble/pull.py
  jina/parsers/hubble/push.py
  jina/parsers/peapods/pod.py
  jina/peapods/peas/helper.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, area/docs, component/flow, area/cli

#3430 fix(hubio): only print single usage at a time
  jina/hubble/hubio.py
Labels: area/core, size/S

#3417 feat: implement blobs getter and setter
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_memmap.py
Labels: size/M, area/core, area/testing, component/type

#3432 docs(daemon): refactor remote executors
  docs/advanced/daemon/create-remote-executors.md
  docs/advanced/daemon/development-using-jinad.md
  docs/advanced/daemon/index.md
  docs/advanced/daemon/jinad-client.md
  docs/advanced/daemon/jinad-server.md
  docs/advanced/daemon/remote-executors.md
  docs/advanced/daemon/remote-flows.md
  docs/fundamentals/flow/add-exec-to-flow.md
Labels: size/M, area/docs

#3310 fix: throw exception for positional arguments
  jina/flow/base.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/core, area/testing, size/XS, component/flow

#3434 feat(helper): progressbar now has a spinner
  jina/logging/profile.py
Labels: area/core, size/S, component/logging

#3435 feat(types): add batch method to DA and DAM
  jina/flow/base.py
  jina/resources/extra-requirements.txt
  jina/types/arrays/abstract.py
  jina/types/arrays/document.py
  jina/types/arrays/search_ops.py
  jina/types/arrays/traversable.py
  jina/types/document/generators.py
  tests/unit/types/arrays/test_batching.py
  tests/unit/types/arrays/test_search_ops.py
Labels: size/M, area/core, area/testing, component/resource, component/flow, component/type

#3436 fix(helper): fix spinner timer update
  jina/enums.py
  jina/flow/base.py
  jina/helper.py
  jina/logging/profile.py
  jina/peapods/runtimes/base.py
  tests/unit/test_progress_bar.py
Labels: size/M, area/core, area/helper, area/testing, area/network, component/logging, component/peapod, component/flow

#3437 fix(types): make _flatten of da and dam consistent
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  jina/types/arrays/traversable.py
Labels: area/core, size/S, component/type

#3440 feat: add doc bot to doc website
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
  docs/_templates/page.html
  docs/conf.py
Labels: size/L, area/docs

#3441 feat: new image force
  jina/hubble/helper.py
  jina/hubble/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing

#3447 fix(types): revert 3437 and fix dam in match
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  jina/types/arrays/neural_ops.py
  jina/types/arrays/traversable.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: area/core, size/S, area/testing, component/type

#3418 feat: add setters and getters for da and dam
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_memmap.py
Labels: size/M, area/core, area/testing, component/type

#3444 feat(gateway): https support to uvicorn based servers
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/flow/base.py
  jina/parsers/peapods/runtimes/remote.py
  jina/peapods/runtimes/gateway/http/__init__.py
  jina/peapods/runtimes/gateway/websocket/__init__.py
  tests/unit/parsers/peapods/runtimes/test_remote_parser.py
  tests/unit/peapods/runtimes/gateway/http/test_app.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, component/flow, component/client, area/cli

#3451 fix: batching for multi-valued blobs and embeddings
  jina/types/arrays/traversable.py
  tests/unit/types/arrays/test_batching.py
Labels: area/core, area/testing, size/XS, component/type

#3449 feat: k8s custom port expose
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/peapods/pods/k8s.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  tests/k8s/test_k8s.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_deployment.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, component/flow, area/cli

#3453 feat: expose path as getter for finetuner
  jina/types/arrays/memmap.py
  tests/unit/types/arrays/test_memmap.py
Labels: area/core, size/S, area/testing, size/XS, component/type

#3454 refactor: remove multimodal document
  jina/types/document/multimodal.py
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
  tests/unit/types/document/test_multimodal_document.py
Labels: size/M, area/core, area/testing, component/type

#3456 ci(docs): deploy docs from any branch
  .github/workflows/docs-netlify.yml
Labels: area/housekeeping, size/S, area/cicd

#3433 docs: first indexer cheat sheet version
  docs/advanced/experimental/index.md
  docs/advanced/experimental/indexers-cheat-sheet.md
  docs/advanced/experimental/indexers.md
  docs/advanced/experimental/kubernetes.md
  docs/advanced/experimental/scaling.md
Labels: size/M, area/docs

#3457 docs(readme): small polishing
  README.md
Labels: size/XS

#3458 fix(types): .match fn exclude_self should maintain num results
  jina/types/arrays/neural_ops.py
  tests/unit/types/arrays/test_neural_ops.py
Labels: area/core, size/S, area/testing, component/type

#3459 ci(docs): deploy to netlify on pr
  .github/workflows/docs-netlify.yml
  .github/workflows/label-pr.yml
  docs/advanced/daemon/development-using-jinad.md
  docs/advanced/daemon/jinad-client.md
Labels: size/M, area/housekeeping, size/S, area/cicd, area/docs

#3460 feat(types): DocumentArray supports save and load with csv
  jina/types/arrays/document.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, size/S, area/testing, component/type

#3461 docs: more explicit naming
  docs/fundamentals/executor/executor-api.md
Labels: area/docs, size/XS

#3465 feat(docsbot): add thumbup/down to docs bot ui
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
Labels: size/S, area/docs

#3473 fix: fix pod default naming in flow
  docs/fundamentals/executor/executor-built-in-features.md
  docs/fundamentals/flow/add-exec-to-flow.md
  docs/fundamentals/flow/remarks.md
  docs/tutorials/gpu-executor.md
  jina/jaml/parsers/flow/v1.py
  jina/peapods/runtimes/gateway/http/models.py
  tests/daemon/unit/api/endpoints/bad_flow.yml
  tests/daemon/unit/api/endpoints/good_flow.yml
  tests/daemon/unit/api/endpoints/good_flow_dep.yml
  tests/daemon/unit/api/endpoints/good_flow_jtype.yml
  tests/daemon/unit/api/endpoints/partial/good_flow_dummy.yml
  tests/daemon/unit/stores/flow.yml
  tests/daemon/unit/stores/test_flowstore.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/distributed/test_join_local_from_remote/flow.yml
  tests/distributed/test_local_flow_local_remote_local/flow.yml
  tests/distributed/test_local_flow_remote_local_remote/flow.yml
  tests/distributed/test_remote_flow_dump_rolling_update/flow_dbms.yml
  tests/distributed/test_remote_flow_dump_rolling_update/flow_query.yml
  tests/distributed/test_rolling_update_container_runtime/flow_dbms.yml
  tests/distributed/test_rolling_update_container_runtime/flow_query.yml
  tests/distributed/test_simple_hub_pods/flow.yml
  tests/distributed/test_topologies/test_topologies.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/logging/test_logging.py
  tests/integration/optimizers/flow.yml
  tests/integration/optimizers/flow_pod_choice.yml
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
  tests/integration/v2_api/test_func_routing.py
  tests/jinahub/flow.yml
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/flow-construct/yaml/flow-allinone-oldstyle.yml
  tests/unit/flow-construct/yaml/flow-allinone.yml
  tests/unit/flow-construct/yaml/flow-legacy-syntax.yml
  tests/unit/flow-construct/yaml/flow-v1-syntax.yml
  tests/unit/flow-construct/yaml/flow-v1.0-syntax.yml
  tests/unit/flow-construct/yaml/flow-v99-syntax.yml
  tests/unit/flow-construct/yaml/flow-with-envs.yml
  tests/unit/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/flow-orchestrate/test_remote_orchestrate.py
  tests/unit/optimizers/test_parameters.py
  tests/unit/peapods/grpc/test_grpclet.py
  tests/unit/peapods/runtimes/container/flow.yml
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/remote/jinad/yamls/flow-index.yaml
  tests/unit/peapods/zmq/test_dynamic_routing.py
  tests/unit/types/test_routing_graph.py
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/test-flow-v1.yml
  tests/unit/yaml/test-flow.yml
  tests/unit/yaml/test-if-flow.yml
  tests/unit/yaml/test_flow_visualization.yml
Labels: size/L, area/core, size/S, area/testing, area/network, component/peapod, area/docs, component/jaml

#3469 fix(daemon): remote flow with parallel>1
  daemon/api/dependencies.py
  daemon/clients/flows.py
  daemon/helper.py
  daemon/stores/partial.py
  jina/flow/base.py
  tests/distributed/test_topologies/test_topologies.py
  tests/distributed/test_topologies/yamls/executor.py
  tests/distributed/test_topologies/yamls/flow_glg.yml
  tests/distributed/test_topologies/yamls/flow_gllg.yml
  tests/distributed/test_topologies/yamls/flow_workspace_validate.yml
  tests/distributed/test_topologies_docker/test_topologies_docker.py
Labels: size/M, area/core, size/S, area/testing, component/flow, area/daemon

#3478 feat: k8s uses native flag
  cli/api.py
  jina/peapods/pods/k8s.py
Labels: area/core, size/S, area/network, component/peapod, area/cli

#3477 perf(daemon): reload files across flows/executors
  daemon/api/endpoints/peas.py
  daemon/api/endpoints/pods.py
  daemon/api/endpoints/workspaces.py
  daemon/clients/workspaces.py
  daemon/helper.py
  daemon/stores/partial.py
  jina/flow/base.py
  jina/peapods/runtimes/jinad/__init__.py
  tests/distributed/test_topologies/test_topologies.py
  tests/distributed/test_workspaces/cache_validator.py
  tests/distributed/test_workspaces/flow_cache_validator.yml
  tests/distributed/test_workspaces/test_cache_validate.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, component/flow, area/daemon

#3479 fix: fix get address table k8s
  jina/flow/base.py
Labels: area/core, size/S, component/flow

#3290 feat(windows): beta support
  .github/workflows/ci.yml
  .github/workflows/nightly-tests.yml
  docs/advanced/experimental/index.md
  docs/advanced/experimental/windows.md
  jina/__init__.py
  jina/flow/base.py
  jina/helloworld/multimodal/app.py
  jina/helloworld/multimodal/flow-index.yml
  jina/helloworld/multimodal/flow-search.yml
  jina/helper.py
  jina/hubble/hubio.py
  jina/importer.py
  jina/logging/logger.py
  jina/logging/profile.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/zmq/asyncio.py
  jina/types/arrays/bpm.py
  jina/types/arrays/memmap.py
  jina/types/arrays/neural_ops.py
  jina/types/document/generators.py
  scripts/get-all-test-paths.sh
  setup.py
  tests/system/multimodal/test_multimodal.py
  tests/unit/clients/python/test_client.py
  tests/unit/executors/test_bad_executor_constructor.py
  tests/unit/executors/test_executor.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-construct/test_flow_skip.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/flow-orchestrate/test_asyncflow.py
  tests/unit/flow-orchestrate/test_flow_before_after.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/logging/test_logging.py
  tests/unit/parsers/hubble/test_pushpull.py
  tests/unit/peapods/grpc/test_grpclet.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/gateway/http/test_app.py
  tests/unit/peapods/runtimes/test_runtimes.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
  tests/unit/peapods/zmq/test_zmq_addr.py
  tests/unit/types/arrays/test_memmap.py
  tests/unit/types/arrays/test_neural_ops.py
  tests/unit/types/document/test_converters.py
Labels: area/housekeeping, size/L, area/core, area/helper, area/cicd, area/testing, area/network, component/logging, component/peapod, size/XL, area/docs, component/flow, area/setup, area/entrypoint, component/type

#3463 fix(hubble): disk cache compatible across python versions
  jina/hubble/helper.py
  tests/unit/hubble/test_helper.py
Labels: area/core, size/S, area/testing

#3482 feat(daemon): custom dockerfile
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  daemon/Dockerfiles/default.Dockerfile
  daemon/Dockerfiles/devel.Dockerfile
  daemon/clients/workspaces.py
  daemon/dockerize.py
  daemon/files.py
  daemon/models/containers.py
  daemon/models/enums.py
  daemon/stores/containers.py
  daemon/tasks.py
  docs/advanced/daemon/development-using-jinad.md
  jina/excepts.py
  tests/daemon/unit/api/endpoints/test_logs.py
  tests/daemon/unit/models/bad_ws_wrong_dockerfile/.jinad
  tests/daemon/unit/models/good_ws/.jinad
  tests/daemon/unit/models/good_ws_custom_dockerfile/.jinad
  tests/daemon/unit/models/good_ws_custom_dockerfile/custom-requirements.txt
  tests/daemon/unit/models/good_ws_custom_dockerfile/custom.Dockerfile
  tests/daemon/unit/models/good_ws_multiple_files/.jinad
  tests/daemon/unit/models/good_ws_multiple_files/sample.jinad
  tests/daemon/unit/models/good_ws_wrong_ports/.jinad
  tests/daemon/unit/models/good_ws_wrong_values/.jinad
  tests/daemon/unit/test_files.py
  tests/distributed/test_remote_flow_dump_rolling_update/docker-compose.yml
  tests/distributed/test_rolling_update_container_runtime/docker-compose.yml
  tests/distributed/test_workspaces/custom_workspace_blocking/.jinad
  tests/distributed/test_workspaces/custom_workspace_no_run/.jinad
  tests/distributed/test_workspaces/docker-compose.yml
  tests/distributed/test_workspaces/flow_app_ws/.jinad
  tests/distributed/test_workspaces/redis_executor.py
  tests/distributed/test_workspaces/sklearn_encoder_ws/.jinad
  tests/distributed/test_workspaces/tdb_indexer_ws/.jinad
  tests/distributed/test_workspaces/test_custom_container.py
  tests/distributed/test_workspaces/test_custom_dockerfile.py
  tests/distributed/test_workspaces/test_remote_workspaces.py
Labels: size/M, area/housekeeping, area/core, area/helper, area/cicd, area/testing, area/docs, area/daemon, focus/ease-of-use

#3486 docs: add explanation on crud usage
  docs/advanced/experimental/indexers.md
Labels: size/S, area/docs

#3494 ci: skip code injection for forks
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/XS

#3490 docs: minor typos in indexers
  docs/advanced/experimental/indexers.md
Labels: area/docs, size/XS

#3275 feat(k8s): add K8s connection pooling for grpc
  cli/autocomplete.py
  docs/advanced/experimental/kubernetes.md
  extra-requirements.txt
  jina/flow/base.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/grpc/__init__.py
  jina/peapods/networking.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  jina/peapods/runtimes/grpc/__init__.py
  jina/resources/extra-requirements.txt
  jina/resources/k8s/template/connection-pool-role-binding.yml
  jina/resources/k8s/template/connection-pool-role.yml
  tests/k8s/test_custom_resource_dir.py
  tests/k8s/test_k8s.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_deployment.py
  tests/unit/peapods/pods/test_k8s_pod.py
  tests/unit/peapods/runtimes/grpc/test_grpc_data_runtime.py
  tests/unit/peapods/test_networking.py
Labels: size/L, area/core, area/testing, area/network, component/peapod, area/docs, component/resource, component/flow, area/setup, area/cli, focus/scale-out

#3498 ci: wait k8s test to finish
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, size/S, area/cicd

#3497 fix: fix skip code injection
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/XS

#3500 fix: progress bar overwrite other logs
  jina/logging/profile.py
Labels: area/core, component/logging, size/XS

#3503 docs: k8s console output
  docs/advanced/experimental/kubernetes.md
Labels: size/M, area/docs

#3448 feat: add parser to jina hub new
  jina/hubble/hubio.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/new.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_new.py
Labels: focus/ease-of-use

#3506 docs: fix reference to fill_embedding
  docs/advanced/experimental/indexers.md
Labels: area/docs, size/XS

#3472 fix(hubble): enforce download specific tag
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing, area/network, component/peapod, focus/ease-of-use

#3510 feat(daemon): allow gpus arg for remote Executors
  daemon/api/dependencies.py
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/peas.py
  daemon/api/endpoints/pods.py
  daemon/dockerize.py
  daemon/stores/containers.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/container/helper.py
  jina/peapods/runtimes/jinad/__init__.py
  tests/distributed/test_topologies/test_topologies.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, area/daemon, focus/ease-of-use

#3488 docs: replace UUID with NAME
  docs/advanced/hub/push-executor.md
  jina/parsers/hubble/pull.py
  jina/parsers/hubble/push.py
Labels: area/core, size/S, area/docs, focus/ease-of-use

#3511 docs(remote): add gpu arg
  cli/autocomplete.py
  docs/advanced/daemon/remote-executors.md
Labels: size/S, area/docs, area/cli

#3515 docs(docbot): position chatbox to be always on bottom
  docs/_static/Powered-by-Jina-Large-Basic.svg
  docs/_static/docbot.css
  docs/_templates/docbot.html
Labels: size/S, area/docs

#3445 fix: fix plot, naming and kubernetes
  jina/flow/base.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  jina/peapods/pods/k8s.py
Labels: size/M, area/core, size/S, area/network, component/peapod, component/flow, focus/ease-of-use

#3513 chore: clean document array abstract class
  jina/types/arrays/abstract.py
Labels: size/M, area/core, component/type

#3523 refactor: refactor image blob to uri
  jina/types/document/__init__.py
  jina/types/document/converters.py
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, size/S, area/testing, component/type

#3529 fix(helper): fix progressbar print to flush
  jina/logging/profile.py
Labels: area/core, component/logging, size/XS, focus/ease-of-use

#3526 ci: try to fix cd yml
  .github/workflows/cd.yml
Labels: area/housekeeping, size/S, area/cicd

#3534 ci: fix cd redundant needs
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#3530 fix: fix dam
  jina/types/arrays/memmap.py
  tests/unit/types/arrays/test_memmap.py
Labels: area/core, size/S, area/testing, component/type
