Repository jina-ai/serve, pull requests merged in 2021-10, with the labels that each got.

#3501 docs: update link to indexer
  docs/advanced/experimental/indexers.md
  docs/advanced/experimental/kubernetes.md
Labels: size/S, area/docs

#3528 fix: use test-pip in k8stest
  jina/peapods/pods/k8s.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s.sh
Labels: area/core, size/S, area/testing, area/network, component/peapod

#3542 fix(kubernetes): add kubernetes dep to perf
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#3549 fix: conda requirements
  conda/meta.yaml
  scripts/create-conda-recipe.py
Labels: size/XS

#3551 test(flow): move slow async flow into independent test module
  tests/unit/flow-async/__init__.py
  tests/unit/flow-async/test_asyncflow.py
Labels: area/testing, size/XS

#3550 feat: add buffers getter setter
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_memmap.py
Labels: area/core, size/S, area/testing, component/type

#3572 ci: fix cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#3573 feat(docsbot): enable custom backend
  docs/_static/docbot.js
  docs/conf.py
Labels: size/S, area/docs

#3575 ci: fix cla
  .github/workflows/cla.yml
Labels: area/housekeeping, size/S, area/cicd

#3576 docs: fix a typo
  CONTRIBUTING.md
Labels: size/XS

#3577 ci: fix cla
  .github/workflows/cla.yml
Labels: area/housekeeping, area/cicd, size/XS

#3509 feat(k8s): kubernetes completion, wait for ready and close
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  extra-requirements.txt
  jina/flow/base.py
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/k8s.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
  jina/peapods/pods/k8slib/kubernetes_tools.py
  jina/peapods/runtimes/grpc/__init__.py
  jina/resources/extra-requirements.txt
  jina/resources/k8s/template/deployment-init.yml
  jina/resources/k8s/template/deployment.yml
  tests/conftest.py
  tests/k8s/conftest.py
  tests/k8s/test_custom_resource_dir.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s.sh
  tests/unit/peapods/pods/k8slib/test_kubernetes_deployment.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_tools.py
  tests/unit/peapods/pods/test_k8s_pod.py
Labels: area/housekeeping, area/core, area/cicd, area/testing, area/network, component/peapod, size/XL, component/resource, component/flow, area/setup

#3565 fix(docs): performance and a11y
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs

#3581 test: try to return results
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/flow-orchestrate/test_flow_merge.py
Labels: size/S, area/testing

#3562 feat(client): add prefetch to http client
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/clients/base/http.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/gateway/http/app.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/runtimes/prefetch/__init__.py
  jina/peapods/runtimes/prefetch/base.py
  jina/peapods/runtimes/prefetch/client.py
  jina/peapods/runtimes/prefetch/gateway.py
  tests/integration/streaming/__init__.py
  tests/integration/streaming/test_clients_streaming.py
  tests/unit/clients/test_http.py
  tests/unit/peapods/runtimes/gateway/test_prefetch.py
Labels: size/M, size/L, area/core, area/testing, area/network, component/peapod, component/flow, component/client, area/cli, focus/scale-out

#3583 fix: scipy sparse import
  jina/types/document/__init__.py
Labels: area/core, size/XS, component/type

#3589 docs: expose http endpoints with flow yaml
  docs/fundamentals/flow/flow-as-a-service.md
Labels: size/S, area/docs

#3824 refactor: do not use exit stack in replicaset
  jina/peapods/pods/__init__.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod

#3835 docs: add jina video basic
  docs/_static/60fps.mp4
  docs/_static/mov_bbb.mp4
  docs/datatype/video/chunk-0.png
  docs/datatype/video/chunk-1.png
  docs/datatype/video/flipbook-flip.gif
  docs/datatype/video/framerate.gif
  docs/datatype/video/index.md
  docs/datatype/video/mov_bbb.png
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/types/document/__init__.py
  jina/types/document/converters.py
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, area/testing, area/docs, component/resource, area/setup, component/type

#3836 refactor: rename some convert functions
  docs/datatype/audio/index.md
  docs/datatype/image/index.md
  docs/datatype/image/small-images-inside-big-images/building-flows.md
  docs/fundamentals/clean-code.md
  docs/fundamentals/document/document-api.md
  jina/__init__.py
  jina/helloworld/multimodal/my_executors.py
  jina/jaml/parsers/__init__.py
  jina/types/arrays/neural_ops.py
  jina/types/document/converters.py
  tests/unit/types/document/test_converters.py
Labels: size/M, area/core, area/helper, area/testing, area/docs, area/entrypoint, component/type, component/jaml
