Repository jina-ai/serve, pull requests merged in 2021-06, with the labels that each got.

#2517 feat: allow adding external Pods to Flow
  jina/flow/base.py
  jina/flow/builder.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/pods/__init__.py
  tests/integration/external_pod/__init__.py
  tests/integration/external_pod/test_external_pod.py
  tests/unit/flow/test_flow_frozen_pods.py
Labels: area/core, area/network, area/testing, component/flow, component/peapod, size/L

#2528 fix: cli args help text
  README.md
  cli/autocomplete.py
  jina/flow/builder.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/pods/__init__.py
Labels: area/cli, area/core, area/network, component/flow, component/peapod, size/S

#2533 fix(daemon): use all state fields for status loading
  daemon/stores/base.py
Labels: area/daemon, size/XS

#2525 test: crud rest
  tests/integration/crud/flow.yml
  tests/integration/crud/test_crud.py
Labels: area/testing, size/S

#2531 test: add asserts for mime types
  tests/unit/types/document/test_converters.py
Labels: area/testing, size/XS

#2534 test: add test for docs with sparse embedding pydantic
  tests/__init__.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/testing, size/S

#2535 test: docarray filter
  tests/unit/types/arrays/test_documentarray.py
Labels: area/testing, size/S

#2532 test: added test for startup exception
  tests/unit/flow/test_flow_except.py
Labels: area/testing, size/S

#2529 test: make high order matches useful agian
  tests/integration/high_order_matches/__init__.py
  tests/integration/high_order_matches/test_document.py
Labels: area/testing, size/S

#2538 fix(daemon): docker host internal on linux
  daemon/dockerize.py
Labels: area/daemon, size/XS

#2542 fix: missing sampling args in generator of from_lines
  jina/types/document/generators.py
  tests/unit/clients/python/test_io.py
Labels: area/core, area/testing, component/type, size/S

#2524 feat: add pretty print for embedding and blob
  .github/2.0/cookbooks/Document.md
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/housekeeping, area/testing, component/type, size/M

#2536 test: added pymodules import test back
  tests/integration/issues/github_1546/__init__.py
  tests/integration/issues/github_1546/bad1/crafter.yml
  tests/integration/issues/github_1546/bad1/custom_crafter.py
  tests/integration/issues/github_1546/bad1/helper.py
  tests/integration/issues/github_1546/good1/crafter.yml
  tests/integration/issues/github_1546/good1/custom_crafter.py
  tests/integration/issues/github_1546/good1/helper.py
  tests/integration/issues/github_1546/good2/__init__.py
  tests/integration/issues/github_1546/good2/crafter.yml
  tests/integration/issues/github_1546/good2/helper.py
  tests/integration/issues/github_1546/good3/__init__.py
  tests/integration/issues/github_1546/good3/config.yml
  tests/integration/issues/github_1546/good3/helper.py
  tests/integration/issues/github_1546/test_pymodules_import.py
Labels: area/testing, size/M

#2541 fix(documentarray): fix save binary
  jina/types/arrays/document.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, area/testing, component/type, size/S

#2537 test: added a test for docmatrix in the tail pea
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
Labels: area/testing, size/S

#2543 refactor: remove sibbling from protobuf
  .pre-commit-config.yaml
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/network, area/testing, component/proto, component/type, size/M

#2544 test: added a test to showcase how shards and parallel are synonyms
  tests/unit/test_cli.py
Labels: area/testing, size/S

#2553 fix: relieve the requirement on init file
  jina/importer.py
  tests/unit/executors/test_executor.py
  tests/unit/hubble-executor/Dockerfile
  tests/unit/hubble-executor/config.yml
  tests/unit/hubble-executor/dep.py
  tests/unit/hubble-executor/exec.py
Labels: area/core, area/helper, area/testing, size/S

#2545 test: slow shutdown
  tests/unit/flow/test_slow_executor_shutdown.py
Labels: area/testing, size/S

#2555 feat: allow fastapi extension
  .github/2.0/cookbooks/Flow.md
  .github/2.0/swagger-extend.png
  jina/helper.py
  jina/peapods/runtimes/asyncio/rest/__init__.py
  tests/unit/test_extend_fastapi.py
Labels: area/core, area/helper, area/housekeeping, area/network, area/testing, component/peapod, size/S

#2559 fix: small fix attr
  jina/peapods/pods/compound.py
Labels: area/core, area/network, component/peapod, size/XS

#2561 feat: update example models for better running versions
  .github/pages/hello-world.md
  jina/helloworld/chatbot/executors.py
  jina/helloworld/multimodal/executors.py
  tests/system/chatbot/test_chatbot.py
Labels: area/core, area/housekeeping, area/testing, size/S

#2564 fix: websocket crashing
  jina/clients/websocket.py
Labels: area/core, component/client, size/XS

#2566 remove the zed runtime argument option of class inherited from jina.executor
  jina/parsers/peapods/runtimes/zed.py
Labels: area/core, size/XS

#2570 fix(coc-2569): code of conduct missing placeholders
  .github/CODE_OF_CONDUCT.md
Labels: area/housekeeping, size/XS

#2568 feat: add warning when using thread backend
  jina/peapods/peas/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#2558 Feat demon jinad runtime remote
  daemon/__init__.py
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/partial/__init__.py
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pea.py
  daemon/api/endpoints/partial/pod.py
  daemon/api/endpoints/peas.py
  daemon/api/endpoints/pods.py
  daemon/dockerize.py
  daemon/models/containers.py
  daemon/parser.py
  daemon/stores/containers.py
  daemon/stores/partial.py
  setup.py
Labels: area/daemon, area/setup, size/M

#2508 fix: naming of peas replicas in logs
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2571 feat: allow getting blob as different sparse type
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#2575 refactor: refactor optimizer parameter
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/test_optimizer.py
Labels: area/core, area/testing, size/M

#2579 feat: add DocumentArrayMemmap
  .github/2.0/cookbooks/Document.md
  jina/types/arrays/document.py
  jina/types/arrays/memmap.py
  tests/unit/types/test_memmap.py
Labels: area/core, area/housekeeping, area/testing, component/type, size/L

#2573 refactor: remove unnecessary code
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  cli/api.py
  jina/checker.py
  jina/importer.py
  jina/schemas/helper.py
  tests/unit/schemas/__init__.py
  tests/unit/schemas/test_schema.py
  tests/unit/test_checker.py
  tests/unit/test_importer.py
Labels: area/cicd, area/cli, area/core, area/helper, area/housekeeping, area/testing, size/M

#2580 fix(eah): new calendar link
  README.md
Labels: size/XS

#2577 feat(daemon): remove workspace id from logging requests
  daemon/api/endpoints/logs.py
  daemon/helper.py
  daemon/stores/__init__.py
  tests/daemon/unit/api/endpoints/test_logs.py
Labels: area/daemon, area/testing, size/M

#2584 refactor: use memmap in hello world
  jina/helloworld/chatbot/app.py
  jina/helloworld/chatbot/my_executors.py
  jina/helloworld/fashion/app.py
  jina/helloworld/fashion/my_executors.py
  jina/helloworld/multimodal/flow-index.yml
  jina/helloworld/multimodal/flow-search.yml
  jina/helloworld/multimodal/my_executors.py
  tests/system/fashion/test_fashion.py
  tests/unit/helloworld/multimodal/test_executors.py
  tests/unit/test_cli.py
Labels: area/core, area/testing, size/S

#2552 feat: graph document representation
  extra-requirements.txt
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  jina/types/document/graph.py
  jina/types/document/multimodal.py
  jina/types/score/__init__.py
  tests/integration/graph/__init__.py
  tests/integration/graph/test_graph_executor.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/unit/types/document/test_graph_document.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/setup, area/testing, component/proto, component/type, size/L

#2486 refactor: remove module from typename
  jina/executors/__init__.py
  tests/unit/executors/metas_executors.py
  tests/unit/executors/test_set_metas.py
Labels: area/core, area/helper, area/testing, component/executor, executor/meta, size/S

#2598 feat: inject cli args as overload function
  jina/flow/base.py
  scripts/docstrings_lint.sh
  scripts/inject-cli-as-overload.py
Labels: area/core, component/flow, size/M

#2597 feat: put graph as one of content
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/graph.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/network, area/testing, component/proto, component/type, size/M

#2581 feat: allow optimizer to work on executor alternatives
  jina/jaml/__init__.py
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/flow_pod_choice.yml
  tests/integration/optimizers/parameter_pod_choice.yml
  tests/integration/optimizers/pods/craft_option1.yml
  tests/integration/optimizers/pods/craft_option2.yml
  tests/integration/optimizers/pods/dummy_crafter.py
  tests/integration/optimizers/pods/dummy_crafter_pod_choice.py
  tests/integration/optimizers/pods/dummy_evaluate.py
  tests/integration/optimizers/test_optimizer.py
  tests/integration/optimizers/test_optimizer_pod_choice.py
  tests/integration/sparse_pipeline/__init__.py
  tests/unit/optimizers/__init__.py
  tests/unit/optimizers/test_parameters.py
Labels: area/core, area/testing, component/jaml, size/L

#2599 refactor: change the name of the parameter
  jina/optimizers/__init__.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/parameter_pod_choice.yml
  tests/unit/optimizers/test_parameters.py
Labels: area/core, area/testing, size/S

#2602 refactor: update logger to debug
  jina/types/document/graph.py
Labels: area/core, component/type, size/XS

#2600 refactor: remove unused code
  cli/autocomplete.py
  jina/parsers/__init__.py
  jina/parsers/check.py
  jina/parsers/helper.py
  jina/parsers/hub/__init__.py
Labels: area/cli, area/core, size/M

#2565 refactor: merge grpc and rest client
  .github/2.0/cookbooks/Flow.md
  jina/clients/__init__.py
  jina/clients/mixin.py
  jina/flow/base.py
  jina/parsers/client.py
  scripts/inject-cli-as-overload.py
  tests/distributed/test_join_local_from_remote/test_integration.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_io.py
Labels: area/core, area/housekeeping, area/testing, component/client, component/flow, size/M

#2605 refactor: rename _docs_proto from DocumentArray
  jina/types/arrays/chunk.py
  jina/types/arrays/document.py
  jina/types/arrays/match.py
  tests/unit/types/arrays/test_chunkarray.py
  tests/unit/types/arrays/test_matcharray.py
Labels: area/core, area/testing, component/type, size/S

#2604 fix: fix docarray iter
  jina/types/arrays/document.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, area/testing, component/type, size/S

#2491 test: fix chatbot codecov missing
  jina/helloworld/chatbot/app.py
  tests/system/chatbot/test_chatbot.py
Labels: area/core, area/setup, area/testing, size/M

#2611 refactor: remove unused parameters
  jina/flow/asyncio.py
  jina/helper.py
  jina/types/document/generators.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, area/testing, component/flow, component/type, size/M

#2612 fix: remove unused code in exec decorators
  jina/executors/decorators.py
  tests/unit/clients/test_asyncio.py
Labels: area/core, area/testing, component/executor, executor/meta, size/S

#2610 refactor(client): unify client and flow interface
  cli/api.py
  cli/autocomplete.py
  daemon/stores/flow.py
  jina/__init__.py
  jina/clients/__init__.py
  jina/clients/grpc.py
  jina/clients/request/asyncio.py
  jina/clients/websocket.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/base.py
  jina/jaml/parsers/flow/legacy.py
  jina/jaml/parsers/flow/v1.py
  jina/optimizers/flow_runner.py
  jina/parsers/__init__.py
  jina/parsers/client.py
  jina/parsers/flow.py
  jina/parsers/peapods/base.py
  jina/peapods/peas/__init__.py
  scripts/inject-cli-as-overload.py
  tests/daemon/unit/stores/test_flowstore.py
  tests/distributed/test_join_local_from_remote/flow.yml
  tests/distributed/test_join_local_from_remote/test_integration.py
  tests/distributed/test_local_flow_local_remote_local/test_integration.py
  tests/distributed/test_local_flow_remote_local_remote/test_integration.py
  tests/distributed/test_remote_flow_dump_rolling_update/flow_dbms.yml
  tests/distributed/test_remote_flow_dump_rolling_update/flow_query.yml
  tests/distributed/test_simple_hub_pods/flow.yml
  tests/integration/high_order_matches/test_document.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/integration/logging/test_logging.py
  tests/integration/optimizers/flow.yml
  tests/integration/optimizers/flow_pod_choice.yml
  tests/jinahub/app.py
  tests/jinahub/flow.yml
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/flow/test_flow_enter_error.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_start_noblock.py
  tests/unit/flow/test_flow_visualization.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/flow/yaml/flow-with-envs.yml
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/remote/ssh/test_ssh_remote.py
  tests/unit/test_echostream.py
  tests/unit/test_gateway.py
  tests/unit/test_quant.py
Labels: area/cli, area/core, area/daemon, area/entrypoint, area/helper, area/network, area/testing, component/client, component/docker, component/flow, component/jaml, component/peapod, size/L

#2614 fix: graph iteration in case it has no edges
  jina/types/document/graph.py
  tests/unit/types/document/test_graph_document.py
Labels: area/core, area/testing, component/type, size/S

#2616 refactor(flow): remove asyncflow class
  docs/_static/banner.png
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/schemas/flow.py
  scripts/black.sh
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_yaml_parser.py
Labels: area/core, area/docs, area/helper, area/testing, component/flow, component/jaml, size/M

#2618 fix: document update with fields do not have support setter
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#2626 fix(daemon): remove quotes around run command
  daemon/api/endpoints/workspaces.py
  daemon/files.py
  daemon/stores/base.py
  daemon/stores/workspaces.py
  tests/daemon/unit/models/good_ws/.jinad
  tests/daemon/unit/models/test_jinad_file.py
  tests/distributed/helpers.py
  tests/distributed/test_against_external_daemon/flow_app_ws/.jinad
  tests/distributed/test_against_external_daemon/flow_app_ws/app.py
  tests/distributed/test_against_external_daemon/test_remote_workspaces.py
Labels: area/daemon, area/testing, size/S

#2628 fix: docstring for weighted ranker
  jina/helloworld/multimodal/my_executors.py
Labels: area/core, size/XS

#2625 feat: allow different evaluation aggregations
  jina/optimizers/__init__.py
  tests/integration/optimizers/optimizer_conf.yml
  tests/integration/optimizers/test_optimizer.py
  tests/integration/optimizers/test_optimizer_pod_choice.py
  tests/unit/optimizers/test_evaluation_callback.py
Labels: area/core, area/testing, size/M

#2632 refactor: remove unused setters in graph document
  jina/types/document/graph.py
  tests/unit/types/document/test_graph_document.py
Labels: area/core, area/testing, component/type, size/S

#2633 revert: bring explicit AsyncFlow class back
  .github/2.0/cookbooks/Flow.md
  jina/__init__.py
  jina/flow/asyncio.py
  tests/unit/flow/test_asyncflow.py
Labels: area/core, area/entrypoint, area/helper, area/housekeeping, area/testing, component/flow, size/M

#2635 refactor: remove legacy plugin dependencies
  extra-requirements.txt
  jina/importer.py
  jina/resources/extra-requirements.txt
  tests/unit/test_importer.py
Labels: area/core, area/helper, area/setup, area/testing, component/resource, size/S

#2638 fix: allow REST api to accept empty body
  jina/peapods/runtimes/asyncio/rest/app.py
Labels: area/core, area/network, component/peapod, size/XS

#2636 feat: info loglevel rest
  jina/peapods/runtimes/asyncio/rest/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#2629 fix: get workspace from either metas or runtime args
  .github/2.0/cookbooks/Executor.md
  jina/executors/__init__.py
  tests/unit/executors/test_executor.py
Labels: area/core, area/housekeeping, area/testing, component/executor, executor/meta, size/S

#2642 refactor: remove unused property in indexer
  jina/helloworld/multimodal/my_executors.py
Labels: area/core, size/XS

#2641 fix: fix sparse pipeline test
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
Labels: area/testing, size/S

#2631 feat(daemon): update workspace
  daemon/api/endpoints/workspaces.py
  daemon/files.py
  daemon/tasks.py
  tests/distributed/test_against_external_daemon/blocking.jinad
  tests/distributed/test_against_external_daemon/test_single_instance_custom_container.py
Labels: area/daemon, area/testing, size/M

#2645 fix: Response class as alias of Request class
  .github/workflows/cd.yml
  .github/workflows/tag.yml
  docs/conf.py
  jina/types/request/__init__.py
Labels: area/cicd, area/core, area/docs, area/housekeeping, component/type, size/S

#2644 refactor: refactor filter
  .github/2.0/cookbooks/Document.md
  jina/helloworld/multimodal/my_executors.py
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, area/housekeeping, area/testing, size/S

#2595 ci: latency-tracking adapt new release
  .github/workflows/latency-tracking.yml
Labels: area/cicd, area/housekeeping, size/S

#2621 feat: add hub push cli
  cli/api.py
  cli/autocomplete.py
  extra-requirements.txt
  jina/hubble/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/parsers/__init__.py
  jina/parsers/hub/__init__.py
  jina/parsers/hub/build.py
  jina/parsers/hub/list.py
  jina/parsers/hub/login.py
  jina/parsers/hub/new.py
  jina/parsers/hub/pushpull.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/push.py
  jina/resources/Python.gitignore
  tests/unit/hubble/__init__.py
  tests/unit/hubble/dummy_executor/dep.py
  tests/unit/hubble/dummy_executor/exec.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/__init__.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: area/cicd, area/cli, area/core, area/docker, area/docs, area/entrypoint, area/helper, area/housekeeping, area/network, area/setup, area/testing, component/executor, component/flow, component/peapod, component/proto, component/resource, component/type, executor/meta, size/L

#2650 fix(latency-tracking): add a necessary blank
  .github/workflows/latency-tracking.yml
Labels: area/cicd, area/housekeeping, size/S

#2651 fix: autocomplete on hub cli
  cli/autocomplete.py
  jina/__init__.py
  jina/helper.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/jaml/__init__.py
  jina/jaml/parsers/executor/legacy.py
Labels: area/cli, area/core, area/entrypoint, area/helper, component/jaml, size/S

#2655 fix(cookbook): fix example in flow cookbook
  .github/2.0/cookbooks/Flow.md
Labels: area/housekeeping, size/XS

#2658 feat: let response handle primitive docs
  jina/types/request/__init__.py
  jina/types/request/data.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/testing, component/type, size/S

#2654 test: hide my exec collide with other test
  tests/unit/flow/test_flow_before_after.py
Labels: area/testing, size/S

#2578 feat: unify the fields for sparse and dense array
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/ndarray/sparse/__init__.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/proto, component/type, size/M

#2662 fix: workdir in helloworld
  jina/helloworld/fashion/app.py
Labels: area/core, size/S

#2663 fix: set sparse content
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#2667 fix: clarify typehint for callback function
  .github/2.0/cookbooks/Flow.md
  jina/clients/base.py
  jina/flow/base.py
  jina/helloworld/chatbot/app.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/types/request/__init__.py
  tests/system/chatbot/test_chatbot.py
Labels: area/core, area/housekeeping, area/network, area/testing, component/client, component/flow, component/peapod, component/type, size/S

#2661 feat(daemon): dump flow wrapper
  jina/flow/base.py
  tests/integration/rolling_update/test_dump.py
Labels: area/core, area/testing, component/flow, size/S

#2664 refactor: structview not directly dict
  jina/types/struct.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/proto/test_pb_struct_tags.py
  tests/unit/types/document/test_document.py
  tests/unit/types/test_struct_view.py
Labels: area/core, area/testing, component/type, size/M

#2668 feat: check if jina is running in ci
  jina/__init__.py
  jina/helper.py
  jina/resources/ci-vendors.json
  jina/resources/hub-builder-success/index.html
  jina/resources/hub-builder-success/script.js
  jina/resources/hub-builder-success/slack-jinahub.json
  jina/resources/hub-builder-success/style.css
  jina/resources/hub-builder/manifest.yml
  jina/resources/hub-builder/osi-approved.yml
  jina/resources/hub-builder/platforms.yml
  jina/resources/hubapi.yml
  tests/unit/test_helper.py
Labels: area/core, area/entrypoint, area/helper, area/testing, component/resource, size/L

#2659 feat(daemon): expose rolling update for flow
  daemon/stores/flows.py
  daemon/stores/partial.py
Labels: area/daemon, size/S

#2671 fix: tweak jina version full info
  jina/helper.py
Labels: area/core, area/helper, size/XS

#2672 Modify the behavior of public and private
  jina/hubble/hubio.py
  jina/parsers/hubble/push.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: area/core, area/testing, size/M

#2678 fix: rolling update test
  daemon/models/workspaces.py
  daemon/stores/containers.py
  daemon/stores/workspaces.py
  tests/distributed/helpers.py
  tests/distributed/test_remote_flow_dump_rolling_update/docker-compose.yml
  tests/distributed/test_remote_flow_dump_rolling_update/pods/indexer_query.yml
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
Labels: area/daemon, area/testing, size/S

#2676 fix: use relative path in archived executor package
  jina/helper.py
  jina/hubble/helper.py
  jina/resources/Python.gitignore
Labels: area/core, area/helper, component/resource, size/S

#2682 refactor: remove third-party ip lookup service
  jina/helper.py
Labels: area/core, area/helper, size/S

#2627 feat: undirected graph
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  jina/types/document/graph.py
  tests/unit/types/document/test_graph_document.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/proto, component/type, size/M

#2683 fix: archive the folder with relative path
  jina/hubble/helper.py
  jina/resources/Python.gitignore
Labels: area/cli, area/core, component/resource, size/S

#2675 refactor: refactor DocumentArray
  jina/types/arrays/document.py
  jina/types/document/__init__.py
  jina/types/request/mixin.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_matcharray.py
Labels: area/core, area/testing, component/type, size/M

#2684 ci: add json schema to api repo
  .github/workflows/cd.yml
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/XS

#2685 feat: add scores and evaluations as maps
  .github/2.0/cookbooks/Document.md
  .github/2.0/cookbooks/Flow.md
  README.md
  jina/__init__.py
  jina/helloworld/chatbot/my_executors.py
  jina/helloworld/fashion/helper.py
  jina/helloworld/fashion/my_executors.py
  jina/helloworld/multimodal/my_executors.py
  jina/helloworld/multimodal/static/index.html
  jina/helper.py
  jina/optimizers/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/arrays/match.py
  jina/types/document/__init__.py
  jina/types/score/__init__.py
  jina/types/score/map.py
  tests/distributed/test_remote_flow_dump_rolling_update/pods/executors.py
  tests/integration/crud/__init__.py
  tests/integration/inspect_pods_flow/test_inspect_pods_flow.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/integration/optimizers/pods/dummy_evaluate.py
  tests/unit/optimizers/test_evaluation_callback.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_matcharray.py
  tests/unit/types/arrays/test_memmap.py
  tests/unit/types/document/test_document.py
  tests/unit/types/score/test_score.py
  tests/unit/types/score/test_score_map.py
Labels: area/core, area/entrypoint, area/helper, area/housekeeping, area/network, area/testing, component/proto, component/type, size/L

#2674 docs: add sparse section
  .github/2.0/cookbooks/Document.md
Labels: area/housekeeping, size/S

#2687 fix: fallback to proto sort if not valid interface
  jina/types/arrays/document.py
  tests/unit/types/arrays/test_documentarray.py
Labels: area/core, area/testing, component/type, size/S

#2692 fix: return dict and no structview
  jina/types/request/__init__.py
Labels: area/core, component/type, size/XS

#2681 fix(daemon): fix/extend unit tests
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pod.py
  daemon/stores/containers.py
  tests/conftest.py
  tests/daemon/unit/api/endpoints/partial/__init__.py
  tests/daemon/unit/api/endpoints/partial/dummy_executor.py
  tests/daemon/unit/api/endpoints/partial/dummy_executor.yml
  tests/daemon/unit/api/endpoints/partial/good_flow_dummy.yml
  tests/daemon/unit/api/endpoints/partial/test_flow.py
  tests/daemon/unit/api/endpoints/partial/test_pea.py
  tests/daemon/unit/api/endpoints/partial/test_pod.py
  tests/daemon/unit/api/endpoints/test_common.py
  tests/daemon/unit/api/endpoints/test_upload_add.py
  tests/daemon/unit/stores/test_partialstore.py
Labels: area/daemon, area/testing, size/M

#2690 feat: response casting
  jina/clients/base.py
  jina/clients/request/helper.py
  jina/clients/websocket.py
  jina/types/message/__init__.py
  jina/types/message/common.py
  jina/types/request/__init__.py
  tests/unit/optimizers/test_evaluation_callback.py
  tests/unit/test_is_read_message.py
  tests/unit/types/arrays/test_chunkarray.py
  tests/unit/types/arrays/test_matcharray.py
  tests/unit/types/document/test_document.py
  tests/unit/types/message/test_message.py
  tests/unit/types/request/test_request.py
Labels: area/core, area/testing, component/client, component/type, size/M

#2689 feat: add listview
  jina/helper.py
  jina/types/list.py
  jina/types/mixin.py
  jina/types/struct.py
  tests/integration/complex_tags/__init__.py
  tests/integration/complex_tags/test_complex_tags.py
  tests/unit/test_helper.py
  tests/unit/types/document/test_document.py
  tests/unit/types/document/test_graph_document.py
  tests/unit/types/test_list_view.py
  tests/unit/types/test_struct_view.py
Labels: area/core, area/helper, area/testing, component/type, size/M

#2697 test: adapt some more tests
  tests/unit/types/document/test_document.py
Labels: area/testing, size/XS

#2698 refactor: remove ssh and zmqmany runtimes
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/ssh/__init__.py
  jina/peapods/runtimes/zmq/base.py
  tests/unit/peapods/runtimes/remote/ssh/__init__.py
  tests/unit/peapods/runtimes/remote/ssh/test_ssh_remote.py
  tests/unit/peapods/zmq/test_zmq_addr.py
Labels: area/core, area/network, area/testing, component/peapod, size/M

#2700 fix(daemon): store unit tests
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pea.py
  daemon/stores/flows.py
  daemon/stores/partial.py
  daemon/stores/workspaces.py
  tests/conftest.py
  tests/daemon/unit/api/endpoints/partial/test_flow.py
  tests/daemon/unit/api/endpoints/test_common.py
  tests/daemon/unit/api/endpoints/test_logs.py
  tests/daemon/unit/stores/test_flowstore.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/daemon/unit/stores/test_peapodstore.py
  tests/daemon/unit/stores/test_workspacestore.py
  tests/daemon/unit/test_files.py
Labels: area/cicd, area/daemon, area/housekeeping, area/testing, size/M

#2699 refactor: separate rest and websocket gateway, client
  .github/2.0/cookbooks/Flow.md
  cli/autocomplete.py
  extra-requirements.txt
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/http.py
  jina/clients/websocket.py
  jina/enums.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/helloworld/chatbot/app.py
  jina/helloworld/multimodal/app.py
  jina/helloworld/multimodal/flow-search.yml
  jina/parsers/__init__.py
  jina/parsers/client.py
  jina/parsers/flow.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/runtimes/remote.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio/base.py
  jina/peapods/runtimes/asyncio/grpc/__init__.py
  jina/peapods/runtimes/asyncio/http/__init__.py
  jina/peapods/runtimes/asyncio/http/app.py
  jina/peapods/runtimes/asyncio/http/models.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/websocket/__init__.py
  jina/peapods/runtimes/asyncio/websocket/app.py
  jina/peapods/zmq/__init__.py
  scripts/inject-cli-as-overload.py
  tests/distributed/test_remote_flow_dump_rolling_update/flow_dbms.yml
  tests/distributed/test_remote_flow_dump_rolling_update/flow_query.yml
  tests/distributed/test_remote_flow_dump_rolling_update/pods/executors.py
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
  tests/integration/crud/flow.yml
  tests/integration/crud/test_crud.py
  tests/integration/inspect_pods_flow/test_inspect_pods_flow.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/jinahub/flow.yml
  tests/jinahub/test_integration.sh
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/flow/test_flow_change_gateway.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_http_extend.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_segmenter.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/peapods/runtimes/test_runtimes.py
  tests/unit/test_extend_fastapi.py
  tests/unit/test_gateway.py
Labels: area/cli, area/core, area/helper, area/housekeeping, area/network, area/setup, area/testing, component/client, component/flow, component/peapod, size/XL

#2706 docs: remove use gateway
  .github/2.0/cookbooks/Flow.md
Labels: area/housekeeping, size/XS

#2704 test: complete craft and encode tests in hello multimodal
  tests/unit/helloworld/multimodal/test_executors.py
Labels: area/testing, size/S

#2688 refactor: remove Peatype metaclass
  jina/logging/logger.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/asyncio/base.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/zmq/base.py
  jina/peapods/runtimes/zmq/zed.py
  tests/integration/issues/github_2371/__init__.py
  tests/integration/issues/github_2371/test_pea.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/test_runtimes.py
  tests/unit/peapods/zmq/test_zmq_addr.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/logging, component/peapod, size/L

#2711 Ci latency tracking zerodivisionerror
  .github/workflows/latency-tracking.yml
Labels: area/cicd, area/housekeeping, size/XS

#2551 feat: draft of dynamic routing
  cli/autocomplete.py
  jina/excepts.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/parsers/__init__.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/__init__.py
  jina/types/routing/__init__.py
  jina/types/routing/graph.py
  tests/daemon/unit/api/endpoints/test_common.py
  tests/distributed/test_join_local_from_remote/flow.yml
  tests/distributed/test_local_flow_local_remote_local/flow.yml
  tests/distributed/test_local_flow_local_remote_local/test_integration.py
  tests/distributed/test_local_flow_remote_local_remote/flow.yml
  tests/distributed/test_local_flow_remote_local_remote/test_integration.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_dynamic_routing.py
  tests/unit/flow/test_flow_example_face.py
  tests/unit/flow/test_flow_example_faiss.py
  tests/unit/flow/test_flow_frozen_pods.py
  tests/unit/flow/test_remote_orchestrate.py
  tests/unit/mwu-encoder/Dockerfile
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
  tests/unit/types/test_routing_graph.py
Labels: area/cli, area/core, area/helper, area/network, area/testing, component/flow, component/peapod, component/proto, component/type, size/XL

#2673 fix: document creates content hash at init
  jina/types/arrays/document.py
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#2712 fix(http): fix http request response model
  extra-requirements.txt
  jina/clients/http.py
  jina/clients/request/__init__.py
  jina/excepts.py
  jina/peapods/runtimes/asyncio/http/app.py
  jina/peapods/runtimes/asyncio/http/models.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/jinahub/test_integration.sh
  tests/unit/clients/python/test_client.py
  tests/unit/flow/test_flow_change_gateway.py
  tests/unit/flow/test_flow_http_extend.py
Labels: area/core, area/helper, area/network, area/setup, area/testing, component/client, component/peapod, size/M

#2705 refactor: runtime as context manager
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/base.py
Labels: area/core, area/network, area/testing, component/logging, component/peapod, size/S

#2722 fix(flow): show client progress bar when using in the flow
  cli/autocomplete.py
  jina/flow/base.py
  jina/logging/profile.py
  jina/parsers/__init__.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
Labels: area/cli, area/core, area/network, area/testing, component/flow, component/logging, component/peapod, size/M

#2714 feat: pass executor specific params
  jina/peapods/runtimes/zmq/zed.py
  tests/integration/override_executor_specific_params/__init__.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/unit/peapods/runtimes/zmq/__init__.py
  tests/unit/peapods/runtimes/zmq/test_zed_runtime.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2719 fix: change alias to pea
  cli/api.py
  tests/unit/mwu-encoder/Dockerfile
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/cli, area/testing, size/S

#2726 fix: make args.routing_graph serializable
  cli/autocomplete.py
  jina/excepts.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/__init__.py
  jina/types/request/__init__.py
  jina/types/routing/table.py
  tests/unit/flow/test_remote_orchestrate.py
  tests/unit/peapods/zmq/test_dynamic_routing.py
  tests/unit/types/test_routing_graph.py
Labels: area/cli, area/core, area/helper, area/network, area/testing, component/flow, component/peapod, component/proto, component/type, size/M

#2727 test: add more tests
  tests/integration/override_executor_specific_params/test_specific_params.py
Labels: area/testing, size/S

#2728 perf: hide zmq.asyncio import to speedup import
  jina/peapods/peas/__init__.py
Labels: area/core, area/network, component/peapod, size/S

#2730 feat: enforce trav paths being iterable of str
  jina/types/arrays/traversable.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_memmap.py
Labels: area/core, area/testing, component/type, size/S

#2732 perf: http client is now fully async
  jina/clients/http.py
Labels: area/core, component/client, size/S

#2736 fix: suppress exception trace in runtime ctm
  .github/pronounce-jina.mp3
  README.md
  jina/helper.py
  jina/peapods/runtimes/base.py
Labels: area/core, area/helper, area/housekeeping, area/network, component/peapod, size/S

#2737 fix: typo in cookbook
  .github/2.0/cookbooks/Serving.md
Labels: area/housekeeping, size/XS

#2739 refactor: maker some client params accessible at runtime
  .github/2.0/cookbooks/Flow.md
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/clients/base.py
  jina/clients/http.py
  jina/clients/mixin.py
  jina/clients/request/asyncio.py
  jina/clients/websocket.py
  jina/flow/base.py
  jina/helloworld/chatbot/app.py
  jina/helloworld/fashion/app.py
  jina/helloworld/fashion/helper.py
  jina/helloworld/multimodal/app.py
  jina/logging/profile.py
  jina/parsers/client.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  jina/peapods/runtimes/asyncio/http/models.py
  tests/integration/crud/test_crud.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/unit/flow/test_flow.py
Labels: area/cli, area/core, area/housekeeping, area/network, area/testing, component/client, component/flow, component/logging, component/peapod, size/M

#2713 feat(hubble): add jina hub pull cli
  cli/autocomplete.py
  extra-requirements.txt
  jina/__init__.py
  jina/excepts.py
  jina/hubble/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/pull.py
  jina/parsers/hubble/push.py
  jina/peapods/pods/__init__.py
  tests/conftest.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/dummy_executor.zip
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: area/cli, area/core, area/entrypoint, area/helper, area/network, area/setup, area/testing, component/peapod, size/L

#2734 fix(daemon): remove dump specific logic from flow
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pod.py
  daemon/api/endpoints/workspaces.py
  daemon/models/enums.py
  daemon/stores/flows.py
  daemon/stores/partial.py
  jina/flow/base.py
  tests/daemon/unit/api/endpoints/partial/test_flow.py
  tests/daemon/unit/stores/test_partialstore.py
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
  tests/integration/rolling_update/test_dump.py
Labels: area/core, area/daemon, area/testing, component/flow, size/M

#2743 feat(hubble): support alias name
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/peapods/pods/__init__.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2750 fix: add response model to http gateway
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/client.py
  jina/parsers/peapods/runtimes/remote.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  jina/peapods/runtimes/asyncio/http/app.py
  jina/peapods/runtimes/asyncio/http/models.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/unit/flow/test_flow_except.py
Labels: area/cli, area/core, area/network, area/testing, component/flow, component/peapod, size/M

#2753 ci: fix cd testbed
  .github/workflows/cd.yml
Labels: area/cicd, area/housekeeping, size/S

#2756 fix(hubble): put `metas` and `envs` in request header
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/resources/Python.gitignore
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, area/testing, component/resource, size/S

#2762 refactor(client): separate http, websocket & grpc
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/websocket.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/asyncio/grpc/__init__.py
  jina/peapods/runtimes/asyncio/http/app.py
  jina/peapods/runtimes/asyncio/prefetch.py
  jina/peapods/runtimes/asyncio/websocket/app.py
Labels: area/core, area/network, area/setup, component/client, component/peapod, size/L

#2763 refactor: create task in async zmqlet
  .github/2.0/cookbooks/Serving.md
  docs/index.rst
  jina/parsers/__init__.py
  jina/parsers/peapods/runtimes/remote.py
  jina/peapods/zmq/__init__.py
Labels: area/core, area/docs, area/housekeeping, area/network, component/peapod, size/S

#2765 refactor: get public ip
  jina/helper.py
  jina/peapods/pods/__init__.py
Labels: area/core, area/helper, area/network, component/peapod, size/S

#2769 fix: double join invoke from Pod
  jina/clients/base/grpc.py
  jina/clients/base/websocket.py
  jina/flow/base.py
  jina/jaml/parsers/executor/legacy.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/asyncio/grpc/__init__.py
  jina/peapods/runtimes/asyncio/http/__init__.py
  jina/peapods/runtimes/asyncio/prefetch.py
  jina/peapods/runtimes/asyncio/websocket/__init__.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  tests/unit/peapods/peas/test_pea.py
Labels: area/core, area/network, area/testing, component/client, component/flow, component/jaml, component/peapod, size/S

#2771 feat: mute many log.info and log.success
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/flow/base.py
  jina/helloworld/chatbot/app.py
  jina/helloworld/fashion/helper.py
  jina/helloworld/multimodal/app.py
  jina/logging/profile.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/asyncio/prefetch.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/jinad/client.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
Labels: area/core, area/network, component/client, component/flow, component/logging, component/peapod, size/S

#2772 fix: remove unused env
  jina/__init__.py
  jina/flow/base.py
  jina/helper.py
  jina/logging/logger.py
  jina/logging/profile.py
  jina/peapods/zmq/__init__.py
Labels: area/core, area/entrypoint, area/helper, area/network, component/flow, component/logging, component/peapod, size/S

#2770 refactor: remove mime type guess from remote url
  extra-requirements.txt
  jina/types/document/__init__.py
  jina/types/document/converters.py
  tests/unit/types/document/test_converters.py
Labels: area/core, area/setup, area/testing, component/type, size/S

#2773 refactor: gateway runtime module structure
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/request/helper.py
  jina/executors/decorators.py
  jina/logging/formatter.py
  jina/logging/profile.py
  jina/parsers/__init__.py
  jina/parsers/client.py
  jina/parsers/helper.py
  jina/parsers/hubble/push.py
  jina/parsers/optimizer.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/compound.py
  jina/peapods/runtimes/__init__.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/gateway/__init__.py
  jina/peapods/runtimes/gateway/grpc/__init__.py
  jina/peapods/runtimes/gateway/http/__init__.py
  jina/peapods/runtimes/gateway/http/app.py
  jina/peapods/runtimes/gateway/http/models.py
  jina/peapods/runtimes/gateway/prefetch.py
  jina/peapods/runtimes/gateway/websocket/__init__.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/client.py
  jina/peapods/runtimes/zmq/asyncio.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/types/arrays/__init__.py
  jina/types/arrays/document.py
  jina/types/document/__init__.py
  jina/types/document/graph.py
  jina/types/message/__init__.py
  jina/types/ndarray/sparse/pytorch.py
  jina/types/ndarray/sparse/tensorflow.py
  jina/types/request/__init__.py
  jina/types/routing/table.py
  jina/types/score/map.py
  scripts/get-openapi-schemas.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/peapods/runtimes/test_runtimes.py
Labels: area/core, area/network, area/testing, component/client, component/executor, component/logging, component/peapod, component/type, executor/meta, size/M

#2774 fix: remove uses internal
  .github/2.0/cookbooks/Executor.md
  cli/autocomplete.py
  jina/flow/base.py
  jina/parsers/peapods/runtimes/container.py
  scripts/inject-cli-as-overload.py
Labels: area/cli, area/core, area/housekeeping, component/client, component/flow, size/S

#2775 fix(http): change default endpoints methods to post
  jina/peapods/runtimes/gateway/http/app.py
  tests/unit/flow/test_flow_http_extend.py
Labels: area/core, area/network, area/testing, component/peapod, size/XS

#2777 docs(cookbook): fix typo in Flow.md
  .github/2.0/cookbooks/Flow.md
Labels: area/housekeeping, size/XS

#2779 fix(cicd): tag schema with latest on every release
  .github/workflows/tag.yml
  jina/parsers/hubble/push.py
Labels: area/cicd, area/core, area/housekeeping, size/S

#2780 refactor(hub): get hub url from api.jina.ai
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/hubble/progress_bar.py
  tests/unit/test_helper.py
Labels: area/core, area/testing, size/S

#2781 refactor(hub): use built-in progress bar
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/hubble/progress_bar.py
Labels: area/core, size/M

#2764 fix(hubble): hub executor test errors
  .github/2.0/cookbooks/Hubble.md
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  tests/unit/test_helper.py
Labels: area/core, area/housekeeping, area/testing, size/M

#2783 docs(cookbook): update Hubble.md
  .github/2.0/cookbooks/Hubble.md
Labels: area/housekeeping, size/S

#2784 fix(hubble): add --install-deps argument
  cli/autocomplete.py
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/parsers/hubble/pull.py
  jina/resources/Python.gitignore
Labels: area/cli, area/core, component/resource, size/S

#2789 feat(hubble): optimize display when create executor
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, area/testing, size/XS

#2787 refactor(hub): hubble client refactored
  cli/__init__.py
  daemon/__init__.py
  daemon/api/dependencies.py
  daemon/api/endpoints/__init__.py
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pea.py
  daemon/api/endpoints/partial/pod.py
  daemon/api/endpoints/pods.py
  daemon/api/endpoints/workspaces.py
  daemon/dockerize.py
  daemon/excepts.py
  daemon/files.py
  daemon/models/__init__.py
  daemon/models/containers.py
  daemon/models/custom.py
  daemon/models/enums.py
  daemon/models/partial.py
  daemon/models/workspaces.py
  daemon/parser.py
  daemon/stores/__init__.py
  daemon/stores/base.py
  daemon/stores/containers.py
  daemon/stores/flows.py
  daemon/stores/partial.py
  daemon/stores/workspaces.py
  daemon/tasks.py
  jina/enums.py
  jina/flow/base.py
  jina/helper.py
  jina/hubble/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/jaml/helper.py
  jina/logging/formatter.py
  jina/logging/logger.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/pull.py
  jina/peapods/networking.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/jinad/client.py
  jina/resources/logging.daemon.yml
  jina/resources/logging.default.yml
  jina/resources/logging.docker.yml
  jina/resources/logging.quiet.yml
  jina/resources/logging.remote.yml
  jina/types/message/__init__.py
  tests/conftest.py
  tests/daemon/unit/api/endpoints/test_daemon.py
  tests/daemon/unit/stores/test_workspacestore.py
  tests/distributed/helpers.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
  tests/unit/logging/test_logging.py
  tests/unit/test_helper.py
Labels: area/cli, area/core, area/daemon, area/entrypoint, area/helper, area/network, area/testing, component/flow, component/jaml, component/logging, component/peapod, component/resource, component/type, size/L

#2791 fix: removed debug port
  tests/unit/peapods/zmq/test_dynamic_routing.py
Labels: area/testing, size/XS

#2792 feat(cli): call version check in another thread
  cli/__init__.py
  cli/autocomplete.py
  jina/peapods/runtimes/container/__init__.py
  scripts/devbot.sh
  scripts/inject-cli-as-overload.py
  scripts/update-autocomplete-cli.py
Labels: area/cli, area/core, area/network, component/peapod, size/S

#2796 fix(logging): fix log formatter
  jina/hubble/hubio.py
  jina/logging/formatter.py
  jina/logging/logger.py
Labels: area/core, component/logging, size/S

#2793 fix: set cors for helloworld-chatbot
  jina/helloworld/chatbot/app.py
Labels: area/core, size/XS
