Repository jina-ai/serve, pull requests merged in 2021-02, with the labels that each got.

#1824 test(drivers): add lookupnode tests
  tests/unit/drivers/querylang/queryset/test_lookup.py
Labels: area/testing, size/S

#1829 fix: vector indexer only uses str as keys
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/drivers/delete.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/types/document/__init__.py
  jina/types/document/converters.py
  jina/types/document/uid.py
  tests/integration/memmap/test_mmap.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/drivers/test_vector_index_driver.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/indexers/test_numpyindexer_batching.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/client, component/driver, component/executor, component/flow, component/type, executor/indexer, executor/meta, size/M

#1831 fix: rename docidcache to doccache
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/resources/executors._unique.yml
  jina/resources/executors._unique_content.yml
  jina/resources/executors.requests.UniquePbIndexer.yml
  jina/resources/executors.requests.UniqueVectorIndexer.yml
  tests/integration/docidcache/cache.yml
  tests/integration/docidcache/test_crud_cache.py
  tests/integration/incremental_indexing/_unique_doc.yml
  tests/integration/incremental_indexing/_unique_vec.yml
  tests/integration/incremental_indexing/uniq_docindexer.yml
  tests/integration/incremental_indexing/uniq_docindexer_content_hash.yml
  tests/integration/incremental_indexing/uniq_vectorindexer.yml
  tests/integration/incremental_indexing/uniq_vectorindexer_content_hash.yml
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/testing, component/executor, component/resource, executor/indexer, size/S

#1809 fix: two remotes connect to local
  jina/enums.py
  jina/flow/builder.py
  jina/parsers/client.py
  jina/parsers/peapods/pea.py
  jina/peapods/pods/__init__.py
  tests/distributed/test_join_local_from_remote/.env
  tests/distributed/test_join_local_from_remote/__init__.py
  tests/distributed/test_join_local_from_remote/docker-compose.yml
  tests/distributed/test_join_local_from_remote/flow.yml
  tests/distributed/test_join_local_from_remote/test_integration.py
  tests/distributed/test_local_flow_local_remote_local/flow.yml
  tests/distributed/test_local_flow_local_remote_local/test_integration.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_remote_orchestrate.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1833 chore: take out dependency on version file from core
  CONTRIBUTING.md
  scripts/make-doc.sh
  scripts/release.sh
Labels: size/S

#1835 feat(rest): add protobuf model to pydantic
  daemon/models/custom.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
Labels: area/core, area/daemon, area/network, component/peapod, size/S

#1834 fix: upload_files should also upload uses_internal
  daemon/api/endpoints/logs.py
  jina/peapods/runtimes/jinad/__init__.py
Labels: area/core, area/daemon, area/network, component/peapod, size/S

#1836 test: enable test with parallel docker remote
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/core, area/daemon, area/network, area/testing, component/peapod, size/S

#1837 refactor: doc.id can now be arbitrary string
  jina/clients/request/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/helper.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/resources/executors._index.yml
  jina/types/document/__init__.py
  jina/types/document/uid.py
  jina/types/querylang/__init__.py
  jina/types/score/__init__.py
  jina/types/sets/document.py
  tests/integration/docidcache/test_crud_cache.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/logging/test_logging.py
  tests/integration/sharding/test_search_non_existent.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/executors/indexers/binarypb.yml
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/executors/indexers/test_numpyindexer_batching.py
  tests/unit/flow/test_flow.py
  tests/unit/test_helper.py
  tests/unit/test_workspace.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/executor, component/peapod, component/resource, component/type, executor/indexer, size/M

#1814 docs: crud vector kv indexer
  jina/drivers/__init__.py
  jina/drivers/cache.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
Labels: area/core, component/driver, component/executor, executor/indexer, size/M

#1840 fix(indexer): set default key_length to 16
  jina/executors/indexers/__init__.py
Labels: area/core, component/executor, executor/indexer, size/XS

#1841 docs(readme): add CRUD to the top section of the get-started
  README.md
  jina/executors/indexers/keyvalue.py
  tests/integration/crud/simple/test_curd_readme.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#1843 refactor: use iterable
  jina/clients/request/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/optimizers/flow_runner.py
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_vector_index_driver.py
Labels: area/core, area/testing, component/client, component/executor, component/flow, executor/indexer, size/S

#1842 refactor: docCache signature fix
  jina/executors/indexers/cache.py
Labels: area/core, component/executor, executor/indexer, size/XS

#1846 ci(rest): added redoc docs for rest gateway
  .github/workflows/cd.yml
  .github/workflows/tag.yml
  scripts/get-gateway-openapi.py
Labels: area/cicd, area/housekeeping, size/S

#1847 feat(types): add proper __str__ and __repr__ to jina types
  jina/checker.py
  jina/drivers/control.py
  jina/proto/serializer.py
  jina/types/document/__init__.py
  jina/types/message/__init__.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  jina/types/ndarray/dense/numpy.py
  jina/types/ndarray/generic.py
  jina/types/ndarray/sparse/__init__.py
  jina/types/querylang/__init__.py
  jina/types/request/__init__.py
  jina/types/request/common.py
  jina/types/request/mixin.py
  jina/types/score/__init__.py
  jina/types/sets/chunk.py
  jina/types/sets/document.py
  jina/types/sets/match.py
  jina/types/sets/querylang.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/types/document/test_document.py
  tests/unit/types/message/test_common.py
  tests/unit/types/querylang/test_querylang.py
  tests/unit/types/request/test_request.py
  tests/unit/types/sets/test_chunkset.py
  tests/unit/types/sets/test_matchset.py
  tests/unit/types/test_repr_str.py
Labels: area/core, area/helper, area/network, area/testing, component/driver, component/proto, component/type, size/M

#1850 fix(helper): fix yaml path check
  jina/helper.py
  jina/jaml/helper.py
  jina/peapods/runtimes/jinad/__init__.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, area/network, area/testing, component/jaml, component/peapod, size/S

#1852 fix(types): fix repr and str magic methods
  README.md
  jina/types/sets/document.py
  jina/types/sets/match.py
  tests/unit/types/test_repr_str.py
Labels: area/core, area/testing, component/type, size/S

#1854 chore: update readme copyright
  README.md
Labels: size/XS

#1851 fix: default value of workspace dir
  jina/optimizers/__init__.py
Labels: area/core, size/XS

#1844 refactor: empty query handler is not an issue anymore
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
Labels: area/core, component/executor, executor/indexer, size/XS

#1857 fix(zmq): change identity from id to uuid
  jina/peapods/zmq/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#1856 build: rest gateway script
  jina/peapods/runtimes/asyncio/rest/app.py
  scripts/get-gateway-openapi.py
Labels: area/core, area/network, component/peapod, size/S

#1858 refactor: remove groundtruth from update
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
Labels: area/core, area/entrypoint, area/helper, area/network, component/proto, size/S

#1860 ci(rest): added redoc docs for rest gateway
  .github/workflows/cd.yml
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/S

#1859 fix: set proper default traversals
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/sort.py
Labels: area/core, component/driver, size/XS

#1853 refactor: cache runtime optimization
  jina/drivers/cache.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  tests/integration/docidcache/test_crud_cache.py
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, size/S

#1855 fix: is_merge should be False by default
  jina/drivers/search.py
  jina/resources/helloworld.indexer.yml
  tests/integration/crud/advanced/yaml/index-chunk.yml
  tests/integration/crud/advanced/yaml/index-doc.yml
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
Labels: area/core, area/testing, component/driver, component/resource, size/S

#1839 docs(jaml): add missing param cls
  jina/jaml/parsers/base.py
Labels: area/core, component/jaml, size/XS

#1838 docs(flow): remove extra param in base docs
  jina/flow/base.py
Labels: area/core, component/flow, size/XS

#1865 fix(grpc): fix zmqlet lifetime in grpcRuntime
  jina/peapods/runtimes/asyncio/grpc/__init__.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/zmq/zed.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/unit/test_gateway.py
Labels: area/core, area/network, area/testing, component/peapod, component/type, size/M

#1863 fix: close already started Peas when one of them fail to start
  jina/peapods/pods/__init__.py
  tests/daemon/unit/stores/test_flowstore.py
  tests/integration/issues/github_1861/__init__.py
  tests/integration/issues/github_1861/test_pea_closing.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1864 fix(daemon): set client timeout to args timeout_ready
  jina/peapods/runtimes/jinad/client.py
  tests/distributed/test_against_external_daemon/delayed_executor.py
  tests/distributed/test_against_external_daemon/delayed_executor.yml
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1870 ci(dashboard): send event for version update
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/S

#1867 docs: docstrings for pods and peas
  jina/flow/builder.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
Labels: area/core, area/network, component/flow, component/peapod, size/S

#1866 docs(segmenter): improve segmenter docstring
  jina/executors/segmenters/__init__.py
Labels: area/core, component/executor, size/XS

#1877 refactor(types): allow doc building from arbitrary json/dict
  cli/__init__.py
  daemon/parser.py
  extra-requirements.txt
  jina/drivers/querylang/queryset/dunderkey.py
  jina/flow/base.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/__init__.py
  jina/types/document/__init__.py
  jina/types/score/__init__.py
  tests/unit/clients/python/test_request.py
  tests/unit/types/document/test_document.py
Labels: area/cli, area/core, area/daemon, area/helper, area/setup, area/testing, component/driver, component/flow, component/jaml, component/type, size/M

#1879 fix: timeout can be negative
  jina/peapods/runtimes/jinad/client.py
Labels: area/core, area/network, component/peapod, size/XS

#1873 refactor: index performance
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
Labels: area/core, component/executor, executor/indexer, size/S

#1872 refactor: remove unique id
  jina/clients/request/helper.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/types/document/__init__.py
  jina/types/document/uid.py
  jina/types/sets/document.py
  tests/integration/crud/simple/test_crud.py
  tests/integration/docidcache/test_crud_cache.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/test_helper.py
  tests/unit/test_workspace.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/client, component/driver, component/executor, component/type, executor/indexer, size/M

#1881 feat(client): add sugary api for csv and ndjson
  README.md
  jina/clients/asyncio.py
  jina/clients/sugary_io.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/flow/mixin/__init__.py
  jina/flow/mixin/async_crud.py
  jina/flow/mixin/crud.py
  tests/integration/crud/simple/chunks/test_chunks.py
  tests/integration/crud/simple/test_crud.py
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/mime/test_mime.py
  tests/integration/sharding/test_sharding.py
  tests/unit/clients/python/docs.csv
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_io.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_skip.py
Labels: area/core, area/testing, component/client, component/flow, size/XL

#1883 fix(types): fix extend in docset
  jina/types/document/multimodal.py
  jina/types/sets/document.py
  tests/unit/types/sets/test_chunkset.py
Labels: area/core, area/testing, component/type, size/S

#1884 feat(types): add visualization to doc type
  .github/images/four-symbol-docs.svg
  README.md
  jina/flow/base.py
  jina/helper.py
  jina/types/document/__init__.py
  jina/types/score/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/helper, area/housekeeping, area/testing, component/flow, component/type, size/M

#1874 docs: docstring helloworld
  jina/helloworld/__init__.py
Labels: area/core, area/helloworld, size/S

#1876 docs: updated optimizer docstrings
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
Labels: area/core, size/M

#1886 fix(driver): fix driver except handling
  jina/drivers/encode.py
Labels: area/core, component/driver, size/S

#1887 refactor(driver): set default len 36, move check to driver
  jina/drivers/index.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
Labels: area/core, component/driver, component/executor, executor/indexer, size/S

#1888 fix(driver): compoundindexer should turn on is_merge
  jina/resources/executors.requests.CompoundIndexer.yml
Labels: area/core, component/resource, size/XS

#1889 docs(logging): update logging docstrings
  jina/logging/formatter.py
  jina/logging/logger.py
  jina/logging/pipe.py
  jina/logging/profile.py
Labels: area/core, component/logging, size/M

#1880 fix(daemon): remove all from endpoints
  daemon/api/endpoints/__init__.py
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/api/endpoints/workspace.py
  daemon/stores/base.py
  jina/peapods/runtimes/jinad/client.py
  tests/daemon/unit/api/endpoints/test_common.py
Labels: area/core, area/daemon, area/network, area/testing, component/peapod, size/S

#1882 docs: fix typos markdowns
  CONTRIBUTING.md
  README.md
Labels: size/S

#1890 feat(hub): expose jina version in hub list cli #1885
  jina/docker/hubapi/local.py
Labels: area/core, component/docker, size/S

#1892 ci: add fixed ref for workflow dispatch event
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/XS

#1893 fix(cli): increase the default timeout-ready
  cli/autocomplete.py
  jina/parsers/hub/build.py
  jina/parsers/peapods/pea.py
  jina/peapods/peas/__init__.py
Labels: area/cli, area/core, area/network, component/peapod, size/S

#1878 refactor: cache data field
  jina/drivers/cache.py
  jina/drivers/search.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_kv_index_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
  tests/unit/drivers/test_vector_fill_driver.py
  tests/unit/drivers/test_vector_index_driver.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, size/M

#1897 test: fix test in flow, add back hw result check
  tests/integration/crud/simple/test_curd_readme.py
  tests/integration/test_helloworld.py
  tests/unit/flow/test_flow.py
Labels: area/testing, size/S

#1898 fix: rename folder of doccache integration tests
  tests/integration/doccache/__init__.py
  tests/integration/doccache/_merge_matches_topk.yml
  tests/integration/doccache/cache.yml
  tests/integration/doccache/crud_cache_flow_index.yml
  tests/integration/doccache/crud_cache_flow_query.yml
  tests/integration/doccache/kv.yml
  tests/integration/doccache/test_crud_cache.py
  tests/integration/doccache/vector.yml
Labels: area/testing, size/XS

#1903 docs: docstring for types/score
  jina/types/score/__init__.py
Labels: area/core, component/type, size/S

#1902 fix(flow): pea/pod start on the Flow level should not block
  jina/flow/base.py
  jina/logging/profile.py
  jina/parsers/peapods/pea.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/client.py
  tests/distributed/test_against_external_daemon/delayed_executor.py
  tests/distributed/test_against_external_daemon/test_single_instance.py
  tests/unit/flow/test_flow_start_noblock.py
Labels: area/core, area/network, area/testing, component/flow, component/logging, component/peapod, size/M

#1896 docs(excepts): update excepts docs
  jina/excepts.py
Labels: area/core, area/helper, size/S

#1875 feat: added base embedding evaluator
  jina/resources/executors.requests.BaseCraftingEvaluator.yml
  jina/resources/executors.requests.BaseEmbeddingEvaluator.yml
  jina/resources/executors.requests.BaseEncodingEvaluator.yml
  jina/resources/executors.requests.BaseTextEvaluator.yml
Labels: area/core, component/resource, size/S

#1900 fix: refactor doccache filename usage
  jina/executors/indexers/cache.py
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#1901 docs: docstrings for cache driver
  jina/drivers/cache.py
Labels: area/core, component/driver, size/S

#1905 fix: size assertion for first add call
  jina/executors/indexers/vector.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#1907 docs(enums): update docstring for enums
  jina/enums.py
Labels: area/core, area/helper, size/S

#1906 docs(checker): update docstring for checker
  jina/checker.py
Labels: area/core, area/helper, size/S

#1909 style(rel-notes): upload new banner
  .github/images/rel_notes/rel_notes_1_0.png
Labels: area/housekeeping, size/XS

#1910 docs: docstrings for docker module
  jina/docker/checker.py
  jina/docker/helper.py
  jina/docker/hubapi/local.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  tests/unit/docker/test_helper.py
Labels: area/core, area/testing, component/docker, size/M

#1908 docs(rest): add jina logo to redoc
  daemon/__init__.py
  jina/peapods/runtimes/asyncio/rest/app.py
  scripts/get-gateway-openapi.py
Labels: area/core, area/daemon, area/network, component/peapod, size/XS

#1869 docs: improve docstrings for some drivers
  jina/drivers/control.py
  jina/drivers/convert.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/multimodal.py
  jina/drivers/segment.py
Labels: area/core, component/driver, size/S

#1913 fix(resources): fix yaml config in resources
  jina/resources/executors._route.yml
  jina/resources/executors._unique.yml
  jina/resources/executors._unique_content.yml
  jina/resources/executors.requests.BaseEmbeddingEvaluator.yml
  jina/resources/executors.requests.BaseTextEvaluator.yml
  tests/unit/test_driver_yaml.py
Labels: area/core, area/testing, component/resource, size/S

#1904 docs: docstring executors
  jina/executors/classifiers/__init__.py
  jina/executors/crafters/__init__.py
  jina/executors/rankers/__init__.py
Labels: area/core, component/executor, executor/crafter, executor/ranker, size/S

#1895 docs(helper): update helper docstrings
  jina/helper.py
Labels: area/core, area/helper, size/M

#1914 docs: improve docstrings on drivers
  jina/drivers/__init__.py
  jina/drivers/cache.py
  jina/drivers/control.py
  jina/drivers/convert.py
  jina/drivers/evaluate.py
  jina/drivers/multimodal.py
  jina/drivers/predict.py
  jina/drivers/querylang/queryset/dunderkey.py
  jina/drivers/querylang/queryset/helper.py
  jina/drivers/querylang/queryset/lookup.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/drivers/search.py
Labels: area/core, component/driver, size/M

#1912 docs: docstrings for 'clients'
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/helper.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/request/helper.py
  jina/clients/sugary_io.py
  jina/clients/websocket.py
Labels: area/core, component/client, size/M

#1918 docs(importer): update importer docstring
  jina/importer.py
Labels: area/core, area/helper, size/S

#1921 chore: update readme slogan
  README.md
Labels: size/XS

#1919 docs(types): update docstring for request
  jina/types/request/__init__.py
  jina/types/request/common.py
Labels: area/core, component/type, size/S

#1920 docs(ndarray): update docstring for ndarray
  jina/types/ndarray/__init__.py
  jina/types/ndarray/dense/numpy.py
  jina/types/ndarray/sparse/__init__.py
  jina/types/ndarray/sparse/numpy.py
  jina/types/ndarray/sparse/pytorch.py
  jina/types/ndarray/sparse/scipy.py
  jina/types/ndarray/sparse/tensorflow.py
Labels: area/core, component/type, size/S

#1917 fix: more useful default
  jina/drivers/search.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/driver, do not merge, size/S

#1915 docs: docstrings jaml
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/base.py
  jina/jaml/parsers/default/v1.py
  jina/jaml/parsers/driver/legacy.py
  jina/jaml/parsers/executor/legacy.py
  jina/jaml/parsers/flow/legacy.py
  jina/jaml/parsers/flow/v1.py
Labels: area/core, component/jaml, size/M

#1922 docs: docstrings for flow module
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/flow/mixin/async_crud.py
  jina/flow/mixin/crud.py
Labels: area/core, component/flow, size/M

#1926 feat(types): add update method to document types
  .github/workflows/ci.yml
  jina/drivers/search.py
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/types/document/__init__.py
  tests/integration/crud/advanced/yaml/index-chunk.yml
  tests/integration/crud/advanced/yaml/index-doc.yml
  tests/integration/crud/simple/test_curd_readme.py
  tests/integration/doccache/kv.yml
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
  tests/integration/sharding/yaml/index_kv.yml
  tests/integration/sharding/yaml/index_kv_simple.yml
  tests/unit/executors/indexers/binarypb.yml
  tests/unit/types/document/test_document.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, component/resource, component/type, size/M

#1929 feat(types): add to_blob converter to document
  jina/drivers/convert.py
  jina/drivers/segment.py
  jina/types/document/__init__.py
  jina/types/document/converters.py
  tests/unit/types/document/test.png
  tests/unit/types/document/test_converters.py
Labels: area/core, area/testing, component/driver, component/type, size/S

#1930 refactor: move bad_docs warning to _extract_docs
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/predict.py
  jina/drivers/search.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/types/document/__init__.py
  jina/types/sets/document.py
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_vector_index_driver.py
Labels: area/core, area/testing, component/driver, component/executor, component/type, executor/indexer, size/M

#1925 feat: precommit hooks for docstrings
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: size/S

#1933 refactor: move queryset from drivers to types
  jina/drivers/control.py
  jina/drivers/evaluate.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/sort.py
  jina/types/ndarray/generic.py
  jina/types/querylang/queryset/__init__.py
  jina/types/querylang/queryset/dunderkey.py
  jina/types/querylang/queryset/helper.py
  jina/types/querylang/queryset/lookup.py
  tests/unit/test_helper.py
  tests/unit/types/querylang/queryset/__init__.py
  tests/unit/types/querylang/queryset/test_dunderkeys.py
  tests/unit/types/querylang/queryset/test_lookup.py
Labels: area/core, area/testing, component/driver, component/type, size/S

#1934 fix: wrong link
  README.md
Labels: size/S

#1936 fix(readme): fix example links
  README.md
Labels: size/S

#1928 docs(types): add missing docstrings
  jina/types/document/__init__.py
  jina/types/document/converters.py
  jina/types/document/helper.py
  jina/types/document/multimodal.py
  jina/types/message/__init__.py
  jina/types/message/common.py
  jina/types/mixin.py
  jina/types/ndarray/dense/__init__.py
  jina/types/ndarray/dense/numpy.py
  jina/types/ndarray/generic.py
  jina/types/ndarray/sparse/__init__.py
  jina/types/ndarray/sparse/numpy.py
  jina/types/ndarray/sparse/pytorch.py
  jina/types/ndarray/sparse/scipy.py
  jina/types/ndarray/sparse/tensorflow.py
  jina/types/querylang/__init__.py
  jina/types/request/__init__.py
  jina/types/request/common.py
  jina/types/request/control.py
  jina/types/request/delete.py
  jina/types/request/index.py
  jina/types/request/mixin.py
  jina/types/request/search.py
  jina/types/request/train.py
  jina/types/request/update.py
  jina/types/score/__init__.py
  jina/types/sets/document.py
  jina/types/sets/querylang.py
Labels: area/core, component/type, size/M

#1937 feat(types): traverse is a method of document set
  jina/drivers/__init__.py
  jina/types/sets/document.py
  tests/unit/types/document/test_document_traverse.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#1938 refactor(driver): use traverse from document type
  jina/drivers/__init__.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/predict.py
  jina/drivers/search.py
  jina/types/sets/document.py
  tests/integration/encode_driver_batching/test_encode_driver_batching.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/types/document/test_document_traverse.py
Labels: area/core, area/testing, component/driver, component/type, priority/P0, size/M

#1927 docs(helper): add missing helper docstrings
  jina/helper.py
Labels: area/core, area/helper, size/S

#1923 refactor: logging for hub build tests
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build_level.py
Labels: area/core, area/testing, component/docker, size/S

#1941 docs(drivers): remove the legacy docstring
  jina/drivers/rank/aggregate/__init__.py
Labels: area/core, component/driver, size/S

#1944 docs: remove dot from precommit install
  CONTRIBUTING.md
Labels: size/XS

#1942 docs: fix the typos and add links
  CONTRIBUTING.md
Labels: size/XS

#1946 docs(readme): rm duplicate wikipedia example
  README.md
Labels: size/S

#1939 refactor: detach BaseExecutable from Recursivity
  jina/drivers/__init__.py
  jina/drivers/convertdriver.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/multimodal.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/drivers/segment.py
  tests/integration/encode_driver_batching/test_encode_driver_batching.py
  tests/integration/gateway_non_blocking/yaml/fast_slow_driver.py
  tests/unit/docker/test_hub_build_level.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_predict_mock_driver.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/test_cust_driver.py
  tests/unit/yaml/dummy_encode_driver.py
  tests/unit/yaml/test-executor-with-custom-driver.yml
Labels: area/core, area/helper, area/testing, component/docker, component/driver, component/executor, component/jaml, component/type, executor/indexer, executor/meta, executor/ranker, size/M

#1718 feat: allow rank driver access info in tags
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/executors/rankers/__init__.py
  jina/types/document/__init__.py
  tests/unit/docker/test_hub_build_level.py
  tests/unit/drivers/test_helper.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/driver, component/executor, component/type, executor/ranker, size/M

#1948 docs(types): add queryset docstrings
  jina/types/querylang/queryset/dunderkey.py
  jina/types/querylang/queryset/helper.py
  jina/types/querylang/queryset/lookup.py
Labels: area/core, component/type, size/S

#1924 docs: docstrings for parsers
  jina/parsers/__init__.py
  jina/parsers/base.py
  jina/parsers/check.py
  jina/parsers/client.py
  jina/parsers/export_api.py
  jina/parsers/flow.py
  jina/parsers/helloworld.py
  jina/parsers/helper.py
  jina/parsers/hub/__init__.py
  jina/parsers/hub/build.py
  jina/parsers/hub/list.py
  jina/parsers/hub/login.py
  jina/parsers/hub/new.py
  jina/parsers/hub/pushpull.py
  jina/parsers/logger.py
  jina/parsers/optimizer.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pea.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/container.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/parsers/peapods/runtimes/remote.py
  jina/parsers/peapods/runtimes/zed.py
  jina/parsers/peapods/runtimes/zmq.py
  jina/parsers/ping.py
Labels: area/core, size/M

#1951 docs: docstrings for drivers
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/convertdriver.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/predict.py
  jina/drivers/querylang/select.py
Labels: area/core, component/driver, size/M

#1954 docs: add darglint config
  .darglint
Labels: size/XS

#1959 feat(executor): add use_default and with to requests field
  jina/executors/__init__.py
  jina/resources/executors._eval_pr.yml
  jina/resources/executors._merge_matches_topk.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  jina/resources/executors.requests.BinaryPbIndexer.yml
  jina/resources/helloworld.reduce.yml
  tests/unit/executors/test_set_requests.py
Labels: area/core, area/testing, component/executor, component/resource, executor/meta, size/M

#1955 docs: ignore noqa in docstring
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/predict.py
  jina/drivers/querylang/select.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/base.py
  jina/parsers/helper.py
Labels: area/core, component/driver, component/flow, component/jaml, size/M

#1961 docs: ignore noqa in docstring
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/predict.py
  jina/drivers/querylang/select.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/base.py
  jina/parsers/helper.py
Labels: area/core, component/driver, component/flow, component/jaml, size/S

#1962 ci: do not lint docstrings in tests
  .pre-commit-config.yaml
Labels: size/XS

#1967 fix(executor): allowing missing with/drivers keywords
  jina/executors/__init__.py
  jina/types/document/__init__.py
  jina/types/sets/document.py
  tests/unit/executors/test_set_requests.py
Labels: area/core, area/testing, component/executor, component/type, executor/meta, size/S

#1965 fix(contributing, readme): all 101 links go to 101.jina.ai
  CONTRIBUTING.md
  README.md
Labels: size/S

#1953 feat: ranking evaluate driver may need more than one field
  jina/drivers/evaluate.py
  jina/resources/executors._eval_pr.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/testing, component/driver, component/resource, size/M

#1973 fix(ranker): correct column names in ranker score matrix
  jina/drivers/rank/aggregate/__init__.py
  jina/executors/rankers/__init__.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, component/executor, executor/ranker, size/S

#1963 test: refactor querylang test use types
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_querylang_reader.py
Labels: area/testing, size/S

#1969 test(logging): add timedict test
  tests/unit/logging/test_logging_profile.py
Labels: area/testing, size/S

#1975 refactor: remove flow optimization options
  jina/enums.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/parsers/flow.py
  jina/peapods/pods/__init__.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/test_index.py
  tests/unit/test_index_remote.py
  tests/unit/yaml/datauriindex.yml
  tests/unit/yaml/test-docpb.yml
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1981 ci: test if ubuntu 18.04 has tests working
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1982 feat(document): add data_uri2blob converter
  jina/drivers/convertdriver.py
  jina/types/document/__init__.py
  tests/unit/types/document/test_converters.py
Labels: area/core, area/testing, component/driver, component/type, size/S

#1985 refactor(cli): add hello subparser
  README.md
  cli/api.py
  cli/autocomplete.py
  jina/helloworld/helper.py
  jina/parsers/__init__.py
  jina/parsers/helloworld.py
Labels: area/cli, area/core, area/helloworld, size/S

#1947 feat: have required keys for queries and matches and as instance attr
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/executors/rankers/__init__.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
Labels: area/core, area/testing, component/driver, component/executor, executor/ranker, size/M

#1990 fix: CI should never skip last step
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1995 fix(driver): bug in query required keys
  jina/drivers/rank/__init__.py
Labels: area/core, component/driver, size/XS

#1987 fix: fix broken tests
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/level_depth/yaml/custom.py
  tests/integration/level_depth/yaml/rank.yml
  tests/integration/level_depth/yaml/segmenter.yml
Labels: area/core, area/testing, component/client, size/S

#1983 test: add test for log formatter
  jina/logging/formatter.py
  tests/unit/logging/test_formatter.py
Labels: area/core, area/testing, component/logging, size/S

#1992 test: test asyncio req generator
  extra-requirements.txt
  tests/unit/clients/test_asyncio.py
Labels: area/setup, area/testing, size/S

#1980 fix: mixin should not be inherited from BaseDriver
  jina/drivers/__init__.py
Labels: area/core, component/driver, size/XS

#1993 ci: try to add codecov for daemon
  .github/codecov.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1991 test: add extra tests to flow
  tests/unit/flow/test_flow.py
Labels: area/testing, size/S

#1977 docs(executors): add missing docstrings
  jina/executors/__init__.py
  jina/executors/clients.py
  jina/executors/compound.py
  jina/executors/crafters/__init__.py
  jina/executors/devices.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/frameworks.py
  jina/executors/encoders/numeric/__init__.py
  jina/executors/encoders/tfserving.py
  jina/executors/evaluators/__init__.py
  jina/executors/evaluators/embedding/__init__.py
  jina/executors/evaluators/running_stats.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/executors/rankers/__init__.py
  jina/executors/segmenters/__init__.py
Labels: area/core, component/executor, executor/crafter, executor/encoder, executor/indexer, executor/meta, executor/ranker, size/M

#1976 docs(drivers): add missing docstrings
  jina/drivers/evaluate.py
  jina/drivers/index.py
Labels: area/core, component/driver, size/S

#1994 fix(rest): openapi rendering for crud
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
Labels: area/core, area/network, component/peapod, size/S

#2003 refactor(logging): remove pipelogger
  cli/api.py
  cli/autocomplete.py
  jina/logging/pipe.py
  jina/parsers/__init__.py
  jina/parsers/logger.py
Labels: area/cli, area/core, component/logging, size/S

#2000 test(logging): add profiling test
  tests/unit/logging/test_logging_profile.py
  tests/unit/logging/test_profile.py
Labels: area/testing, size/S

#2004 feat(logging): add --quiet option
  jina/logging/logger.py
  jina/parsers/peapods/base.py
  jina/peapods/peas/__init__.py
  jina/peapods/pods/__init__.py
  jina/resources/logging.quiet.yml
  tests/unit/logging/test_logging.py
Labels: area/core, area/network, area/testing, component/logging, component/peapod, component/resource, size/S

#2005 feat(parser): add description field
  cli/autocomplete.py
  jina/parsers/peapods/base.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/resources/executors.metas.default.yml
  tests/unit/peapods/pods/test_pods.py
Labels: area/cli, area/core, area/network, area/testing, component/peapod, component/resource, size/M

#1989 test: temp skip on error
  tests/unit/clients/python/test_on_err.py
Labels: area/testing, size/XS

#2013 docs(readme): spelling, grammar fixes
  README.md
Labels: size/S

#2010 refactor(hello): restructure helloworld resources files
  cli/api.py
  jina/helloworld/__init__.py
  jina/helloworld/chatbot/__init__.py
  jina/helloworld/fashion/__init__.py
  jina/helloworld/helper.py
  jina/helloworld/multimodal/__init__.py
  jina/parsers/helloworld.py
  jina/resources/chatbot/helloworld.flow.index.yml
  jina/resources/chatbot/helloworld.indexer.yml
  jina/resources/fashion/components.py
  jina/resources/fashion/helloworld.encoder.yml
  jina/resources/fashion/helloworld.flow.index.yml
  jina/resources/fashion/helloworld.flow.query.yml
  jina/resources/fashion/helloworld.html
  jina/resources/fashion/helloworld.indexer.yml
  jina/resources/fashion/helloworld.merge-evaluate.yml
  jina/resources/fashion/helloworld.reduce.yml
  tests/integration/test_helloworld.py
Labels: area/cli, area/core, area/helloworld, area/testing, component/resource, size/M

#1968 docs(jaml): add missing docstrings
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/default/v1.py
  jina/jaml/parsers/driver/legacy.py
  jina/jaml/parsers/executor/legacy.py
  jina/jaml/parsers/flow/legacy.py
Labels: area/core, component/jaml, size/S

#2012 test: add test get_attr with np.ndarray
  tests/unit/types/document/test_document.py
Labels: area/testing, size/XS

#1970 feat: doccache can handle multiple fields
  .github/workflows/ci.yml
  jina/drivers/cache.py
  jina/executors/indexers/cache.py
  tests/__init__.py
  tests/integration/doccache/cache.yml
  tests/integration/doccache/test_crud_cache.py
  tests/integration/incremental_indexing/uniq_docindexer_content_hash.yml
  tests/integration/incremental_indexing/uniq_vectorindexer_content_hash.yml
  tests/unit/drivers/test_cache_driver.py
  tests/unit/flow/test_flow_index.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, component/executor, executor/indexer, size/M

#2017 refactor(types): remove legacy and unused traverse function
  jina/types/document/__init__.py
  tests/integration/test_helloworld.py
Labels: area/core, area/testing, component/type, size/S

#2021 fix(docs): binder link was incorrect
  README.md
Labels: area/docs, size/XS

#2019 fix: close proper loggers in runtimes
  jina/peapods/runtimes/asyncio/base.py
  jina/peapods/runtimes/base.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/ssh/__init__.py
  jina/peapods/runtimes/zmq/zed.py
Labels: area/core, area/network, component/peapod, size/XS

#1957 feat(driver): add param to use content to predict tags
  jina/drivers/predict.py
  tests/unit/drivers/test_predict_mock_driver.py
Labels: area/core, area/testing, component/driver, size/S

#2007 ci: add darglint to ci
  .github/workflows/ci.yml
  scripts/docstrings_lint.sh
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/testing, size/S

#2016 test(logging): add profiling test
  tests/unit/logging/test_logging_profile.py
Labels: area/testing, size/S

#2027 fix(executors): pea_id should be int on if
  jina/executors/__init__.py
  jina/executors/compound.py
Labels: area/core, component/executor, executor/meta, size/S

#1996 fix: apply changes for daemon codecov to cd
  .github/workflows/cd.yml
Labels: area/cicd, area/housekeeping, size/S

#1972 tests: improve testing in hubio
  extra-requirements.txt
  jina/docker/checker.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  tests/unit/docker/hubapi/__init__.py
  tests/unit/docker/hubapi/test_remote.py
  tests/unit/docker/test_checker.py
  tests/unit/docker/test_hubio.py
Labels: area/core, area/setup, area/testing, component/docker, size/M

#1966 tests: fix wrongly used mock
  jina/resources/executors.requests.CompoundIndexer.yml
  tests/__init__.py
  tests/integration/crud/simple/test_crud_readme.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/test_index.py
Labels: area/core, area/testing, component/resource, size/M
