Repository jina-ai/serve, pull requests merged in 2021-03, with the labels that each got.

#2066 docs: fix typo in jaml schema
  README.md
Labels: size/XS

#2099 ci: add cloud.jina.ai deployment with release
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/S

#2046 fix: delete invalid entries before dumping NpIndexer
  .gitignore
  jina/executors/indexers/vector.py
  jina/resources/executors._index.yml
  tests/integration/crud/advanced/test_crud_advanced_example.py
  tests/integration/crud/advanced/yaml/index-chunk.yml
  tests/integration/crud/simple/chunks/yaml/index_vector.yml
  tests/integration/crud/simple/yaml/index_vector.yml
  tests/integration/doccache/vector.yml
  tests/unit/drivers/test_cache_driver.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/driver, component/executor, component/resource, executor/indexer, size/M

#2098 feat: add single decorator to guarantee no batching
  jina/executors/decorators.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/testing, component/executor, executor/meta, size/M

#2054 refactor: input fn to inputs
  .github/i18n/README.de.md
  .github/i18n/README.fr.md
  .github/i18n/README.ja.md
  .github/i18n/README.ru.md
  .github/i18n/README.zh.md
  README.md
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/sugary_io.py
  jina/clients/websocket.py
  jina/executors/encoders/frameworks.py
  jina/flow/mixin/async_crud.py
  jina/flow/mixin/crud.py
  jina/helper.py
  jina/optimizers/flow_runner.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  tests/distributed/test_join_local_from_remote/test_integration.py
  tests/integration/crud/advanced/test_crud_advanced_example.py
  tests/integration/crud/simple/chunks/test_chunks.py
  tests/integration/crud/simple/test_crud.py
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/encode_driver_batching/test_encode_driver_batching.py
  tests/integration/evaluation/rank/test_evaluation.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/issues/github_1468/test_reduce_route.py
  tests/integration/issues/github_969/test_messages_different_types.py
  tests/integration/issues/github_976/test_topk.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/mime/test_mime.py
  tests/integration/mime/test_segmenter.py
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/integration/ref_indexer/test_numpy_indexer_with_ref_indexer.py
  tests/integration/sharding/test_search_non_existent.py
  tests/integration/sharding/test_sharding.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/test_asyncio.py
  tests/unit/drivers/test_concat_driver.py
  tests/unit/drivers/test_eval_collect_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/test_gateway.py
  tests/unit/test_index.py
  tests/unit/test_loadbalance.py
Labels: area/core, area/helper, area/housekeeping, area/network, area/testing, component/client, component/executor, component/flow, component/peapod, executor/encoder, size/L

#2056 feat: enable to select dockerfile
  jina/docker/hubio.py
  jina/parsers/hub/build.py
  tests/integration/hub_usage/hub-mwu-multistage/README.md
  tests/integration/hub_usage/hub-mwu-multistage/__init__.py
  tests/integration/hub_usage/hub-mwu-multistage/manifest.yml
  tests/integration/hub_usage/hub-mwu-multistage/mwu_encoder.py
  tests/integration/hub_usage/hub-mwu-multistage/mwu_encoder.yml
  tests/integration/hub_usage/hub-mwu/multistage.Dockerfile
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/docker/hub-mwu/another.Dockerfile
  tests/unit/docker/test_hubio.py
Labels: area/core, area/testing, component/docker, size/S

#2101 ci(codecov): exclude lines
  .coveragerc
Labels: size/XS

#2100 fix: hanging ci tests and one retry works.
  .github/workflows/autocommit.yml
  .github/workflows/cd.yml
  .github/workflows/ci-hub.yml
  .github/workflows/ci.yml
  .github/workflows/force-release.yml
  .github/workflows/latency-tracking.yml
  .github/workflows/release.yml
  .github/workflows/tag.yml
  jina/flow/base.py
  tests/unit/flow/test_flow_enter_error.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/flow, size/M

#2109 ci: up timeout
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1950 refactor: added fast traversal with structure
  daemon/models/custom.py
  jina/drivers/__init__.py
  jina/drivers/convertdriver.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/evaluate.py
  jina/drivers/index.py
  jina/drivers/multimodal.py
  jina/drivers/predict.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/reverse.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/drivers/segment.py
  jina/excepts.py
  jina/helper.py
  jina/parsers/peapods/runtimes/remote.py
  jina/parsers/peapods/runtimes/zed.py
  jina/parsers/peapods/runtimes/zmq.py
  jina/peapods/pods/helper.py
  jina/types/document/__init__.py
  jina/types/document/helper.py
  jina/types/document/traversable.py
  jina/types/sets/__init__.py
  jina/types/sets/chunk.py
  jina/types/sets/doc_groundtruth.py
  jina/types/sets/document.py
  jina/types/sets/traversable.py
  tests/conftest.py
  tests/integration/crud/advanced/yaml/rank.yml
  tests/integration/encode_driver_batching/__init__.py
  tests/integration/encode_driver_batching/test_encode_driver_batching.py
  tests/integration/gateway_non_blocking/yaml/fast_slow_driver.py
  tests/integration/high_order_matches/test-adjacency-integrated.yml
  tests/integration/high_order_matches/test-adjacency.yml
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/integration/level_depth/yaml/rank.yml
  tests/integration/test_helloworld.py
  tests/unit/clients/python/test_client.py
  tests/unit/drivers/querylang/test_slice_ql.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_predict_mock_driver.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/test_helper.py
  tests/unit/types/document/test_document_traverse.py
  tests/unit/yaml/dummy_encode_driver.py
Labels: area/cicd, area/core, area/daemon, area/helper, area/housekeeping, area/network, area/testing, component/driver, component/peapod, component/type, size/XL

#2045 ci: include docstr linter
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#2102 feat(binarypb): delete on dump
  jina/executors/indexers/keyvalue.py
  tests/unit/executors/indexers/test_binary_indexer.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/executor, executor/indexer, size/M

#2114 fix: expose env variable for workspace
  jina/optimizers/__init__.py
Labels: area/core, size/XS

#2116 fix: fix traversal_path, change from c to r
  jina/resources/multimodal/pods/ranker.yml
Labels: area/core, component/resource, size/XS

#2118 ci: reenable docstrings lint
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#2117 docs: update black docs and sha
  .github/.git-blame-ignore-revs
  CONTRIBUTING.md
Labels: size/XS

#2122 refactor(cli): rename silent to quiet
  README.md
  cli/autocomplete.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/peapods/runtimes/jinad/__init__.py
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/cli, area/core, area/network, area/testing, component/peapod, size/L

#2121 feat(schema): generate pydantic based jsonschema for any jina proto
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/network, area/testing, component/peapod, size/M

#2014 refactor: crud delete types
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/flow/mixin/crud.py
Labels: area/core, component/client, component/flow, size/S

#2110 refactor: prepare changes to have batching for every executor
  jina/executors/decorators.py
  jina/types/document/__init__.py
  jina/types/sets/document.py
  tests/integration/executors_batching/__init__.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/executors_batching/test_segment_executors_batching.py
  tests/integration/multimodal/yaml/embedding-multimodal-concatenate.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/executors/test_decorators.py
  tests/unit/types/document/test_document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/executor, component/type, executor/meta, size/XL

#2049 docs: type annotation
  jina/clients/sugary_io.py
  tests/integration/crud/__init__.py
Labels: area/core, area/testing, component/client, size/S

#2125 docs(jina): fix broken links in contributing doc instructions
  CONTRIBUTING.md
Labels: size/S

#2058 test(encoders): add tests
  tests/unit/executors/encoders/test_frameworks.py
  tests/unit/executors/encoders/test_numeric.py
Labels: area/testing, size/S

#2131 ci: check black and docstring only for added or modified files
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#2134 refactor: refactor filling in drivers
  jina/executors/__init__.py
  jina/jaml/parsers/executor/legacy.py
Labels: area/core, component/executor, component/jaml, executor/meta, size/S

#2130 docs(openapi): autogenerate curl commands with redoc
  .github/workflows/cd.yml
  .github/workflows/tag.yml
  daemon/__init__.py
  scripts/get-gateway-openapi.py
  scripts/get-openapi-schemas.py
Labels: area/cicd, area/daemon, area/housekeeping, size/S

#2133 fix: avoid dump drivers
  jina/executors/__init__.py
  jina/jaml/parsers/executor/legacy.py
  tests/unit/executors/test_dump_executor_with_drivers.py
  tests/unit/executors/yaml/example_1.yml
  tests/unit/executors/yaml/example_2.yml
  tests/unit/test_driver_yaml.py
Labels: area/core, area/testing, component/executor, component/jaml, executor/meta, size/M

#2138 refactor: remove ntlogger
  jina/logging/logger.py
Labels: area/core, component/logging, size/S

#2136 refactor: missing optional types
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/websocket.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  jina/drivers/delete.py
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/predict.py
  jina/drivers/querylang/slice.py
  jina/drivers/search.py
  jina/executors/compound.py
  jina/executors/decorators.py
  jina/executors/encoders/frameworks.py
  jina/executors/indexers/__init__.py
  jina/flow/base.py
  jina/flow/mixin/async_crud.py
  jina/flow/mixin/crud.py
  jina/helper.py
  jina/importer.py
  jina/jaml/__init__.py
  jina/logging/logger.py
  jina/logging/profile.py
  jina/parsers/optimizer.py
  jina/peapods/pods/helper.py
  jina/peapods/runtimes/jinad/client.py
  jina/peapods/zmq/__init__.py
  jina/types/document/__init__.py
  jina/types/message/__init__.py
  jina/types/ndarray/dense/numpy.py
  jina/types/request/__init__.py
  tests/distributed/helpers.py
  tests/integration/gateway_non_blocking/yaml/fast_slow_driver.py
  tests/integration/issues/github_1546/good3/helper.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/docker, component/driver, component/executor, component/flow, component/jaml, component/logging, component/peapod, component/type, executor/encoder, executor/indexer, executor/meta, size/L

#2143 feat: distributed(remote) pea in pod
  jina/parsers/peapods/pod.py
  jina/peapods/pods/helper.py
  tests/distributed/test_index_query_with_shards/flow_distributed_peas_in_pod.yml
  tests/distributed/test_index_query_with_shards/test_integration.py
  tests/distributed/test_simple_distributed_with_shards/flow_distributed_peas_in_pod.yml
  tests/distributed/test_simple_distributed_with_shards/test_integration.py
  tests/unit/peapods/pods/test_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/M

#2155 fix: metavar for docker args
  jina/parsers/peapods/runtimes/container.py
Labels: area/core, size/XS

#2148 refactor: returns to return
  jina/logging/formatter.py
  jina/logging/logger.py
  jina/optimizers/__init__.py
  jina/optimizers/parameters.py
  jina/types/querylang/queryset/dunderkey.py
  jina/types/score/__init__.py
  tests/unit/types/sets/test_querylangset.py
Labels: area/core, area/testing, component/logging, component/type, size/S

#2153 docs: fix docstring rankdriver
  jina/drivers/rank/aggregate/__init__.py
Labels: area/core, component/driver, size/XS

#2146 fix(pydantic): add oneof validations for correct document creation
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/network, area/testing, component/executor, component/jaml, component/logging, component/peapod, executor/meta, size/M

#2126 feat: adapt for crafter batching
  jina/drivers/__init__.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/executors/crafters/__init__.py
  jina/executors/decorators.py
  jina/types/sets/document.py
  tests/integration/eval_flow/test_flow_eval_pod.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/executors_batching/test_segment_executors_batching.py
  tests/integration/optimizers/pods/dummy_crafter.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/executors/test_decorators.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/test_loadbalance.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/driver, component/executor, component/type, executor/crafter, executor/meta, size/L

#2150 test: add delete on dump to more
  jina/executors/indexers/keyvalue.py
  tests/integration/crud/advanced/yaml/index-doc.yml
  tests/integration/crud/rest/yaml/index.yml
  tests/integration/crud/rest/yaml/index_kv.yml
  tests/integration/crud/rest/yaml/index_vector.yml
  tests/integration/crud/simple/chunks/yaml/index_kv.yml
  tests/integration/crud/simple/yaml/index.yml
  tests/integration/crud/simple/yaml/index_kv.yml
  tests/integration/issues/github_929/binarypb.yml
Labels: area/core, area/testing, component/executor, executor/indexer, size/S

#2144 fix: add delete() for cached property
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/helper.py
  tests/unit/executors/indexers/test_binary_indexer.py
Labels: area/core, area/helper, area/testing, component/executor, executor/indexer, size/S

#2159 refactor: match parent method
  jina/executors/indexers/keyvalue.py
  jina/types/document/multimodal.py
Labels: area/core, component/executor, component/type, executor/indexer, size/S

#2162 test: remove folder after test
  tests/integration/crud/simple/test_crud_readme.py
Labels: area/testing, size/S

#2141 feat: add batching capability for segmenters
  jina/drivers/segment.py
  jina/executors/decorators.py
  jina/executors/segmenters/__init__.py
  tests/integration/crud/advanced/yaml/custom_executor.py
  tests/integration/executors_batching/test_segment_executors_batching.py
  tests/integration/issues/github_1546/good3/__init__.py
  tests/integration/level_depth/yaml/custom.py
  tests/integration/mime/test_segmenter.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
Labels: area/core, area/testing, component/driver, component/executor, component/type, executor/crafter, executor/meta, size/M

#2145 feat: enable batching for matches2docrankers
  jina/drivers/rank/__init__.py
  jina/executors/decorators.py
  jina/executors/rankers/__init__.py
  jina/resources/executors.requests.Match2DocRanker.yml
  tests/integration/evaluation/rank/yaml/dummy_ranker.py
  tests/integration/evaluation/rank/yaml/rank.yml
  tests/integration/executors_batching/test_match2docranker_exectuors_batching.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/docker, component/driver, component/executor, component/flow, component/jaml, component/logging, component/peapod, component/resource, component/type, executor/crafter, executor/encoder, executor/indexer, executor/meta, executor/ranker, size/M

#2164 test: complete pod tests
  tests/unit/peapods/pods/test_pods.py
Labels: area/testing, size/S

#2158 docs: kwargs without unpacking
  jina/clients/websocket.py
  jina/drivers/__init__.py
  jina/drivers/cache.py
  jina/drivers/control.py
  jina/drivers/convertdriver.py
  jina/drivers/delete.py
  jina/drivers/evaluate.py
  jina/drivers/multimodal.py
  jina/drivers/predict.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank/__init__.py
  jina/drivers/rank/aggregate/__init__.py
  jina/drivers/reduce.py
  jina/drivers/search.py
  jina/executors/crafters/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/vector.py
  jina/flow/base.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/optimizers/flow_runner.py
  jina/types/message/__init__.py
  jina/types/message/common.py
  jina/types/ndarray/dense/numpy.py
  jina/types/ndarray/generic.py
  jina/types/querylang/queryset/dunderkey.py
Labels: area/core, component/client, component/driver, component/executor, component/flow, component/jaml, component/type, executor/crafter, executor/indexer, size/M

#2169 fix: stacking bytes changes to np.bytes_
  jina/types/sets/document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/type, size/S

#2170 refactor: remove unreachable code
  tests/unit/flow/test_flow_enter_error.py
Labels: area/testing, size/XS

#2135 test(driver): refactor rank driver tests
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
Labels: area/testing, size/M

#2174 docs: fix docstring in search driver
  jina/drivers/search.py
Labels: area/core, component/driver, size/XS

#2166 test: ignore resources folder for pytest and codecov
  .coveragerc
  .github/codecov.yml
Labels: area/housekeeping, size/XS

#2163 fix: optimize scores avoiding array creation
  jina/drivers/rank/aggregate/__init__.py
Labels: area/core, component/driver, size/S

#2107 refactor: try to remove reduce driver
  jina/drivers/control.py
  jina/resources/executors._merge.yml
  tests/distributed/test_join_local_from_remote/test_integration.py
  tests/integration/merge_pass/__init__.py
  tests/integration/merge_pass/test_merge_pass_messages.py
Labels: area/core, area/testing, component/driver, component/resource, size/M

#2177 refactor: remove useless if
  jina/drivers/rank/aggregate/__init__.py
Labels: area/core, component/driver, size/XS

#2171 refactor: remove unused variable
  jina/docker/hubio.py
Labels: area/core, component/docker, size/S

#2179 docs: fix typo
  jina/drivers/__init__.py
  jina/drivers/cache.py
  jina/drivers/control.py
  jina/drivers/convertdriver.py
  jina/drivers/evaluate.py
  jina/drivers/predict.py
  jina/drivers/querylang/filter.py
  jina/drivers/querylang/select.py
  jina/drivers/querylang/slice.py
  jina/drivers/querylang/sort.py
  jina/drivers/rank/aggregate/__init__.py
  jina/drivers/search.py
  jina/executors/crafters/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/types/message/common.py
  jina/types/ndarray/dense/numpy.py
Labels: area/core, component/driver, component/executor, component/type, executor/crafter, executor/indexer, size/M

#2178 fix: fix multimodal example
  jina/resources/multimodal/pods/segmenter.py
  jina/types/sets/document.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/helloworld/__init__.py
  tests/integration/helloworld/multimodal/__init__.py
  tests/integration/helloworld/multimodal/test_hello_multimodal.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/resource, component/type, size/M

#2188 docs: fix fp1 typo in readme
  README.md
Labels: size/XS

#2189 fix: hub_build_level test
  tests/unit/docker/test_hub_build_level.py
Labels: area/testing, size/XS

#2180 fix(jaml): read raw yaml with jtype
  jina/jaml/helper.py
  tests/daemon/unit/api/endpoints/good_flow_jtype.yml
  tests/daemon/unit/api/endpoints/test_common.py
Labels: area/core, area/testing, component/jaml, size/S

#2192 refactor(helper): merge single and single_multi_input into one
  .github/workflows/ci.yml
  jina/drivers/segment.py
  jina/executors/decorators.py
  tests/integration/evaluation/rank/yaml/dummy_ranker.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_match2docranker_exectuors_batching.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/multimodal/yaml/all-types-multimodal-encoder.py
  tests/integration/multimodal/yaml/embedding-multimodal-concatenate.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/executors/test_decorators.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, component/executor, executor/meta, size/M

#2196 refactor: refactor signatures after batching adaptation
  jina/executors/crafters/__init__.py
  jina/executors/rankers/__init__.py
  jina/executors/segmenters/__init__.py
Labels: area/core, component/executor, executor/crafter, executor/ranker, size/S

#2195 fix: fix multimodal example
  jina/resources/multimodal/pods/segmenter.py
  jina/types/sets/document.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/helloworld/__init__.py
  tests/integration/helloworld/multimodal/__init__.py
  tests/integration/helloworld/multimodal/test_hello_multimodal.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/resource, component/type, size/M

#2190 docs: spelling correction
  jina/drivers/__init__.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/decorators.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/vector.py
  jina/executors/metas.py
  jina/flow/builder.py
  jina/parsers/client.py
  jina/schemas/meta.py
  jina/types/document/__init__.py
Labels: area/core, component/driver, component/executor, component/flow, component/type, executor/indexer, executor/meta, size/S

#2147 refactor: incorrect exception usage
  jina/clients/base.py
  jina/clients/request/helper.py
  jina/excepts.py
  jina/executors/indexers/vector.py
  jina/flow/builder.py
  jina/peapods/peas/helper.py
  jina/peapods/pods/helper.py
Labels: area/core, area/helper, area/network, component/client, component/executor, component/flow, component/peapod, executor/indexer, size/S

#2199 fix: linter ignore generated files
  scripts/docstrings_lint.sh
Labels: size/S

#2208 refactor: make some functions private
  jina/peapods/zmq/__init__.py
Labels: area/core, area/network, component/peapod, size/S

#2211 fix: black exclude reformat
  scripts/black.sh
Labels: size/XS

#2204 fix: use import extensions
  jina/executors/indexers/vector.py
  jina/logging/profile.py
Labels: area/core, component/executor, component/logging, executor/indexer, size/S

#2198 ⚠️ Refactor rename length attribute to siblings - breaking change
  jina/__init__.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/drivers/segment.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/types/document/__init__.py
  tests/unit/clients/python/test_request.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/proto, component/type, size/XL

#2215 feat(flow): allow uses for Executor class
  README.md
  jina/helper.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/helper, area/testing, size/M

#2205 test: regression test for three examples
  jina/resources/chatbot/helloworld.encoder.yml
  scripts/get-all-test-paths.sh
  test.py
  tests/integration/helloworld/multimodal/test_hello_multimodal.py
  tests/system/__init__.py
  tests/system/fashion/__init__.py
  tests/system/fashion/test_fashion.py
  tests/system/multimodal/__init__.py
  tests/system/multimodal/test_multimodal.py
Labels: area/core, area/testing, component/resource, size/M

#2216 feat(jaml): allow loading from flatten Flow yaml
  jina/jaml/__init__.py
  jina/parsers/helloworld.py
  jina/resources/chatbot/helloworld.flow.index.yml
  tests/unit/flow/test_flow.py
  tests/unit/flow/yaml/flow-allinone-oldstyle.yml
  tests/unit/flow/yaml/flow-allinone.yml
Labels: area/core, area/testing, component/jaml, component/resource, size/S

#2217 feat(docs): added link to CRUD docs
  README.md
Labels: size/XS

#2222 test: remove untested
  tests/unit/flow/test_flow_index.py
Labels: area/testing, size/S

#2226 fix: rename convert driver
  jina/drivers/convert.py
Labels: area/core, component/driver, size/XS

#2225 fix(hub): raise exception for all status except 200
  jina/docker/hubapi/local.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  jina/excepts.py
  tests/unit/docker/hubapi/test_remote.py
  tests/unit/docker/test_hub_build.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/helper, area/testing, component/docker, size/M

#2227 tests: fix broken tests
  jina/jaml/helper.py
  tests/unit/executors/test_executor_logger.py
  tests/unit/flow/test_flow.py
  tests/unit/logging/test_logging.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/core, area/testing, component/jaml, size/M

#2221 fix: test expects file with contents
  tests/unit/flow/test_flow.py
Labels: area/testing, size/XS

#2229 test: assert there are no embeddings by default
  tests/integration/crud/simple/test_crud.py
Labels: area/testing, size/XS

#2209 feat: add pngtodisk driver
  jina/drivers/debug.py
  tests/integration/debug/__init__.py
  tests/integration/debug/components.py
  tests/integration/debug/craft.yml
  tests/integration/debug/helper.py
  tests/integration/debug/png/4.png
  tests/integration/debug/png/5.png
  tests/integration/debug/png/6.png
  tests/integration/debug/png/7.png
  tests/integration/debug/png/8.png
  tests/integration/debug/png/9.png
  tests/integration/debug/test_pngtodisk.py
Labels: area/cicd, area/core, area/housekeeping, area/testing, component/driver, size/M

#2218 test: add regression for chatbot
  extra-requirements.txt
  tests/system/chatbot/__init__.py
  tests/system/chatbot/test_chatbot.py
Labels: area/core, area/setup, area/testing, size/S

#2230 test: add zmq runtime test
  tests/unit/peapods/zmq/test_zmq_addr.py
Labels: area/testing, size/S

#2233 fix: pytorch sparse ndarray constructor
  jina/types/ndarray/sparse/pytorch.py
  tests/unit/types/ndarray/test_generic.py
Labels: area/core, area/testing, component/type, size/M

#2237 fix: proper usage of importextensions
  jina/drivers/debug.py
  tests/integration/debug/components.py
  tests/integration/debug/helper.py
Labels: area/core, area/testing, component/driver, size/S

#2240 test: clean up sparse document test
  tests/unit/types/document/test_document.py
Labels: area/testing, size/M

#2207 feat: support for sparse arrays in documents
  jina/types/document/__init__.py
  jina/types/ndarray/sparse/pytorch.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/M

#2246 fix: fix the bug in the default value
  jina/drivers/search.py
Labels: area/core, component/driver, size/XS

#2242 fix: use list instead of dictionary for peas-hosts
  jina/parsers/peapods/pod.py
  jina/peapods/pods/helper.py
  tests/distributed/test_index_query_with_shards/flow_distributed_peas_in_pod.yml
  tests/distributed/test_simple_distributed_with_shards/flow_distributed_peas_in_pod.yml
  tests/unit/peapods/pods/test_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2243 feat: peas start at index 0
  jina/executors/__init__.py
  jina/helloworld/multimodal/__init__.py
  jina/peapods/pods/helper.py
  tests/integration/crud/advanced/test_crud_advanced_example.py
  tests/integration/crud/rest/test_rest.py
  tests/integration/crud/simple/chunks/test_chunks.py
  tests/integration/crud/simple/test_crud.py
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/doccache/test_crud_cache.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/integration/memmap/test_mmap.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/optimizers/index.yml
  tests/unit/optimizers/test_flow_runner.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/test_index.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/dummy_exec1.yml
  tests/unit/yaml/dummy_exec2.yml
Labels: area/core, area/network, area/testing, component/executor, component/peapod, executor/meta, size/M

#2256 fix: fix script in README
  README.md
Labels: size/XS

#2258 refactor: remove unnecessary code
  jina/drivers/rank/aggregate/__init__.py
Labels: area/core, component/driver, size/XS

#2261 feat(pod): add reload mechanism to pod
  cli/autocomplete.py
  jina/docker/hubapi/local.py
  jina/docker/hubio.py
  jina/executors/decorators.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/logging/profile.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/runtimes/container/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/resources/chatbot/helloworld.encoder.yml
  jina/resources/chatbot/helloworld.indexer.yml
  jina/resources/executors._index.yml
  jina/resources/executors.requests.BaseKVIndexer.yml
  jina/resources/executors.requests.BaseVectorIndexer.yml
  jina/resources/fashion/helloworld.indexer.yml
  jina/resources/multimodal/pods/index-comp.yml
  jina/resources/multimodal/pods/index-doc.yml
  jina/types/document/__init__.py
  tests/integration/level_depth/test_search_different_depths.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/executors/indexers/test_numpyindexer.py
  tests/unit/flow/test_flow_interval_dump_load.py
Labels: area/cli, area/core, area/helper, area/network, area/testing, component/docker, component/executor, component/jaml, component/logging, component/peapod, component/resource, component/type, executor/indexer, executor/meta, size/L

#2262 chore(release-notes): update image
  .github/images/rel_notes/rel_notes_1_1.png
Labels: area/housekeeping, size/XS

#2257 feat: router cancel request
  jina/__init__.py
  jina/drivers/control.py
  jina/peapods/zmq/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/common.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/types/message/test_common.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/driver, component/peapod, component/proto, component/type, size/S
