Repository jina-ai/serve, pull requests merged in 2021-04, with the labels that each got.

#2267 fix(helper): fetching external ip is extremely slow
  jina/helper.py
Labels: area/core, area/helper, size/S

#2264 fix(readme): example headers display
  README.md
Labels: size/S

#2272 fix(helper): threadpool to simple thread
  jina/helper.py
Labels: area/core, area/helper, size/S

#2273 feat(driver): add whoosh driver for april fool
  jina/drivers/control.py
  jina/helper.py
  jina/resources/executors._whoosh.yml
  jina/resources/soundfx/bell.mp3
  jina/resources/soundfx/whoosh.mp3
Labels: area/core, area/helper, component/driver, component/resource, size/S

#2271 fix: import warnings verbose off by default
  jina/__init__.py
  jina/types/document/__init__.py
Labels: area/core, area/entrypoint, area/helper, component/type, size/M

#2274 docs: enums
  jina/enums.py
Labels: area/core, area/helper, size/S

#2245 test(document): add plot test
  tests/unit/types/document/test_document.py
Labels: area/testing, size/XS

#2251 test: use latest endpoint for tests
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  tests/distributed/helpers.py
  tests/distributed/test_index_query/test_integration.py
  tests/distributed/test_index_query_with_shards/test_integration.py
  tests/distributed/test_simple_distributed/test_integration.py
  tests/distributed/test_simple_distributed_with_shards/test_integration.py
  tests/distributed/test_simple_hub_pods/test_integration.py
  tests/integration/issues/github_976/test_topk_rest_api.py
  tests/jinahub/test_integration.sh
  tests/system/chatbot/test_chatbot.py
  tests/unit/clients/python/test_client.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2234 fix: put siblings back
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/drivers/segment.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/document/__init__.py
  jina/types/sets/chunk.py
  tests/integration/issues/github_2254/__init__.py
  tests/integration/issues/github_2254/flow.yml
  tests/integration/issues/github_2254/test_siblings.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/proto, component/type, size/M

#2275 revert(helper): revert get ip
  jina/flow/base.py
  jina/helper.py
  tests/unit/flow/test_flow_interval_dump_load.py
Labels: area/core, area/helper, area/testing, component/flow, size/S

#2277 fix: remove wrong commit file
  jina/helper.py
  test.py
Labels: area/core, area/helper, size/XS

#2278 feat(flow): add reload api to flow
  jina/__init__.py
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/request/__init__.py
  jina/clients/request/helper.py
  jina/drivers/control.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/flow/mixin/async_control.py
  jina/flow/mixin/control.py
  jina/proto/build-proto.sh
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/__init__.py
  tests/unit/flow/test_flow_reload.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/types/message/test_common.py
  tests/unit/types/message/test_message.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/flow, component/proto, component/type, size/M

#2280 refactor(proto): devices now explict rename as targets
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/request/helper.py
  jina/drivers/control.py
  jina/flow/mixin/async_control.py
  jina/flow/mixin/control.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  tests/unit/flow/test_flow_reload.py
  tests/unit/flow/test_flow_rolling_reload.py
  tests/unit/types/message/test_common.py
  tests/unit/types/message/test_message.py
Labels: area/core, area/network, area/testing, component/client, component/driver, component/flow, component/proto, size/M

#2282 docs: pod
  jina/peapods/pods/__init__.py
Labels: area/core, area/network, component/peapod, size/M

#2270 feat: add link to run in colab
  .github/pages/snippets.md
Labels: area/housekeeping, size/S

#2285 test: fix hanging tests
  tests/unit/flow/test_flow_interval_dump_load.py
  tests/unit/flow/test_flow_reload.py
Labels: area/testing, size/S

#2269 refactor: merge batching decorators
  jina/executors/decorators.py
  jina/helper.py
  tests/integration/evaluation/rank/yaml/dummy_ranker.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_match2docranker_exectuors_batching.py
  tests/integration/multimodal/yaml/all-types-multimodal-encoder.py
  tests/integration/multimodal/yaml/embedding-multimodal-concatenate.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/executors/test_decorators.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/peapod, component/proto, component/resource, component/type, executor/meta, size/M

#2300 fix(client): remove sibling setting in client
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
Labels: area/core, component/client, size/XS

#2301 feat(rest): expose reload api to rest interface
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  tests/unit/flow/test_flow_reload.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2279 fix(jinad): ensure log is ready on creating flow
  daemon/api/endpoints/logs.py
  tests/daemon/unit/api/endpoints/test_logs.py
Labels: area/daemon, area/testing, size/M

#2260 feat: dump and split indexers
  .pre-commit-config.yaml
  jina/clients/__init__.py
  jina/clients/request/__init__.py
  jina/clients/request/helper.py
  jina/drivers/control.py
  jina/drivers/dbms.py
  jina/drivers/dump.py
  jina/enums.py
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/indexers/dbms/__init__.py
  jina/executors/indexers/dbms/keyvalue.py
  jina/executors/indexers/dump.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/query/__init__.py
  jina/executors/indexers/query/compound.py
  jina/executors/indexers/query/keyvalue.py
  jina/executors/indexers/query/vector.py
  jina/flow/base.py
  jina/logging/profile.py
  jina/peapods/pods/__init__.py
  jina/peapods/zmq/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/types/message/dump.py
  jina/types/request/__init__.py
  jina/types/request/dump.py
  tests/integration/dump/basic/index.yml
  tests/integration/dump/basic/query.yml
  tests/integration/dump/basic/query_kv.yml
  tests/integration/dump/basic/query_np.yml
  tests/integration/dump/flow_dbms.yml
  tests/integration/dump/indexer_dbms.yml
  tests/integration/dump/indexer_query.yml
  tests/integration/dump/test_dump_dbms.py
  tests/unit/executors/dbms/__init__.py
  tests/unit/executors/dbms/dbms.yml
  tests/unit/executors/dbms/test_dbms.py
Labels: area/core, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/logging, component/peapod, component/proto, component/resource, component/type, executor/indexer, executor/meta, size/XL

#2307 fix: benchmark dump test
  jina/types/message/__init__.py
  tests/integration/dump/test_dump_dbms.py
Labels: area/core, area/testing, component/type, size/S

#2309 test: help sparse
  jina/drivers/search.py
  tests/integration/sparse_pipeline/indexer.yml
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
Labels: area/core, area/testing, component/driver, size/S

#2297 feat: add driver and changes in document needed for sparse pipeline
  jina/drivers/encode.py
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/indexers/__init__.py
  jina/resources/executors.requests.BaseSparseVectorIndexer.yml
  jina/types/document/__init__.py
  jina/types/sets/document.py
  tests/integration/sparse_pipeline/__init__.py
  tests/integration/sparse_pipeline/indexer.yml
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/types/document/test_document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/driver, component/executor, component/resource, component/type, executor/indexer, size/M

#2310 refactor(dump): type annotations and refactor
  jina/executors/indexers/dbms/keyvalue.py
  jina/executors/indexers/dump.py
Labels: area/core, component/executor, executor/indexer, size/S

#2306 test: add tests for issue 2295
  tests/integration/issues/github_2295/__init__.py
  tests/integration/issues/github_2295/flow_index.yml
  tests/integration/issues/github_2295/flow_query.yml
  tests/integration/issues/github_2295/index.yml
  tests/integration/issues/github_2295/search.yml
  tests/integration/issues/github_2295/test_issue.py
Labels: area/testing, size/S

#2293 fix: scipy version
  extra-requirements.txt
Labels: area/setup, size/XS

#2311 refactor: remove train as it will be redesigned
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/decorators.py
  jina/executors/encoders/numeric/__init__.py
  jina/executors/indexers/__init__.py
  jina/executors/metas.py
  jina/resources/executors._clear.yml
  jina/resources/executors.metas.default.yml
  jina/schemas/meta.py
  tests/unit/executors/encoders/test_numeric.py
  tests/unit/executors/test_decorators.py
  tests/unit/executors/test_set_metas.py
  tests/unit/test_helper.py
  tests/unit/test_index_train.py
  tests/unit/yaml/test-expand3.yml
Labels: area/core, area/testing, component/executor, component/resource, executor/encoder, executor/indexer, executor/meta, size/M

#2287 test(flow): moved test_segmenter.py into a flow unittest
  tests/unit/flow/test_flow_segmenter.py
  tests/unit/flow/yaml/dummy-seg-not-random.yml
Labels: area/testing, size/S

#2308 Docs snippets optimizer
  .github/pages/snippets.md
Labels: area/housekeeping, size/M

#2303 feat: add info for release cycle and breaking changes
  RELEASE.md
Labels: size/S

#2296 refactor: clarify annotation types to support sparse
  jina/drivers/index.py
  jina/drivers/search.py
  jina/executors/encoders/__init__.py
  jina/executors/indexers/__init__.py
  jina/types/document/__init__.py
  jina/types/ndarray/generic.py
  jina/types/sets/document.py
  tests/integration/sparse_pipeline/indexer.yml
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
  tests/unit/drivers/test_vector_index_driver.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/types/document/test_document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/driver, component/executor, component/type, executor/encoder, executor/indexer, size/M

#2312 refactor(driver): move dbms to index module
  jina/drivers/dbms.py
  jina/drivers/index.py
  jina/executors/__init__.py
  tests/integration/dump/test_dump_dbms.py
  tests/unit/executors/dbms/test_dbms.py
Labels: area/core, area/testing, component/driver, component/executor, executor/meta, size/S

#2313 refactor(driver): add the extract-apply-update pattern
  jina/__init__.py
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/drivers/craft.py
  jina/drivers/encode.py
  jina/drivers/generic.py
  jina/drivers/predict.py
  jina/drivers/segment.py
  jina/executors/__init__.py
  jina/executors/classifiers/__init__.py
  jina/executors/compound.py
  jina/executors/crafters/__init__.py
  jina/executors/decorators.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/numeric/__init__.py
  jina/executors/segmenters/__init__.py
  jina/helloworld/chatbot/__init__.py
  jina/helper.py
  jina/resources/executors.requests.GenericExecutor.yml
  jina/resources/fashion/components.py
  jina/types/document/__init__.py
  jina/types/mixin.py
  jina/types/sets/document.py
  tests/__init__.py
  tests/daemon/unit/api/endpoints/mwu_encoder.py
  tests/distributed/test_against_external_daemon/delayed_executor.py
  tests/distributed/test_against_external_daemon/mwu_encoder.py
  tests/distributed/test_index_query/pods/dummy-encoder.py
  tests/distributed/test_index_query_with_shards/pods/dummy-encoder.py
  tests/distributed/test_simple_distributed/pods/dummy-encoder.py
  tests/distributed/test_simple_hub_pods/hub-mwu/mwu_encoder.py
  tests/distributed/test_simple_local_remote/dummy-encoder.py
  tests/integration/crud/advanced/yaml/custom_executor.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/hub_usage/hub-mwu/mwu_encoder.py
  tests/integration/issues/github_867/test_close_executor.py
  tests/integration/level_depth/yaml/encoder.yml
  tests/integration/multimodal/yaml/dummy-encoder.py
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
  tests/jinahub/hub_mwu/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/bad-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/bad-pythonfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/fail-to-start/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-dockerfile/mwu_encoder.py
  tests/unit/docker/hub-mwu-bad/missing-manifest/mwu_encoder.py
  tests/unit/docker/hub-mwu/mwu_encoder.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_predict_mock_driver.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/executors/test_comp_exec.py
  tests/unit/executors/test_executor_function.py
  tests/unit/executors/test_generic_executor.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/mwu-encoder/mwu_encoder.py
  tests/unit/test_gateway.py
  tests/unit/test_helper.py
  tests/unit/types/document/test_document.py
  tests/unit/yaml/test-multifield-encoder.yml
Labels: area/core, area/entrypoint, area/helper, area/testing, component/driver, component/executor, component/resource, component/type, executor/crafter, executor/encoder, executor/meta, size/XL

#2314 fix(docs): fixed incorrect information
  RELEASE.md
Labels: size/XS

#2316 test: add tests for sparsity
  jina/drivers/search.py
  jina/types/sets/document.py
  tests/unit/drivers/test_vector_index_driver.py
  tests/unit/drivers/test_vector_search_driver.py
  tests/unit/types/document/test_document.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/testing, component/driver, component/type, size/M

#2317 feat(import): add requests decorator to top-level import
  jina/__init__.py
  jina/executors/decorators.py
Labels: area/core, area/entrypoint, area/helper, component/executor, executor/meta, size/XS

#2319 fix(types): fix binary str property in type
  jina/types/mixin.py
Labels: area/core, component/type, size/XS

#2318 feat: add enums to control embedding types
  jina/drivers/index.py
  jina/drivers/search.py
  jina/enums.py
  jina/types/sets/document.py
  tests/unit/test_enums.py
  tests/unit/types/sets/test_documentset.py
Labels: area/core, area/helper, area/testing, component/driver, component/type, size/M

#2325 docs: snippets cleanup
  .github/pages/snippets.md
Labels: area/housekeeping, size/S

#2328 ci(terraform): pass correct param set
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/XS

#2327 fix(driver): replace annotation check with typing module
  jina/drivers/__init__.py
  jina/helloworld/chatbot/__init__.py
  tests/__init__.py
  tests/unit/executors/test_executor_function.py
Labels: area/core, area/testing, component/driver, size/S

#2224 feat: introduce replicas
  jina/enums.py
  jina/executors/__init__.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/parsers/peapods/pod.py
  jina/peapods/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compoundpod.py
  jina/peapods/pods/helper.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/resources/executors.metas.default.yml
  tests/integration/logging/test_logging.py
  tests/integration/rolling_update/__init__.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/rolling_update/yaml/custom.py
  tests/integration/rolling_update/yaml/mock_index_vector.yml
  tests/integration/rolling_update/yaml/simple_index_vector.yml
  tests/unit/peapods/pods/test_compound_pods.py
  tests/unit/peapods/pods/test_pods.py
Labels: area/cli, area/core, area/helper, area/network, area/testing, component/client, component/driver, component/executor, component/flow, component/peapod, component/proto, component/resource, component/type, executor/meta, size/XL

#2329 refactor: small changes to compound pod
  jina/peapods/pods/compoundpod.py
  tests/unit/peapods/pods/test_compound_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#2336 docs: clarification on post init
  jina/executors/__init__.py
Labels: area/core, component/executor, executor/meta, size/XS

#2340 fix: remove unused imports
  jina/executors/crafters/__init__.py
  jina/executors/encoders/__init__.py
  jina/executors/encoders/numeric/__init__.py
  jina/executors/segmenters/__init__.py
Labels: area/core, component/executor, executor/crafter, executor/encoder, size/XS

#2322 fix: proper context management of handlers
  jina/executors/indexers/dbms/keyvalue.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/query/keyvalue.py
  tests/integration/crud/advanced/test_crud_advanced_example.py
  tests/integration/doccache/test_crud_cache.py
  tests/integration/issues/github_2320/__init__.py
  tests/integration/issues/github_2320/mock_indexer.yml
  tests/integration/issues/github_2320/test_write_handler_close_after_delete.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#2338 feat: hosts for replicas
  jina/enums.py
  jina/parsers/peapods/pod.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compoundpod.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/unit/peapods/pods/test_compound_pods.py
Labels: area/core, area/helper, area/network, area/testing, component/peapod, size/M

#2346 refactor: abstract the construction of different pods
  cli/api.py
  jina/flow/base.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compoundpod.py
  jina/peapods/pods/factory.py
  tests/unit/peapods/pods/test_pod_factory.py
Labels: area/cli, area/core, area/network, area/testing, component/flow, component/peapod, size/M

#2351 fix: keep old crafter and segmenter functionality
  jina/drivers/__init__.py
  jina/drivers/craft.py
  jina/drivers/segment.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_segmenter_driver.py
Labels: area/core, area/testing, component/driver, size/M

#2353 fix: avoid flush when kbinterrupt
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
Labels: area/core, area/network, component/peapod, size/S

#2357 refactor: improve the readability
  jina/drivers/__init__.py
  jina/drivers/encode.py
  jina/drivers/predict.py
  jina/helper.py
  tests/integration/executors_generic/__init__.py
  tests/integration/executors_generic/test_generic_executor.py
Labels: area/core, area/helper, area/testing, component/driver, size/S

#2358 docs: prettify zed runtime argument doc
  jina/parsers/peapods/runtimes/zed.py
Labels: area/core, size/S

#2354 refactor: reduceAll drive update and delete requests
  jina/resources/executors._concat.yml
  jina/resources/executors._merge.yml
  jina/resources/executors._merge_chunks.yml
  jina/resources/executors._merge_eval.yml
  jina/resources/executors._merge_matches.yml
  jina/resources/executors._merge_matches_topk.yml
  jina/resources/executors._merge_root.yml
Labels: area/core, component/client, component/resource, size/S

#2361 test: increase zmqlet test coverage (recv_message)
  tests/unit/test_is_read_message.py
Labels: area/testing, size/S

#2359 fix: return all default values in rest
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  jina/types/mixin.py
  tests/integration/issues/github_2103/__init__.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/unit/peapods/runtimes/asyncio/__init__.py
  tests/unit/peapods/runtimes/asyncio/rest/__init__.py
  tests/unit/peapods/runtimes/asyncio/rest/test_models.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/network, area/testing, component/peapod, component/type, size/M

#2356 refactor: provide iteration over keys in query
  jina/drivers/evaluate.py
  jina/drivers/search.py
  jina/executors/indexers/dbms/keyvalue.py
  jina/executors/indexers/keyvalue.py
  tests/integration/issues/github_2295/test_issue.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_load_groundtruth_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/test_workspace.py
Labels: area/core, area/testing, component/driver, component/executor, executor/indexer, size/M

#2365 fix: fix 2026
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build.py
Labels: area/core, area/testing, component/docker, size/S

#2370 refactor: set to array
  jina/__init__.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/peapods/runtimes/zmq/zed.py
  jina/types/arrays/__init__.py
  jina/types/arrays/chunk.py
  jina/types/arrays/doc_groundtruth.py
  jina/types/arrays/document.py
  jina/types/arrays/match.py
  jina/types/arrays/querylang.py
  jina/types/arrays/traversable.py
  jina/types/document/__init__.py
  jina/types/request/__init__.py
  jina/types/request/mixin.py
  jina/types/sets/__init__.py
  tests/integration/executors_batching/test_craft_executors_batching.py
  tests/integration/executors_batching/test_encoder_executors_batching.py
  tests/integration/executors_batching/test_match2docranker_exectuors_batching.py
  tests/integration/executors_batching/test_segment_executors_batching.py
  tests/integration/gateway_non_blocking/yaml/fast_slow_driver.py
  tests/integration/issues/github_2295/test_issue.py
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/drivers/querylang/test_slice_ql.py
  tests/unit/drivers/rank/aggregate/test_aggregate_matches_rank_driver.py
  tests/unit/drivers/rank/aggregate/test_chunk2doc_rank_drivers.py
  tests/unit/drivers/rank/test_matches2doc_rank_drivers.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_craft_driver.py
  tests/unit/drivers/test_encoder_driver.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/drivers/test_multimodal_driver.py
  tests/unit/drivers/test_predict_mock_driver.py
  tests/unit/drivers/test_recursive_traversal_tree.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/drivers/test_vector_index_driver.py
  tests/unit/executors/test_executor_function.py
  tests/unit/types/arrays/__init__.py
  tests/unit/types/arrays/test_chunkarray.py
  tests/unit/types/arrays/test_documentarray.py
  tests/unit/types/arrays/test_matcharray.py
  tests/unit/types/arrays/test_querylangarray.py
  tests/unit/types/document/test_document_traverse.py
  tests/unit/types/request/test_request.py
  tests/unit/types/sets/test_querylangset.py
  tests/unit/types/test_repr_str.py
  tests/unit/yaml/dummy_encode_driver.py
Labels: area/core, area/entrypoint, area/helper, area/network, area/testing, component/client, component/peapod, component/type, size/L

#2368 fix(websocket-client): fix blocking on empty requests
  jina/clients/websocket.py
  tests/unit/clients/python/test_client.py
Labels: area/core, area/testing, component/client, size/S

#2335 refactor: arguments handling of replicas
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compoundpod.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/unit/peapods/pods/test_compound_pods.py
Labels: area/core, area/helper, area/network, area/testing, component/peapod, size/M
