Repository jina-ai/serve, pull requests merged in 2021-01, with the labels that each got.

#1572 fix: russian translation 101
  docs/chapters/101/README.ru.md
Labels: area/docs, size/S

#1581 feat(jaml): enables loading config from dict
  jina/jaml/__init__.py
  jina/jaml/helper.py
  tests/unit/flow/test_flow_yaml_parser.py
  tests/unit/test_yamlparser.py
Labels: area/core, area/testing, component/jaml, size/M

#1578 docs(cli): Fix small typo in cli parser
  jina/parsers/__init__.py
Labels: area/core, size/XS

#1429 feat: add docker auth for hub
  jina/docker/helper.py
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/resources/hubapi.yml
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/testing, component/docker, component/resource, size/M

#1573 fix: two tests with same name
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/testing, size/XS

#1577 fix(remote): remote type check and pod invocation
  extra-requirements.txt
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/api.py
  jina/peapods/runtimes/ssh/__init__.py
  tests/integration/jinad/Dockerfiles/Dockerfile
  tests/unit/peapods/pods/test_pods.py
Labels: area/core, area/network, area/setup, area/testing, component/peapod, size/S

#1579 docs: Add readme.es.md
  .github/i18n/README.es.md
Labels: area/housekeeping, size/M

#1586 docs(index): improve section names
  docs/index.rst
Labels: area/docs, size/XS

#1589 refactor unit tests in hubapi
  jina/docker/hubapi.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/testing, component/docker, size/S

#1588 test: add querylang set test
  jina/types/sets/querylang.py
  tests/unit/types/sets/test_querylangset.py
Labels: area/core, area/testing, component/type, size/M

#1591 docs(readme): add spanish link and fix others
  .github/i18n/README.de.md
  .github/i18n/README.es.md
  .github/i18n/README.fr.md
  .github/i18n/README.ja.md
  .github/i18n/README.kr.md
  .github/i18n/README.pt_br.md
  .github/i18n/README.ru.md
  .github/i18n/README.uk.md
  .github/i18n/README.zh.md
  README.md
Labels: area/housekeeping, size/M

#1587 feat: freeze jina version in hub build
  jina/docker/checker.py
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build.py
Labels: area/core, area/testing, component/docker, size/S

#1597 fix: clarify py_modules usage in 1546
  .github/workflows/tag.yml
  jina/executors/metas.py
  jina/importer.py
  tests/integration/issues/github_1546/__init__.py
  tests/integration/issues/github_1546/bad1/crafter.yml
  tests/integration/issues/github_1546/bad1/custom_crafter.py
  tests/integration/issues/github_1546/bad1/helper.py
  tests/integration/issues/github_1546/bad2/__init__.py
  tests/integration/issues/github_1546/bad2/crafter.yml
  tests/integration/issues/github_1546/bad2/helper.py
  tests/integration/issues/github_1546/good1/crafter.yml
  tests/integration/issues/github_1546/good1/custom_crafter.py
  tests/integration/issues/github_1546/good1/helper.py
  tests/integration/issues/github_1546/good2/__init__.py
  tests/integration/issues/github_1546/good2/crafter.yml
  tests/integration/issues/github_1546/good2/helper.py
  tests/integration/issues/github_1546/good3/__init__.py
  tests/integration/issues/github_1546/good3/config.yml
  tests/integration/issues/github_1546/good3/helper.py
  tests/integration/issues/github_1546/test_pymodules_import.py
Labels: area/cicd, area/core, area/helper, area/housekeeping, area/testing, component/executor, executor/meta, size/M

#1584 refactor(jinad): log streaming from remote
  jina/excepts.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/api.py
  tests/integration/jinad/Dockerfiles/Dockerfile
  tests/integration/jinad/Dockerfiles/entrypoint.sh
  tests/integration/jinad/test_index_query/test_integration.sh
  tests/integration/jinad/test_index_query_with_shards/flow.yml
  tests/integration/jinad/test_index_query_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_distributed/test_integration.sh
  tests/integration/jinad/test_simple_distributed_with_shards/test_integration.sh
  tests/integration/jinad/test_simple_hub_pods/test_integration.sh
Labels: area/core, area/helper, area/network, area/testing, component/peapod, size/M

#1596 feat: volumes can be mapped to arbitrary path in container
  jina/parsers/peapods/runtimes/container.py
  jina/peapods/runtimes/container/__init__.py
  tests/unit/mwu-encoder/mwu_encoder_volume_change.yml
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1595 feat: ref indexer avoid getting abspath
  jina/executors/indexers/vector.py
  tests/integration/ref_indexer/__init__.py
  tests/integration/ref_indexer/index.yml
  tests/integration/ref_indexer/pods/indexer.yml
  tests/integration/ref_indexer/pods/indexer_with_ref.yml
  tests/integration/ref_indexer/query.yml
  tests/integration/ref_indexer/test_numpy_indexer_with_ref_indexer.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#1598 test: skip flaky tests
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/container/test_container_runtime.py
  tests/unit/peapods/runtimes/test_runtimes.py
Labels: area/testing, size/S

#1599 style: fix jinadruntime styling
  .github/workflows/test-jinad.yml
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/api.py
Labels: area/cicd, area/core, area/housekeeping, area/network, component/peapod, size/S

#1601 refactor: hubapi duplicate method definition
  jina/docker/hubapi.py
Labels: area/core, component/docker, size/S

#1600 docs: add reference check while build docs
  docs/conf.py
Labels: area/docs, size/XS

#1604 refactor: safe comparison None
  tests/integration/issues/github_1545/test_executor_metas.py
  tests/unit/executors/indexers/test_binary_indexer.py
Labels: area/testing, size/XS

#1603 feat: add test for embedding evaluators
  tests/unit/executors/evaluators/embedding/__init__.py
  tests/unit/executors/evaluators/embedding/test_embedding.py
Labels: area/testing, size/S

#1570 refactor: change metric evaluator name adapt to eval_at
  jina/drivers/evaluate.py
  jina/executors/evaluators/rank/precision.py
  jina/executors/evaluators/rank/recall.py
  tests/unit/drivers/test_craftevaluation_driver.py
  tests/unit/drivers/test_encodingevaluation_driver.py
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/testing, component/driver, component/executor, size/S

#1602 docs: update readme de
  .github/i18n/README.de.md
Labels: area/housekeeping, size/S

#1594 docs(contributing): fix a broken link
  CONTRIBUTING.md
Labels: size/XS

#1566 refactor(tests): clean up codes in testing `hubapi`
  tests/unit/docker/test_hubapi.py
Labels: area/testing, size/S

#1611 fix: content hash should not depend on chunks
  jina/types/document/uid.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#1614 docs: fix deadlinks
  CONTRIBUTING.md
  docs/conf.py
Labels: area/docs, size/S

#1616 refactor: doc content hash
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
  jina/types/document/uid.py
  tests/unit/test_helper.py
Labels: area/core, area/testing, component/type, size/S

#1617 refactor: doc content hash
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#1624 fix: log executor on nodriverforreq
  jina/executors/__init__.py
Labels: area/core, component/executor, executor/meta, size/XS

#1609 fix: test for hubio test build
  tests/unit/docker/test_hub_build_level.py
  tests/unit/docker/yaml/test-joint.yml
Labels: area/testing, size/S

#1622 fix: example requires numpy to be imported
  README.md
Labels: size/XS

#1619 fix: remove warning jina version missing from manifest
  jina/docker/hubio.py
Labels: area/core, component/docker, size/XS

#1627 ci: integration test after lint
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/XS

#1626 refactor(tests): refactor unit tests for document hashing
  jina/types/document/__init__.py
  tests/unit/types/document/test_document.py
Labels: area/core, area/testing, component/type, size/S

#1628 fix: rewrite handling of missing keys for indexers
  .gitignore
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  jina/helper.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/executors/indexers/test_numpyindexer.py
Labels: area/core, area/helper, area/testing, component/executor, executor/indexer, size/M

#1633 refactor: parallelize cicd
  .github/workflows/cd.yml
  .github/workflows/ci-hub.yml
  .github/workflows/ci-jinad.yml
  .github/workflows/ci.yml
  extra-requirements.txt
  jina/drivers/index.py
  jina/executors/indexers/vector.py
  scripts/get-test-paths.sh
Labels: area/cicd, area/core, area/housekeeping, area/setup, component/driver, component/executor, executor/indexer, size/M

#1623 fix: fix eval name from driver
  jina/drivers/evaluate.py
  tests/unit/drivers/test_rankingevaluation_driver.py
Labels: area/core, area/testing, component/driver, size/S

#1625 docs: update license for 2021
  LICENSE
Labels: size/XS

#1583 test: add test with local flow and remote pods
  jina/jaml/helper.py
  jina/peapods/runtimes/jinad/api.py
  tests/integration/daemon/distributed/test_simple_local_remote/.env
  tests/integration/daemon/distributed/test_simple_local_remote/__init__.py
  tests/integration/daemon/distributed/test_simple_local_remote/docker-compose.yml
  tests/integration/daemon/distributed/test_simple_local_remote/dummy-encoder.py
  tests/integration/daemon/distributed/test_simple_local_remote/encode.yml
  tests/integration/daemon/distributed/test_simple_local_remote/flow.yml
  tests/integration/daemon/distributed/test_simple_local_remote/index.yml
  tests/integration/daemon/distributed/test_simple_local_remote/test_integration.py
  tests/unit/peapods/runtimes/remote/jinad/test_api.py
  tests/unit/test_helper.py
Labels: area/core, area/network, area/testing, component/jaml, component/peapod, size/M

#1635 ci: fix escape flag in codecov
  .github/workflows/ci.yml
  tests/conftest.py
  tests/jinad/integration/distributed/conftest.py
Labels: area/cicd, area/housekeeping, area/testing, size/S

#1636 refactor: move test to its proper place
  tests/jinad/integration/distributed/test_simple_local_remote/.env
  tests/jinad/integration/distributed/test_simple_local_remote/__init__.py
  tests/jinad/integration/distributed/test_simple_local_remote/docker-compose.yml
  tests/jinad/integration/distributed/test_simple_local_remote/dummy-encoder.py
  tests/jinad/integration/distributed/test_simple_local_remote/encode.yml
  tests/jinad/integration/distributed/test_simple_local_remote/flow.yml
  tests/jinad/integration/distributed/test_simple_local_remote/index.yml
  tests/jinad/integration/distributed/test_simple_local_remote/test_integration.py
Labels: area/testing, size/XS

#1637 fix(daemon): miscellaneous fixes for logging, pod model, flow creation
  daemon/__init__.py
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/models/__init__.py
  daemon/models/custom.py
  daemon/models/pod.py
  daemon/store.py
  extra-requirements.txt
  jina/flow/base.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/api.py
  tests/jinad/unit/test_store.py
Labels: area/core, area/daemon, area/network, area/setup, area/testing, component/flow, component/peapod, size/S

#1608 feat(gateway): websocket based streaming and client
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/latency-tracking.yml
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/store.py
  extra-requirements.txt
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/helper.py
  jina/clients/request.py
  jina/clients/websockets.py
  jina/docker/hubapi.py
  jina/docker/hubio.py
  jina/executors/__init__.py
  jina/executors/indexers/cache.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/peapods/runtimes/asyncio/rest/__init__.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/jinad/api.py
  jina/peapods/zmq/__init__.py
  jina/types/message/__init__.py
  tests/integration/eval_flow/test_flow_eval_pod.py
  tests/integration/evaluation/flow-evaluate-from-file-parallel.yml
  tests/integration/evaluation/flow-evaluate-from-file.yml
  tests/integration/evaluation/flow-index-gt-parallel.yml
  tests/integration/evaluation/flow-index-gt.yml
  tests/integration/evaluation/flow-parallel-evaluate-from-file-parallel.yml
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/gateway_non_blocking/flow.yml
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/high_order_matches/test_adjacency.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/integration/level_depth/flow-index.yml
  tests/integration/level_depth/flow-query.yml
  tests/integration/level_depth/test_search_different_depths.py
  tests/integration/mime/test_mime.py
  tests/integration/mime/test_segmenter.py
  tests/integration/multimodal/flow-embedding-multimodal-parallel.yml
  tests/integration/multimodal/flow-multimodal-all-types-parallel.yml
  tests/integration/multimodal/test_multimodal_parallel.py
  tests/jinad/integration/distributed/helpers.py
  tests/jinad/integration/distributed/test_index_query/test_integration.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/flow/test_flow_except.py
  tests/unit/flow/test_flow_index.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
  tests/unit/flow/test_flow_skip.py
Labels: area/cicd, area/core, area/daemon, area/housekeeping, area/network, area/setup, area/testing, component/client, component/docker, component/executor, component/flow, component/peapod, component/type, executor/indexer, executor/meta, size/XL

#1631 fix: fix some bugs in hubio
  jina/docker/hubio.py
  jina/parsers/hub/pushpull.py
Labels: area/core, component/docker, size/S

#1639 refactor(cli): move show-exc-info as PPR common args
  cli/autocomplete.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pea.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/asyncio/rest/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  jina/resources/extra-requirements.txt
  scripts/release.sh
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/docker/test_hub_list.py
Labels: area/cli, area/core, area/network, area/testing, component/peapod, component/resource, size/M

#1642 fix(daemon): fix some helper text for redocs
  .github/workflows/cd.yml
  .github/workflows/tag.yml
  daemon/__init__.py
  daemon/api/endpoints/__init__.py
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/logs.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/config.py
  daemon/store.py
  jina/peapods/runtimes/jinad/api.py
  jina/resources/logging.daemon.yml
  tests/conftest.py
  tests/jinad/integration/api/endpoints/test_logging_endpoint.py
  tests/jinad/integration/distributed/helpers.py
  tests/jinad/integration/distributed/test_index_query/test_integration.py
  tests/jinad/integration/distributed/test_index_query_with_shards/test_integration.py
  tests/jinad/integration/distributed/test_simple_distributed/test_integration.py
  tests/jinad/integration/distributed/test_simple_distributed_with_shards/test_integration.py
  tests/jinad/integration/distributed/test_simple_hub_pods/test_integration.py
  tests/jinad/unit/test_config.py
Labels: area/cicd, area/core, area/daemon, area/housekeeping, area/network, area/testing, component/peapod, component/resource, size/M

#1644 docs(yaml): improve yaml docs on syntax
  docs/chapters/yaml/compound-executor.rst
  docs/chapters/yaml/driver.rst
  docs/chapters/yaml/executor.rst
  docs/chapters/yaml/flow.rst
  docs/chapters/yaml/index.rst
  docs/chapters/yaml/substitute.rst
  docs/chapters/yaml/yaml.rst
  docs/index.rst
Labels: area/docs, size/L

#1651 fix: ignore parent id in content hash
  jina/types/document/__init__.py
Labels: area/core, component/type, size/XS

#1459 feat: optimiser with new flow runner and flow v1 parser
  extra-requirements.txt
  jina/flow/base.py
  jina/optimizers/__init__.py
  jina/optimizers/discovery.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/__init__.py
  tests/integration/optimizers/flow.yml
  tests/integration/optimizers/parameter.yml
  tests/integration/optimizers/pods/craft.yml
  tests/integration/optimizers/pods/dummy_crafter.py
  tests/integration/optimizers/pods/dummy_evaluate.py
  tests/integration/optimizers/pods/evaluate.yml
  tests/integration/optimizers/test_discovery.py
  tests/integration/optimizers/test_optimizer.py
  tests/unit/optimizers/__init__.py
  tests/unit/optimizers/flow.yml
  tests/unit/optimizers/index.yml
  tests/unit/optimizers/parameters.yml
  tests/unit/optimizers/test_flow_runner.py
  tests/unit/optimizers/test_optimizers.py
  tests/unit/optimizers/test_parameters.py
Labels: area/core, area/setup, area/testing, component/flow, size/XL

#1652 docs(readme): add link to examples repo, redo examples table
  README.md
Labels: size/M

#1632 refactor: split segmenter into its own base class
  jina/drivers/craft.py
  jina/drivers/segment.py
  jina/executors/__init__.py
  jina/executors/crafters/__init__.py
  jina/executors/segmenters/__init__.py
  tests/integration/issues/github_1546/bad1/custom_crafter.py
  tests/integration/issues/github_1546/bad2/__init__.py
  tests/integration/issues/github_1546/good1/custom_crafter.py
  tests/integration/issues/github_1546/good2/__init__.py
  tests/integration/issues/github_1546/good3/__init__.py
  tests/integration/level_depth/yaml/custom_executor.py
  tests/integration/level_depth/yaml/segmenter.yml
  tests/integration/mime/dummy-seg-not-random.yml
  tests/integration/mime/dummy-seg-random.yml
  tests/integration/mime/test_segmenter.py
  tests/unit/drivers/querylang/test_querylang_drivers.py
  tests/unit/drivers/test_reduce_all_driver.py
  tests/unit/drivers/test_segmenter_driver.py
  tests/unit/flow/test_flow_merge.py
  tests/unit/flow/test_flow_multimode.py
Labels: area/core, area/testing, component/driver, component/executor, executor/crafter, executor/meta, size/M

#1650 Feat resources crud
  jina/resources/executors._clear.yml
  jina/resources/executors._concat.yml
  jina/resources/executors._eval_pr.yml
  jina/resources/executors._forward.yml
  jina/resources/executors._logforward.yml
  jina/resources/executors._merge.yml
  jina/resources/executors._merge_chunks.yml
  jina/resources/executors._merge_eval.yml
  jina/resources/executors._merge_matches.yml
  jina/resources/executors._pass.yml
  jina/resources/executors._route.yml
  jina/resources/executors._unique.yml
  jina/resources/executors._unique_content.yml
  jina/resources/executors.base.all.yml
  jina/resources/executors.base.yml
  jina/resources/executors.requests.BaseCrafter.yml
  jina/resources/executors.requests.BaseCraftingEvaluator.yml
  jina/resources/executors.requests.BaseEncoder.yml
  jina/resources/executors.requests.BaseEncodingEvaluator.yml
  jina/resources/executors.requests.BaseRanker.yml
  jina/resources/executors.requests.BaseRankingEvaluator.yml
  jina/resources/executors.requests.BaseSegmenter.yml
  jina/resources/executors.requests.BaseVectorIndexer.yml
  jina/resources/executors.requests.BinaryPbIndexer.yml
  jina/resources/executors.requests.CompoundIndexer.yml
  jina/resources/executors.requests.DataURIPbIndexer.yml
  jina/resources/executors.requests.UniquePbIndexer.yml
  jina/resources/executors.requests.UniqueVectorIndexer.yml
  tests/unit/test_driver_yaml.py
Labels: area/core, area/testing, component/resource, size/M

#1653 fix: use topk in crud tests
  tests/integration/crud/test_crud.py
Labels: area/testing, size/XS

#1655 fix(proto): remove legacy unused fields
  .github/workflows/cd.yml
  .github/workflows/tag.yml
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  tests/unit/flow/test_flow_index.py
Labels: area/cicd, area/core, area/housekeeping, area/network, area/testing, component/proto, size/M

#1658 refactor: shadowing built ins
  jina/docker/helper.py
  jina/executors/indexers/cache.py
  jina/parsers/helper.py
  jina/types/document/converters.py
  tests/unit/drivers/test_helper.py
  tests/unit/drivers/test_vector_search_driver.py
Labels: area/core, area/testing, component/docker, component/executor, component/type, executor/indexer, size/S

#1660 refactor: unused definitions
  jina/clients/helper.py
  jina/peapods/runtimes/zmq/zed.py
  tests/jinad/integration/api/endpoints/test_logging_endpoint.py
  tests/unit/drivers/test_cache_driver.py
  tests/unit/drivers/test_rankingevaluation_driver.py
  tests/unit/test_echostream.py
  tests/unit/test_exectype.py
  tests/unit/types/document/test_converters.py
  tests/unit/types/document/test_multimodal_document.py
Labels: area/core, area/network, area/testing, component/client, component/peapod, size/S

#1654 test: add extra jinad distributed test
  jina/flow/builder.py
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/.env
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/__init__.py
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/craft.yml
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/docker-compose.yml
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/dummy-crafter.py
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/dummy-encoder.py
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/encode.yml
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/flow.yml
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/index.yml
  tests/jinad/integration/distributed/test_local_flow_remote_local_remote/test_integration.py
Labels: area/core, area/testing, component/flow, size/M

#1664 ci: separate install from run
  .github/workflows/ci-jinad.yml
Labels: area/cicd, area/housekeeping, size/XS

#1665 test: add local-remote-local topology test
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/.env
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/__init__.py
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/craft.yml
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/docker-compose.yml
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/dummy-crafter.py
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/dummy-encoder.py
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/encode.yml
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/flow.yml
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/index.yml
  tests/jinad/integration/distributed/test_local_flow_local_remote_local/test_integration.py
Labels: area/testing, size/M

#1662 docs(release): update release & version explain
  .github/workflows/autocommit.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-release.yml
  .github/workflows/release.yml
  RELEASE.md
  scripts/get-versions.sh
  scripts/release.sh
Labels: area/cicd, area/housekeeping, size/M

#1669 feat(daemon): endpoints for params expose and logging public address
  daemon/__init__.py
  daemon/api/endpoints/__init__.py
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  tests/conftest.py
  tests/jinad/unit/api/endpoints/test_flow.py
  tests/jinad/unit/api/endpoints/test_pea.py
  tests/jinad/unit/api/endpoints/test_pod.py
Labels: area/daemon, area/testing, size/M

#1673 docs: add binder snippet
  README.md
  jina/__init__.py
Labels: area/core, area/entrypoint, area/helper, size/S

#1657 fix: sharding parallel one
  jina/executors/__init__.py
  jina/jaml/parsers/executor/legacy.py
  tests/integration/incremental_indexing/test_unique_indexing.py
  tests/unit/test_index.py
Labels: area/core, area/network, area/testing, component/executor, component/jaml, component/peapod, executor/meta, size/S

#1679 ci: tag docker image with github run id
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1668 tests: add test with different typologies with needs param
  tests/distributed/test_local_flow_local_remote_local/craft.yml
  tests/distributed/test_local_flow_local_remote_local/dummy-crafter.py
  tests/distributed/test_local_flow_local_remote_local/dummy-encoder.py
  tests/distributed/test_local_flow_local_remote_local/encode.yml
  tests/distributed/test_local_flow_local_remote_local/flow.yml
  tests/distributed/test_local_flow_local_remote_local/index.yml
  tests/distributed/test_local_flow_local_remote_local/test_integration.py
  tests/distributed/test_local_flow_remote_local_remote/craft.yml
  tests/distributed/test_local_flow_remote_local_remote/dummy-crafter.py
  tests/distributed/test_local_flow_remote_local_remote/dummy-encoder.py
  tests/distributed/test_local_flow_remote_local_remote/encode.yml
  tests/distributed/test_local_flow_remote_local_remote/flow.yml
  tests/distributed/test_local_flow_remote_local_remote/index.yml
  tests/distributed/test_local_flow_remote_local_remote/test_integration.py
Labels: area/testing, size/M

#1680 ci: fix avoid pushing to docker registry
  .github/workflows/ci.yml
Labels: area/cicd, area/housekeeping, size/S

#1682 fix: conditional args
  jina/peapods/pods/__init__.py
Labels: area/core, area/network, component/peapod, size/XS

#1674 refactor: remove GPU check in Executor
  jina/executors/__init__.py
Labels: area/core, component/executor, executor/meta, size/S

#1675 Jinacore-496 add docs for remote jina update
  docs/chapters/remote/create-remote-flow.md
  docs/chapters/remote/create-remote-pod-console-jinad.md
  docs/chapters/remote/create-remote-pod-flow.md
  docs/chapters/remote/index.rst
  docs/chapters/remote/jinad.md
  docs/chapters/remote/jinad_design.png
  docs/chapters/remote/run-remote-pod-console.md
  docs/chapters/remote/run-remote-pod-flow.md
  docs/chapters/remote/run-remote-pod-jina.md
Labels: area/docs, size/L

#1677 refactor: change batch_size to request_size
  cli/autocomplete.py
  jina/clients/base.py
  jina/clients/request.py
  jina/clients/websockets.py
  jina/helloworld/__init__.py
  jina/optimizers/flow_runner.py
  jina/parsers/client.py
  jina/parsers/flow.py
  jina/parsers/helloworld.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  tests/integration/encode_driver_batching/test_encode_driver_batching.py
  tests/integration/evaluation/test_evaluation_from_file.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/optimizers/test_optimizer.py
  tests/integration/ref_indexer/test_numpy_indexer_with_ref_indexer.py
  tests/unit/clients/python/test_request.py
  tests/unit/optimizers/test_flow_runner.py
  tests/unit/test_loadbalance.py
Labels: area/cli, area/core, area/helloworld, area/network, area/testing, component/client, component/peapod, size/M

#1687 fix(daemon): add cors #1683
  daemon/__init__.py
Labels: area/daemon, size/XS

#1691 refactor(hubio): push, login, docker auth
  jina/docker/checker.py
  jina/docker/hubapi.py
  jina/docker/hubapi/local.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  jina/excepts.py
  jina/parsers/hub/__init__.py
  jina/parsers/hub/login.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/helper, area/testing, component/docker, size/L

#1692 cicd: add armv6/v7 docker build
  .github/workflows/cd.yml
  .github/workflows/nightly.yml
  .github/workflows/tag.yml
  Dockerfiles/debianx.Dockerfile
  jina/helper.py
  jina/peapods/zmq/__init__.py
Labels: area/cicd, area/core, area/docker, area/helper, area/housekeeping, area/network, component/peapod, size/M

#1689 fix: shard may be empty
  jina/drivers/search.py
  tests/integration/issues/github_1684/__init__.py
  tests/integration/issues/github_1684/flow.yml
  tests/integration/issues/github_1684/index.yml
  tests/integration/issues/github_1684/test_empty_shard.py
  tests/integration/level_depth/test_search_different_depths.py
Labels: area/core, area/testing, component/driver, size/S

#1693 feat: support json print in loginfo
  jina/drivers/control.py
Labels: area/core, component/driver, size/S

#1613 crud intergration tests: docidcache-centric
  jina/drivers/cache.py
  jina/drivers/search.py
  jina/executors/indexers/__init__.py
  jina/executors/indexers/cache.py
  jina/executors/indexers/keyvalue.py
  jina/executors/indexers/vector.py
  tests/integration/cache.py
  tests/integration/docidcache/__init__.py
  tests/integration/docidcache/_merge_matches_topk.yml
  tests/integration/docidcache/cache.yml
  tests/integration/docidcache/crud_cache_flow_index.yml
  tests/integration/docidcache/crud_cache_flow_query.yml
  tests/integration/docidcache/kv.yml
  tests/integration/docidcache/test_crud_cache.py
  tests/integration/docidcache/vector.yml
  tests/unit/drivers/test_cache_driver.py
Labels: area/core, area/helper, area/testing, component/driver, component/executor, component/resource, component/type, executor/indexer, size/L

#1690 feat: pass arbitrary kwargs to docker sdk
  daemon/models/custom.py
  jina/flow/base.py
  jina/parsers/helper.py
  jina/parsers/peapods/runtimes/container.py
  jina/peapods/runtimes/container/__init__.py
  tests/unit/parsers/__init__.py
  tests/unit/parsers/peapods/__init__.py
  tests/unit/parsers/peapods/runtimes/__init__.py
  tests/unit/parsers/peapods/runtimes/test_runtime_parser.py
  tests/unit/peapods/runtimes/container/flow.yml
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/core, area/daemon, area/network, area/testing, component/flow, component/peapod, size/M

#1686 feat: merge matches topk
  jina/resources/executors._merge_matches_topk.yml
Labels: area/core, component/resource, size/S

#1694 fix: filtering missing keys accounts for values
  jina/executors/indexers/__init__.py
  jina/executors/indexers/keyvalue.py
Labels: area/core, component/executor, executor/indexer, size/XS

#1697 fix: more detailed error msg
  jina/excepts.py
  jina/flow/base.py
  jina/flow/builder.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/api.py
  tests/distributed/test_local_flow_local_remote_local/test_integration.py
  tests/unit/flow/test_remote_orchestrate.py
Labels: area/core, area/helper, area/network, area/testing, component/flow, component/peapod, size/M

#1701 fix: KVSearchDriver `is_merge` should be `False` by default
  jina/drivers/search.py
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
Labels: area/core, area/testing, component/driver, size/XS

#1706 revert: "fix: KVSearchDriver `is_merge` should be `False` by default"
  jina/drivers/search.py
  tests/integration/level_depth/yaml/index-chunk.yml
  tests/integration/level_depth/yaml/index-doc.yml
Labels: area/core, area/testing, component/driver, size/XS

#1710 fix: fix helloworld
  extra-requirements.txt
  jina/helloworld/helper.py
  tests/integration/test_helloworld.py
Labels: area/core, area/helloworld, area/setup, area/testing, size/S

#1715 build(hubapi): add init file
  jina/docker/hubapi/__init__.py
Labels: area/core, component/docker, size/XS

#1685 fix: kv default traversal
  jina/drivers/search.py
  tests/integration/crud/yaml/index_kv.yml
  tests/integration/test_helloworld.py
  tests/unit/drivers/test_kv_search_driver.py
  tests/unit/executors/indexers/binarypb.yml
Labels: area/core, area/testing, component/driver, size/S

#1721 fix(hubapi): cli changes for new get images invocation
  jina/docker/hubapi/local.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  jina/resources/hubapi.yml
  tests/unit/docker/test_hub_list.py
  tests/unit/docker/test_hubapi.py
Labels: area/core, area/testing, component/docker, component/resource, size/M

#1711 refactor: optional disable uses_b/a if parallel is 1
  jina/parsers/peapods/pods/base.py
  jina/peapods/pods/__init__.py
  tests/unit/peapods/pods/test_pods.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1723 chore: update add() use case in readme
  README.md
Labels: size/XS

#1700 test: empty or corrupt docs
  jina/executors/indexers/vector.py
  tests/integration/crud_corrupted_docs/__init__.py
  tests/integration/crud_corrupted_docs/flow-parallel.yml
  tests/integration/crud_corrupted_docs/flow.yml
  tests/integration/crud_corrupted_docs/index.yml
  tests/integration/crud_corrupted_docs/kv.yml
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/crud_corrupted_docs/vector.yml
Labels: area/core, area/testing, component/executor, executor/indexer, size/M

#1727 test(daemon): add distribute tests
  tests/distributed/test_against_external_daemon/__init__.py
  tests/distributed/test_against_external_daemon/mwu_encoder.py
  tests/distributed/test_against_external_daemon/mwu_encoder.yml
  tests/distributed/test_against_external_daemon/test_single_instance.py
  tests/integration/crud/test_crud.py
  tests/integration/crud_corrupted_docs/test_crud_corrupted_docs.py
  tests/integration/docidcache/test_crud_cache.py
Labels: area/testing, size/M

#1702 fix: register class should not only depend on name
  jina/executors/__init__.py
  tests/unit/test_exectype.py
Labels: area/core, area/testing, component/executor, executor/meta, size/S

#1734 test: skip flaky test
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/testing, size/S

#1730 refactor: deprecate client and flow input aliases
  docs/chapters/flow/index.md
  docs/chapters/flow/pattern.md
  docs/chapters/io/index.md
  docs/chapters/prevent_duplicate_indexing/index.rst
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
Labels: area/core, area/docs, component/client, component/flow, size/S

#1729 refactor: remove MinRanker
  docs/chapters/flow/pattern.md
  tests/integration/level_depth/yaml/rank.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
Labels: area/docs, area/testing, size/S

#1739 feat: remove pea_workspace
  jina/executors/__init__.py
  jina/executors/compound.py
  jina/executors/indexers/vector.py
  jina/executors/metas.py
  jina/jaml/parsers/executor/legacy.py
  jina/parsers/peapods/pea.py
  jina/peapods/pods/helper.py
  jina/resources/executors.metas.default.yml
  tests/integration/docidcache/test_crud_cache.py
  tests/integration/issues/github_1545/test_executor_metas.py
  tests/integration/ref_indexer/index.yml
  tests/integration/ref_indexer/query.yml
  tests/unit/drivers/test_cache_driver.py
  tests/unit/executors/indexers/test_binary_indexer.py
  tests/unit/test_workspace.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-expand3.yml
Labels: area/core, area/network, area/testing, component/executor, component/jaml, component/peapod, component/resource, executor/indexer, executor/meta, size/M

#1738 fix(daemon): fix early drop on the logstreaming
  daemon/__init__.py
  daemon/api/endpoints/logs.py
  daemon/parser.py
  daemon/stores/flow.py
  daemon/stores/helper.py
  daemon/stores/pea.py
  daemon/stores/workspace.py
  jina/flow/base.py
  jina/helper.py
  jina/logging/logger.py
  jina/parsers/peapods/base.py
  jina/peapods/pods/helper.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/client.py
  jina/peapods/zmq/__init__.py
  jina/resources/fluent.conf
  tests/distributed/test_against_external_daemon/test_single_instance.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/jinad/unit/api/endpoints/test_daemon.py
  tests/jinad/unit/api/endpoints/test_upload_add.py
  tests/jinad/unit/stores/test_basestore.py
  tests/jinad/unit/stores/test_helper.py
  tests/unit/flow/test_flow.py
  tests/unit/logging/test_logging.py
Labels: area/core, area/daemon, area/helper, area/network, area/testing, component/flow, component/logging, component/peapod, component/resource, size/M

#1741 docs(flow): add docker example for Flow API `uses`
  docs/chapters/flow/index.md
Labels: area/docs, size/XS

#1744 fix: log level and upload path
  jina/enums.py
  jina/logging/logger.py
  jina/peapods/runtimes/jinad/client.py
Labels: area/core, area/helper, area/network, component/logging, component/peapod, size/XS

#1745 docs: some cleanup
  docs/chapters/flow/index.md
  docs/chapters/hub/publish-your-pod-image.md
  docs/chapters/remote/create-remote-flow.md
  docs/chapters/remote/create-remote-pod-console-jinad.md
  docs/chapters/remote/create-remote-pod-flow.md
  docs/chapters/remote/run-remote-pod-console.md
Labels: area/docs, size/S

#1740 docs: add direct links to flow index page
  docs/chapters/flow/index.md
Labels: area/docs, size/XS

#1748 docs: fix a bug in code blocks on README
  README.md
Labels: size/XS

#1746 refactor: deprecate batch-size
  jina/parsers/client.py
Labels: area/core, size/XS

#1747 feat(parser): improve flexi parser to allow bullet list newline
  README.md
  jina/excepts.py
  jina/parsers/__init__.py
  jina/parsers/base.py
  jina/parsers/check.py
  jina/parsers/client.py
  jina/parsers/export_api.py
  jina/parsers/flow.py
  jina/parsers/helloworld.py
  jina/parsers/helper.py
  jina/parsers/hub/build.py
  jina/parsers/hub/list.py
  jina/parsers/hub/login.py
  jina/parsers/hub/new.py
  jina/parsers/hub/pushpull.py
  jina/parsers/logger.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pea.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/container.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/parsers/peapods/runtimes/remote.py
  jina/parsers/peapods/runtimes/zed.py
  jina/parsers/peapods/runtimes/zmq.py
  jina/parsers/ping.py
  jina/peapods/peas/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
Labels: area/core, area/helper, area/network, component/peapod, size/L

#1751 refactor(optimizer): optimizer parameters
  jina/optimizers/__init__.py
  tests/integration/optimizers/test_optimizer.py
Labels: area/core, area/testing, component/client, component/flow, component/jaml, component/type, size/S

#1753 fix(driver): fix stateless driver dump
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docs/chapters/envs.rst
  docs/chapters/logging/index.md
  jina/__init__.py
  jina/drivers/__init__.py
  jina/drivers/control.py
  jina/executors/__init__.py
  jina/logging/logger.py
  jina/peapods/runtimes/asyncio/grpc/async_call.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/zmq/zed.py
  jina/peapods/zmq/__init__.py
  tests/integration/incremental_indexing/test_incremental_indexing.py
  tests/unit/executors/test_dump_executor_with_drivers.py
  tests/unit/flow/test_flow.py
  tests/unit/test_loadbalance.py
Labels: area/cicd, area/core, area/docs, area/entrypoint, area/helper, area/housekeeping, area/network, area/testing, component/driver, component/executor, component/logging, component/peapod, executor/meta, size/M

#1755 fix(pods): remove random identity assignment
  jina/peapods/pods/helper.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1726 feat: optimizer yaml interface
  jina/clients/sugary_io.py
  jina/executors/decorators.py
  jina/flow/__init__.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/default/__init__.py
  jina/jaml/parsers/default/v1.py
  jina/optimizers/__init__.py
  jina/optimizers/discovery.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/parameter.yml
  tests/integration/optimizers/test_optimizer.py
  tests/unit/clients/python/docs.jsonlines
  tests/unit/clients/python/docs_groundtruth.jsonlines
  tests/unit/clients/python/test_io.py
  tests/unit/optimizers/parameters.yml
  tests/unit/optimizers/test_flow_runner.py
  tests/unit/optimizers/test_optimizers.py
Labels: area/core, area/testing, component/client, component/executor, component/flow, component/jaml, component/type, executor/meta, size/L

#1756 fix: workspace from dump may not match the one from yaml
  jina/jaml/parsers/executor/legacy.py
  tests/unit/test_workspace.py
  tests/unit/yaml/test-kvindexer-workspace.yml
Labels: area/core, area/testing, component/jaml, size/S

#1719 test: sharding non existent
  jina/drivers/__init__.py
  jina/drivers/convert.py
  jina/drivers/evaluate.py
  jina/drivers/predict.py
  jina/drivers/reduce.py
  jina/resources/executors._merge_root.yml
  tests/integration/sharding/test_search_non_existent.py
  tests/integration/sharding/yaml/index_kv_simple.yml
  tests/unit/yaml/test-executor-with-custom-driver.yml
Labels: area/core, area/testing, component/driver, component/resource, size/M

#1757 refactor: remove logserver
  docs/chapters/flow/index.md
  jina/resources/helloworld.flow.index.yml
  jina/resources/helloworld.flow.query.yml
  tests/unit/peapods/runtimes/remote/jinad/yamls/flow-index.yaml
  tests/unit/yaml/test_log_server.yml
Labels: area/core, area/docs, area/testing, component/resource, size/S

#1620 test: add remove tests for delete chunks
  tests/integration/crud/simple/chunks/__init__.py
  tests/integration/crud/simple/chunks/flow_kv.yml
  tests/integration/crud/simple/chunks/flow_vector.yml
  tests/integration/crud/simple/chunks/test_chunks.py
  tests/integration/crud/simple/chunks/yaml/index_kv.yml
  tests/integration/crud/simple/chunks/yaml/index_vector.yml
Labels: area/core, area/docs, area/entrypoint, area/helper, area/network, area/testing, component/peapod, size/M

#1752 test: use flow v1 in tests
  tests/distributed/test_index_query/flow.yml
  tests/distributed/test_index_query_with_shards/flow.yml
  tests/distributed/test_local_flow_local_remote_local/flow.yml
  tests/distributed/test_local_flow_remote_local_remote/flow.yml
  tests/distributed/test_simple_distributed/flow.yml
  tests/distributed/test_simple_distributed_with_shards/flow.yml
  tests/distributed/test_simple_hub_pods/flow.yml
  tests/distributed/test_simple_local_remote/flow.yml
  tests/unit/flow/yaml/flow-legacy-syntax.yml
  tests/unit/flow/yaml/test-flow-port.yml
  tests/unit/peapods/runtimes/container/flow.yml
  tests/unit/peapods/runtimes/remote/jinad/yamls/flow-index.yaml
  tests/unit/yaml/examples/faces/flow-index.yml
  tests/unit/yaml/examples/faces/flow-query.yml
  tests/unit/yaml/examples/faiss/flow-index.yml
  tests/unit/yaml/examples/faiss/flow-query.yml
  tests/unit/yaml/test-flow.yml
  tests/unit/yaml/test-if-flow.yml
  tests/unit/yaml/test_flow_visualization.yml
  tests/unit/yaml/test_log_server.yml
Labels: area/testing, size/M

#1761 fix(helper): improve deprecated decor
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/excepts.py
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/flow/base.py
  jina/helper.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, area/testing, component/client, component/flow, size/M

#1766 fix(parser): add compress args back to cli
  cli/autocomplete.py
  jina/drivers/__init__.py
  jina/enums.py
  jina/flow/base.py
  jina/jaml/helper.py
  jina/parsers/client.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/container.py
  jina/parsers/peapods/runtimes/remote.py
  jina/parsers/peapods/runtimes/zed.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/zmq/zed.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/resources/executors._forward.yml
  jina/types/message/__init__.py
  tests/integration/sharding/test_search_non_existent.py
  tests/unit/flow/test_flow.py
  tests/unit/flow/test_flow_before_after.py
  tests/unit/flow/test_flow_skip.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/test_driver_yaml.py
  tests/unit/test_gateway.py
  tests/unit/types/message/test_compression.py
  tests/unit/types/message/test_message.py
Labels: area/cli, area/core, area/helper, area/network, area/testing, component/driver, component/flow, component/jaml, component/peapod, component/proto, component/resource, component/type, size/M

#1732 fix(hub): fix label insertion into dockerfile
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build.py
Labels: area/core, area/testing, component/docker, size/S

#1771 test(daemon): add daemon test back
  .github/workflows/ci.yml
  daemon/__init__.py
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/cicd, area/daemon, area/housekeeping, area/testing, size/S

#1754 test: test crud example
  tests/integration/crud/advanced/__init__.py
  tests/integration/crud/advanced/flow-index.yml
  tests/integration/crud/advanced/flow-query.yml
  tests/integration/crud/advanced/test_crud_advanced_example.py
  tests/integration/crud/advanced/yaml/custom_executor.py
  tests/integration/crud/advanced/yaml/encoder.yml
  tests/integration/crud/advanced/yaml/index-chunk.yml
  tests/integration/crud/advanced/yaml/index-doc.yml
  tests/integration/crud/advanced/yaml/rank.yml
  tests/integration/crud/advanced/yaml/segmenter.yml
  tests/integration/crud/simple/__init__.py
  tests/integration/crud/simple/flow.yml
  tests/integration/crud/simple/flow_kv.yml
  tests/integration/crud/simple/flow_vector.yml
  tests/integration/crud/simple/test_crud.py
  tests/integration/crud/simple/yaml/index.yml
  tests/integration/crud/simple/yaml/index_kv.yml
  tests/integration/crud/simple/yaml/index_vector.yml
Labels: area/testing, size/M

#1767 fix: add sortql to merge-matches-topk
  jina/resources/executors._merge_matches_topk.yml
Labels: area/core, component/resource, size/XS

#1773 ci(cd): add daemon test in cd to correct codecov
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/unit/test_echostream.py
  tests/unit/test_is_read_message.py
Labels: area/cicd, area/housekeeping, area/testing, size/S

#1776 feat: code cleanup and docstrings added
  jina/flow/__init__.py
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  tests/integration/optimizers/test_optimizer.py
  tests/unit/optimizers/test_optimizers.py
Labels: area/core, area/testing, component/flow, size/M

#1775 fix: add field to resource executor
  jina/resources/executors._merge_matches_topk.yml
Labels: area/core, component/resource, size/XS

#1716 test: crud sharding
  tests/integration/sharding/__init__.py
  tests/integration/sharding/test_sharding.py
  tests/integration/sharding/yaml/index.yml
  tests/integration/sharding/yaml/index_kv.yml
  tests/integration/sharding/yaml/index_vector.yml
Labels: area/core, area/testing, component/resource, size/M

#1768 fix(daemon): export logs, delete workspaces, reenable distributed tests
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/logs.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/api/endpoints/workspace.py
  daemon/stores/base.py
  daemon/stores/flow.py
  daemon/stores/pea.py
  daemon/stores/workspace.py
  extra-requirements.txt
  jina/flow/base.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/peapods/runtimes/jinad/__init__.py
  jina/peapods/runtimes/jinad/client.py
  tests/conftest.py
  tests/distributed/helpers.py
  tests/distributed/test_index_query/flow.yml
  tests/distributed/test_index_query/test_integration.py
  tests/distributed/test_index_query_with_shards/flow.yml
  tests/distributed/test_index_query_with_shards/test_integration.py
  tests/distributed/test_simple_hub_pods/docker-compose.yml
  tests/distributed/test_simple_hub_pods/flow.yml
  tests/distributed/test_simple_hub_pods/hub-mwu/Dockerfile
  tests/distributed/test_simple_hub_pods/hub-mwu/README.md
  tests/distributed/test_simple_hub_pods/hub-mwu/__init__.py
  tests/distributed/test_simple_hub_pods/hub-mwu/manifest.yml
  tests/distributed/test_simple_hub_pods/hub-mwu/mwu_encoder.py
  tests/distributed/test_simple_hub_pods/hub-mwu/mwu_encoder.yml
  tests/distributed/test_simple_hub_pods/test_integration.py
  tests/distributed/test_simple_local_remote/flow.yml
  tests/jinad/unit/api/endpoints/test_upload_add.py
  tests/jinad/unit/stores/test_peapodstore.py
  tests/jinahub/flow.yml
  tests/unit/flow/test_flow.py
Labels: area/cicd, area/core, area/daemon, area/housekeeping, area/network, area/setup, area/testing, component/docker, component/flow, component/peapod, size/L

#1774 test: logging level
  tests/unit/logging/test_logging.py
Labels: area/testing, size/S

#1780 style(daemon): reformat the code for daemon
  daemon/api/endpoints/flow.py
  daemon/api/endpoints/logs.py
  daemon/api/endpoints/pea.py
  daemon/api/endpoints/pod.py
  daemon/api/endpoints/workspace.py
  daemon/stores/base.py
  daemon/stores/flow.py
  daemon/stores/pea.py
  daemon/stores/workspace.py
  jina/clients/__init__.py
  jina/clients/sugary_io.py
  jina/docker/checker.py
  jina/docker/helper.py
  jina/docker/hubapi/local.py
  jina/docker/hubapi/remote.py
  jina/docker/hubio.py
  jina/flow/base.py
  jina/helloworld/__init__.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/distributed.py
  jina/peapods/pods/helper.py
  jina/peapods/runtimes/jinad/client.py
  jina/types/document/__init__.py
  jina/types/document/multimodal.py
  jina/types/ndarray/sparse/tensorflow.py
  jina/types/querylang/__init__.py
  jina/types/score/__init__.py
  scripts/get-all-test-paths.sh
  tests/daemon/__init__.py
  tests/daemon/unit/__init__.py
  tests/daemon/unit/api/__init__.py
  tests/daemon/unit/api/endpoints/__init__.py
  tests/daemon/unit/api/endpoints/bad_flow.yml
  tests/daemon/unit/api/endpoints/good_flow.yml
  tests/daemon/unit/api/endpoints/good_flow_dep.yml
  tests/daemon/unit/api/endpoints/mwu_encoder.py
  tests/daemon/unit/api/endpoints/mwu_encoder.yml
  tests/daemon/unit/api/endpoints/test_common.py
  tests/daemon/unit/api/endpoints/test_daemon.py
  tests/daemon/unit/api/endpoints/test_upload_add.py
  tests/daemon/unit/models/__init__.py
  tests/daemon/unit/models/test_flow.py
  tests/daemon/unit/models/test_pea.py
  tests/daemon/unit/models/test_pod.py
  tests/daemon/unit/stores/__init__.py
  tests/daemon/unit/stores/flow.yml
  tests/daemon/unit/stores/test_basestore.py
  tests/daemon/unit/stores/test_flowstore.py
  tests/daemon/unit/stores/test_helper.py
  tests/daemon/unit/stores/test_peapodstore.py
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/core, area/daemon, area/helloworld, area/network, area/testing, component/client, component/docker, component/flow, component/peapod, component/type, size/M

#1782 test(daemon): add remote docker test
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
  tests/distributed/test_against_external_daemon/test_single_instance.py
Labels: area/cicd, area/housekeeping, area/testing, size/S

#1786 fix(helper): uptime in iso, get_workspace in str
  daemon/stores/helper.py
  jina/__init__.py
  tests/unit/logging/test_logging.py
Labels: area/core, area/daemon, area/entrypoint, area/helper, area/testing, size/XS

#1787 test(flow): add local-docker-local test
  tests/unit/peapods/runtimes/container/test_container_runtime.py
Labels: area/testing, size/S

#1759 refactor: avoid import drivers from types
  jina/clients/request.py
  jina/drivers/__init__.py
  jina/drivers/querylang/select.py
  jina/types/querylang/__init__.py
  jina/types/sets/querylang.py
  tests/integration/issues/github_1072/test_queryset.py
  tests/integration/issues/github_976/test_topk.py
  tests/unit/drivers/querylang/test_querylang_reader.py
  tests/unit/types/message/test_message.py
  tests/unit/types/querylang/test_querylang.py
  tests/unit/types/sets/test_querylangset.py
Labels: area/core, area/testing, component/client, component/driver, component/type, size/M

#1788 docs(readme): rm non-english language links
  README.md
Labels: size/S

#1779 fix(revert): revert fix label insertion into dockerfile (#1732)"
  jina/docker/hubio.py
  tests/unit/docker/test_hub_build.py
Labels: area/core, area/testing, component/docker, size/S

#1778 feat: synced arguments of index-lines and search-lines
  jina/flow/__init__.py
  jina/flow/asyncio.py
  jina/optimizers/__init__.py
  jina/optimizers/flow_runner.py
  jina/optimizers/parameters.py
  tests/integration/optimizers/test_optimizer.py
  tests/unit/optimizers/test_flow_runner.py
  tests/unit/optimizers/test_optimizers.py
  tests/unit/optimizers/test_parameters.py
Labels: area/core, area/testing, component/flow, size/M

#1790 style(parser): use single quote for better doc-rendering
  jina/parsers/__init__.py
  jina/parsers/hub/__init__.py
  jina/parsers/hub/build.py
  jina/parsers/hub/new.py
  jina/parsers/peapods/pod.py
  jina/parsers/peapods/runtimes/container.py
  jina/parsers/peapods/runtimes/zed.py
  jina/parsers/peapods/runtimes/zmq.py
Labels: area/core, size/S

#1793 fix(daemon): fix pydantic model on List[str]
  cli/export.py
  daemon/__init__.py
  daemon/api/endpoints/__init__.py
  daemon/models/custom.py
  jina/peapods/runtimes/jinad/client.py
Labels: area/cli, area/core, area/daemon, area/network, component/peapod, size/S

#1765 docs(101): added greek translation to 101 chapter
  docs/chapters/101/README.ar.md
  docs/chapters/101/README.de.md
  docs/chapters/101/README.fr.md
  docs/chapters/101/README.gr.md
  docs/chapters/101/README.ja.md
  docs/chapters/101/README.md
  docs/chapters/101/README.ru.md
  docs/chapters/101/README.zh.md
Labels: area/docs, size/M

#1799 fix(flow): terminate flow gracefully on error pod
  jina/flow/base.py
  tests/unit/flow/test_flow.py
Labels: area/core, area/testing, component/flow, size/S

#1764 feat: optimizer cli
  cli/api.py
  jina/jaml/parsers/default/v1.py
  jina/optimizers/__init__.py
  jina/optimizers/discovery.py
  jina/parsers/__init__.py
  jina/parsers/optimizer.py
  tests/integration/optimizers/data.jsonlines
  tests/integration/optimizers/optimizer_conf.yml
  tests/integration/optimizers/test_discovery.py
  tests/integration/optimizers/test_optimizer.py
Labels: area/cli, area/core, area/testing, component/jaml, size/M

#1802 feat: add Python 3.9 support
  .github/badges/python-badge.svg
  .github/workflows/cd.yml
  Dockerfiles/debianx.Dockerfile
  README.md
  RELEASE.md
  docs/chapters/install/os/on-x.md
  jina/__init__.py
  jina/types/sets/document.py
  jina/types/sets/querylang.py
  setup.py
Labels: area/cicd, area/core, area/docker, area/docs, area/entrypoint, area/helper, area/housekeeping, component/type, size/S

#1789 docs: added docstring for paramters
  jina/optimizers/__init__.py
  jina/optimizers/parameters.py
  tests/unit/optimizers/parameters.yml
  tests/unit/optimizers/test_optimizers.py
  tests/unit/optimizers/test_parameters.py
Labels: area/core, area/testing, size/S

#1804 fix: add warning
  jina/parsers/helper.py
  jina/peapods/pods/helper.py
  tests/distributed/test_index_query_with_shards/test_integration.py
Labels: area/core, area/network, area/testing, component/peapod, size/S

#1800 test: optimizer multiflow
  jina/optimizers/flow_runner.py
  tests/integration/docidcache/test_crud_cache.py
  tests/integration/optimizers/optimizer_conf.yml
  tests/integration/optimizers/test_discovery.py
  tests/integration/optimizers/test_optimizer.py
Labels: area/core, area/testing, size/M

#1810 feat: crud asyncio
  jina/clients/asyncio.py
  jina/flow/asyncio.py
  tests/unit/flow/test_asyncflow.py
Labels: area/core, area/testing, component/client, component/flow, size/M

#1808 feat(client): input_fn can now be async generator (#1543)
  .github/CODEOWNERS
  README.md
  extra-requirements.txt
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/request.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/request/helper.py
  jina/clients/websocket.py
  jina/peapods/runtimes/asyncio/rest/app.py
  tests/unit/clients/python/test_request.py
  tests/unit/flow/test_asyncflow.py
  tests/unit/types/message/test_compression.py
  tests/unit/types/message/test_message.py
Labels: area/core, area/housekeeping, area/network, area/setup, area/testing, component/client, component/peapod, size/M

#1816 feat(async): AsyncClient & AsyncFlow's return is async generator
  README.md
  cli/api.py
  daemon/api/endpoints/__init__.py
  jina/clients/__init__.py
  jina/clients/asyncio.py
  jina/clients/base.py
  jina/clients/websocket.py
  jina/flow/asyncio.py
  jina/peapods/runtimes/asyncio/rest/app.py
  jina/peapods/runtimes/asyncio/rest/models.py
  tests/unit/clients/python/test_client.py
  tests/unit/flow/test_asyncflow.py
Labels: area/cli, area/core, area/daemon, area/network, area/testing, component/client, component/flow, component/peapod, size/M

#1817 feat: check yaml definition matches instanciated class in LegacyParser
  jina/jaml/parsers/executor/legacy.py
  tests/unit/jaml/__init__.py
  tests/unit/jaml/parsers/__init__.py
  tests/unit/jaml/parsers/executors/__init__.py
  tests/unit/jaml/parsers/executors/test_legacy.py
Labels: area/core, area/testing, component/jaml, size/S

#1819 docs: add repo dispatch event when release
  .github/workflows/tag.yml
Labels: area/cicd, area/housekeeping, size/XS

#1461 docs: crud
  docs/chapters/crud/index.md
  docs/index.rst
Labels: area/docs, size/S

#1762 fix(importer): fix jina check
  jina/checker.py
  jina/importer.py
  tests/unit/test_importer.py
Labels: area/core, area/helper, area/testing, component/type, size/M
