Repository jina-ai/serve, pull requests merged in 2021-12, with the labels that each got.

#4012 docs(types): add parallel map_batch to documentarray-like objects
  docs/fundamentals/document/documentarray-api.md
  jina/types/arrays/document.py
  jina/types/arrays/mixins/io/binary.py
  jina/types/arrays/mixins/magic.py
  jina/types/arrays/mixins/parallel.py
  tests/unit/types/arrays/mixins/test_parallel.py
  tests/unit/types/test_pickle.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#4003 docs: indexers benchmark
  docs/_static/indexers_benchmark_plots/gist-1m.html
  docs/_static/indexers_benchmark_plots/gist-200000.html
  docs/_static/indexers_benchmark_plots/gist-500000.html
  docs/_static/indexers_benchmark_plots/sift-1m.html
  docs/_static/indexers_benchmark_plots/sift-200000.html
  docs/_static/indexers_benchmark_plots/sift-500000.html
  docs/_static/indexers_benchmark_plots/sift50m-10.html
  docs/_static/indexers_benchmark_plots/sift50m-20.html
  docs/advanced/experimental/bench/gist.md
  docs/advanced/experimental/bench/sift.md
  docs/advanced/experimental/bench/sift1bil.md
  docs/advanced/experimental/indexers-benchmark.md
  docs/advanced/experimental/indexers.md
Labels: size/S, size/XL, area/docs

#4011 feat: star routing hanging pods
  jina/flow/base.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/request_handling.py
  tests/integration/inspect_pods_flow/test_inspect_pods_flow.py
  tests/unit/flow-orchestrate/test_flow_complex_topology.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, component/flow

#4016 feat(types): use embedding projector in plot_embeddings
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/document/embedding-projector.gif
  docs/fundamentals/document/sprite-image.png
  docs/fundamentals/flow/send-recv.md
  jina/resources/embedding-projector/index.html
  jina/types/arrays/mixins/io/csv.py
  jina/types/arrays/mixins/plot.py
  tests/unit/types/arrays/mixins/test_plot.py
Labels: area/core, area/testing, size/XL, area/docs, component/resource, component/type

#4017 feat(types): add apply and apply_batch to parallel mixin
  README.md
  docs/fundamentals/document/documentarray-api.md
  jina/types/arrays/mixins/parallel.py
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#4018 feat(types): make apply and apply_batch self-returning
  jina/types/arrays/mixins/embed.py
  jina/types/arrays/mixins/parallel.py
  jina/types/document/mixins/sugar.py
Labels: area/core, size/S, component/type

#4020 test: deduplicate test name
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: area/testing, size/XS

#4022 feat(types): support lambda function in parallel mixin
  docs/fundamentals/document/documentarray-api.md
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/types/arrays/mixins/match.py
  jina/types/arrays/mixins/parallel.py
  jina/types/document/mixins/sugar.py
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/setup, component/type

#4026 docs: add breakpoint hint to debug flows
  docs/fundamentals/flow/remarks.md
Labels: size/S, area/docs

#4025 fix(types): fix plot sprite
  jina/types/arrays/mixins/plot.py
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: area/core, area/testing, size/XS, component/type

#4029 fix(types): add get_attr back to version mixin
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/memmap/bpm.py
  jina/types/arrays/mixins/match.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/sugar.py
  jina/types/document/mixins/version.py
Labels: area/core, size/S, component/type

#4035 fix: ignore score
  jina/types/arrays/mixins/plot.py
Labels: area/core, size/XS, component/type

#4036 test: skip test_parallel on Github
  tests/unit/types/arrays/mixins/test_getset.py
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: size/S, area/testing

#4037 docs: reference add options in exec page
  CONTRIBUTING.md
  docs/fundamentals/executor/executor-built-in-features.md
Labels: size/S, area/docs, size/XS

#4040 docs: update hub post
  .github/hub-website-detail-arguments.png
  .github/hub-website-detail-tag.png
  .github/hub-website-detail.png
  .github/hub-website-list.png
  .github/hub-website-list1.png
  .github/hub-website-search-1.png
  .github/hub-website-search-2.png
  .github/hub-website-usage.png
  docs/advanced/hub/hub-portal.md
Labels: area/housekeeping, size/S, area/docs

#4039 feat(types): add dict json printer parser to ndarray proto
  docs/advanced/hub/use-hub-executor.md
  docs/fundamentals/document/document-api.md
  docs/fundamentals/document/documentarray-api.md
  jina/clients/base/helper.py
  jina/flow/base.py
  jina/helper.py
  jina/peapods/runtimes/gateway/http/models.py
  jina/peapods/runtimes/gateway/websocket/app.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/mixins/io/csv.py
  jina/types/arrays/mixins/io/json.py
  jina/types/arrays/mixins/magic.py
  jina/types/document/__init__.py
  jina/types/document/mixins/attribute.py
  jina/types/document/mixins/audio.py
  jina/types/document/mixins/buffer.py
  jina/types/document/mixins/content.py
  jina/types/document/mixins/helper.py
  jina/types/document/mixins/image.py
  jina/types/document/mixins/mesh.py
  jina/types/document/mixins/text.py
  jina/types/document/mixins/video.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  jina/types/struct.py
  tests/unit/peapods/runtimes/gateway/http/test_models.py
  tests/unit/types/ndarray/test_ndarray.py
  tests/unit/types/ndarray/test_ndarray_dict_json.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/network, component/peapod, area/docs, component/flow, component/client, component/type

#4043 feat(types): add pandas dataframe IO to documentarray
  docs/fundamentals/document/documentarray-api.md
  jina/types/arrays/memmap/__init__.py
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/content.py
  jina/types/arrays/mixins/io/binary.py
  jina/types/arrays/mixins/io/dataframe.py
  jina/types/document/__init__.py
  jina/types/mixin.py
  jina/types/ndarray/__init__.py
  tests/unit/types/arrays/mixins/test_io.py
Labels: size/M, area/core, area/testing, area/docs, component/type

#4045 docs: polish readme
  README.md
Labels: size/S

#4046 feat(hubio): allow uses_ override args in executors from_hub
  jina/executors/__init__.py
  jina/jaml/__init__.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  tests/unit/executors/test_executor.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
Labels: area/core, size/S, area/testing, area/network, component/peapod, component/executor, executor/meta, component/jaml

#4006 feat: add reducer module
  jina/types/arrays/mixins/__init__.py
  jina/types/arrays/mixins/reduce.py
  tests/unit/types/arrays/mixins/test-net.onnx
  tests/unit/types/arrays/mixins/test_reduce.py
Labels: size/M, area/core, size/S, area/testing, component/type

#4048 fix(docarray): waive 2GB size restriction on binarizing large docarray
  jina/types/arrays/mixins/io/binary.py
  jina/types/arrays/mixins/magic.py
Labels: area/core, size/S, component/type

#4042 feat(daemon): remote jinad pod support
  tests/distributed/test_remote_pods/__init__.py
  tests/distributed/test_remote_pods/test_remote_pods.py
  tests/distributed/test_remote_pods/test_remote_rolling_update_pods.py
  tests/distributed/test_remote_pods/test_remote_scale_pods.py
  tests/distributed/test_scale_remote/test_remote_pods.py
Labels: size/M, size/S, area/testing

#4050 fix(documentarray): use production api
  jina/types/arrays/mixins/io/pushpull.py
Labels: area/core, size/XS, component/type

#4052 test: modify unit test case for apply
  tests/unit/types/arrays/mixins/test_parallel.py
Labels: size/S, area/testing

#4063 fix: mispell import
  docs/fundamentals/flow/remarks.md
Labels: area/docs, size/XS

#4064 docs: updates docqa tutorial after community feedback
  docs/tutorials/question-answering-bot.md
Labels: size/M, area/docs

#4065 fix(hub): disk_cache_offline to return chached mark
  jina/hubble/helper.py
  jina/hubble/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing

#4030 feat: integrate reduce runtimes
  cli/autocomplete.py
  docs/fundamentals/flow/topology.md
  jina/__init__.py
  jina/executors/__init__.py
  jina/flow/base.py
  jina/parsers/peapods/base.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/compound.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/reduce/__init__.py
  tests/integration/reduce/test_reduce.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/executors/test_executor.py
  tests/unit/flow-orchestrate/test_flow_dynamic_routing.py
Labels: size/M, area/core, area/helper, area/testing, area/network, component/peapod, component/executor, executor/meta, area/docs, component/flow, area/entrypoint, area/cli

#4066 docs(CONTRIBUTING): add instructions to build docs locally
  CONTRIBUTING.md
Labels: size/S

#4076 docs: change typo in k8s explain
  README.md
Labels: size/XS

#4072 refactor(doc-bot): migrate to <jina-qa-bot>
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
  docs/_templates/page.html
  docs/conf.py
Labels: size/M, area/docs

#4074 feat(proto): skip request serialization
  jina/__init__.py
  jina/peapods/networking.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/request_handling.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/serializer.py
  jina/types/mixin.py
  jina/types/request/__init__.py
  jina/types/request/data.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/integration/peas/test_pea.py
  tests/integration/pods/test_pod.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
  tests/unit/peapods/runtimes/worker/test_grpc_data_runtime.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
  tests/unit/peapods/test_networking.py
  tests/unit/types/request/test_request.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/network, component/peapod, component/proto, area/entrypoint, component/type

#4081 fix(qa-bot): fix link reference and width style
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/XS

#4070 feat: add reduce to star routing
  docs/fundamentals/flow/remarks.md
  docs/fundamentals/flow/topology.md
  jina/helper.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/head/__init__.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/types/request/data.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/reduce/__init__.py
  tests/integration/reduce/test_reduce.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/v2_api/test_func_routing.py
  tests/k8s/test_k8s.py
  tests/unit/flow-orchestrate/test_flow_routing.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/network, component/peapod, area/docs, component/type

#4086 fix(docarray): fix traverse warning
  docarray/array/mixins/traverse.py
  scripts/docarray-release/setup.py
Labels: size/S, area/docarray

#4088 fix: use custom protoc doc generator image
  .github/workflows/label-pr.yml
  docs/fundamentals/flow/remarks.md
  docs/makedoc.sh
Labels: area/housekeeping, size/S, area/cicd, area/docs, size/XS

#4098 fix: force pea close on windows
  jina/peapods/peas/__init__.py
Labels: area/core, size/S, area/network, component/peapod

#4094 refactor(helloworld): suppress warnings of traversal flat
  jina/helloworld/multimodal/my_executors.py
Labels: area/core, size/XS

#4099 fix: dont reduce if uses exist
  jina/peapods/peas/factory.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/head/__init__.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/reduce/test_reduce.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/flow-orchestrate/test_flow_routing.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#4102 feat(executor): enable async executors
  docs/fundamentals/executor/executor-api.md
  jina/executors/__init__.py
  jina/executors/decorators.py
  jina/helper.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/peapods/runtimes/worker/__init__.py
  jina/types/mixin.py
  tests/unit/executors/test_decorators.py
  tests/unit/executors/test_executor.py
  tests/unit/peapods/runtimes/request_handlers/test_data_request_handlers.py
  tests/unit/peapods/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/helper, size/S, area/testing, area/network, component/peapod, component/executor, executor/meta, area/docs, component/type

#4107 fix: ignore non jina resources
  jina/peapods/networking.py
  jina/peapods/pods/k8slib/kubernetes_deployment.py
Labels: area/core, size/S, area/network, component/peapod

#4096 feat(daemon): daemon flow on star routing
  .github/workflows/ci.yml
  daemon/api/dependencies.py
  daemon/api/endpoints/partial/flow.py
  daemon/clients/workspaces.py
  daemon/stores/partial.py
  scripts/get-all-test-paths.sh
  scripts/test.sh
  tests/daemon/unit/stores/test_partialstore.py
  tests/daemon/unit/stores/test_peapodstore.py
  tests/distributed/test_env_vars/test_remote_flow_executor.py
  tests/distributed/test_env_vars/test_remote_flow_files.py
  tests/distributed/test_remote_flows/__init__.py
  tests/distributed/test_remote_flows/executors/__init__.py
  tests/distributed/test_remote_flows/executors/container_executor/Dockerfile
  tests/distributed/test_remote_flows/executors/container_executor/__init__.py
  tests/distributed/test_remote_flows/executors/container_executor/config.yml
  tests/distributed/test_remote_flows/executors/container_executor/executor.py
  tests/distributed/test_remote_flows/executors/envvars_ws1/__init__.py
  tests/distributed/test_remote_flows/executors/envvars_ws1/executor.py
  tests/distributed/test_remote_flows/executors/envvars_ws1/executor.yml
  tests/distributed/test_remote_flows/executors/envvars_ws1/flow.yml
  tests/distributed/test_remote_flows/executors/envvars_ws2/__init__.py
  tests/distributed/test_remote_flows/executors/envvars_ws2/config.yml
  tests/distributed/test_remote_flows/executors/envvars_ws2/exec.py
  tests/distributed/test_remote_flows/executors/envvars_ws2/flow_with_env.yml
  tests/distributed/test_remote_flows/executors/scalable_executor/Dockerfile
  tests/distributed/test_remote_flows/executors/scalable_executor/__init__.py
  tests/distributed/test_remote_flows/executors/scalable_executor/config.yml
  tests/distributed/test_remote_flows/executors/scalable_executor/executors.py
  tests/distributed/test_remote_flows/executors/simple_executor/__init__.py
  tests/distributed/test_remote_flows/executors/simple_executor/config.yml
  tests/distributed/test_remote_flows/executors/simple_executor/executors.py
  tests/distributed/test_remote_flows/flow-container.yml
  tests/distributed/test_remote_flows/flow-scalable.yml
  tests/distributed/test_remote_flows/flow1.yml
  tests/distributed/test_remote_flows/flow2.yml
  tests/distributed/test_remote_flows/test_remote_flow.py
  tests/distributed/test_remote_flows/test_remote_flow_env.py
  tests/distributed/test_remote_flows/test_remote_flow_scale.py
  tests/distributed/test_remote_pods/test_remote_rolling_update_pods.py
  tests/distributed/test_remote_pods/test_remote_scale_pods.py
  tests/distributed/test_rolling_update_container_runtime/docker-compose.yml
  tests/distributed/test_rolling_update_container_runtime/flow_dbms.yml
  tests/distributed/test_rolling_update_container_runtime/flow_query.yml
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
  tests/distributed/test_scale_remote/flow_container.yml
  tests/distributed/test_scale_remote/flow_zed.yml
  tests/distributed/test_scale_remote/test_remote_flows.py
  tests/distributed/test_scale_remote_executors/test_remote_executors.py
Labels: area/housekeeping, size/L, area/cicd, area/testing, area/daemon

#4100 fix: star routing fixes
  docs/fundamentals/document/document-api.md
  docs/fundamentals/flow/remarks.md
  docs/fundamentals/flow/send-recv.md
  docs/fundamentals/flow/topology.md
Labels: size/M, size/S, area/docs

#4111 feat: polling per endpoint
  cli/autocomplete.py
  docs/fundamentals/flow/topology.md
  jina/flow/base.py
  jina/parsers/peapods/runtimes/head.py
  jina/peapods/networking.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/request_handling.py
  jina/peapods/runtimes/head/__init__.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/issues/hanging_termination/test_hanging_termination.py
  tests/k8s/test-executor/debug_executor.py
  tests/k8s/test_k8s.py
  tests/k8s/test_pods.py
  tests/unit/flow-construct/executor-invalid-import/config.yml
  tests/unit/flow-construct/executor-invalid-import/executor.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-orchestrate/test_flow_routing.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/peapods/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
  tests/unit/peapods/test_networking.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, area/docs, component/flow, area/cli

#4092 feat(grpc): support connect grpc server via ssl tunnel
  jina/clients/base/grpc.py
  jina/peapods/networking.py
  tests/unit/peapods/test-ssl.key
  tests/unit/peapods/test-ssl.pem
  tests/unit/peapods/test_networking.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, component/client
