Repository jina-ai/serve, pull requests merged in 2022-03, with the labels that each got.

#4419 fix(hubble): show helpful error message
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing

#4423 chore: update codeowners
  .github/CODEOWNERS
Labels: area/housekeeping, size/XS

#4425 docs: how to debug executor
  docs/how-to/debug-executor.md
  docs/how-to/executor.md
Labels: size/S, area/docs

#4416 chore: clean up extra-requirements
  extra-requirements.txt
  jina/__init__.py
  jina/resources/extra-requirements.txt
Labels: area/core, area/helper, size/S, component/resource, area/setup, area/entrypoint

#4410 fix: fix client error 4391
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/flow/client.md
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/helper.py
  jina/clients/mixin.py
  jina/excepts.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_skip.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_docarray_return.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: size/M, area/core, area/helper, size/S, area/testing, area/docs, component/client

#4424 refactor: add disable_reduce args
  cli/autocomplete.py
  docs/fundamentals/flow/create-flow.md
  jina/helloworld/multimodal/flow-search.yml
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/head.py
  jina/serve/networking.py
  jina/serve/runtimes/head/__init__.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_routing.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
Labels: size/M, area/core, size/S, area/testing, area/docs, area/cli

#4398 docs: flow api improvements
  docs/fundamentals/flow/access-flow-api.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
Labels: size/M, area/docs

#4420 docs: Document Executor from hub
  docs/fundamentals/executor/executor-api.md
  jina/serve/executors/__init__.py
Labels: area/core, size/S, area/docs

#4384 docs: adjust port args
  README.md
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
  docs/how-to/docker-compose.md
  docs/how-to/external-executor.md
  docs/how-to/kubernetes.md
Labels: size/S, area/docs, post_3.1

#4403 feat(gateway): add graphql support
  cli/autocomplete.py
  docs/fundamentals/flow/access-flow-api.md
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/flow-api.md
  extra-requirements.txt
  jina/clients/http.py
  jina/clients/mixin.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/flow.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/models.py
  tests/integration/graphql/__init__.py
  tests/integration/graphql/test_graphql.py
Labels: size/M, size/L, area/core, area/testing, area/docs, component/resource, area/setup, component/client, area/cli

#4435 chore: bump version to 3.1
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#4437 feat: add isort and flake8
  .pre-commit-config.yaml
Labels: size/S

#4442 fix: disable graphql featues if docarray version does not support it
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/gateway/http/app.py
Labels: area/core, area/helper, size/S

#4444 refactor: remove disable remote
  cli/autocomplete.py
  jina/orchestrate/pods/factory.py
  jina/orchestrate/pods/jinad.py
  jina/parsers/orchestrate/runtimes/distributed.py
Labels: area/core, size/S, area/cli

#4449 test: fix tests failing after new docarray patch
  jina/helloworld/multimodal/my_executors.py
  tests/unit/clients/python/test_request.py
  tests/unit/helloworld/multimodal/test_executors.py
  tests/unit/types/request/test_request.py
Labels: size/M, area/core, area/testing

#4451 test: fix tests failures caused by docarray
  jina/helloworld/multimodal/my_executors.py
  tests/unit/clients/python/test_request.py
  tests/unit/helloworld/multimodal/test_executors.py
Labels: area/core, size/S, area/testing

#4446 refactor: remove compression related args
  cli/autocomplete.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/runtimes/remote.py
Labels: area/core, size/S, area/cli

#4447 refactor: remove replica-id and expose public args
  cli/autocomplete.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
Labels: area/core, size/S, area/cli

#4445 feat(hubble): fetch image only when required
  jina/hubble/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, area/testing

#4453 test: rename tests for new namings
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/distributed/test_remote_deployments/__init__.py
  tests/distributed/test_remote_deployments/test_remote_deployments.py
  tests/distributed/test_remote_deployments/test_remote_rolling_update_deployments.py
  tests/distributed/test_remote_deployments/test_remote_scale_deployments.py
  tests/distributed/test_remote_peas/test_remote_peas.py
  tests/distributed/test_remote_pods/executors/executor.py
  tests/distributed/test_remote_pods/test_remote_pods.py
Labels: area/housekeeping, area/cicd, area/testing, size/XL

#4460 docs(clients): update docstrings
  jina/clients/grpc.py
  jina/clients/mixin.py
Labels: area/core, size/S, component/client

#4461 fix: graphql dependencies
  cli/autocomplete.py
  docs/fundamentals/flow/access-flow-api.md
  docs/fundamentals/flow/flow-api.md
  extra-requirements.txt
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/gateway/http/app.py
  tests/integration/graphql/test_graphql.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/setup, area/cli

#4464 fix(hubble): use commit id instead of serial number
  jina/hubble/__init__.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubapi.py
Labels: area/core, size/S, area/testing

#4466 refactor(hubble): optimize words
  jina/hubble/hubio.py
Labels: area/core, size/XS

#4465 refactor: delete daemon args from pods
  cli/autocomplete.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/container.py
  jina/orchestrate/pods/helper.py
  jina/parsers/orchestrate/pod.py
Labels: area/core, size/S, area/cli

#4427 feat: use rich to manage ui
  cli/__init__.py
  cli/lookup.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/helper.py
  jina/enums.py
  jina/helloworld/chatbot/app.py
  jina/helloworld/fashion/helper.py
  jina/helloworld/multimodal/app.py
  jina/helper.py
  jina/hubble/hubio.py
  jina/logging/logger.py
  jina/logging/profile.py
  jina/orchestrate/flow/base.py
  jina/resources/logging.default.yml
  tests/unit/logging/test_logging.py
  tests/unit/logging/test_logging_profile.py
  tests/unit/orchestrate/pods/container/head-runtime/Dockerfile
  tests/unit/orchestrate/pods/container/head-runtime/__init__.py
  tests/unit/orchestrate/pods/container/head-runtime/runtime.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
  tests/unit/test_helper.py
  tests/unit/test_progress_bar.py
Labels: size/M, size/L, area/core, area/helper, area/testing, component/logging, component/resource, component/client, area/cli

#4469 chore: update requirement of pillow for latency tracking
  scripts/latency-tracking/requirements.txt
Labels: size/XS

#4471 fix: properly disable graphql endpoint by default
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#4475 feat(executor): add serve function
  docs/fundamentals/executor/executor-api.md
  jina/serve/executors/__init__.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, area/core, size/S, area/testing, area/docs

#4485 chore: add learning bootcamp call to action
  README.md
Labels: size/XS

#4472 feat: input filters for executors
  cli/autocomplete.py
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/flow/create-flow.md
  docs/how-to/executor.md
  docs/how-to/flow-switch.md
  docs/how-to/simple-parallel-flow.svg
  extra-requirements.txt
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/types/request/data.py
  scripts/latency-tracking/requirements.txt
  tests/integration/conditions_feature/__init__.py
  tests/integration/conditions_feature/flow.yml
  tests/integration/conditions_feature/test_condition_behavior.py
  tests/unit/serve/runtimes/gateway/graph/test_topology_graph.py
Labels: size/L, area/core, area/testing, area/docs, component/resource, area/setup, component/type, area/cli

#4491 fix: fix asyncclient return
  jina/clients/mixin.py
  tests/unit/orchestrate/flow/flow-async/test_asyncflow.py
Labels: area/core, size/S, area/testing, component/client

#4494 refactor: rename switch feature
  cli/autocomplete.py
  docs/fundamentals/flow/create-flow.md
  docs/how-to/flow-switch.md
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/deployment.py
  tests/integration/conditions_feature/flow.yml
  tests/integration/conditions_feature/test_condition_behavior.py
Labels: area/core, size/S, area/testing, area/docs, area/cli

#4496 refactor: return_responses to post
  docs/fundamentals/flow/client.md
  jina/clients/mixin.py
Labels: area/core, size/S, area/docs, component/client

#4501 feat(websocket): json/bytes support
  docs/fundamentals/flow/access-flow-api.md
  jina/clients/base/helper.py
  jina/enums.py
  jina/serve/runtimes/gateway/websocket/app.py
  tests/integration/websocket_gateway/__init__.py
  tests/integration/websocket_gateway/test_subprotocols.py
Labels: size/M, area/core, area/helper, area/testing, area/docs, component/client

#4499 feat(grpc): add compression to grpc network interface
  cli/autocomplete.py
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/create-flow.md
  jina/clients/base/grpc.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/head.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/head/__init__.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/pods/container/test_pod.py
  tests/integration/pods/test_pod.py
  tests/integration/test_grpc_compression/__init__.py
  tests/integration/test_grpc_compression/test_grpc_compression.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/clients/python/test_client.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/client, area/cli

#4504 fix: move import in websocket app
  jina/serve/runtimes/gateway/websocket/app.py
Labels: area/core, size/XS

#4505 chore: small refactor
  jina/serve/runtimes/gateway/websocket/app.py
Labels: area/core, size/XS

#4506 docs: explain host parameter for client and tweak client docs page
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/flow/client.md
Labels: size/S, area/docs

#4433 feat: Linkerd as default service mesh
  .github/workflows/ci.yml
  cli/autocomplete.py
  docs/how-to/kubernetes.md
  extra-requirements.txt
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/base.py
  jina/resources/extra-requirements.txt
  jina/resources/k8s/template/connection-pool-role-binding.yml
  jina/resources/k8s/template/connection-pool-role.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/resources/k8s/template/deployment.yml
  jina/resources/k8s/template/namespace.yml
  jina/serve/networking.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/head/__init__.py
  scripts/get-openapi-schemas.py
  tests/k8s/conftest.py
  tests/k8s/custom-resource/deployment.yml
  tests/k8s/custom-resource/service.yml
  tests/k8s/test_connection_pool.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deploymens/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deploymens/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: area/housekeeping, size/L, area/core, area/cicd, area/testing, size/XL, area/docs, component/resource, area/setup, area/cli

#4509 docs: expose and explain gateway service
  docs/fundamentals/architecture-overview.md
  docs/fundamentals/flow/index.md
Labels: size/S, area/docs

#4508 feat: custom gateway image
  docs/how-to/docker-compose.md
  docs/how-to/kubernetes.md
  jina/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  tests/docker_compose/conftest.py
  tests/k8s/conftest.py
  tests/unit/orchestrate/deploymens/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deploymens/config/test_k8s_deployment_config.py
Labels: size/M, area/core, area/helper, size/S, area/testing, area/docs, area/entrypoint

#4513 docs: add file imports to migration guide
  docs/get-started/migrate.md
Labels: size/S, area/docs

#4516 test: make sure to await coroutine in test
  tests/integration/pods/test_pod.py
Labels: area/testing, size/XS

#4518 refactor(client): simplify logics in client post
  jina/clients/mixin.py
  jina/orchestrate/flow/base.py
Labels: area/core, size/S, component/client

#4520 Fix better enum formatting
  jina/enums.py
Labels: area/core, area/helper, size/S

#4510 feat: improve client interface
  cli/autocomplete.py
  docs/fundamentals/flow/client.md
  jina/clients/__init__.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/orchestrate/flow/base.py
  jina/parsers/helper.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/networking.py
  tests/unit/clients/test_interface.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
  tests/unit/serve/test_networking.py
Labels: size/M, area/core, area/testing, area/docs, component/client, area/cli

#4511 refactor: clean up workspace parameter, add default workspace
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/flow/create-flow.md
  docs/how-to/scale-out.md
  jina/resources/completions/jina.bash
  jina/resources/completions/jina.fish
  jina/resources/completions/jina.zsh
  jina/serve/executors/__init__.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, area/core, size/S, area/testing, area/docs, size/XS, component/resource

#4519 docs: add docs for configuring flow
  docs/fundamentals/flow/flow-yaml.md
  docs/fundamentals/flow/index.md
Labels: size/M, area/docs

#4528 feat(client): add total_docs to client post kwargs
  cli/__init__.py
  jina/clients/base/__init__.py
Labels: area/core, size/S, component/client, area/cli

#4522 feat: add grpc tls support on gateway
  cli/autocomplete.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/websocket/__init__.py
  tests/unit/parsers/peapods/runtimes/test_remote_parser.py
  tests/unit/serve/runtimes/gateway/grpc/cert/server.crt
  tests/unit/serve/runtimes/gateway/grpc/cert/server.key
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_tls.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: size/M, area/core, area/testing, area/cli

#4530 chore: remove legacy codebooks and figures
  .github/2.0/1.xvs2.0BaseExecutor.svg
  .github/2.0/1vs2.md
  .github/2.0/chain-flow.svg
  .github/2.0/client-server.svg
  .github/2.0/cookbooks/CleanCode.md
  .github/2.0/cookbooks/Daemon.md
  .github/2.0/cookbooks/Document.md
  .github/2.0/cookbooks/Executor.md
  .github/2.0/cookbooks/Flow.md
  .github/2.0/cookbooks/Hub.md
  .github/2.0/cookbooks/Math.md
  .github/2.0/cookbooks/Serving.md
  .github/2.0/customized-foo-endpoint.png
  .github/2.0/doc.content.svg
  .github/2.0/empty-flow.svg
  .github/2.0/expose-endpoints.svg
  .github/2.0/hello-chatbot-1.png
  .github/2.0/hello-chatbot-2.png
  .github/2.0/hello-fashion-1.png
  .github/2.0/hello-fashion-2.png
  .github/2.0/hello-multimodal-1.png
  .github/2.0/hello-multimodal-2.png
  .github/2.0/hide-crud-debug-endpoints.png
  .github/2.0/implict-vs-explicit-service.svg
  .github/2.0/jina-hub-new.gif
  .github/2.0/migration-fashion.png
  .github/2.0/neural-search.md
  .github/2.0/parallel-explain.svg
  .github/2.0/replica_shards_example.svg
  .github/2.0/rich-openapi.png
  .github/2.0/simple-arch.svg
  .github/2.0/swagger-extend.png
  .github/2.0/swagger-ui.png
  .github/2.0/workspace-inherit.svg
Labels: area/housekeeping, size/L

#4538 fix: move imports to local
  cli/__init__.py
Labels: size/XS, area/cli

#4537 fix: deprecation of https
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/deprecated.py
  jina/parsers/helper.py
  jina/parsers/orchestrate/runtimes/remote.py
Labels: area/core, size/S, component/client, area/cli

#4531 docs: fix formatting
  docs/fundamentals/flow/flow-yaml.md
Labels: area/docs, size/XS

#4543 docs: fix create app example
  docs/get-started/create-app.md
Labels: area/docs, size/XS

#4546 Revert "chore: remove legacy codebooks and figures"
  .github/2.0/expose-endpoints.svg
  .github/2.0/hello-chatbot-1.png
  .github/2.0/hello-chatbot-2.png
  .github/2.0/hello-fashion-1.png
  .github/2.0/hello-fashion-2.png
  .github/2.0/hello-multimodal-1.png
  .github/2.0/hello-multimodal-2.png
  .github/2.0/swagger-ui.png
Labels: area/housekeeping, size/L, size/XS

#4541 fix: deployment protocol
  jina/orchestrate/deployments/__init__.py
  jina/serve/networking.py
  tests/integration/issues/github_4488/__init__.py
  tests/integration/issues/github_4488/test_deployment_protocol.py
Labels: area/core, size/S, area/testing

#4549 fix: client args are now parse in the client function
  jina/clients/__init__.py
  jina/clients/base/__init__.py
  jina/helper.py
  tests/integration/gateway_clients/test_host_scheme.py
Labels: size/M, area/core, area/helper, area/testing, component/client

#4552 fix: install linkerd in cd pipeline
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#4500 docs: explain https support
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/flow-api.md
Labels: size/M, size/S, area/docs

#4557 fix: pin black version
  .pre-commit-config.yaml
  extra-requirements.txt
  jina/helloworld/chatbot/my_executors.py
  jina/orchestrate/deployments/__init__.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/types/request/data.py
  scripts/black.sh
Labels: size/L, area/core, size/S, size/XS, component/resource, area/setup, component/type

#4559 fix: better host scheme parsing
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/helper.py
  jina/orchestrate/flow/base.py
  tests/unit/clients/test_interface.py
Labels: size/L, area/core, area/helper, size/S, area/testing, component/client, area/cli

#4560 feat(grpc): add os env bytes counter
  jina/proto/serializer.py
  tests/integration/grpc_bytes_census/__init__.py
  tests/integration/grpc_bytes_census/test_bytes_census.py
Labels: area/core, size/S, area/testing, area/network, component/proto

#4540 fix(hubble): retry fetch meta 3 times
  cli/autocomplete.py
  jina/clients/__init__.py
  jina/helper.py
  jina/hubble/hubio.py
  jina/orchestrate/flow/base.py
  tests/unit/hubble/test_hubio.py
  tests/unit/test_helper.py
Labels: size/M, size/L, area/core, area/helper, size/S, area/testing, component/client, area/cli

#4547 refactor(docs): flow api
  docs/fundamentals/flow/expose-endpoints.svg
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/flow-yaml.md
Labels: size/M, size/L, area/docs

#4548 docs: refactor executor in flow
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/flow/create-flow.md
Labels: size/M, area/docs

#4517 feat: remove head for non sharded deployments
  cli/autocomplete.py
  docs/fundamentals/architecture-overview.md
  jina/excepts.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/head/__init__.py
  tests/docker_compose/test_docker_compose.py
  tests/integration/deployments/test_deployment.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/issues/hanging_termination/__init__.py
  tests/integration/issues/hanging_termination/test_hanging_termination.py
  tests/integration/reduce/test_reduce.py
  tests/integration/rolling_update/Dockerfile
  tests/integration/rolling_update/__init__.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/scale/__init__.py
  tests/integration/scale/scale-executor/Dockerfile
  tests/integration/scale/scale-executor/__init__.py
  tests/integration/scale/scale-executor/config.yml
  tests/integration/scale/test_scale.py
  tests/integration/v2_api/test_override_requests.py
  tests/jinahub/Dockerfile
  tests/jinahub/hub_mwu/Dockerfile
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deploymens/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deploymens/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/deploymens/test_deployments.py
  tests/unit/orchestrate/deploymens/test_scale.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/orchestrate/flow/flow-example/test_flow_examples.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_before_after.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
Labels: area/core, area/helper, area/testing, size/XL, area/docs, area/cli, area/daemon
