Repository jina-ai/serve, pull requests merged in 2022-12, with the labels that each got.

#5475 refactor: add more debug info to prints
  jina/serve/networking.py
  tests/integration/runtimes/test_network_failures.py
Labels: area/core, size/S, area/testing

#5476 feat: silence or minimize output of jina ping command
  jina/checker.py
  jina_cli/__init__.py
  tests/unit/test_cli.py
Labels: area/core, area/helper, size/S, area/testing, area/cli

#5468 feat: update hubble-sdk
  extra-requirements.txt
  jina/orchestrate/deployments/__init__.py
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, component/resource, area/setup

#5450 docs: change executor uri to "jinaai"
  .github/hub-system.svg
  README.md
  docs/cloud-nativeness/docker-compose.md
  docs/cloud-nativeness/kubernetes.md
  docs/cloud-nativeness/monitoring.md
  docs/cloud-nativeness/opentelemetry.md
  docs/fundamentals/docarray-support/index.md
  docs/fundamentals/executor/executor-run.md
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/executor/hub/debug-executor.md
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/sandbox.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/instrumenting-flow.md
  docs/fundamentals/flow/monitoring-flow.md
  docs/fundamentals/flow/topologies.md
  docs/fundamentals/jcloud/index.md
  docs/fundamentals/jcloud/yaml-spec.md
  docs/how-to/external-executor.md
  docs/how-to/gpu-executor.md
  docs/how-to/scale-out.md
Labels: size/M, area/housekeeping, area/docs

#5477 feat: install health check for fast api gateway app by default
  jina/serve/runtimes/gateway/http/fastapi.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_custom_gateway.py
  tests/unit/yaml/dummy_fastapi_gateway.py
Labels: area/core, size/S, area/testing

#5465 docs: custom gateway
  docs/fundamentals/gateway/custom-gateway.md
  docs/fundamentals/gateway/index.md
  docs/fundamentals/gateway/yaml-spec.md
Labels: size/M, area/docs

#5484 fix: fix windows signal handling
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/asyncio.py
Labels: area/core, size/S

#5489 docs: document needed setup for macos
  docs/fundamentals/flow/remarks.md
  docs/get-started/install/troubleshooting.md
Labels: size/S, area/docs

#5490 ci: build python 3.10 and 3.11 as default jina docker images and make 3.8 the default jina docker image
  .github/workflows/force-docker-build.yml
  RELEASE.md
  docs/get-started/install/troubleshooting.md
Labels: area/housekeeping, size/S, area/cicd, area/docs

#5485 fix: do not apply limits when gpus all in K8s
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
Labels: area/core, size/XS

#5491 fix: add egg info post install command for egg info setup mode
  docs/fundamentals/flow/remarks.md
  docs/get-started/install/troubleshooting.md
  setup.py
Labels: size/S, area/docs, area/setup

#5495 fix: suppress warning for http gateway about health check
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/fastapi.py
Labels: area/core, size/S

#5493 fix: fix problem when using floating in HTTP
  jina/clients/__init__.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http/app.py
  jina/types/request/data.py
  tests/integration/floating_deployments/test_floating_deployments.py
Labels: size/M, size/L, area/core, size/S, area/testing, component/client, component/type

#5488 feat: add restart from YAML option to Flow and Executors
  docs/concepts/executor/serve.md
  docs/concepts/flow/basics.md
  docs/concepts/flow/executor-args.md
  docs/concepts/flow/flow-args.md
  docs/concepts/flow/gateway-args.md
  jina/jaml/__init__.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/flow.py
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/pod.py
  jina/serve/executors/__init__.py
  jina_cli/autocomplete.py
  tests/integration/restart/__init__.py
  tests/integration/restart/exec/__init__.py
  tests/integration/restart/exec/config.yml
  tests/integration/restart/exec/config_alt.yml
  tests/integration/restart/exec/exec1.py
  tests/integration/restart/exec/exec2.py
  tests/integration/restart/test_deployments_restart.py
  tests/integration/restart/test_flow_restart.py
Labels: size/M, size/L, area/core, area/testing, size/XL, area/docs, area/cli, component/jaml

#5500 fix: provide protocol for traces/metrics exporter host
  docs/cloud-nativeness/opentelemetry.md
  docs/concepts/client/instrumentation.md
  docs/concepts/flow/instrumentation.md
  tests/integration/instrumentation/test_container_instrumentation.py
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/integration/instrumentation/test_worker_instrumentation.py
  tests/k8s_otel/test_k8s_instrumentation.py
  tests/unit/serve/instrumentation/test_gateway_metric_labels.py
Labels: size/S, area/testing, area/docs

#5407 feat: add startupProbe and replace readiness probe with liveness probe
  jina/checker.py
  jina/clients/base/helper.py
  jina/resources/k8s/template/deployment-executor.yml
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/resources/k8s/template/statefulset-executor.yml
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: size/M, size/L, area/core, area/helper, size/S, area/testing, size/XS, component/resource, component/client

#5496 chore: send telemetry event before starting gateway object
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
Labels: area/core, size/S, size/XS

#5385 docs(jcloud): adapt to new api
  docs/concepts/jcloud/deploy.png
  docs/concepts/jcloud/external-executor.png
  docs/concepts/jcloud/external-executors-multiple.png
  docs/concepts/jcloud/img/deploy.png
  docs/concepts/jcloud/img/expose-executor.png
  docs/concepts/jcloud/img/gateway-and-executors.png
  docs/concepts/jcloud/img/list.png
  docs/concepts/jcloud/img/list_all.png
  docs/concepts/jcloud/img/list_deleted.png
  docs/concepts/jcloud/img/monitoring.png
  docs/concepts/jcloud/img/status.png
  docs/concepts/jcloud/index.md
  docs/concepts/jcloud/list.png
  docs/concepts/jcloud/list_all.png
  docs/concepts/jcloud/list_failed.png
  docs/concepts/jcloud/status.png
  docs/concepts/jcloud/yaml-spec.md
Labels: size/M, area/docs

#5504 docs: add files under fundamentals to redirects
  docs/redirects.txt
Labels: size/S, area/docs

#5509 test: fix histograms monitoring test
  tests/unit/serve/instrumentation/test_networking_histograms.py
Labels: area/testing, size/XS

#5507 feat: implement unary_unary stub for Gateway Runtime
  docs/concepts/client/send-receive-data.md
  jina/clients/base/grpc.py
  jina/clients/mixin.py
  jina/schemas/helper.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/stream/__init__.py
  jina/serve/streamer.py
  scripts/generate-list-args.py
  tests/docker_compose/multiprotocol-gateway/multiprotocol_gateway.py
  tests/docker_compose/test_docker_compose.py
  tests/integration/gateway_streamer/test_gateway_streamer.py
  tests/unit/clients/python/test_client.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/stream/test_stream.py
Labels: size/M, size/L, area/core, area/testing, area/docs, component/client

#5410 feat: dynamic batching
  docs/concepts/client/send-parameters.md
  docs/concepts/executor/dynamic_batching.md
  docs/concepts/flow/executor-args.md
  docs/concepts/flow/gateway-args.md
  docs/concepts/flow/troubleshooting-on-multiprocess.md
  jina/__init__.py
  jina/jaml/__init__.py
  jina/jaml/parsers/executor/legacy.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/executors/metas.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/runtimes/worker/batch_queue.py
  jina/serve/runtimes/worker/request_handling.py
  jina_cli/autocomplete.py
  jina_cli/export.py
  tests/integration/dynamic_batching/__init__.py
  tests/integration/dynamic_batching/executor-dynamic-batching-wrong-decorator.yaml
  tests/integration/dynamic_batching/executor-dynamic-batching.yaml
  tests/integration/dynamic_batching/flow-dynamic-batching.yaml
  tests/integration/dynamic_batching/test_dynamic_batching.py
  tests/integration/dynamic_batching/test_dynamic_batching_config.py
  tests/integration/hot_reload/exec1/my_executor1.py
  tests/integration/hot_reload/my_executor_1_new.py
  tests/integration/hot_reload/test_hot_reload.py
  tests/unit/serve/dynamic_batching/__init__.py
  tests/unit/serve/dynamic_batching/test_batch_queue.py
  tests/unit/serve/executors/test_bad_executor_constructor.py
  tests/unit/serve/executors/test_decorators.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, size/L, area/core, area/helper, area/testing, size/XL, area/docs, area/entrypoint, area/cli, component/jaml

#5505 chore: bump hubble sdk
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5511 docs: m1 fix
  docs/get-started/install/apple-silicon-m1-m2.md
Labels: area/docs, size/XS

#5512 feat: add grpc trailing metadata when logging grpc error
  jina/clients/base/grpc.py
  jina/excepts.py
  jina/serve/helper.py
  jina/serve/networking.py
  jina/serve/stream/__init__.py
  tests/unit/exceptions/test_exceptions.py
Labels: area/core, area/helper, size/S, area/testing, component/client

#5494 feat: expand executor serve parameters
  jina/serve/executors/__init__.py
  jina/serve/runtimes/worker/request_handling.py
  scripts/inject-cli-as-overload.py
Labels: size/M, area/core

#5464 fix: list-like args passed as string
  docs/concepts/flow/executor-args.md
  docs/concepts/flow/gateway-args.md
  docs/concepts/flow/scale-out.md
  jina/clients/__init__.py
  jina/helper.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/factory.py
  jina/parsers/helper.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/executors/__init__.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina_cli/api.py
  jina_cli/autocomplete.py
  jina_cli/export.py
  tests/helper.py
  tests/integration/deployments/test_deployment.py
  tests/integration/distributed-replicas/test_distributed_replicas.py
  tests/integration/dynamic_batching/test_dynamic_batching.py
  tests/integration/gateway_streamer/test_gateway_streamer.py
  tests/integration/issues/github_2371/test_pod.py
  tests/integration/monitoring/test_manual_flow.py
  tests/integration/pods/container/head-runtime/runtime.py
  tests/integration/pods/container/test_pod.py
  tests/integration/pods/test_pod.py
  tests/integration/runtime_signal_handling/test_runtime_captures_signals.py
  tests/integration/runtimes/test_gateway_dry_run.py
  tests/integration/runtimes/test_jina_info.py
  tests/integration/runtimes/test_network_failures.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
  tests/unit/orchestrate/pods/test_pod.py
  tests/unit/parsers/peapods/runtimes/test_port_protocol_parser.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
  tests/unit/test_cli.py
  tests/unit/test_helper.py
Labels: size/M, size/L, area/core, area/helper, size/S, area/testing, size/XL, area/docs, component/client, area/cli

#5519 fix: jina ai cloud redirects
  docs/redirects.txt
Labels: area/docs, size/XS

#5508 feat: dev install requirements
  docs/concepts/flow/executor-args.md
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/install_requirements_helper.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/helper.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/pod.py
  jina/serve/executors/__init__.py
  jina_cli/autocomplete.py
  tests/integration/install_requirements/__init__.py
  tests/integration/install_requirements/exec/__init__.py
  tests/integration/install_requirements/exec/config.yml
  tests/integration/install_requirements/exec/my_executor.py
  tests/integration/install_requirements/exec/requirements.txt
  tests/integration/install_requirements/test_install_requirements.py
Labels: size/M, area/core, area/testing, area/docs, area/cli

#5521 chore: change type hint
  jina/serve/stream/__init__.py
Labels: area/core, size/XS

#5518 refactor: avoid run in executor creating threads
  jina/serve/stream/__init__.py
  jina/serve/stream/helper.py
  tests/unit/serve/stream/test_stream.py
Labels: area/core, size/S, area/testing

#5523 ci: fix old docs build opentelemetry sdk pin
  docs/correct_some_requirements.sh
Labels: area/docs, size/XS

#5524 docs: fix dynamic batching example
  docs/concepts/executor/dynamic-batching.md
Labels: size/S, area/docs, size/XS

#5526 refactor: make server link to gateway so that custom gateway can inherit
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/grpc/gateway.py
Labels: area/core, size/S

#5520 fix: reduce warnings when building docs
  docs/cloud-nativeness/k8s.md
  docs/cloud-nativeness/kubernetes.md
  docs/cloud-nativeness/monitoring.md
  docs/cloud-nativeness/opentelemetry-migration.md
  docs/cloud-nativeness/opentelemetry.md
  docs/concepts/client/index.md
  docs/concepts/client/send-graphql-mutation.md
  docs/concepts/client/send-receive-data.md
  docs/concepts/client/third-party-clients.md
  docs/concepts/executor/basics.md
  docs/concepts/executor/containerize.md
  docs/concepts/executor/dynamic-batching.md
  docs/concepts/executor/hub/hub-portal.md
  docs/concepts/executor/hub/push-executor.md
  docs/concepts/executor/instrumentation.md
  docs/concepts/executor/serve.md
  docs/concepts/flow/add-conditioning.md
  docs/concepts/flow/add-executors.md
  docs/concepts/flow/basics.md
  docs/concepts/flow/health-check.md
  docs/concepts/flow/instrumentation.md
  docs/concepts/flow/yaml-spec.md
  docs/concepts/gateway/customization.md
  docs/concepts/gateway/index.md
  docs/concepts/jcloud/index.md
  docs/concepts/preliminaries/coding-in-python-yaml.md
  docs/get-started/install/windows.md
  docs/how-to/gpu-executor.md
Labels: size/S, area/docs, size/XS

#5528 chore: update jina version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5513 feat: using unary rpc from client respects results_in_order
  docs/concepts/client/send-receive-data.md
  jina/clients/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina_cli/autocomplete.py
  tests/integration/deployments/test_deployment.py
  tests/integration/dynamic_batching/test_dynamic_batching.py
  tests/integration/test_return_order/test_return_order.py
  tests/unit/logging/test_logging.py
Labels: size/M, area/core, area/testing, area/docs, component/client, area/cli

#5531 refactor: do the flow readiness check async and not in thread
  jina/clients/mixin.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/container.py
  jina/serve/executors/__init__.py
  tests/integration/override_config_params/worker/flow.yml
Labels: size/M, size/L, area/core, size/S, area/testing, component/client

#5532 fix: support composite gateway for k8s export
  jina/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/M, area/core, area/helper, size/S, area/testing, area/entrypoint

#5535 docs: common args inheritence from Flow API
  docs/concepts/flow/basics.md
  jina/orchestrate/flow/base.py
Labels: area/core, size/S, area/docs, size/XS

#5529 fix: support python 3.11
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  setup.py
Labels: area/housekeeping, size/S, area/cicd, size/XS, area/setup

#5540 fix: add gcc-c++ and python devel for python 3.11
  Dockerfiles/debianx.Dockerfile
  Dockerfiles/pip-perf.Dockerfile
  Dockerfiles/pip.Dockerfile
Labels: area/docker, size/XS

#5541 fix: install build essentials before pip install for python 3.11 docker image
  Dockerfiles/debianx.Dockerfile
Labels: area/docker, size/XS

#5542 fix: fix installing build essentials for python 3.11
  Dockerfiles/debianx.Dockerfile
Labels: area/docker, size/XS

#5544 fix: do not raise exception to end iteration
  jina/serve/stream/__init__.py
  tests/integration/issues/github_5543/__init__.py
  tests/integration/issues/github_5543/test_reentrant_flows.py
Labels: area/core, size/S, area/testing

#5546 docs: fix the reference to gateway
  docs/cloud-nativeness/k8s.md
  docs/concepts/client/third-party-clients.md
  docs/concepts/flow/basics.md
  docs/concepts/flow/index.md
  docs/concepts/gateway/index.md
Labels: size/S, area/docs

#5549 test: add tests for stream false and async flow
  tests/unit/orchestrate/flow/flow-async/test_asyncflow.py
Labels: size/S, area/testing

#5533 feat: add RLock for GRPCClient
  docs/concepts/client/index.md
  jina/clients/base/grpc.py
  tests/integration/concurrent_clients/test_multithread_client.py
Labels: size/M, area/core, size/S, area/testing, area/docs, size/XS, component/client

#5556 fix: remove unwanted warning
  jina/orchestrate/deployments/install_requirements_helper.py
Labels: area/core, size/S

#5557 feat: add secrets concept to Jina(k8s)
  docs/cloud-nativeness/docker-compose.md
  docs/cloud-nativeness/k8s.md
  docs/cloud-nativeness/kubernetes.md
  docs/concepts/flow/executor-args.md
  docs/concepts/flow/gateway-args.md
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_tools.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
  jina/serve/executors/__init__.py
  jina_cli/autocomplete.py
  tests/k8s/test-executor/debug_executor.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: size/M, area/core, size/S, area/testing, area/docs, area/cli

#5560 fix: respect timeout_ready when generating startup probe
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/resources/k8s/template/deployment-executor.yml
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/resources/k8s/template/statefulset-executor.yml
  tests/k8s/conftest.py
  tests/k8s/slow-load-executor/.dockerignore
  tests/k8s/slow-load-executor/Dockerfile
  tests/k8s/slow-load-executor/config.yml
  tests/k8s/slow-load-executor/slow_load_executor.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: size/M, area/core, size/S, area/testing, component/resource
