Repository jina-ai/serve, pull requests merged in 2022-05, with the labels that each got.

#4724 fix: rich console logs
  jina/helper.py
Labels: size/M, area/core, area/helper, size/S, size/XS

#4736 chore: fix rich log format string
  jina/logging/logger.py
  jina/resources/logging.default.yml
Labels: area/core, size/S, component/logging, component/resource

#4735 fix: move prometheus depedency to perf
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4739 fix(logger): make log format more compact
  jina/logging/logger.py
  jina/resources/logging.default.yml
Labels: area/core, size/S, component/logging, component/resource

#4738 feat: inherit monitoring arg from Flow
  jina/orchestrate/flow/base.py
  tests/integration/monitoring/test_monitoring.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_monitoring.py
Labels: area/core, size/S, area/testing

#4746 build: grpc version>=1.46.0
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4744 docs(tracking): update refer links to other docs with utm_source
  docs/_static/source-in-links.js
  docs/conf.py
Labels: size/S, area/docs

#4743 feat: k8s failure testing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/serve/networking.py
  tests/k8s/conftest.py
  tests/k8s/fault-inject.yml
  tests/k8s/set-text-executor/.dockerignore
  tests/k8s/set-text-executor/Dockerfile
  tests/k8s/set-text-executor/config.yml
  tests/k8s/set-text-executor/debug_executor.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: size/M, area/housekeeping, size/L, area/core, area/cicd, area/testing

#4762 fix: fix cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#4737 feat: add a decoratator for monitoring method
  jina/__init__.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  tests/integration/monitoring/test_executor.py
  tests/integration/monitoring/test_monitoring.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/helper, area/testing, area/entrypoint, epic/monitoring

#4758 feat: display all of the prometheus endpoint in ui
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#4750 docs(tracking): update refer links to other docs with utm_source
  docs/_static/source-in-links.js
Labels: size/S, area/docs

#4765 ci: fix k8s test in cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#4756 feat: gateway endpoint discovery
  jina/__init__.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/serializer.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/integration/v2_api/test_func_routing.py
Labels: size/L, area/core, area/helper, area/testing, area/network, component/proto, area/entrypoint

#4752 feat: add runtime name as label for monitoring
  jina/serve/executors/__init__.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/monitoring/test_executor.py
  tests/integration/monitoring/test_monitoring.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, size/S, area/testing, epic/monitoring

#4772 fix: import all from jina
  .github/workflows/ci.yml
  jina/__init__.py
Labels: area/housekeeping, area/core, area/helper, area/cicd, size/XS, area/entrypoint

#4710 docs: document the monitoring feature
  .github/2.0/grafana.png
  .github/2.0/kubectl_pods.png
  .github/2.0/prometheus_target.png
  docs/fundamentals/executor/index.md
  docs/fundamentals/executor/monitoring-executor.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/monitoring-flow.md
  docs/how-to/deploy.md
  docs/how-to/monitoring.md
Labels: size/M, area/housekeeping, size/L, size/S, area/docs, epic/monitoring

#4774 chore: bump version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#4776 docs: use the good yaml notation in monitoring docs
  docs/fundamentals/flow/monitoring-flow.md
Labels: area/docs, size/XS

#4775 docs: add jina now logo
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/XS

#4777 refactor: logging no print
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#4780 docs(tracking): fix utm source
  docs/_static/source-in-links.js
Labels: area/docs, size/XS

#4770 feat(hubble): executor push/pull user integration
  jina/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, area/helper, area/testing, area/entrypoint

#4781 fix(sandbox): send secret in the request
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, area/testing, size/XS

#4782 refactor(flow): improve success box
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#4783 test(hubble): fix failing test
  tests/unit/hubble/test_hubio.py
Labels: area/testing, size/XS

#4677 feat: better error messages when gateway can't connect to other deployment
  extra-requirements.txt
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/excepts.py
  jina/resources/extra-requirements.txt
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/stream/__init__.py
  tests/integration/graphql/test_graphql.py
  tests/integration/runtimes/test_network_failures.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/exceptions/__init__.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_tls.py
Labels: size/M, size/L, area/core, area/helper, area/testing, component/resource, area/setup, component/client

#4786 feat(deployment): add roundrobin cuda device assignment
  jina/orchestrate/deployments/__init__.py
  tests/unit/orchestrate/deployments/test_cuda_assignment.py
Labels: area/core, size/S, area/testing

#4790 fix: add check that jaml parses to correct class
  jina/jaml/__init__.py
  tests/unit/jaml/invalid.yml
  tests/unit/jaml/test_type_parse.py
Labels: area/core, size/S, area/testing, component/jaml

#4791 fix: pop the init time instead of normal access
  jina/serve/runtimes/gateway/request_handling.py
Labels: area/core, size/XS

#4799 fix(qabot): hide the slot elements on the docs page
  docs/_templates/page.html
Labels: size/S, area/docs

#4801 fix: remove executor `secret` from flow mermaid chart
  jina/hubble/helper.py
  jina/orchestrate/deployments/__init__.py
  tests/unit/hubble/test_helper.py
  tests/unit/orchestrate/deployments/test_deployments.py
Labels: area/core, size/S, area/testing

#4800 fix: unsetenv not existing on Windows
  cli/__init__.py
  jina/helper.py
Labels: area/core, area/helper, size/XS, area/cli

#4804 feat(hubble): use fixed domain for hubble api
  jina/hubble/helper.py
Labels: area/core, size/S

#4787 fix: warn user when calling load config from flow instance
  jina/orchestrate/flow/base.py
  tests/integration/issues/github_4773/config.yaml
  tests/integration/issues/github_4773/test_load_config.py
  tests/integration/override_config_params/worker/test_override_config_params.py
  tests/unit/parsers/test_warnings.py
Labels: area/core, size/S, area/testing

#4789 feat: add additional metrics
  docs/fundamentals/flow/monitoring-flow.md
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/integration/monitoring/test_monitoring.py
Labels: size/M, area/core, size/S, area/testing, area/docs, epic/monitoring

#4794 feat: smart replica retry
  jina/excepts.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/runtimes/test_network_failures.py
Labels: size/M, area/core, area/helper, size/S, area/testing

#4811 refactor: simplify event loop usage
  jina/clients/base/websocket.py
  jina/helper.py
Labels: area/core, area/helper, size/S, component/client

#4803 fix: avoid closing loop at fork time
  jina/helper.py
  jina/serve/runtimes/gateway/http/app.py
  tests/integration/gateway_clients/test_streaming.py
  tests/integration/streaming/test_clients_streaming.py
Labels: size/M, area/core, area/helper, size/S, area/testing, size/XS

#4805 docs: round robin gpu scheduling
  docs/fundamentals/flow/create-flow.md
  docs/proto/docs.md
Labels: size/S, area/docs

#4815 docs: fix Flow docs typo
  docs/fundamentals/flow/flow-api.md
Labels: area/docs, size/XS

#4795 docs: add specification of executor and flow yaml
  docs/fundamentals/executor/index.md
  docs/fundamentals/executor/yaml-spec.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/yaml-spec.md
Labels: size/M, size/S, area/docs

#4816 fix: define metrics in worker before grpc server
  jina/serve/runtimes/worker/__init__.py
Labels: area/core, size/XS

#4818 feat(executor): add self logger to executor
  jina/serve/executors/__init__.py
Labels: area/core, size/XS

#4821 fix: code review
  cli/__init__.py
  extra-requirements.txt
  jina/__init__.py
  jina/orchestrate/flow/base.py
  jina/proto/serializer.py
  jina/resources/extra-requirements.txt
  jina/resources/project-template/app.py
  jina/resources/project-template/flow.yml
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/issues/github_2910/test_flow.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_change_gateway.py
Labels: size/M, area/core, area/helper, area/testing, area/network, component/resource, area/setup, component/proto, area/entrypoint, area/cli

#4822 docs: add missing logo file
  docs/_static/now-dark.svg
  docs/_static/now-light.svg
Labels: size/S, area/docs

#4820 refactor(docs): update docker compose docs
  docs/how-to/docker-compose.md
Labels: size/M, area/docs

#4830 fix: fix protobuf dependency
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4834 fix: cuda visible device
  jina/orchestrate/deployments/__init__.py
Labels: area/core, size/XS

#4835 Revert "ci: add create-release.yml"
  .github/workflows/create-release.yml
  .github/workflows/force-docker-build.yml
  .github/workflows/tag.yml
Labels: area/housekeeping, size/S, area/cicd

#4814 feat(http): disable healthcheck access logs with env
  jina/__init__.py
  jina/serve/runtimes/gateway/http/__init__.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: area/core, area/helper, size/S, area/testing, area/entrypoint

#4809 fix: remove tag from save config yaml
  jina/jaml/__init__.py
  tests/unit/jaml/test_type_parse.py
Labels: area/core, size/S, area/testing, size/XS, component/jaml

#4836 feat(websocket): http healthcheck endpoint
  jina/serve/runtimes/gateway/websocket/__init__.py
  jina/serve/runtimes/gateway/websocket/app.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: area/core, size/S, area/testing

#4844 fix: do not deploy sandbox on init
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#4847 docs: add jina now
  README.md
Labels: size/XS
