Repository jina-ai/serve, pull requests merged in 2022-01, with the labels that each got.

#4123 ci: do not update doc on merge to master but on release
  .github/workflows/cd.yml
Labels: area/housekeeping, size/S, area/cicd

#4121 docs: fix typos
  docs/fundamentals/document/documentarray-api.md
  docs/fundamentals/executor/executor-api.md
Labels: size/S, area/docs

#4113 feat(polling): unify polling args
  cli/autocomplete.py
  docs/fundamentals/flow/topology.md
  jina/flow/base.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/runtimes/head.py
  jina/peapods/runtimes/head/__init__.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-orchestrate/test_flow_routing.py
  tests/unit/peapods/pods/test_pods.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, area/docs, component/flow, area/cli

#4126 docs: fix image2image search print
  docs/datatype/image/image2image.md
Labels: area/docs, size/XS

#4127 docs: fix bytes link
  CONTRIBUTING.md
  docs/fundamentals/document/document-api.md
Labels: area/docs, size/XS

#4128 docs(readme): add link to learning portal, disambiguate difference with docs
  README.md
Labels: size/XS

#4119 fix: several issues for jinad pods
  daemon/api/dependencies.py
  daemon/models/ports.py
  daemon/stores/partial.py
  jina/flow/base.py
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  jina/peapods/runtimes/worker/__init__.py
  tests/daemon/unit/models/test_ports.py
  tests/jinahub/test_integration.sh
Labels: area/core, size/S, area/testing, area/network, component/peapod, component/flow, area/daemon

#4112 feat(daemon): remote peas on star routing
  .github/workflows/ci.yml
  scripts/get-all-test-paths.sh
  tests/distributed/test_remote_peas/executors/executor.py
  tests/distributed/test_remote_peas/test_remote_peas.py
Labels: size/M, area/housekeeping, size/S, area/cicd, area/testing

#4136 fix: improve pea tests reliability
  tests/integration/peas/test_pea.py
Labels: size/S, area/testing

#4140 chore: remove tornado
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4134 docs: fix typos and some rephrasing
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executors-in-action.md
  docs/fundamentals/executor/repository-structure.md
  docs/fundamentals/flow/flow-as-a-service.md
Labels: size/S, area/docs

#4138 refactor: remove backwards compatibility from old behaviors
  cli/autocomplete.py
  daemon/api/dependencies.py
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/pods.py
  daemon/clients/flows.py
  daemon/clients/pods.py
  daemon/stores/partial.py
  docs/advanced/experimental/indexers.md
  jina/executors/__init__.py
  jina/flow/base.py
  jina/parsers/peapods/pea.py
  jina/parsers/peapods/runtimes/worker.py
  jina/peapods/peas/__init__.py
  jina/peapods/peas/container.py
  jina/peapods/pods/__init__.py
  tests/daemon/unit/api/test_dependencies.py
  tests/distributed/test_remote_pods/test_remote_rolling_update_pods.py
  tests/integration/issues/hanging_termination/test_hanging_termination.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_yaml_parser.py
  tests/unit/peapods/peas/container/test_container_pea.py
  tests/unit/peapods/peas/test_pea.py
  tests/unit/peapods/pods/test_pods.py
Labels: size/M, area/core, area/testing, area/network, component/peapod, component/executor, executor/meta, area/docs, component/flow, area/cli, area/daemon

#4141 refactor: clean up replica set
  jina/peapods/pods/__init__.py
  tests/integration/runtimes/test_runtimes.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#4142 fix: close peas correctly
  jina/peapods/peas/__init__.py
  tests/unit/peapods/peas/test_pea.py
Labels: area/core, size/S, area/testing, area/network, component/peapod

#4148 fix: dont test thread backend in jinad
  tests/distributed/test_remote_peas/test_remote_peas.py
  tests/unit/peapods/peas/test_jinad.py
Labels: size/S, area/testing

#4150 fix: fix test jinad
  jina/peapods/peas/jinad.py
Labels: area/core, area/network, component/peapod, size/XS

#4089 feat: export Flow into set of k8s yamls
  cli/api.py
  cli/autocomplete.py
  daemon/stores/partial.py
  docs/advanced/experimental/kubernetes.md
  jina/clients/mixin.py
  jina/enums.py
  jina/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/flow.py
  jina/parsers/peapods/base.py
  jina/parsers/peapods/pea.py
  jina/parsers/peapods/pod.py
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/config/__init__.py
  jina/peapods/pods/config/k8s.py
  jina/peapods/pods/config/k8slib/__init__.py
  jina/peapods/pods/config/k8slib/kubernetes_deployment.py
  jina/peapods/pods/config/k8slib/kubernetes_tools.py
  jina/peapods/pods/factory.py
  jina/peapods/pods/k8s.py
  jina/peapods/pods/k8slib/kubernetes_client.py
  jina/peapods/pods/k8slib/kubernetes_tools.py
  jina/resources/k8s/template/deployment-init.yml
  jina/resources/k8s/template/deployment.yml
  scripts/get-all-test-paths.sh
  scripts/test.sh
  tests/distributed/test_dir_structures/test_remote_executors.py
  tests/distributed/test_dir_structures/test_remote_flows.py
  tests/distributed/test_remote_peas/test_remote_peas.py
  tests/integration/external_pod/test_external_pod.py
  tests/k8s/conftest.py
  tests/k8s/custom-resource/namespace.yml
  tests/k8s/executor-merger/exec_merger.py
  tests/k8s/test-executor/debug_executor.py
  tests/k8s/test_connection_pool.py
  tests/k8s/test_custom_resource_dir.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_scale.py
  tests/k8s/test_pods.py
  tests/unit/flow-construct/test_flow_skip.py
  tests/unit/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/peapods/pods/config/__init__.py
  tests/unit/peapods/pods/config/k8slib/__init__.py
  tests/unit/peapods/pods/config/k8slib/test_kubernetes_tools.py
  tests/unit/peapods/pods/config/test_k8s_pod_config.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_clients.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_deployment.py
  tests/unit/peapods/pods/k8slib/test_kubernetes_tools.py
  tests/unit/peapods/pods/test_k8s_pod.py
  tests/unit/peapods/pods/test_pod_factory.py
  tests/unit/test_loadbalance.py
Labels: area/core, area/helper, area/testing, area/network, component/peapod, size/XL, area/docs, component/resource, component/flow, component/client, area/cli, area/daemon

#4083 docs: update python source code in remarks
  docs/fundamentals/flow/remarks.md
Labels: size/M, size/S, area/docs, size/XS

#4152 fix: fix cd failing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, size/S, area/cicd

#4153 fix: build test pip in cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#4137 feat: flow post return DocumentArray
  cli/autocomplete.py
  docs/fundamentals/flow/send-recv.md
  jina/clients/__init__.py
  jina/clients/base/__init__.py
  jina/clients/mixin.py
  jina/flow/base.py
  jina/parsers/client.py
  tests/distributed/test_dir_structures/test_remote_executors.py
  tests/distributed/test_local_flow_use_remote_executor/test_integration.py
  tests/distributed/test_scale_remote_executors/test_remote_executors.py
  tests/distributed/test_workspaces/test_cache_validate.py
  tests/distributed/test_workspaces/test_custom_dockerfile.py
  tests/distributed/test_workspaces/test_remote_workspaces.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/crud/flow.yml
  tests/integration/crud/test_crud.py
  tests/integration/external_pod/test_external_pod.py
  tests/integration/high_order_matches/test_document.py
  tests/integration/inspect_pods_flow/test_inspect_pods_flow.py
  tests/integration/issues/github_2992/test_flow.py
  tests/integration/override_config_params/container/flow.yml
  tests/integration/override_config_params/container/test_override_config_params.py
  tests/integration/override_config_params/worker/flow.yml
  tests/integration/override_config_params/worker/test_override_config_params.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/integration/reduce/test_reduce.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/scale/test_scale.py
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
  tests/integration/v2_api/test_func_routing.py
  tests/integration/v2_api/test_override_requests.py
  tests/integration/v2_api/test_yaml_dump_load.py
  tests/unit/flow-construct/my-mwu-encoder/0/my-mwu-encoder.bin
  tests/unit/flow-construct/test
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/flow-orchestrate/test_flow_docarray_return.py
  tests/unit/flow-orchestrate/test_flow_merge.py
  tests/unit/flow-orchestrate/test_flow_routing.py
  tests/unit/my-mwu-encoder/0/my-mwu-encoder.bin
  tests/unit/test
Labels: size/M, size/L, area/core, area/testing, area/docs, component/flow, component/client, area/cli

#4125 feat: export Flow to docker compose yaml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  cli/autocomplete.py
  docs/advanced/experimental/docker-compose.md
  docs/advanced/experimental/index.md
  docs/advanced/experimental/kubernetes.md
  jina/flow/base.py
  jina/parsers/peapods/pea.py
  jina/peapods/pods/config/docker_compose.py
  jina/peapods/pods/config/helper.py
  jina/peapods/pods/config/k8s.py
  jina/peapods/pods/config/k8slib/kubernetes_deployment.py
  jina/peapods/runtimes/head/__init__.py
  scripts/get-all-test-paths.sh
  tests/docker_compose/__init__.py
  tests/docker_compose/conftest.py
  tests/docker_compose/executor-merger/.dockerignore
  tests/docker_compose/executor-merger/Dockerfile
  tests/docker_compose/executor-merger/config.yml
  tests/docker_compose/executor-merger/exec_merger.py
  tests/docker_compose/reload-executor/Dockerfile
  tests/docker_compose/reload-executor/__init__.py
  tests/docker_compose/reload-executor/config.yml
  tests/docker_compose/reload-executor/reload_executor.py
  tests/docker_compose/test-executor/.dockerignore
  tests/docker_compose/test-executor/Dockerfile
  tests/docker_compose/test-executor/config.yml
  tests/docker_compose/test-executor/debug_executor.py
  tests/docker_compose/test_docker_compose.py
  tests/k8s/conftest.py
  tests/k8s/dummy-dumper/Dockerfile
  tests/k8s/dummy-dumper/dump.py
  tests/k8s/slow-init-executor/debug_executor.py
  tests/k8s/slow-process-executor/.dockerignore
  tests/k8s/test_connection_pool.py
  tests/k8s/test_graceful_request_handling.py
  tests/unit/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/peapods/pods/config/test_docker_compose_pod_config.py
  tests/unit/peapods/pods/config/test_helper.py
  tests/unit/peapods/pods/config/test_k8s_pod_config.py
Labels: area/housekeeping, area/core, area/cicd, area/testing, area/network, component/peapod, size/XL, area/docs, component/flow, area/cli

#4159 fix: use INFO log level in k8s
  jina/resources/k8s/template/configmap.yml
  tests/k8s/test_k8s.py
  tests/unit/peapods/pods/config/test_k8s_pod_config.py
Labels: area/core, size/S, area/testing, size/XS, component/resource

#4157 refactor: change target_peapod to target_executor
  docs/advanced/experimental/indexers.md
  jina/__init__.py
  jina/clients/helper.py
  jina/clients/mixin.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/request/helper.py
  jina/peapods/runtimes/gateway/graph/topology_graph.py
  jina/peapods/runtimes/gateway/http/models.py
  jina/peapods/runtimes/gateway/request_handling.py
  jina/peapods/runtimes/request_handlers/data_request_handler.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
  tests/integration/issues/github_2910/test_flow.py
  tests/integration/issues/hanging_termination/test_hanging_termination.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-construct/test_flow_except.py
  tests/unit/flow-construct/test_flow_skip.py
  tests/unit/test_helper.py
Labels: size/M, area/core, area/helper, area/testing, area/network, component/peapod, area/docs, component/client, component/proto, area/entrypoint

#4166 docs: update pre-requisite
  docs/datatype/image/image2image.md
Labels: size/S, area/docs

#4165 refactor: use absolute imports in daemon
  daemon/__init__.py
  daemon/api/dependencies.py
  daemon/api/endpoints/__init__.py
  daemon/api/endpoints/flows.py
  daemon/api/endpoints/logs.py
  daemon/api/endpoints/partial/flow.py
  daemon/api/endpoints/partial/pea.py
  daemon/api/endpoints/partial/pod.py
  daemon/api/endpoints/peas.py
  daemon/api/endpoints/pods.py
  daemon/api/endpoints/workspaces.py
  daemon/clients/__init__.py
  daemon/clients/base.py
  daemon/clients/flows.py
  daemon/clients/peas.py
  daemon/clients/pods.py
  daemon/clients/workspaces.py
  daemon/dockerize.py
  daemon/files.py
  daemon/helper.py
  daemon/models/__init__.py
  daemon/models/base.py
  daemon/models/containers.py
  daemon/models/enums.py
  daemon/models/id.py
  daemon/models/partial.py
  daemon/models/workspaces.py
  daemon/parser.py
  daemon/stores/__init__.py
  daemon/stores/base.py
  daemon/stores/containers.py
  daemon/stores/flows.py
  daemon/stores/mixin.py
  daemon/stores/partial.py
  daemon/stores/peas.py
  daemon/stores/pods.py
  daemon/stores/workspaces.py
  daemon/tasks.py
Labels: size/M, area/daemon

#4171 refactor: take out peas hosts from cli
  cli/autocomplete.py
  docs/fundamentals/executor/executor-built-in-features.md
  jina/flow/base.py
  jina/parsers/peapods/pod.py
  jina/peapods/pods/__init__.py
  tests/unit/peapods/pods/test_pods.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, area/docs, component/flow, area/cli

#4164 feat(docs): bump qabot 0.3
  docs/conf.py
Labels: size/S, area/docs, size/XS

#4174 docs: fix mesh typo
  docs/datatype/mesh/mesh-search.md
Labels: area/docs, size/XS

#4162 refactor: remove replica id
  docs/fundamentals/executor/executor-built-in-features.md
  jina/executors/__init__.py
  jina/peapods/pods/__init__.py
  jina/peapods/pods/config/docker_compose.py
  tests/distributed/test_remote_flows/executors/scalable_executor/executors.py
  tests/distributed/test_remote_flows/test_remote_flow_scale.py
  tests/distributed/test_scale_remote_executors/test_remote_executors.py
  tests/integration/container_runtime_args/replica-exec/__init__.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/scale/scale-executor/__init__.py
  tests/integration/scale/test_scale.py
  tests/k8s/test_k8s.py
  tests/unit/executors/test_executor.py
  tests/unit/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/peapods/pods/config/test_docker_compose_pod_config.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, component/executor, executor/meta, area/docs

#4177 test: switch test from threading to multiprocessing
  tests/integration/concurrent_clients/test_concurrent_clients.py
Labels: size/S, area/testing

#4176 docs: fix Jina on Kubernetes/docker-compose section
  docs/advanced/experimental/docker-compose.md
  docs/advanced/experimental/kubernetes.md
Labels: size/S, area/docs

#4187 fix(tests): replace multiprocessing.Queue.qsize()
  tests/distributed/test_scale_remote_executors/test_remote_executors.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/scale/test_scale.py
  tests/k8s/test_graceful_request_handling.py
  tests/unit/peapods/runtimes/head/test_head_runtime.py
Labels: size/S, area/testing

#4130 feat: support jinahub+sandbox
  docs/advanced/experimental/index.md
  docs/advanced/experimental/sandbox.md
  jina/flow/base.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/peapods/networking.py
  jina/peapods/pods/__init__.py
  tests/unit/flow-construct/test_flow.py
  tests/unit/flow-example/test_flow_examples.py
  tests/unit/hubble/test_helper.py
  tests/unit/peapods/test_networking.py
  tests/unit/test_helper.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/peapod, area/docs, component/flow

#4189 fix(runtime): worker grpc proxy env
  jina/peapods/networking.py
Labels: area/core, size/S, area/network, component/peapod

#4193 ci: bump jina version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#4195 ci: remove docarray-release
  .github/workflows/cd.yml
  scripts/docarray-release/LICENSE
  scripts/docarray-release/MANIFEST.in
  scripts/docarray-release/README.md
  scripts/docarray-release/docarray
  scripts/docarray-release/release.sh
  scripts/docarray-release/setup.py
Labels: size/M, area/housekeeping, area/cicd

#4196 test: add kubernetes test on connection pool behaviour
  tests/k8s/test-executor/debug_executor.py
  tests/k8s/test_k8s.py
Labels: size/M, size/S, area/testing

#4200 refactor: remove docarray proto from tests and makedocs
  docs/makedoc.sh
  docs/proto/index.md
  tests/integration/issues/github_2103/test_search_attributes.py
Labels: size/S, area/testing, area/docs

#4198 fix: fix helloworld multimodal
  jina/helloworld/multimodal/my_executors.py
  jina/helloworld/multimodal/static/index.html
  jina/serve/runtimes/gateway/http/app.py
Labels: area/core, size/S

#4203 fix: rescue docarray in setup
  setup.py
Labels: size/S, area/setup

#4210 ci: fix docs to netlify
  docs/makedoc.sh
Labels: area/docs, size/XS

#4212 fix: flatten proto structure
  jina/proto/build-proto.sh
  jina/proto/docarray.proto
Labels: area/core, area/network, size/XS, component/proto

#4199 refactor: remove fluentd and identity arg
  Dockerfiles/debianx.Dockerfile
  RELEASE.md
  cli/autocomplete.py
  daemon/__init__.py
  daemon/api/dependencies.py
  daemon/api/endpoints/logs.py
  daemon/clients/__init__.py
  daemon/clients/base.py
  daemon/clients/workspaces.py
  daemon/models/custom.py
  daemon/parser.py
  daemon/stores/partial.py
  docs/advanced/daemon/workspace.md
  jina/__init__.py
  jina/logging/logger.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/peas/__init__.py
  jina/orchestrate/peas/jinad.py
  jina/orchestrate/pods/__init__.py
  jina/parsers/flow.py
  jina/parsers/peapods/base.py
  jina/resources/logging.daemon.yml
  jina/resources/logging.remote.yml
  tests/daemon/unit/api/endpoints/test_logs.py
  tests/daemon/unit/models/test_flow.py
  tests/distributed/test_remote_pods/test_remote_pods.py
  tests/distributed/test_remote_pods/test_remote_scale_pods.py
  tests/integration/container_runtime_args/replica-exec/__init__.py
  tests/integration/logging/__init__.py
  tests/integration/logging/logserver_config.yml
  tests/integration/logging/test_logging.py
  tests/unit/logging/test_logging.py
  tests/unit/logging/yaml/fluent.yml
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/peas/container/test_container_pea.py
Labels: size/M, area/docker, size/L, area/core, area/helper, area/testing, component/logging, area/docs, size/XS, component/resource, area/entrypoint, area/cli, area/daemon

#4213 fix: add meaningful error on docarray issue
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#4217 fix: replace docker id with uids
  tests/integration/container_runtime_args/replica-exec/__init__.py
  tests/integration/scale/scale-executor/__init__.py
  tests/integration/scale/test_scale.py
Labels: size/S, area/testing

#4219 Revert "fix: rescue docarray in setup"
  setup.py
Labels: size/S, area/setup

#4211 refactor: refactor rest API, access what docarray accepts
  docs/fundamentals/flow/flow-as-a-service.md
  extra-requirements.txt
  img.png
  jina/clients/base/http.py
  jina/helloworld/chatbot/static/script.js
  jina/helloworld/multimodal/static/index.html
  jina/orchestrate/peas/jinad.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/models.py
  jina/types/request/data.py
  tests/distributed/test_remote_flow_dump_rolling_update/test_dump_dbms_remote.py
  tests/distributed/test_remote_flows/test_remote_flow.py
  tests/distributed/test_remote_flows/test_remote_flow_scale.py
  tests/integration/crud/test_crud.py
  tests/integration/issues/github_2103/test_search_attributes.py
  tests/jinahub/test_integration.sh
  tests/unit/clients/python/test_client.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_http_extend.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
  tests/unit/serve/runtimes/gateway/http/test_models.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/setup, component/client, component/type

#4139 fix: random port assignment
  .github/workflows/ci.yml
  daemon/dockerize.py
  daemon/stores/base.py
  daemon/stores/containers.py
  jina/helper.py
  tests/unit/test_helper.py
Labels: size/M, area/housekeeping, area/core, area/helper, size/S, area/cicd, area/testing, area/daemon

#4223 feat: use external pods from k8s
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/config/k8s.py
  tests/k8s/conftest.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/orchestrate/pods/config/test_k8s_pod_config.py
Labels: size/M, area/core, area/testing
