Repository jina-ai/serve, pull requests merged in 2022-07, with the labels that each got.

#4989 docs(jcloud): refactor faq section
  docs/fundamentals/jcloud/advanced.md
  docs/fundamentals/jcloud/faq.md
Labels: size/S, area/docs

#4993 docs(jcloud): expand faq section
  docs/fundamentals/jcloud/faq.md
Labels: area/docs, size/XS

#4994 docs: change pqlite reference to annlite in docs
  docs/how-to/docker-compose.md
  docs/how-to/scale-out.md
Labels: size/S, area/docs

#4997 docs(jcloud): add monitoring bit
  docs/fundamentals/jcloud/basic.md
  docs/fundamentals/jcloud/monitoring.png
  docs/fundamentals/jcloud/status.png
Labels: size/S, area/docs

#4985 feat: set prefetch default to 1000
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/gateway/index.md
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/stream/__init__.py
  jina/serve/stream/helper.py
  tests/integration/streaming/test_clients_streaming.py
  tests/integration/test_prefetch/__init__.py
  tests/integration/test_prefetch/test_prefetch.py
  tests/unit/serve/stream/test_helper.py
  tests/unit/serve/stream/test_stream.py
Labels: size/M, area/core, size/S, area/testing, area/docs, size/XS

#5001 fix(hubble): fix the way to generate executor name of the func hub pull
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing, size/XS

#4939 feat: param per executor gateway
  docs/fundamentals/flow/client.md
  jina/proto/serializer.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/helper.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/types/request/data.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/specific_executor_params/test_specific_params.py
  tests/unit/serve/runtimes/request_handlers/test_data_request_handlers.py
  tests/unit/serve/runtimes/test_helper.py
Labels: size/M, area/core, area/testing, area/network, area/docs, component/proto, component/type

#5007 test: have BaseExecutor bind default endpoint
  jina/serve/executors/__init__.py
  tests/unit/clients/test_helper.py
Labels: area/core, size/S, area/testing, size/XS

#5009 fix: map multiple endpoints to same func
  docs/fundamentals/flow/add-executors.md
  jina/serve/executors/__init__.py
  tests/integration/v2_api/test_override_requests.py
Labels: area/core, size/S, area/testing, area/docs

#5013 fix: use python module path in pymodules
  jina/jaml/helper.py
  tests/unit/serve/executors/dummy_executor.py
  tests/unit/serve/executors/metas_executors.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/executors/test_set_metas.py
Labels: area/core, size/S, area/testing, size/XS, component/jaml

#5017 feat: disable deploy sandbox when plotting
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#5014 fix: fix endpoint discovery tries
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/integration/runtimes/test_network_failures.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
Labels: size/M, area/core, size/S, area/testing, size/XS

#5015 feat: do not await gather endpoints, simply schedule task
  jina/serve/networking.py
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/gateway_non_blocking/test_gateway_non_blocking.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/serve/test-ssl.key
  tests/unit/serve/test-ssl.pem
  tests/unit/serve/test_networking.py
Labels: size/M, size/L, area/core, area/testing, size/XS

#5021 chore: update action to update dockerhub description
  .github/workflows/cd.yml
Labels: area/housekeeping, size/S, area/cicd

#5004 feat: wait for floating Executor tasks
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/flow_cancel_floating.svg
  docs/fundamentals/flow/flow_chain_floating.svg
  docs/fundamentals/flow/flow_floating.svg
  docs/fundamentals/flow/flow_middle_1.svg
  docs/requirements.txt
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/flow/builder.py
  jina/resources/health_check/gateway.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/stream/__init__.py
  jina/serve/stream/helper.py
  tests/integration/concurrent_clients/test_concurrent_clients.py
  tests/integration/floating_deployments/__init__.py
  tests/integration/floating_deployments/test_floating_deployments.py
  tests/unit/serve/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/serve/stream/test_helper.py
  tests/unit/serve/stream/test_stream.py
Labels: size/M, size/L, area/core, size/S, area/testing, area/docs, component/resource, component/client

#5022 chore: bump jina version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5025 ci: divide unit orchestrate flow slow tests
  scripts/get-all-test-paths.sh
  tests/unit/orchestrate/flow/flow-construct/test_flow_floating_pod.py
Labels: size/S, area/testing

#5026 docs: add jcloud cpu docs
  docs/fundamentals/jcloud/advanced.md
Labels: size/S, area/docs

#5029 docs: update jcloud auth docs
  docs/fundamentals/jcloud/basic.md
Labels: area/docs, size/XS

#5030 refactor: small refactor on streamer
  jina/serve/networking.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/websocket/__init__.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
Labels: area/core, size/S, size/XS

#5024 feat: add telemetry
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-tests.yml
  Dockerfiles/test-pip.Dockerfile
  docs/envs/index.md
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/flow-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/index.md
  jina/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/base.py
  jina/serve/helper.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/worker/__init__.py
  jina_cli/autocomplete.py
  tests/conftest.py
Labels: size/M, area/housekeeping, area/docker, area/core, area/helper, size/S, area/cicd, area/testing, area/docs, area/entrypoint, area/cli

#5031 refactor: hide tgraph, cpool and streaming under new usable api
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/serve/bff.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/websocket/__init__.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/stream/__init__.py
  tests/integration/clients_extra_kwargs/test_clients_post_extra_kwargs.py
  tests/integration/gateway_bff/__init__.py
  tests/integration/gateway_bff/test_gateway_bff.py
  tests/integration/specific_executor_params/__init__.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
  tests/unit/serve/stream/test_stream.py
Labels: size/M, size/L, area/core, area/testing, component/client

#5035 fix: fix get openapi schemas
  scripts/get-openapi-schemas.py
Labels: size/XS

#5034 fix: fix the name of the event from runtimes
  jina/serve/runtimes/asyncio.py
Labels: area/core, size/XS

#5036 fix: add more logging in grpc dry run
  jina/clients/base/grpc.py
  jina/clients/base/http.py
Labels: area/core, size/XS, component/client

#5038 fix: fix specific params problem with branches
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/helper.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/high_order_matches/test_document.py
  tests/integration/inspect_deployments_flow/test_inspect_deployments_flow.py
  tests/integration/override_config_params/container/test_override_config_params.py
  tests/integration/override_config_params/worker/test_override_config_params.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/integration/reduce/test_reduce.py
  tests/integration/specific_executor_params/test_specific_params.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_docarray_return.py
Labels: size/M, area/core, area/testing
