Repository jina-ai/serve, pull requests merged in 2022-09, with the labels that each got.

#5114 docs(jcloud): fix docs for gateway resource customization
  docs/fundamentals/jcloud/yaml-spec.md
Labels: area/docs, size/XS

#5115 test: fix test concurrent async flow
  tests/unit/orchestrate/flow/flow-async/test_asyncflow.py
Labels: size/S, area/testing

#5092 feat: expose grpc parameters and add production ready keepalive parameters
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/helper.py
  jina/serve/runtimes/worker/__init__.py
  jina_cli/autocomplete.py
  tests/integration/clients_extra_kwargs/test_clients_post_extra_kwargs.py
  tests/integration/gateway_clients/test_long_flow_keepalive.py
  tests/unit/test_gateway.py
Labels: size/M, area/core, area/helper, size/S, area/testing, area/docs, area/cli

#5116 docs(jcloud): fix jc status link
  docs/fundamentals/jcloud/index.md
Labels: area/docs, size/XS

#5120 docs: rewrite flow add
  docs/fundamentals/executor/index.md
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/named-flow.svg
  docs/fundamentals/flow/no-op-flow.svg
  docs/fundamentals/flow/zero-flow.svg
  jina/jaml/helper.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, area/core, area/testing, area/docs, component/jaml

#5122 fix: cap grpc version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, size/XS, component/resource, area/setup

#5127 test: fix k8s tests return responses params
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: area/testing, size/XS

#5131 fix: linkerd cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#5133 fix: set minimal docarray dependency
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5124 fix: gpu dockerfile template include now jina install
  jina/hubble/hubio.py
Labels: area/core, size/XS

#5101 refactor: manifest config
  docs/fundamentals/executor/hub/create-hub-executor.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/screenshots/create-new.gif
  docs/fundamentals/executor/hub/screenshots/hub-push.gif
  docs/fundamentals/executor/hub/yaml-spec.md
  docs/fundamentals/executor/yaml-spec.md
  docs/get-started/create-app.md
  docs/yaml-spec.md
  jina/hubble/hubio.py
  jina/resources/executor-template/config.yml
  jina/resources/executor-template/manifest.yml
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource

#5137 test: increase wait time
  tests/integration/monitoring/test_manual_flow.py
Labels: area/testing, size/XS

#5139 test: remove outdated test
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/S, area/testing

#5134 feat: pass internal flag to telemetry
  jina/helper.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_complex_topology.py
Labels: area/core, area/helper, size/S, area/testing, size/XS

#5143 fix: fix parsing empty list
  jina/helper.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, size/S, area/testing, size/XS

#5150 chore: bump jina version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5151 refactor: merge dryrun into ping
  docs/fundamentals/client/client.md
  docs/fundamentals/flow/health-check.md
  docs/fundamentals/flow/index.md
  docs/get-started/migrate.md
  jina/checker.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/excepts.py
  jina/parsers/__init__.py
  jina/parsers/dryrun.py
  jina/parsers/ping.py
  jina/types/request/__init__.py
  jina/types/request/status.py
  jina_cli/autocomplete.py
  jina_cli/lookup.py
  tests/integration/flow_dry_run/test_flow_dry_run.py
  tests/integration/runtimes/test_gateway_dry_run.py
  tests/unit/test_cli.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/docs, component/client, component/type, area/cli

#5164 docs(jcloud): labels in flow yaml
  docs/fundamentals/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5166 fix: increase minimum protobuf version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5167 ci: add jina auth token
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/unit/hubble/test_hubio.py
Labels: area/housekeeping, size/S, area/cicd, area/testing, size/XS

#5156 feat(hubio): display warning messages from hubble request (jina hub push)
  jina/hubble/hubio.py
Labels: area/core, size/S

#5165 feat(runtime): add argument to specify exceptions that will exit the runtime
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/base.py
  jina/serve/runtimes/worker/__init__.py
  jina_cli/autocomplete.py
  tests/k8s/conftest.py
  tests/k8s/failing-executor/Dockerfile
  tests/k8s/failing-executor/config.yml
  tests/k8s/failing-executor/failing_executor.py
  tests/k8s/test_k8s.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/testing, area/docs, area/cli

#5171 fix: pin docarray version for new column syntax
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5169 fix: exit on exception args only applies to executors
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina_cli/autocomplete.py
Labels: area/core, size/S, area/docs, area/cli

#5129 feat: hubble async push
  docs/fundamentals/executor/hub/push-executor.md
  docs/get-started/install/apple-silicon-m1-m2.md
  extra-requirements.txt
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/status.py
  jina/resources/extra-requirements.txt
  jina_cli/autocomplete.py
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
Labels: size/L, area/core, area/testing, size/XL, area/docs, component/resource, area/setup, area/cli

#5172 docs: add section for exit_on_exceptions argument
  docs/fundamentals/flow/when-things-go-wrong.md
Labels: size/S, area/docs

#5180 fix: fix missing secret when logged-in user with --force-update and …
  jina/hubble/hubio.py
Labels: area/core, size/S

#5153 refactor: extract gateway app logic into custom gateway class
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/gateway.py
  jina/serve/runtimes/gateway/websocket/__init__.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/gateway/websocket/gateway.py
  jina/serve/streamer.py
  tests/integration/clients_extra_kwargs/test_clients_post_extra_kwargs.py
  tests/integration/gateway_streamer/__init__.py
  tests/integration/gateway_streamer/test_gateway_streamer.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
Labels: size/L, area/core, area/testing, size/XL

#5179 docs: clarify __return__ behavior in parameters
  docs/fundamentals/executor/executor-methods.md
Labels: area/docs, size/XS

#5185 fix: fix get-openapi-schemas script
  scripts/get-openapi-schemas.py
Labels: size/S

#5157 feat: add duration info in events
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  jina/serve/runtimes/asyncio.py
Labels: area/core, area/helper, size/S

#5188 fix: fix get openapi schema script
  scripts/get-openapi-schemas.py
Labels: size/S

#5190 docs: improve warning about config file in custom docker
  docs/fundamentals/executor/containerize-executor.md
Labels: area/docs, size/XS

#5187 feat: support list-like syntax to round robin CUDA devices
  docs/fundamentals/flow/topologies.md
  jina/orchestrate/deployments/__init__.py
  tests/unit/orchestrate/deployments/test_cuda_assignment.py
Labels: area/core, size/S, area/testing, area/docs

#5191 docs(jcloud): update faq and lifetime
  docs/fundamentals/jcloud/index.md
  docs/fundamentals/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5193 docs: document grpc client limitation
  docs/fundamentals/client/client.md
Labels: size/S, area/docs

#5199 fix: remove leftover prints
  jina/jaml/helper.py
  jina/orchestrate/deployments/__init__.py
Labels: area/core, size/XS, component/jaml

#5201 feat(logs): enable json logging
  jina/logging/logger.py
  jina/resources/logging.json.yml
Labels: area/core, size/S, component/logging, component/resource

#5202 docs: clarify exec endpoint usage in http
  docs/fundamentals/gateway/index.md
Labels: size/S, area/docs

#5208 docs(what-is-modality): fix grammar, punctuation
  docs/get-started/what-is-cross-modal-multi-modal.md
Labels: size/S, area/docs

#5209 docs(what-is-jina): fix grammar, wording, punctuation
  docs/get-started/what-is-jina.md
Labels: size/M, area/docs

#5111 feat(monitoring): add monitoring of requests size in bytes at all level
  docs/fundamentals/flow/monitoring-flow.md
  jina/serve/helper.py
  jina/serve/monitoring.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/streamer.py
  jina_cli/autocomplete.py
  tests/integration/complex_tags/test_complex_tags.py
  tests/integration/monitoring/__init__.py
  tests/integration/monitoring/test_deprecated_metric.py
  tests/integration/monitoring/test_monitoring.py
  tests/integration/monitoring/test_request_size.py
Labels: size/M, size/L, area/core, size/S, area/testing, area/docs, area/cli

#5205 fix(hubio.fetch_meta): move significant params to sequential
  jina/hubble/hubio.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubio.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_helper.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/M, area/core, area/testing

#5213 docs: fix install instructions docker
  docs/index.md
Labels: size/S, area/docs

#5176 feat: add multiple attempts options to client.post API
  docs/fundamentals/client/client.md
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
Labels: size/M, area/core, area/docs, size/XS, component/client

#5214 chore: update pull request template link
  .github/pull_request_template.md
Labels: area/housekeeping, size/XS

#5220 docs: mention prefetch in python and yaml code
  docs/fundamentals/gateway/index.md
Labels: area/docs, size/XS

#5222 fix: fix compatibility with protobuf python backend
  jina/serve/runtimes/gateway/http/models.py
Labels: area/core, size/XS

#5223 docs: change setenv into environ
  docs/fundamentals/flow/health-check.md
Labels: area/docs, size/XS

#5224 refactor: separate gateway and asyncio runtime readiness checks
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
Labels: area/core, size/S

#5225 chore: update contributing to remove labeling
  .github/github-issue-label-guide.md
  CONTRIBUTING.md
Labels: area/housekeeping, size/S

#5200 feat: add gateway option to jina ping and use ping in readinessProbe
  docs/fundamentals/flow/health-check.md
  jina/checker.py
  jina/clients/base/helper.py
  jina/helper.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_tools.py
  jina/parsers/ping.py
  jina/resources/k8s/template/deployment-executor.yml
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/serve/runtimes/gateway/__init__.py
  jina_cli/autocomplete.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deployments/config/k8slib/test_kubernetes_tools.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/M, area/core, area/helper, area/testing, area/docs, component/resource, component/client, area/cli

#5227 refactor: move hubble related code to hubble-sdk
  extra-requirements.txt
  jina/hubble/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/hubble/requirements.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/pods/factory.py
  jina/orchestrate/pods/helper.py
  jina/parsers/__init__.py
  jina/parsers/hubble/__init__.py
  jina/parsers/hubble/new.py
  jina/parsers/hubble/pull.py
  jina/parsers/hubble/push.py
  jina/parsers/hubble/status.py
  jina/resources/executor-template/Dockerfile
  jina/resources/executor-template/README.md
  jina/resources/executor-template/config.yml
  jina/resources/executor-template/executor.py
  jina/resources/executor-template/jax.Dockerfile
  jina/resources/executor-template/requirements.txt
  jina/resources/executor-template/tf.Dockerfile
  jina/resources/executor-template/torch.Dockerfile
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina_cli/api.py
  scripts/black.sh
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/Dockerfile
  tests/unit/hubble/__init__.py
  tests/unit/hubble/docker_pull.logs
  tests/unit/hubble/dummy_executor.tar
  tests/unit/hubble/dummy_executor.tar.gz
  tests/unit/hubble/dummy_executor.zip
  tests/unit/hubble/dummy_executor/__init__.py
  tests/unit/hubble/dummy_executor/dep.py
  tests/unit/hubble/dummy_executor/exec.py
  tests/unit/hubble/dummy_executor/requirements.txt
  tests/unit/hubble/dummy_executor_fail/__init__.py
  tests/unit/hubble/dummy_executor_fail/dep.py
  tests/unit/hubble/dummy_executor_fail/exec.py
  tests/unit/hubble/dummy_executor_fail/requirements.txt
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_helper.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/pods/test_pod_factory.py
  tests/unit/parsers/hubble/__init__.py
  tests/unit/parsers/hubble/test_new.py
  tests/unit/parsers/hubble/test_pushpull.py
  tests/unit/test_cli.py
Labels: area/core, size/S, area/testing, size/XL, component/resource, area/setup, area/cli

#5235 docs: explain executor patching in kubernetes
  docs/how-to/kubernetes.md
Labels: size/S, area/docs

#5236 docs: fix typos
  docs/how-to/kubernetes.md
Labels: area/docs, size/XS
