Repository jina-ai/serve, pull requests merged in 2022-08, with the labels that each got.

#5041 fix: do not send target_executor to Executors
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/external_deployment/test_external_deployment.py
Labels: area/core, size/S, area/testing

#5027 docs: refactor resources, add gpu, kong
  docs/fundamentals/jcloud/advanced.md
  docs/fundamentals/jcloud/basic.md
  docs/fundamentals/jcloud/faq.md
  docs/fundamentals/jcloud/index.md
  docs/fundamentals/jcloud/resources.md
Labels: size/M, size/S, area/docs

#5047 docs: improve grpc third party client documentation
  docs/fundamentals/client/client.md
  docs/fundamentals/client/third-party-client.md
  docs/index.md
  docs/proto/docs.md
Labels: size/S, area/docs, size/XS

#5048 docs(jcloud): fix formatting
  docs/fundamentals/jcloud/resources.md
Labels: size/S, area/docs

#5050 feat: add dryrun to cli
  docs/fundamentals/flow/health-check.md
  jina/checker.py
  jina/parsers/__init__.py
  jina/parsers/dryrun.py
  jina_cli/api.py
  jina_cli/autocomplete.py
Labels: area/core, area/helper, size/S, area/docs, area/cli

#5023 feat: hubble support env variables
  docs/fundamentals/executor/hub/push-executor.md
  jina/hubble/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/hubble/requirements.py
  jina/parsers/hubble/push.py
  jina_cli/autocomplete.py
  tests/unit/hubble/dummy_executor/requirements.txt
  tests/unit/hubble/dummy_executor_fail/__init__.py
  tests/unit/hubble/dummy_executor_fail/dep.py
  tests/unit/hubble/dummy_executor_fail/exec.py
  tests/unit/hubble/dummy_executor_fail/requirements.txt
  tests/unit/hubble/test_helper.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, area/testing, area/docs, area/cli

#5056 docs(jcloud): autoscale docs
  docs/fundamentals/jcloud/advanced.md
  docs/fundamentals/jcloud/autoscale.md
  docs/fundamentals/jcloud/basic.md
  docs/fundamentals/jcloud/index.md
  docs/how-to/external-executor.md
  docs/how-to/kubernetes.md
Labels: size/M, area/docs

#5060 docs: add CPU and GPU type
  docs/fundamentals/jcloud/resources.md
Labels: area/docs, size/XS

#5058 refactor: unify temp path to dot cache jina
  jina/__init__.py
  jina/hubble/helper.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/orchestrate/helper.py
  jina/serve/executors/decorators.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, area/helper, area/testing, area/entrypoint

#5061 fix: cache hub pull with build env
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, size/S, area/testing

#5065 docs(jcloud): doc for gateway customization
  docs/fundamentals/jcloud/advanced.md
  docs/fundamentals/jcloud/resources.md
Labels: size/S, area/docs

#5064 refactor(hub): use hubble sdk
  extra-requirements.txt
  jina/hubble/helper.py
  jina/hubble/hubio.py
  jina/parsers/__init__.py
  jina/resources/extra-requirements.txt
  jina_cli/autocomplete.py
  tests/unit/hubble/test_hubio.py
  tests/unit/test_helper.py
Labels: size/M, area/core, area/testing, component/resource, area/setup, area/cli

#5067 refactor: remove unused hub environment variables
  docs/envs/index.md
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/gateway/index.md
  jina/__init__.py
  tests/conftest.py
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/hubble/test_hubapi.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, area/helper, size/S, area/testing, area/docs, area/entrypoint

#5066 fix: #5055
  jina/orchestrate/flow/base.py
  jina/resources/logging.default.yml
  jina/resources/logging.docker.yml
Labels: area/core, size/S, size/XS, component/resource

#5069 docs: add gateway timeout and update shared gpu
  docs/fundamentals/jcloud/advanced.md
  docs/fundamentals/jcloud/resources.md
Labels: size/S, area/docs

#5070 fix(cli): jina auth cli error
  extra-requirements.txt
  jina/parsers/__init__.py
  jina/parsers/base.py
  jina/resources/extra-requirements.txt
  jina_cli/__init__.py
  jina_cli/api.py
  jina_cli/autocomplete.py
  tests/unit/test_cli.py
Labels: area/core, size/S, area/testing, component/resource, area/setup, area/cli

#5062 chore: update pr template with reminder to add a description
  .github/pull_request_template.md
Labels: area/housekeeping, size/S, size/XS

#5074 feat: include jcloud cli
  docs/fundamentals/jcloud/index.md
  extra-requirements.txt
  jina/parsers/__init__.py
  jina/resources/extra-requirements.txt
  jina_cli/__init__.py
  jina_cli/api.py
  jina_cli/autocomplete.py
Labels: area/core, size/S, area/docs, component/resource, area/setup, area/cli

#5072 fix: set workspace in executor init method
  jina/serve/executors/__init__.py
  tests/unit/serve/executors/test_executor.py
Labels: area/core, size/S, area/testing

#5078 refactor: telemetry
  docs/envs/index.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/flow-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/gateway/index.md
  docs/telemetry.md
  docs/yaml-spec.md
  extra-requirements.txt
  jina/__init__.py
  jina/clients/base/__init__.py
  jina/clients/mixin.py
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/helper.py
  jina/parsers/orchestrate/base.py
  jina/resources/completions/jina.bash
  jina/resources/completions/jina.fish
  jina/resources/completions/jina.zsh
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/helper.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/websocket/__init__.py
  jina_cli/autocomplete.py
  tests/integration/docker_volumes/test_volumes_in_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: size/L, area/core, area/helper, area/testing, area/docs, component/resource, area/setup, component/client, area/entrypoint, area/cli

#5080 docs: remove kong/alb from jcloud document
  docs/fundamentals/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5081 docs: adjust jcloud monitoring docs
  docs/fundamentals/jcloud/index.md
Labels: area/docs, size/XS

#5079 feat: add failed and successful request number metrics
  docs/fundamentals/executor/monitoring-executor.md
  docs/fundamentals/flow/monitoring-flow.md
  docs/fundamentals/jcloud/index.md
  docs/how-to/monitoring.md
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/monitoring/test_monitoring.py
Labels: size/M, area/core, area/testing, area/docs

#5090 ci: downgrade linkerd version in CI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/k8s/conftest.py
Labels: area/housekeeping, size/S, area/cicd, area/testing, size/XS

#5088 refactor: refactor data request handler monitoring
  jina/serve/runtimes/gateway/request_handling.py
Labels: area/core, size/S

#5082 feat: bump protobuf version
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfiles/protogen-3.21.Dockerfile
  extra-requirements.txt
  jina/helper.py
  jina/proto/build-proto.sh
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/pb/__init__.py
  jina/proto/pb/jina_pb2.py
  jina/proto/pb/jina_pb2_grpc.py
  jina/proto/pb2/__init__.py
  jina/proto/pb2/jina_pb2.py
  jina/proto/pb2/jina_pb2_grpc.py
  jina/resources/extra-requirements.txt
  scripts/black.sh
  scripts/docstrings_lint.sh
Labels: area/housekeeping, area/docker, size/L, area/core, area/helper, area/cicd, area/network, size/XL, component/resource, area/setup, component/proto

#5094 ci: cleanup pip install
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/XS

#5096 docs: correct jcloud retention days
  docs/fundamentals/jcloud/index.md
Labels: area/docs, size/XS

#5098 fix: update to protobuf 4.21 new types
  extra-requirements.txt
  jina/__init__.py
  jina/resources/extra-requirements.txt
  jina/serve/runtimes/gateway/http/models.py
Labels: area/core, area/helper, size/S, size/XS, component/resource, area/setup, area/entrypoint

#5102 docs: fix metrics names
  docs/fundamentals/flow/monitoring-flow.md
Labels: size/S, area/docs

#5106 fix: remove flakyness of monitoring integration tests in CI
  tests/integration/monitoring/test_manual_flow.py
  tests/integration/monitoring/test_monitoring.py
Labels: size/L, area/testing

#5105 feat(client): add profiling function to client and flow
  docs/fundamentals/client/client.md
  docs/how-to/index.md
  docs/proto/docs.md
  jina/clients/__init__.py
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/mixin.py
  jina/clients/websocket.py
  jina/orchestrate/flow/asyncio.py
  jina/orchestrate/flow/base.py
  jina/parsers/client.py
  jina/proto/docarray.proto
  jina/resources/executor-template/config.yml
  jina/resources/project-template/executor1/config.yml
  jina_cli/autocomplete.py
  tests/integration/concurrent_clients/test_concurrent_clients.py
  tests/integration/crud/test_crud.py
  tests/integration/deployments/test_deployment.py
  tests/integration/flow_dry_run/test_flow_dry_run.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/k8s/test_graceful_request_handling.py
  tests/unit/orchestrate/flow/flow-async/test_asyncflow.py
  tests/unit/test_gateway.py
Labels: size/M, size/L, area/core, area/testing, area/network, area/docs, component/resource, component/client, component/proto, area/cli

#5100 refactor: move port monitoring to pods parsing
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/pod.py
  jina/serve/runtimes/monitoring.py
  jina_cli/autocomplete.py
  tests/integration/monitoring/test_monitoring.py
Labels: area/core, size/S, area/testing, area/docs, area/cli

#5108 fix: fix inconsistent docs and tests on py_modules
  docs/fundamentals/architecture-overview.md
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-files.md
  docs/fundamentals/flow/add-executors.md
  docs/how-to/external-executor.md
  jina/hubble/hubio.py
  tests/docker_compose/executor-merger/config.yml
  tests/docker_compose/reload-executor/config.yml
  tests/docker_compose/test-executor/config.yml
  tests/integration/container_runtime_args/replica-exec/config.yml
  tests/integration/docker_volumes/filewriter-exec/executor.yml
  tests/integration/hub_usage/dummyhub/config.yml
  tests/integration/hub_usage/dummyhub_abs/config.yml
  tests/integration/hub_usage/dummyhub_pretrained/config.yml
  tests/integration/hub_usage/dummyhub_slow/config.yml
  tests/integration/hub_usage/hub-mwu/mwu_encoder.yml
  tests/integration/hub_usage/yaml/test-executor.yml
  tests/integration/issues/github_1546/bad1/crafter.yml
  tests/integration/issues/github_1546/good_new/crafter.yml
  tests/integration/issues/github_1546/good_old/crafter.yml
  tests/integration/issues/github_3271/test_python_single_import.py
  tests/integration/override_config_params/container/default_config.yml
  tests/integration/override_config_params/worker/default_config.yml
  tests/jinahub/hub_mwu/mwu_encoder.yml
  tests/k8s/executor-merger/config.yml
  tests/k8s/reload-executor/config.yml
  tests/k8s/set-text-executor/config.yml
  tests/k8s/slow-process-executor/config.yml
  tests/k8s/test-executor/config.yml
  tests/unit/hubble-executor/config.yml
  tests/unit/orchestrate/flow/flow-construct/executor-invalid-import/config.yml
  tests/unit/orchestrate/flow/flow-construct/executor/config.yml
  tests/unit/orchestrate/flow/flow-construct/mwu-encoder/mwu_encoder.yml
  tests/unit/orchestrate/pods/container/dummy-exec/executor.yml
  tests/unit/orchestrate/pods/container/env-checker/executor.yml
  tests/unit/orchestrate/pods/container/fail-start/executor.yml
  tests/unit/serve/executors/test_executor.py
  tests/unit/yaml/dummy_ext_exec_success.yml
Labels: size/M, area/core, area/testing, area/docs

#5109 docs: modify jcloud retention days document
  docs/fundamentals/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5104 feat: add gpu dockerfile support to jina hub new
  docs/fundamentals/executor/hub/create-hub-executor.md
  jina/hubble/hubio.py
  jina/parsers/hubble/new.py
  jina/resources/executor-template/Dockerfile
  jina/resources/executor-template/jax.Dockerfile
  jina/resources/executor-template/tf.Dockerfile
  jina/resources/executor-template/torch.Dockerfile
  jina_cli/autocomplete.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_new.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/cli
