Repository jina-ai/serve, pull requests merged in 2022-04, with the labels that each got.

#4562 fix: check if port is occupied
  jina/excepts.py
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  tests/integration/issues/github_4555/test_port.py
  tests/unit/test_helper.py
Labels: area/core, area/helper, size/S, area/testing

#4571 fix: start DataRequestHandler before grpc server
  jina/serve/runtimes/worker/__init__.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: area/core, size/S, area/testing

#4582 fix: increase pytest timeout to 30
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#4581 fix(executor): runtime args are now passed directly without any parsing
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/jaml/parsers/base.py
  jina/jaml/parsers/default/v1.py
  jina/jaml/parsers/executor/legacy.py
  jina/jaml/parsers/flow/v1.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/unit/serve/executors/test_runtime_args.py
Labels: size/M, area/core, area/testing, component/jaml

#4584 docs(executor): add references to replicas and shards
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/flow/create-flow.md
  docs/get-started/create-app.md
Labels: size/S, area/docs

#4554 feat: add default volume to dockererized executors
  cli/autocomplete.py
  docs/fundamentals/executor/containerize-executor.md
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/helper.py
  jina/orchestrate/pods/container.py
  jina/parsers/orchestrate/runtimes/container.py
  jina/serve/executors/__init__.py
  tests/integration/docker_volumes/__init__.py
  tests/integration/docker_volumes/filewriter-exec/Dockerfile
  tests/integration/docker_volumes/filewriter-exec/__init__.py
  tests/integration/docker_volumes/filewriter-exec/executor.py
  tests/integration/docker_volumes/filewriter-exec/executor.yml
  tests/integration/docker_volumes/test_volumes_in_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/pods/container/dummy-exec/Dockerfile
  tests/unit/orchestrate/pods/container/dummy-exec/__init__.py
  tests/unit/orchestrate/pods/container/dummy-exec/executor.py
  tests/unit/orchestrate/pods/container/dummy-exec/executor.yml
  tests/unit/orchestrate/pods/container/test_container_pod.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, size/L, area/core, size/S, area/testing, area/docs, area/cli

#4586 docs: disable reduce in example
  docs/fundamentals/executor/executor-in-flow.md
Labels: area/docs, size/XS

#4579 feat: add support for cli plugins
  cli/__init__.py
  cli/known_plugins.py
Labels: size/M, size/S, area/cli

#4526 feat: expose prometheus metrics
  cli/autocomplete.py
  extra-requirements.txt
  jina/__init__.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
  jina/resources/extra-requirements.txt
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/monitoring.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/stream/__init__.py
  tests/docker_compose/test_docker_compose.py
  tests/integration/monitoring/test_pod.py
  tests/k8s/test_k8s.py
Labels: size/M, area/core, area/helper, area/testing, component/resource, area/setup, area/entrypoint, area/cli, epic/monitoring

#4573 docs: refactor access flow page
  docs/fundamentals/flow/access-flow-api.md
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/flow-api.md
Labels: size/M, area/docs

#4592 Update M1 Install Documentation
  docs/get-started/install/troubleshooting.md
Labels: area/docs, size/XS

#4585 feat: add grpc reflection support
  docs/how-to/external-executor.md
  extra-requirements.txt
  jina/orchestrate/flow/base.py
  jina/resources/extra-requirements.txt
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_complex_topology.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
  tests/unit/serve/test_networking.py
Labels: size/M, size/L, area/core, area/testing, area/docs, component/resource, area/setup

#4594 feat(hub): add `--no-cache` option to "jina hub push" CLI
  cli/autocomplete.py
  jina/hubble/hubio.py
  jina/parsers/hubble/push.py
  tests/unit/hubble/test_hubio.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: area/core, size/S, area/testing, area/cli

#4595 docs: fixed typo in sandbox lifecycle
  docs/how-to/sandbox.md
Labels: area/docs, size/XS

#4597 feat: Expose Executors as first class citizens
  docs/fundamentals/executor/executor-api.md
  docs/how-to/external-executor.md
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, area/core, area/testing, area/docs

#4603 fix: do not copy flow if already built
  jina/orchestrate/flow/base.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_visualization.py
Labels: area/core, size/S, area/testing

#4604 chore: bump version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#4605 fix: 8080 as default gateway port in k8s
  jina/orchestrate/flow/base.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: area/core, size/S, area/testing

#4608 fix: sandbox tls
  jina/serve/networking.py
  tests/integration/sandbox/__init__.py
  tests/integration/sandbox/test_sandbox.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: area/core, size/S, area/testing

#4606 fix: prometheus client requirements to match conda package
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4609 docs: mention scaling of gateway
  docs/how-to/kubernetes.md
Labels: area/docs, size/XS

#4614 fix: remove force interactive in rich console
  jina/helper.py
Labels: area/core, area/helper, size/XS

#4610 docs: renamed method to be named differently from property
  docs/fundamentals/flow/flow-yaml.md
Labels: area/docs, size/XS

#4620 docs: remove needless python api page
  docs/api.md
Labels: size/S, area/docs, size/XS

#4623 docs: add postman collection
  .github/Jina.postman_collection.json
  docs/fundamentals/flow/access-flow-api.md
  scripts/black.sh
Labels: area/housekeeping, size/L, area/docs

#4574 docs: restructure flow yaml instructions
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/flow-yaml.md
  docs/fundamentals/flow/index.md
Labels: size/M, area/docs

#4636 refactor(monitoring): add jina namespace to current metrics
  jina/serve/networking.py
  jina/serve/runtimes/worker/__init__.py
Labels: area/core, size/XS

#4635 feat: add process request seconds for executor
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/monitoring/test_monitoring.py
Labels: area/core, size/S, area/testing

#4639 docs(sandbox): sandbox is serverless now
  docs/how-to/sandbox.md
Labels: area/docs, size/XS

#4643 fix: fix flow plot with private executor
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#4633 refactor: avoid threadpool
  jina/helper.py
  jina/serve/executors/__init__.py
  tests/unit/serve/executors/test_executor.py
Labels: area/core, area/helper, size/S, area/testing

#4641 fix: remove prometheus import from the top of the files
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/monitoring.py
  jina/serve/runtimes/worker/__init__.py
Labels: size/M, area/housekeeping, area/core, size/S, area/cicd

#4640 fix: better reporting of errors in the head
  jina/serve/runtimes/head/__init__.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
Labels: area/core, size/S, area/testing

#4653 fix: relax time constraint in block exec test
  tests/unit/serve/executors/test_executor.py
Labels: area/testing, size/XS

#4651 fix: pass extra search paths
  jina/jaml/__init__.py
Labels: area/core, size/XS, component/jaml

#4655 docs: fix admonition in access flow page
  docs/fundamentals/flow/access-flow-api.md
Labels: area/docs, size/XS

#4671 fix: sandbox usage from k8s/docker-compose
  jina/orchestrate/flow/base.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: area/core, size/S, area/testing

#4663 docs: make all how-to titles sentence case
  docs/how-to/debug-executor.md
  docs/how-to/scale-out.md
Labels: area/docs, size/XS

#4665 docs: reorder correctly the remark page
  docs/fundamentals/flow/remarks.md
Labels: size/S, area/docs

#4662 docs: normalize usage of admonition boxes
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/flow/access-flow-api.md
  docs/fundamentals/flow/client.md
  docs/how-to/async-executors.md
  docs/how-to/debug-executor.md
  docs/how-to/external-executor.md
  docs/how-to/flow-switch.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
Labels: size/S, area/docs

#4650 fix: set the multiprocessing start_method spawn
  extra-requirements.txt
  jina/__init__.py
  jina/resources/extra-requirements.txt
Labels: area/core, area/helper, size/S, component/resource, area/setup, area/entrypoint

#4659 docs: add docs guide
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: area/housekeeping, size/S

#4646 feat: pass environment to head and gateway
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/head/__init__.py
  tests/unit/orchestrate/deployments/__init__.py
  tests/unit/orchestrate/deployments/config/__init__.py
  tests/unit/orchestrate/deployments/config/k8slib/__init__.py
  tests/unit/orchestrate/deployments/config/k8slib/test_kubernetes_tools.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_helper.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/deployments/test_deployments.py
Labels: area/core, size/S, area/testing

#4611 docs: fixed typos in limiting outstanding requests
  docs/fundamentals/flow/flow-api.md
Labels: area/docs, size/XS

#4652 fix: better error messages when flow fails to start
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
Labels: area/core, size/S, area/testing

#4672 feat(monitoring): count the number of processed documents
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/integration/monitoring/test_monitoring.py
Labels: size/M, area/core, area/testing, epic/monitoring

#4686 feat: add linkerd details in contributing
  CONTRIBUTING.md
  tests/k8s/test_k8s.py
Labels: area/testing, size/XS

#4689 fix(dependency): prometheus client should be a core dependency
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4684 fix: fix configuration of addresses in docker compose
  jina/orchestrate/flow/base.py
  jina/serve/networking.py
  tests/docker_compose/test_docker_compose.py
Labels: area/core, size/S, area/testing

#4690 fix: fix target executor in http
  jina/clients/base/helper.py
  tests/integration/issues/github_4683/test_target_executor_http.py
Labels: area/core, size/S, area/testing, component/client

#4693 fix: fix deadlock on import
  cli/__init__.py
Labels: size/XS, area/cli

#4692 fix: pod does not start runtime process as daemon
  jina/orchestrate/pods/__init__.py
  tests/integration/runtimes/test_runtimes.py
Labels: area/core, area/testing, size/XS

#4682 feat: graceful shutdown
  jina/serve/networking.py
  jina/serve/runtimes/worker/__init__.py
  tests/k8s/test_graceful_request_handling.py
Labels: area/core, size/S, area/testing

#4674 fix(hubio): improve error message from hubble
  jina/hubble/helper.py
  jina/hubble/hubio.py
Labels: size/M, area/core

#4701 fix(parsers): clearify flow args
  cli/autocomplete.py
  jina/orchestrate/flow/base.py
  jina/parsers/flow.py
  jina/parsers/orchestrate/base.py
Labels: size/M, area/core, size/S, size/XS, area/cli

#4698 fix: parsing requirements of executor
  jina/hubble/helper.py
  jina/hubble/requirements.py
  tests/unit/hubble/test_helper.py
Labels: size/M, area/core, area/testing

#4703 fix: use warnings and threading
  cli/__init__.py
Labels: size/XS, area/cli

#4705 refactor: some UI improvement
  cli/__init__.py
  jina/__init__.py
  jina/__main__.py
  jina/helper.py
  jina/logging/logger.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/container.py
  jina/parsers/__init__.py
  jina/parsers/base.py
  jina/resources/logging.default.yml
  jina/resources/logging.docker.yml
  jina/resources/logging.quiet.yml
  jina/resources/logging.remote.yml
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/docker_compose/executor-merger/exec_merger.py
  tests/integration/crud/__init__.py
Labels: size/M, area/core, area/helper, size/S, area/testing, component/logging, component/resource, area/entrypoint, area/cli

#4712 fix(logger): use docker log handler for container
  cli/api.py
  cli/autocomplete.py
  jina/checker.py
  jina/clients/helper.py
  jina/helloworld/fork.py
  jina/logging/logger.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/container.py
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/runtimes/container.py
  jina/resources/logging.default.yml
  jina/resources/logging.docker.yml
Labels: size/M, area/core, area/helper, size/S, component/logging, component/resource, component/client, area/helloworld, area/cli

#4713 style: sort and optimize imports
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/helloworld/fashion/app.py
  jina/helloworld/fashion/my_executors.py
  jina/hubble/hubapi.py
  jina/hubble/hubio.py
  jina/jaml/__init__.py
  jina/jaml/parsers/__init__.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/asyncio.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/helper.py
  jina/parsers/flow.py
  jina/parsers/helloworld.py
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/runtimes/distributed.py
  jina/serve/executors/decorators.py
  jina/serve/networking.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/stream/__init__.py
  jina/types/request/__init__.py
  jina/types/request/control.py
Labels: area/core, size/S, component/client, component/type, component/jaml

#4714 fix: the cd
  .github/workflows/cd.yml
Labels: area/housekeeping, size/S, area/cicd, size/XS

#4711 fix: update failing test
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
Labels: area/testing, size/XS

#4715 fix: fix grpcio-reflection version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4716 fix: remove version check from cli
  cli/__init__.py
  jina/__init__.py
Labels: size/M, area/core, area/helper, size/S, size/XS, area/entrypoint, area/cli

#4718 fix: add resource layer in docker compose gpu
  jina/orchestrate/deployments/config/docker_compose.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
Labels: area/core, size/S, area/testing

#4676 feat: immutable tags for executors
  cli/autocomplete.py
  docs/fundamentals/executor/hub/push-executor.md
  jina/hubble/hubio.py
  jina/parsers/hubble/push.py
Labels: area/core, size/S, area/docs, area/cli

#4721 fix: rename immutable-tag to protected-tag
  cli/autocomplete.py
  docs/fundamentals/executor/hub/push-executor.md
  jina/hubble/hubio.py
  jina/parsers/hubble/push.py
Labels: area/core, size/S, area/docs, area/cli

#4720 feat: allow user not to print version check print
  cli/__init__.py
  jina/__init__.py
Labels: area/core, area/helper, size/S, area/entrypoint, area/cli

#4687 feat: monitoring support for k8s
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/base.py
  jina/resources/k8s/template/service_monitor.yml
  jina/resources/k8s/template/service_monitoring.yml
  tests/k8s/test_k8s.py
Labels: size/M, area/core, area/testing, component/resource, epic/monitoring

#4722 feat: allow jina now to unset jina_check_version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint
