Repository jina-ai/serve, pull requests merged in 2022-06, with the labels that each got.

#4848 docs: add health check documentation
  docs/fundamentals/flow/index.md
  docs/fundamentals/health-check.md
  docs/index.md
Labels: size/M, size/S, area/docs

#4849 fix: pass tls to the deployment
  cli/autocomplete.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/deployment.py
Labels: area/core, size/S, size/XS, area/cli

#4855 fix: client default port
  jina/helper.py
  jina/parsers/orchestrate/runtimes/remote.py
  tests/unit/clients/test_interface.py
Labels: size/M, area/core, area/helper, size/S, area/testing

#4858 docs: add default port client
  docs/fundamentals/flow/client.md
Labels: area/docs, size/XS

#4842 docs: document behaviour when things go wrong and redo k8s howto
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/when-things-go-wrong.md
  docs/how-to/kubernetes.md
Labels: size/M, size/S, area/docs

#4861 feat: avoid concurrent init for replicas in same machine
  jina/__init__.py
  jina/hubble/helper.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  tests/integration/high_order_matches/test_document.py
Labels: area/core, area/helper, size/S, area/testing, area/entrypoint

#4865 refactor: remove unnecessary code
  README.md
  cli/autocomplete.py
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/when-things-go-wrong.md
  docs/how-to/kubernetes.md
  docs/how-to/monitoring.md
  jina/clients/base/grpc.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/head.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/resources/executor-template/README.md
  jina/resources/project-template/app.py
  jina/serve/executors/__init__.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/models.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/integration/test_grpc_compression/test_grpc_compression.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: size/M, area/core, area/testing, area/docs, component/resource, component/client, area/cli

#4870 ci: update test path findings
  Dockerfiles/debianx.Dockerfile
  README.md
  cli/export.py
  conda/meta.yaml
  docs/_templates/page.html
  docs/conf.py
  scripts/create-conda-recipe.py
  scripts/get-all-test-paths.sh
  setup.py
Labels: area/docker, size/S, area/docs, area/setup, area/cli

#4824 feat: expose flow readiness check in gateway
  docs/fundamentals/flow/index.md
  docs/fundamentals/health-check.md
  docs/index.md
  jina/__init__.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/mixin.py
  jina/clients/websocket.py
  jina/orchestrate/flow/base.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/serializer.py
  jina/serve/executors/__init__.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/types/mixin.py
  jina/types/request/status.py
  tests/integration/flow-dry-run/__init__.py
  tests/integration/flow-dry-run/test_flow_dry_run.py
  tests/integration/runtimes/test_gateway_dry_run.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/types/request/test_status_message.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/network, size/XL, area/docs, component/client, component/proto, area/entrypoint, component/type

#4892 feat: custom monitoring with context manager
  docs/fundamentals/executor/monitoring-executor.md
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  tests/integration/monitoring/test_executor.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, area/testing, area/docs

#4779 feat: add grpc health checking
  docs/fundamentals/flow/health-check.md
  docs/fundamentals/flow/index.md
  extra-requirements.txt
  jina/__init__.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/grpc.py
  jina/clients/helper.py
  jina/clients/http.py
  jina/clients/mixin.py
  jina/clients/request/helper.py
  jina/clients/websocket.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/helper.py
  jina/proto/jina.proto
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/proto/serializer.py
  jina/resources/extra-requirements.txt
  jina/resources/health_check/pod.py
  jina/serve/executors/__init__.py
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina/types/mixin.py
  jina/types/request/control.py
  jina/types/request/status.py
  tests/integration/flow-dry-run/__init__.py
  tests/integration/flow-dry-run/test_flow_dry_run.py
  tests/integration/pods/container/test_pod.py
  tests/integration/pods/test_pod.py
  tests/integration/runtimes/test_gateway_dry_run.py
  tests/integration/runtimes/test_network_failures.py
  tests/integration/runtimes/test_runtimes.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_tls.py
  tests/unit/serve/runtimes/gateway/http/test_models.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
  tests/unit/test_helper.py
  tests/unit/types/request/test_request.py
  tests/unit/types/request/test_status_message.py
  tests/unit/yaml/datauriindex.yml
Labels: area/core, area/helper, area/testing, area/network, size/XL, area/docs, component/resource, area/setup, component/client, component/proto, area/entrypoint, component/type

#4898 chore: remove pages from .github folder
  .github/pages/hello-world.md
Labels: area/housekeeping, size/XS

#4900 docs: docs improvements
  docs/fundamentals/clean-code.md
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/index.md
  docs/fundamentals/flow/create-flow.md
  docs/how-to/async-executors.md
  docs/how-to/deploy.md
  docs/how-to/docker-compose.md
  docs/how-to/executor.md
  docs/how-to/external-executor.md
  docs/how-to/flow-switch.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/monitoring.md
  docs/how-to/scale-out.md
  docs/proto/docs.md
Labels: size/M, area/docs

#4904 docs: correct header indention
  docs/fundamentals/flow/yaml-spec.md
Labels: area/docs, size/XS

#4905 docs(hub): replace the fomula
  docs/fundamentals/executor/hub/index.md
Labels: area/docs, size/XS

#4899 feat: error handling for executor timeouts
  docs/fundamentals/flow/when-things-go-wrong.md
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/head/__init__.py
  tests/integration/gateway_clients/test_executor_timeout_failures.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/client

#4909 docs: add arg list to flow yaml
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/flow-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/flow/yaml-spec.md
  scripts/devbot.sh
  scripts/generate-list-args.py
Labels: size/M, area/docs

#4911 chore: correct template link to github
  docs/_templates/page.html
Labels: area/docs, size/XS

#4916 fix: JSON schema generation
  docs/fundamentals/flow/yaml-spec.md
  jina/schemas/flow.py
  jina/schemas/helper.py
Labels: area/core, size/S, area/docs

#4918 feat: allow Executors as dataclass
  docs/fundamentals/executor/executor-api.md
  jina/jaml/parsers/executor/legacy.py
  tests/integration/dataclass_executor/__init__.py
  tests/integration/dataclass_executor/test_dataclass_executor.py
  tests/integration/flow_dry_run/__init__.py
  tests/integration/flow_dry_run/test_flow_dry_run.py
  tests/integration/monitoring/__init__.py
  tests/unit/jaml/test_type_parse.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/jaml

#4910 chore: update requirement to successfully build docs on local
  docs/requirements.txt
Labels: area/docs, size/XS

#4922 docs: minor documenation updates on the get started section
  docs/fundamentals/architecture-overview.md
  docs/get-started/create-app.md
Labels: size/S, area/docs

#4928 fix(doc): update the description and default questions for qabot
  docs/_templates/page.html
Labels: size/S, area/docs

#4929 docs: add jcloud version doc
  docs/fundamentals/jcloud/advanced.md
Labels: size/S, area/docs

#4913 docs: create api reference
  docs/api-rst.rst
  docs/api.md
  docs/conf.py
  docs/index.md
  jina/clients/__init__.py
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/websocket.py
  jina/orchestrate/flow/asyncio.py
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  scripts/inject-cli-as-overload.py
Labels: size/M, size/L, area/core, size/S, area/docs, component/client

#4933 docs: examples in docstrings
  jina/clients/__init__.py
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/websocket.py
  jina/orchestrate/flow/asyncio.py
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
Labels: size/M, area/core, component/client

#4936 docs: remove broken api sidebar
  docs/api-rst.rst
Labels: area/docs, size/XS

#4931 fix: fix port monitoring
  docs/fundamentals/flow/monitoring-flow.md
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/base.py
  jina/serve/networking.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: area/core, size/S, area/testing, area/docs

#4938 chore: update JClould banner
  docs/_static/jcloud-banner.png
Labels: area/docs, size/XS

#4944 docs: add wolf annotations document
  docs/fundamentals/jcloud/advanced.md
Labels: size/S, area/docs

#4947 feat: expose kwargs to Clients
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  tests/integration/clients_extra_kwargs/__init__.py
  tests/integration/clients_extra_kwargs/test_clients_post_extra_kwargs.py
  tests/unit/clients/python/test_client.py
  tests/unit/clients/python/test_on_err.py
  tests/unit/clients/test_helper.py
Labels: size/M, area/core, size/S, area/testing, component/client

#4953 docs: undo wolf document updates
  docs/fundamentals/jcloud/advanced.md
Labels: size/S, area/docs

#4954 feat: native python module path in py_modules
  docs/fundamentals/executor/executor-api.md
  jina/importer.py
  jina/jaml/helper.py
Labels: area/core, area/helper, size/S, area/docs, component/jaml

#4955 docs: explanation how to set env vars
  docs/envs/index.md
  docs/get-started/migrate.md
Labels: size/S, area/docs

#4956 fix: handle replicas in ui monitoring
  jina/orchestrate/flow/base.py
Labels: size/M, area/core, size/S

#4963 fix: add async dry run method
  jina/clients/grpc.py
  jina/clients/http.py
  jina/clients/mixin.py
  jina/clients/websocket.py
  tests/integration/runtimes/test_gateway_dry_run.py
Labels: area/core, size/S, area/testing, component/client

#4964 fix: replace broken executor files docs link
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/jcloud/basic.md
  jina/hubble/helper.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/worker.py
Labels: area/core, size/S, area/docs

#4966 feat: improve ui after flow success
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#4967 feat(flow): adding floating deployment
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/flow-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/jaml/helper.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/flow/builder.py
  jina/parsers/flow.py
  jina/parsers/orchestrate/pod.py
  jina_cli/autocomplete.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_floating_pod.py
Labels: area/core, size/S, area/testing, area/docs, area/cli, component/jaml

#4970 refactor: change exec name in test
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
Labels: size/L, size/S, area/testing

#4969 test: remove unnecessary folder
  tests/unit/my-mwu-encoder/0/my-mwu-encoder.bin
Labels: area/testing, size/XS

#4960 docs: expose networking requests in api reference
  docs/api-rst.rst
  docs/conf.py
  jina/types/request/__init__.py
  jina/types/request/data.py
Labels: area/core, size/S, area/docs, component/type

#4974 fix: fix monitoring update of metrics on exception
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/monitoring/test_monitoring.py
Labels: size/M, area/core, size/S, area/testing

#4978 chore: remove lz4 reqs
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, component/resource, area/setup

#4975 fix: use secret if logged in user provided it explicitly
  docs/fundamentals/executor/hub/push-executor.md
  jina/hubble/hubio.py
Labels: area/core, size/S, area/docs

#4941 fix: fix reconnect issues
  jina/excepts.py
  jina/serve/networking.py
  tests/integration/runtimes/test_network_failures.py
  tests/unit/serve/test_networking.py
Labels: size/M, area/core, area/helper, area/testing

#4961 feat: allow to pass a list of port monitoring to replicas
  docs/fundamentals/flow/monitoring-flow.md
  jina/helper.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/pod.py
  jina_cli/autocomplete.py
  tests/integration/monitoring/test_monitoring.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/test_helper.py
Labels: size/M, area/core, area/helper, area/testing, area/docs, area/cli

#4982 test: set GRPC_ENABLE_FORK_SUPPORT=False for tests
  tests/conftest.py
Labels: area/testing, size/XS
