Repository jina-ai/serve, pull requests merged in 2022-10, with the labels that each got.

#5234 docs jcloud yaml reorder
  docs/fundamentals/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5239 docs: add note about keeping same jina versions
  docs/how-to/docker-compose.md
  docs/how-to/kubernetes.md
Labels: size/S, area/docs

#5240 docs: polish (2022/10/04)
  README.md
  docs/fundamentals/architecture-overview.md
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-files.md
  docs/fundamentals/executor/executor-methods.md
  docs/fundamentals/executor/executor-run.md
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/executor/monitoring-executor.md
  docs/fundamentals/executor/yaml-spec.md
  docs/get-started/create-app.md
  docs/get-started/install/apple-silicon-m1-m2.md
  docs/how-to/index.md
  docs/index.md
Labels: size/M, area/docs

#5242 fix: disable rich traceback in logging
  jina/resources/logging.default.yml
Labels: area/core, size/XS, component/resource

#5244 docs polish 2022 10 05
  docs/_static/hub-banner.png
  docs/fundamentals/executor/hub/create-hub-executor.md
  docs/fundamentals/executor/hub/debug-executor.md
  docs/fundamentals/executor/hub/hub-portal.md
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/sandbox.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/how-to/sandbox.md
  docs/index.md
Labels: size/M, area/docs

#5217 feat: distributed replicas across different hosts
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/flow/topologies.md
  docs/how-to/external-executor.md
  jina/clients/__init__.py
  jina/helper.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/runtimes/base.py
  tests/integration/distributed-replicas/Dockerfile
  tests/integration/distributed-replicas/__init__.py
  tests/integration/distributed-replicas/config.yml
  tests/integration/distributed-replicas/exec.py
  tests/integration/distributed-replicas/test_distributed_replicas.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/test_helper.py
Labels: size/M, size/L, area/core, area/helper, size/S, area/testing, area/docs, component/client

#5249 fix: avoid having a lambda in logger
  jina/logging/logger.py
Labels: area/core, size/S, component/logging

#5250 fix(orchestrate): enable grpc fork support
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#5141 fix: invalid input raise exception
  jina/clients/base/grpc.py
  jina/clients/base/websocket.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/serve/stream/__init__.py
  tests/integration/issues/github_5141/__init__.py
  tests/integration/issues/github_5141/test_invalid_input_raises_exception.py
Labels: area/core, size/S, area/testing, size/XS, component/client

#5255 docs(flow): clean up
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/health-check.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/monitoring-flow.md
  docs/fundamentals/flow/topologies.md
  docs/fundamentals/flow/when-things-go-wrong.md
  docs/fundamentals/flow/yaml-spec.md
Labels: size/L, area/docs

#5271 feat: add default tracing interceptors to Head grpc connection pool
  jina/serve/runtimes/head/__init__.py
  tests/integration/instrumentation/test_flow_instrumentation.py
Labels: area/core, size/S, area/testing

#5277 docs: fix metrics naming
  docs/fundamentals/flow/monitoring-flow.md
Labels: size/S, area/docs

#5278 ci: allow release from any branch
  .github/workflows/force-docker-build.yml
  .github/workflows/force-release.yml
  scripts/release.sh
Labels: area/housekeeping, size/S, area/cicd, size/XS

#5287 docs(how-to): tidy up language
  docs/fundamentals/clean-code.md
  docs/how-to/docker-compose.md
  docs/how-to/external-executor.md
  docs/how-to/flow-switch.md
  docs/how-to/google-colab.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/monitoring.md
  docs/how-to/realtime-streaming.md
  docs/how-to/scale-out.md
Labels: size/L, area/docs

#5275 feat: record existing Prometheus metrics into OpenTelemetry Histograms
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina/serve/gateway.py
  jina/serve/instrumentation/__init__.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/streamer.py
  tests/integration/instrumentation/__init__.py
  tests/integration/instrumentation/conftest.py
  tests/integration/instrumentation/docker-compose.yml
  tests/integration/instrumentation/otel-collector-config.yml
  tests/integration/instrumentation/prometheus-config.yml
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/unit/serve/instrumentation/test_instrumentation.py
Labels: size/M, size/L, area/core, area/testing, size/XL, component/resource, area/setup

#5290 docs(compare-alternatives): fix english
  docs/get-started/comparing-alternatives.md
Labels: size/S, area/docs

#5289 docs(flow-switch): fix broken restructuredtext syntax
  docs/how-to/flow-switch.md
Labels: area/docs, size/XS

#5279 chore: bump hubble sdk
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5265 feat: dump to StatefulSet in K8s when volumes are passed to Executor
  docs/envs/index.md
  docs/fundamentals/flow/create-flow.md
  jina/__init__.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_tools.py
  jina/resources/k8s/template/statefulset-executor.yml
  jina_cli/autocomplete.py
  tests/k8s/conftest.py
  tests/k8s/test-stateful-executor/.dockerignore
  tests/k8s/test-stateful-executor/Dockerfile
  tests/k8s/test-stateful-executor/__init__.py
  tests/k8s/test-stateful-executor/config.yml
  tests/k8s/test-stateful-executor/stateful_executor.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/M, size/L, area/core, area/helper, size/S, area/testing, area/docs, component/resource, area/entrypoint, area/cli

#5282 feat: bump hubble-sdk v0.22.2, show local location of Executors in Hub
  docs/fundamentals/executor/hub/use-hub-executor.md
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, area/docs, size/XS, component/resource, area/setup

#5285 docs(jcloud): standardize naming conventions
  docs/fundamentals/jcloud/index.md
Labels: size/S, area/docs

#5292 ci: fix deprecation of github actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
Labels: area/housekeeping, size/S, area/cicd

#5221 feat: add GRPC metadata to Executors and Gateway deployments
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/gateway-args.md
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/deployment.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/gateway.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/streamer.py
  jina_cli/autocomplete.py
  tests/integration/deployments/test_deployment.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/serve/runtimes/gateway/graph/test_topology_graph.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
Labels: size/M, size/L, area/core, area/testing, size/XL, area/docs, area/cli

#5295 chore: remove unused class
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/default/__init__.py
  jina/jaml/parsers/default/v1.py
Labels: area/core, size/S, component/jaml

#5297 test: fix test coverage and pin pytest-cov version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: size/M, area/core, size/XS, component/resource, area/setup

#5298 docs: add jina ai cloud restructure jcloud and hub
  README.md
  RELEASE.md
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/executor-run.md
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/executor/hub/create-hub-executor.md
  docs/fundamentals/executor/hub/hub-portal.md
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/sandbox.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/executor/yaml-spec.md
  docs/fundamentals/flow/add-executors.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/jcloud/index.md
  docs/get-started/comparing-alternatives.md
  docs/get-started/what-is-jina.md
  docs/how-to/external-executor.md
  docs/how-to/flow-switch.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/index.md
  docs/jina-ai-cloud/index.md
  docs/jina-ai-cloud/login-1.png
  docs/jina-ai-cloud/login-2.png
  docs/jina-ai-cloud/login.md
  docs/jina-ai-cloud/pat.png
Labels: size/M, area/docs

#5299 chore: add pragma no cover to TYPE_CHECKING branch
  jina/clients/__init__.py
  jina/clients/base/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/helper.py
  jina/jaml/parsers/base.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/flow/builder.py
  jina/orchestrate/pods/container.py
  jina/orchestrate/pods/container_helper.py
  jina/orchestrate/pods/factory.py
  jina/orchestrate/pods/helper.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/gateway.py
  jina/serve/instrumentation/__init__.py
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/models.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/stream/__init__.py
  jina/serve/streamer.py
  jina/types/mixin.py
Labels: area/core, area/helper, size/S, component/client, component/type, component/jaml

#5291 docs: docs for OpenTelemetry instrumentation
  .github/2.0/grafana-histogram-metrics.png
  .github/readme/cloud-native-banner.png
  .github/readme/grafana-histogram-metrics.png
  .github/readme/jaeger-tracing-example.png
  README.md
  docs/fundamentals/client/client.md
  docs/fundamentals/client/instrumenting-client.md
  docs/fundamentals/executor/index.md
  docs/fundamentals/executor/instrumenting-executor.md
  docs/fundamentals/executor/monitoring-executor.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/instrumenting-flow.md
  docs/fundamentals/flow/monitoring-flow.md
  docs/how-to/index.md
  docs/how-to/monitoring.md
  docs/how-to/opentelemetry-migration.md
  docs/how-to/opentelemetry.md
Labels: area/housekeeping, size/L, size/XL, area/docs

#5304 chore(version): bump version to 3.11.0
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5301 docs: support redirects
  docs/conf.py
  docs/redirects.txt
  docs/requirements.txt
Labels: area/docs, size/XS

#5302 chore: move to the new hub url
  .github/hub-system.svg
  README.md
  docs/_templates/sidebar/navigation.html
  docs/fundamentals/executor/executor-run.md
  docs/fundamentals/executor/hub/debug-executor.md
  docs/fundamentals/executor/hub/hub-portal.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/jcloud/index.md
  docs/get-started/what-is-jina.md
  docs/how-to/docker-compose.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/scale-out.md
Labels: area/housekeeping, size/S, area/docs

#5309 ci: fix proper check release token
  .github/workflows/force-docker-build.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/update-announcement.yml
Labels: area/housekeeping, size/S, area/cicd

#5310 docs: add versioned docs
  .github/workflows/build-old-docs.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/tag.yml
  docs/_templates/sidebar/brand.html
  docs/_versions.json
  scripts/prepend_version_json.py
  scripts/release.sh
Labels: size/M, area/housekeeping, area/cicd, area/docs

#5313 docs: fix version selector state out of sync when entering on url
  docs/_templates/sidebar/brand.html
Labels: size/S, area/docs

#5314 refactor: rename request handler objects
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/worker_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/streamer.py
  jina_cli/api.py
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/serve/runtimes/request_handlers/test_worker_request_handler.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, size/S, area/testing, area/cli

#5317 ci: add more old versions to be built down to 3.0.0
  .github/workflows/build-old-docs.yml
  docs/_versions.json
  docs/correct_some_requirements.sh
  docs/pin_requirements.py
Labels: area/housekeeping, size/S, area/cicd, area/docs, size/XS

#5319 ci: fix move docs that did not exist
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd, size/XS

#5322 ci: fix docker build and push
  .github/workflows/force-docker-build.yml
Labels: area/housekeeping, area/cicd, size/XS

#5315 docs: create a kubernetes section
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/jcloud/index.md
  docs/fundamentals/k8s.md
  docs/how-to/kubernetes.md
  docs/index.md
Labels: size/M, size/S, area/docs

#5324 docs: add contributor acknowledgement, clean up language
  docs/fundamentals/client/third-party-client.md
Labels: size/S, area/docs

#5321 fix: don't import OpenTelemetry methods if Opentelemetry is not enabled
  jina/serve/runtimes/request_handlers/worker_request_handler.py
  jina/serve/runtimes/worker/__init__.py
Labels: area/core, size/S

#5325 fix: nicer error message for rpc errors
  jina/clients/base/grpc.py
Labels: area/core, size/XS, component/client

#5327 docs(k8s): fix box link; mv jcloud to top; small language fixes
  docs/fundamentals/k8s.md
Labels: size/S, area/docs

#5332 docs: restructure docs into cloud-native section
  docs/cloud-nativeness/docker-compose.md
  docs/cloud-nativeness/k8s.md
  docs/cloud-nativeness/kubernetes.md
  docs/cloud-nativeness/monitoring.md
  docs/cloud-nativeness/opentelemetry-migration.md
  docs/cloud-nativeness/opentelemetry.md
  docs/conf.py
  docs/get-started/what-is-cross-modal-multi-modal.md
  docs/index.md
Labels: size/S, area/docs

#5329 docs: renaming to Jina AI Cloud
  docs/fundamentals/jcloud/index.md
Labels: size/S, area/docs

#5328 refactor: remove unnecessary parser args
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/container.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/container.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/parsers/orchestrate/runtimes/runtime.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/gateway.py
  jina_cli/autocomplete.py
Labels: size/M, area/core, area/docs, area/cli
