Repository jina-ai/serve, pull requests merged in 2022-02, with the labels that each got.

#4228 fix: uses_request being applied to uses_after and uses_before
  jina/orchestrate/pods/__init__.py
  tests/integration/v2_api/test_override_requests.py
Labels: area/core, size/S, area/testing

#4229 fix: parsing of env vars of the form '{ var }'
  jina/jaml/__init__.py
  jina/serve/executors/__init__.py
  tests/distributed/test_remote_flows/executors/envvars_ws1/flow.yml
  tests/unit/jaml/test_type_parse.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-encoder-env.yml
  tests/unit/yaml/test-expand4.yml
Labels: size/M, area/core, size/S, area/testing, component/jaml

#4234 fix(cli): fix missing type_checking if statement
  cli/api.py
  tests/unit/serve/executors/test_executor.py
Labels: area/testing, size/XS, area/cli

#4236 docs: add back guide to docstrings
  .github/DOCSTRINGS.rst
  CONTRIBUTING.md
Labels: size/M, area/housekeeping

#4238 chore: add PR template
  .github/pull_request_template.md
Labels: area/housekeeping, size/XS

#4243 feat: change the way parameters are returned from Executors
  jina/clients/mixin.py
  jina/serve/runtimes/request_handlers/data_request_handler.py
  tests/integration/reduce/test_reduce.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
Labels: size/M, area/core, area/testing, component/client

#4242 feat: hide more parameters from k8s and compose yamls
  cli/autocomplete.py
  docs/fundamentals/executor/executor-built-in-features.md
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/flow.py
  jina/parsers/orchestrate/base.py
  jina/parsers/orchestrate/runtimes/worker.py
  scripts/latency-tracking/app.py
Labels: size/M, area/core, area/docs, area/cli

#4246 docs: use new docsqa server address
  docs/conf.py
Labels: area/docs, size/XS

#4245 fix: improve error message
  jina/excepts.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: area/core, area/helper, size/S, area/testing

#4250 refactor: head deployment name does not need ordinal
  docs/advanced/experimental/kubernetes.md
  jina/orchestrate/deployments/__init__.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/deploymens/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deploymens/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/deploymens/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: size/M, area/core, area/testing, area/docs

#4257 fix: fix flow plot
  jina/orchestrate/deployments/__init__.py
Labels: area/core, size/XS

#4256 docs: executor documentation refactoring
  docs/fundamentals/clean-code.md
  docs/fundamentals/concepts.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-built-in-features.md
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/executor/executors-in-action.md
  docs/fundamentals/executor/hub/create-hub-executor.md
  docs/fundamentals/executor/hub/executor-best-practices.md
  docs/fundamentals/executor/hub/hub-portal.md
  docs/fundamentals/executor/hub/index.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/screenshots/create-new.gif
  docs/fundamentals/executor/hub/screenshots/hub-push.gif
  docs/fundamentals/executor/hub/screenshots/secret.png
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/executor/index.md
  docs/fundamentals/executor/repository-structure.md
  docs/index.md
  jina/serve/runtimes/request_handlers/data_request_handler.py
Labels: size/L, area/core, size/XL, area/docs

#4265 docs: adjust install section for 3.0
  docs/get-started/install.md
  docs/get-started/install/index.md
  docs/get-started/install/troubleshooting.md
  docs/get-started/install/windows.md
Labels: size/S, area/docs

#4270 docs: adjust readme
  README.md
Labels: size/M

#4264 docs: async in executors tuto
  docs/advanced/experimental/async-executors.md
Labels: size/M, size/S, area/docs

#4271 docs: move docs to how-to
  docs/advanced/experimental/compound-executor.md
  docs/advanced/experimental/graph-document.md
  docs/how-to/async-executors.md
  docs/how-to/kubernetes.md
  docs/how-to/sandbox.md
  docs/index.md
Labels: area/core, size/XL, area/docs

#4252 docs: updating docker-compose docs
  docs/advanced/experimental/docker-compose.md
  docs/proto/docs.md
Labels: size/M, size/L, size/S, area/docs

#4263 docs: migration guide to jina 3
  docs/index.md
  docs/migrate-to-jina3/migrate.md
Labels: size/M, area/docs

#4269 feat(hubble): upgrade to api v2
  jina/hubble/hubio.py
  tests/unit/hubble/test_hubio.py
Labels: size/M, area/core, area/testing

#4279 fix: instruction is now docker compose -f file up
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#4267 docs: external executors tutorial
  docs/index.md
  docs/tutorials/external-executor.md
Labels: size/M, area/docs

#4282 docs: rephrase comparing to alternatives
  docs/get-started/comparing-to-alternatives.md
Labels: size/S, area/docs

#4285 docs: index with readme content
  README.md
  docs/index.md
Labels: area/docs, size/XS

#4284 docs(executor): fix grammatical errors
  docs/fundamentals/executor/hub/create-hub-executor.md
  docs/fundamentals/executor/hub/hub-portal.md
  docs/fundamentals/executor/hub/push-executor.md
  docs/fundamentals/executor/hub/use-hub-executor.md
Labels: size/S, area/docs

#4287 docs: add scale tutorial
  docs/how-to/scale-out.md
  docs/index.md
Labels: size/M, area/docs

#4291 fix: fix warning when env vars used
  cli/__init__.py
  jina/helloworld/multimodal/flow-index.yml
  jina/helloworld/multimodal/flow-search.yml
  jina/helper.py
  jina/jaml/__init__.py
Labels: area/core, area/helper, size/S, area/cli, component/jaml

#4266 docs: rewrite flow section
  .github/images/foobar_flow.png
  .github/images/foobarbaz_flow_needs.png
  docs/fundamentals/flow/add-exec-to-flow.md
  docs/fundamentals/flow/async-flow.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/docker.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/flow-as-a-service.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/k8s.md
  docs/fundamentals/flow/remarks.md
  docs/fundamentals/flow/send-recv.md
  docs/fundamentals/flow/topology.md
Labels: area/housekeeping, size/XL, area/docs

#4293 docs: small refactor flow docs
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/docker.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/k8s.md
Labels: size/S, area/docs

#4278 feat(hub): add `--verbose` option to "jina hub push" CLI
  cli/autocomplete.py
  jina/hubble/hubio.py
  jina/parsers/hubble/push.py
  tests/unit/parsers/hubble/test_pushpull.py
Labels: area/core, size/S, area/testing, area/cli

#4294 docs: fix examples
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/index.md
Labels: size/S, area/docs

#4295 chore: remove the eah announcement
  docs/conf.py
Labels: area/docs, size/XS

#4286 docs: polish sandbox tutorial
  .github/sandbox-advantage.png
  docs/how-to/sandbox.md
Labels: area/housekeeping, size/S, area/docs

#4301 docs: minor clean up on 3.0 branch
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/sandbox.md
Labels: size/S, area/docs

#4299 docs: migration attributes
  docs/get-started/migrate.md
Labels: size/S, area/docs, size/XS

#4304 docs: very small change
  docs/index.md
Labels: area/docs, size/XS

#4303 docs: add section for extending the http api
  docs/fundamentals/flow/flow-api.md
Labels: size/M, size/S, area/docs

#4308 docs: why to use flow
  docs/fundamentals/flow/index.md
Labels: size/S, area/docs

#4310 docs: unify docarray import
  docs/fundamentals/clean-code.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/executor/repository-structure.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
  docs/get-started/migrate.md
  docs/how-to/kubernetes.md
  docs/how-to/sandbox.md
Labels: size/S, area/docs

#4307 docs(readme): polish
  README.md
Labels: size/S

#4306 chore: update docarray minimum version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4311 docs: fix snippets
  docs/fundamentals/flow/flow-api.md
Labels: size/S, area/docs, size/XS

#4315 docs: restructure 2
  docs/fundamentals/architecture-overview.md
  docs/how-to/executor.md
  docs/index.md
Labels: size/S, area/docs

#4321 docs: add minimum working example to executor
  docs/fundamentals/executor/index.md
Labels: size/S, area/docs

#4312 docs: create landing page for how-to's
  docs/fundamentals/concepts.md
  docs/how-to/external-executor.md
  docs/how-to/gpu-executor.md
  docs/how-to/index.md
  docs/how-to/scale-out.md
Labels: size/S, area/docs

#4325 chore: remove the legacy docaary GA script
  .github/workflows/force-release.yml
Labels: area/housekeeping, area/cicd, size/XS

#4324 optimize pic
  .github/sandbox-advantage.png
Labels: area/housekeeping, size/XS

#4322 docs: fix inconsistent definition for executor and flow
  docs/fundamentals/architecture-overview.md
  docs/fundamentals/concepts.md
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/index.md
  docs/fundamentals/flow/flow-api.md
Labels: size/S, area/docs

#4326 docs: review readme 3
  .github/images/readme-docker-compose.png
  .github/images/readme-k8s.png
  .github/images/readme-orchestrate-executors.png
  .github/images/readme-publish-executors.png
  README.md
Labels: size/M, area/housekeeping

#4323 docs: review readme 2
  .github/images/readme-docker-compose.png
  .github/images/readme-k8s.png
  .github/images/readme-orchestrate-executors.png
  .github/images/readme-publish-executors.png
  .github/images/readme-totally-look-like.png
  README.md
Labels: size/M, area/housekeeping

#4320 fix(helloworld): dump before closing
  jina/helloworld/multimodal/app.py
  jina/helloworld/multimodal/my_executors.py
Labels: area/core, size/S

#4331 docs: optimize pic2
  .github/sandbox-advantage.png
Labels: area/housekeeping, size/XS

#4332 docs: add what is jina
  docs/get-started/what-is-jina.md
  docs/index.md
Labels: size/S, area/docs

#4337 fix(docs): apply black automatically
  docs/fundamentals/clean-code.md
  docs/fundamentals/concepts.md
  docs/get-started/create-app.md
  docs/get-started/migrate.md
  docs/how-to/async-executors.md
  docs/how-to/docker-compose.md
  docs/how-to/external-executor.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/sandbox.md
  docs/how-to/scale-out.md
  docs/tutorials/chatbot.md
  docs/tutorials/fuzzy-grep.md
  docs/tutorials/master-executor.md
  docs/tutorials/question-answering-bot.md
  docs/tutorials/refactor-hello-world.md
Labels: size/M, area/docs

#4334 docs: replace png with svg
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/needs-flow.svg
  docs/fundamentals/flow/replicas-flow.svg
  docs/get-started/install/windows.md
Labels: size/S, area/docs, size/XS

#4336 fix: fix flow plot
  jina/orchestrate/deployments/__init__.py
Labels: area/core, size/S

#4338 docs: tweaks to 'what is neural search'
  docs/get-started/neural-search.md
Labels: area/housekeeping, area/core, size/XL, area/docs, component/resource, area/cli

#4342 feat: add blacken docs to precommit
  .pre-commit-config.yaml
Labels: size/XS

#4345 fix: template proper import
  jina/resources/project-template/app.py
Labels: area/core, size/XS, component/resource

#4347 fix: remove return_results
  jina/clients/mixin.py
  tests/daemon/unit/api/endpoints/partial/test_flow.py
  tests/distributed/test_dir_structures/test_remote_executors.py
  tests/distributed/test_dir_structures/test_remote_flows.py
  tests/distributed/test_local_flow_use_remote_executor/test_integration.py
  tests/distributed/test_remote_flows/test_remote_flow.py
  tests/distributed/test_remote_flows/test_remote_flow_env.py
  tests/distributed/test_remote_flows/test_remote_flow_scale.py
  tests/distributed/test_remote_peas/test_remote_peas.py
  tests/distributed/test_rolling_update_container_runtime/test_rolling_update.py
  tests/distributed/test_scale_remote_executors/test_remote_executors.py
  tests/distributed/test_topologies/test_topologies.py
  tests/distributed/test_workspaces/test_cache_validate.py
  tests/distributed/test_workspaces/test_custom_dockerfile.py
  tests/distributed/test_workspaces/test_remote_workspaces.py
  tests/docker_compose/test_docker_compose.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/crud/test_crud.py
  tests/integration/deployments/test_deployment.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/gateway_clients/test_clients_gateways.py
  tests/integration/gateway_clients/test_streaming.py
  tests/integration/high_order_matches/test_document.py
  tests/integration/inspect_deployments_flow/test_inspect_deployments_flow.py
  tests/integration/issues/hanging_termination/test_hanging_termination.py
  tests/integration/override_config_params/container/test_override_config_params.py
  tests/integration/override_config_params/worker/test_override_config_params.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/integration/pods/container/test_pod.py
  tests/integration/pods/test_pod.py
  tests/integration/reduce/test_reduce.py
  tests/integration/rolling_update/test_rolling_update.py
  tests/integration/runtimes/test_runtimes.py
  tests/integration/scale/test_scale.py
  tests/integration/streaming/test_clients_streaming.py
  tests/integration/v2_api/test_docs_matrix_tail_pea.py
  tests/integration/v2_api/test_func_routing.py
  tests/integration/v2_api/test_override_requests.py
  tests/integration/v2_api/test_yaml_dump_load.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-async/test_asyncflow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_complex_topology.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_docarray_return.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_merge.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_routing.py
  tests/unit/test_gateway.py
Labels: size/M, area/core, area/testing, component/client

#4349 feat: add sandbox after push
  jina/hubble/hubio.py
Labels: area/core, size/S

#4348 docs: migrate from memmap to sqlite
  docs/get-started/migrate.md
Labels: size/S, area/docs

#4350 fix: fix override of empty docs
  jina/orchestrate/flow/base.py
  jina/types/request/data.py
  tests/unit/serve/runtimes/request_handlers/test_data_request_handlers.py
Labels: area/core, size/S, area/testing, size/XS, component/type

#4351 docs: add explain on return
  docs/fundamentals/executor/executor-api.md
  docs/fundamentals/executor/executor-in-flow.md
Labels: size/S, area/docs

#4344 docs: adjust docs to new .post() behaviour
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/flow-api.md
  docs/fundamentals/flow/index.md
Labels: size/M, size/L, size/S, area/docs

#4353 chore: fix contributing code
  CONTRIBUTING.md
Labels: size/XS

#4355 docs: replace flow svg plot
  .github/images/readme-flow-plot.svg
Labels: area/housekeeping, size/XS

#4356 docs: complete containerization example
  README.md
Labels: size/XS

#4359 docs: remove return_results
  docs/fundamentals/executor/containerize-executor.md
  docs/fundamentals/executor/executor-in-flow.md
  docs/fundamentals/executor/hub/use-hub-executor.md
  docs/fundamentals/flow/create-flow.md
  docs/how-to/docker-compose.md
  docs/how-to/gpu-executor.md
  docs/how-to/kubernetes.md
  docs/how-to/sandbox.md
Labels: size/M, area/docs

#4362 refactor(cli): replace distuils with packaging
  cli/__init__.py
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup, area/cli

#4360 fix(hubble): pathspec match
  jina/hubble/helper.py
Labels: area/core, size/XS

#4365 docs: improve executor discovery
  docs/fundamentals/flow/create-flow.md
Labels: size/S, area/docs

#4371 docs: improve quality of Executor API page
  docs/fundamentals/clean-code.md
  docs/fundamentals/executor/executor-api.md
Labels: size/S, area/docs

#4368 docs(readme): polish
  .github/images/readme-banner2.svg
  README.md
Labels: area/housekeeping, size/S

#4377 chore: remove the legacy codes for force register
  jina/enums.py
  jina/serve/executors/__init__.py
Labels: area/core, area/helper, size/XS

#4378 fix: fix docarray version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  tests/distributed/test_scale_remote_executors/executors.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/clients/python/test_request.py
Labels: area/core, size/S, area/testing, size/XS, component/resource, area/setup

#4380 docs: fix client api section title and flow vis
  docs/fundamentals/flow/client.md
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/flow-2.svg
Labels: size/S, area/docs

#4387 docs: fix migration guide
  docs/get-started/migrate.md
Labels: size/S, area/docs

#4386 fix(strings): sandbox wording
  jina/hubble/hubio.py
Labels: area/core, size/XS

#4383 refactor: remove duplicate codes in the unit tests for streaming
  jina/serve/runtimes/base.py
  tests/unit/serve/stream/test_stream.py
Labels: area/core, size/S, area/testing

#4389 fix: docsqa to new url
  docs/conf.py
Labels: area/docs, size/XS

#4396 docs: add link to Jina 2 docs
  docs/index.md
Labels: area/docs, size/XS

#4393 chore: clean up docstrings and imports
  jina/parsers/__init__.py
  jina/parsers/create.py
  jina/types/request/__init__.py
Labels: area/core, size/XS, component/type

#4394 refactor: use docarray import and sorting in helloworld
  jina/helloworld/chatbot/app.py
  jina/helloworld/fashion/helper.py
  jina/helloworld/multimodal/app.py
Labels: area/core, size/S

#4400 chore: remove the legacy embedding enum
  jina/enums.py
  tests/unit/test_enums.py
Labels: size/M, area/core, area/helper, area/testing

#4401 chore: clean up unused exceptions
  jina/excepts.py
Labels: area/core, area/helper, size/S

#4404 docs: update qa-bot to v0.4
  docs/_templates/page.html
  docs/conf.py
Labels: size/S, area/docs

#4407 docs: fix docs on k8s and docker compose
  docs/fundamentals/flow/flow-api.md
Labels: area/docs, size/XS

#4402 feat(sandbox): send all arguments to hubble
  jina/hubble/hubio.py
  jina/orchestrate/deployments/__init__.py
  tests/unit/hubble/test_hubio.py
Labels: area/core, size/S, area/testing

#4414 ci: unpin uvicorn version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#4412 fix(k8s): do not pass gpu to head
  jina/orchestrate/deployments/config/k8s.py
  tests/unit/orchestrate/deploymens/config/test_k8s_deployment_config.py
Labels: area/core, size/S, area/testing, size/XS
