Repository jina-ai/serve, pull requests merged in 2022-11, with the labels that each got.

#5337 refactor: put metric collection in helper methods
  jina/serve/runtimes/request_handlers/worker_request_handler.py
Labels: size/M, area/core

#5339 fix: metric timer initialization with bad default
  jina/serve/instrumentation/__init__.py
Labels: area/core, size/XS

#5326 chore: bump hubble sdk
  docs/jina-ai-cloud/login.md
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/S, area/docs, size/XS, component/resource, area/setup

#5341 fix: new timer should keep labels
  jina/serve/instrumentation/__init__.py
  tests/unit/serve/instrumentation/test_instrumentation.py
Labels: area/core, size/S, area/testing, size/XS

#5335 chore: update docker image tags and info to build locally
  jina/proto/build-proto.sh
Labels: area/core, area/network, size/XS, component/proto

#5351 chore: move setup requirements from setup.py to pyproject.toml
  pyproject.toml
  setup.py
Labels: size/XS, area/setup

#5350 chore: bump hubble sdk
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5344 feat: add deployment label in grpc stub metrics
  jina/serve/networking.py
  tests/unit/serve/instrumentation/conftest.py
  tests/unit/serve/instrumentation/test_gateway_metric_labels.py
  tests/unit/serve/instrumentation/test_networking_histograms.py
Labels: size/M, area/core, size/S, area/testing

#5361 fix: fix custom gateway container pod
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/pods/__init__.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
Labels: area/core, size/S, area/testing

#5338 feat: capture shard failures in the head runtime
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/worker_request_handler.py
  tests/integration/runtimes/test_runtimes.py
Labels: size/M, area/core, area/testing

#5360 feat: accept UUID in CUDA_VISIBLE_DEVICES round robin assignment
  docs/fundamentals/flow/topologies.md
  jina/orchestrate/deployments/__init__.py
  jina/serve/stream/__init__.py
  tests/unit/orchestrate/deployments/test_cuda_assignment.py
Labels: area/core, size/S, area/testing, area/docs

#5363 fix: missing recording logic in connection stub metrics
  jina/serve/networking.py
  tests/unit/serve/instrumentation/conftest.py
  tests/unit/serve/instrumentation/test_gateway_metric_labels.py
  tests/unit/serve/instrumentation/test_instrumentation.py
Labels: size/M, size/L, area/core, size/S, area/testing

#5342 feat: add gateway API
  jina/helper.py
  jina/jaml/parsers/flow/v1.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/schemas/__init__.py
  jina/schemas/flow.py
  jina/schemas/gateway.py
  scripts/inject-cli-as-overload.py
  tests/docker_compose/test_docker_compose.py
  tests/helper.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/k8s/test_k8s.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_custom_gateway.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/flow/flow-construct/yaml/flow-gateway-api.yml
  tests/unit/orchestrate/pods/container/test_container_pod.py
  tests/unit/schemas/test_schema.py
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/yaml/flow_with_gateway.yml
  tests/unit/yaml/test-flow-custom-gateway-nested-config.yml
Labels: size/M, size/L, area/core, area/helper, area/testing, component/jaml

#5371 chore: allow test to pass even if commit name is not good
  .github/workflows/ci.yml
Labels: area/housekeeping, size/S, area/cicd

#5370 docs: fix link to multiprocessing spawn section and highlight entrypoint protection
  docs/fundamentals/flow/create-flow.md
  docs/fundamentals/flow/index.md
  docs/fundamentals/flow/remarks.md
  docs/get-started/install/windows.md
Labels: size/M, size/S, area/docs

#5373 fix: add minimum prometheus client version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: size/XS, area/setup

#5368 chore: update conda recipe script
  conda/meta.yaml
  extra-requirements.txt
  jina/helper.py
  jina/resources/extra-requirements.txt
  scripts/create-conda-recipe.py
Labels: area/core, area/helper, size/S, component/resource, area/setup

#5366 feat: pass `docs_map` to Executor
  docs/fundamentals/executor/executor-methods.md
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  docs/fundamentals/flow/topologies.md
  docs/how-to/external-executor.md
  jina/orchestrate/flow/base.py
  jina/parsers/deprecated.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/head.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/parsers/orchestrate/runtimes/runtime.py
  jina/parsers/orchestrate/runtimes/worker.py
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/request_handlers/worker_request_handler.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/streamer.py
  jina/types/request/data.py
  jina_cli/autocomplete.py
  tests/integration/needs-merge/__init__.py
  tests/integration/needs-merge/test_needs_merge.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/types/request/test_request.py
Labels: size/M, area/core, area/testing, area/docs, component/type, area/cli

#5376 chore: remove useless print
  jina/types/request/data.py
Labels: area/core, size/XS, component/type

#5377 chore: bump hubble sdk
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5379 docs: add tips for using multiprocessing fork in macos
  docs/fundamentals/flow/remarks.md
Labels: size/S, area/docs

#5374 fix: cover missing metrics in HeadRuntime
  docs/fundamentals/flow/instrumenting-flow.md
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/head/request_handling.py
  jina/serve/runtimes/monitoring.py
  jina/serve/runtimes/request_handlers/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/runtimes/worker/request_handling.py
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/integration/issues/github_867/slow-save-executor.bin
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
  tests/unit/serve/runtimes/request_handlers/__init__.py
  tests/unit/serve/runtimes/worker/test_worker_request_handler.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/L, area/core, area/testing, area/docs

#5380 fix: fix bug inheritance, requests nested dict
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/worker/request_handling.py
  tests/integration/issues/github_5735/__init__.py
  tests/integration/issues/github_5735/test_inherited_executor.py
  tests/integration/websocket_gateway/test_subprotocols.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, area/core, size/S, area/testing

#5382 docs: add section on coming from docarray
  docs/fundamentals/docarray-support/docarray-img.png
  docs/fundamentals/docarray-support/index.md
  docs/fundamentals/docarray-support/jinahub-push.png
  docs/fundamentals/docarray-support/position-jina-docarray-2.svg
  docs/fundamentals/docarray-support/position-jina-docarray.svg
  docs/index.md
Labels: size/M, area/docs

#5383 fix: decrement requests count in case of exception inside HeadRuntime
  jina/serve/networking.py
  jina/serve/runtimes/head/request_handling.py
Labels: area/core, size/S, size/XS

#5390 docs: add reference to kotlin client by community
  docs/fundamentals/client/third-party-client.md
Labels: area/docs, size/XS

#5392 fix: health check exception with opentelemetry tracing interceptors
  jina/serve/instrumentation/__init__.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina_cli/autocomplete.py
  tests/integration/conftest.py
  tests/integration/container_runtime_args/test_container_get_args.py
  tests/integration/external_deployment/test_external_deployment.py
  tests/integration/instrumentation/test_container_instrumentation.py
  tests/integration/replica-exec/Dockerfile
  tests/integration/replica-exec/__init__.py
  tests/integration/replica-exec/config.yml
Labels: size/M, area/core, size/S, area/testing, area/cli

#5391 fix: use start_as_current_span to maintain tracing operation chain
  jina/serve/executors/__init__.py
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/integration/instrumentation/test_worker_instrumentation.py
Labels: size/M, area/core, area/testing

#5397 fix: dump uses_with for gateway in k8s and docker compose
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  tests/docker_compose/test_docker_compose.py
  tests/k8s/test_k8s.py
Labels: area/core, size/S, area/testing, size/XS

#5398 test: refactor test
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/test_gateway.py
Labels: area/testing, size/XS

#5403 fix: fix multiplier format when using max attempts
  jina/clients/base/grpc.py
  tests/unit/clients/python/test_client.py
Labels: area/core, size/S, area/testing, size/XS, component/client

#5395 refactor: remove need for should_exit
  jina/serve/gateway.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/http/gateway.py
  jina/serve/runtimes/gateway/websocket/gateway.py
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/test_gateway.py
  tests/unit/yaml/dummy_gateway.py
Labels: size/M, area/core, size/S, area/testing

#5378 feat: allow multiple port and protocols for gateway
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/enums.py
  jina/helper.py
  jina/jaml/__init__.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/__init__.py
  jina/orchestrate/pods/container.py
  jina/orchestrate/pods/helper.py
  jina/parsers/__init__.py
  jina/parsers/client.py
  jina/parsers/helper.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/service.yml
  jina/resources/k8s/template/service_monitoring.yml
  jina/serve/executors/__init__.py
  jina/serve/gateway.py
  jina/serve/runtimes/base.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/gateway.py
  jina/serve/runtimes/gateway/websocket/gateway.py
  jina_cli/autocomplete.py
  scripts/inject-cli-as-overload.py
  tests/docker_compose/conftest.py
  tests/docker_compose/custom-gateway/dummy_gateway.py
  tests/docker_compose/multiprotocol-gateway/Dockerfile
  tests/docker_compose/multiprotocol-gateway/__init__.py
  tests/docker_compose/multiprotocol-gateway/config.yml
  tests/docker_compose/multiprotocol-gateway/multiprotocol_gateway.py
  tests/docker_compose/test_docker_compose.py
  tests/integration/multiple_protocol_gateway/__init__.py
  tests/integration/multiple_protocol_gateway/gateway/Dockerfile
  tests/integration/multiple_protocol_gateway/gateway/__init__.py
  tests/integration/multiple_protocol_gateway/gateway/config.yml
  tests/integration/multiple_protocol_gateway/gateway/multiprotocol_gateway.py
  tests/integration/multiple_protocol_gateway/test_multiple_protocols_gateway.py
  tests/k8s/conftest.py
  tests/k8s/custom-gateway/dummy_gateway.py
  tests/k8s/multiprotocol-gateway/Dockerfile
  tests/k8s/multiprotocol-gateway/__init__.py
  tests/k8s/multiprotocol-gateway/config.yml
  tests/k8s/multiprotocol-gateway/multiprotocol_gateway.py
  tests/k8s/test_k8s.py
  tests/unit/clients/python/test_client.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_change_gateway.py
  tests/unit/orchestrate/pods/container/custom-gateway/dummy_gateway.py
  tests/unit/parsers/peapods/runtimes/test_port_protocol_parser.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/dummy_gateway.py
Labels: size/M, size/L, area/core, area/helper, area/testing, size/XL, area/docs, component/resource, area/cli, component/jaml

#5404 feat: add option to return in order in client and streamer
  docs/fundamentals/client/client.md
  jina/clients/base/grpc.py
  jina/clients/base/helper.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/__init__.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/stream/__init__.py
  jina/serve/streamer.py
  tests/integration/gateway_streamer/test_gateway_streamer.py
  tests/integration/test_return_order/__init__.py
  tests/integration/test_return_order/test_return_order.py
  tests/unit/serve/stream/test_stream.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/client

#5406 refactor: unify stop and teardown to shutdown
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/gateway.py
  jina/serve/runtimes/gateway/websocket/gateway.py
  tests/docker_compose/custom-gateway/dummy_gateway.py
  tests/docker_compose/multiprotocol-gateway/multiprotocol_gateway.py
  tests/integration/multiple_protocol_gateway/gateway/multiprotocol_gateway.py
  tests/k8s/custom-gateway/dummy_gateway.py
  tests/k8s/multiprotocol-gateway/multiprotocol_gateway.py
  tests/unit/jaml/test_gateway_parse.py
  tests/unit/orchestrate/pods/container/custom-gateway/dummy_gateway.py
  tests/unit/yaml/dummy_gateway.py
Labels: size/M, area/core, size/S, area/testing

#5411 fix: unpin hubble sdk version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina_cli/autocomplete.py
Labels: area/core, size/S, size/XS, component/resource, area/setup, area/cli

#5372 feat: k8s resource attributes in instrumentation
  .github/workflows/ci.yml
  jina/resources/k8s/template/deployment-executor.yml
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/resources/k8s/template/statefulset-executor.yml
  jina/serve/instrumentation/__init__.py
  tests/k8s/conftest.py
  tests/k8s_otel/__init__.py
  tests/k8s_otel/conftest.py
  tests/k8s_otel/kind_wrapper.py
  tests/k8s_otel/otel-dev/grafana.yml
  tests/k8s_otel/otel-dev/otlphttp-mirror.yml
  tests/k8s_otel/otel-test/jaeger.yml
  tests/k8s_otel/otel-test/otel-collector.yml
  tests/k8s_otel/otel-test/prometheus.yml
  tests/k8s_otel/test-instrumentation/.dockerignore
  tests/k8s_otel/test-instrumentation/Dockerfile
  tests/k8s_otel/test-instrumentation/config.yml
  tests/k8s_otel/test-instrumentation/debug_executor.py
  tests/k8s_otel/test_k8s_instrumentation.py
  tests/k8s_otel/util.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: area/housekeeping, area/core, area/cicd, area/testing, size/XL, component/resource

#5412 fix: unpin hubble sdk version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5421 test: try to make tests more reliable in K8s
  Dockerfiles/test-pip.Dockerfile
  jina/orchestrate/flow/base.py
Labels: area/docker, area/core, size/XS

#5426 chore: add more prints of exceptions
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/stream/__init__.py
  jina/serve/streamer.py
Labels: area/core, size/S

#5427 fix: replace custom grpc interceptors with library implementations
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/serve/instrumentation/__init__.py
  jina/serve/instrumentation/_aio_client.py
  jina/serve/instrumentation/_aio_server.py
Labels: size/M, area/core, component/resource, area/setup

#5423 chore: bump hubble sdk
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5430 fix: dump env vars as str to k8s
  jina/orchestrate/deployments/config/k8slib/kubernetes_tools.py
Labels: area/core, size/XS

#5434 test: print exceptions raised
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: area/testing, size/XL

#5418 refactor: inject dependencies at contruction with runtime args
  docs/fundamentals/flow/executor-args.md
  docs/fundamentals/flow/gateway-args.md
  jina/parsers/__init__.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/__init__.py
  jina_cli/autocomplete.py
  tests/unit/jaml/test_gateway_parse.py
  tests/unit/test_yamlparser.py
Labels: size/M, area/core, size/S, area/testing, area/docs, area/cli

#5437 chore: test ci without crypto dependency
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5433 fix: unblock event loop to allow health service
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  extra-requirements.txt
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/integration/runtimes/test_runtimes.py
  tests/k8s/slow-process-executor/debug_executor.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: size/M, area/housekeeping, area/core, area/cicd, area/testing, component/resource, area/setup

#5440 fix: protect when deployment not in gathering endpoints dictionary
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/request_handling.py
Labels: area/core, size/S

#5435 feat: add builtin multiprotocol gateway
  docs/fundamentals/gateway/index.md
  docs/fundamentals/gateway/multi-protocol-flow.png
  jina/parsers/helper.py
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/composite/__init__.py
  jina/serve/runtimes/gateway/composite/gateway.py
  tests/integration/multiple_protocol_gateway/test_multiple_protocols_gateway.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_multiprotocol.py
  tests/unit/orchestrate/flow/flow-construct/yaml/multi-protocol.yml
Labels: size/M, area/core, size/S, area/testing, area/docs

#5444 fix: fix multi protocol gateway when using ports and protocols aliases
  jina/orchestrate/flow/base.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_multiprotocol.py
Labels: area/core, size/S, area/testing

#5443 ci: add logs into k8s test failure
  Dockerfiles/test-pip.Dockerfile
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
Labels: size/M, area/docker, size/L, area/testing

#5446 chore: update README
  README.md
Labels: size/S, size/XS

#5449 chore: update jina version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5447 fix: raise exceptions in path importer
  jina/importer.py
  tests/unit/test_importer.py
Labels: area/core, area/helper, size/S, area/testing

#5451 ci: remove otel-semantic-convention
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5452 fix: cap opentelemetry-instrumentation-aiohttp-client incompatible wh…
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5456 docs: fix port and protocol description for the gateway
  docs/fundamentals/flow/gateway-args.md
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina_cli/autocomplete.py
Labels: area/core, size/S, area/docs, size/XS, area/cli

#5460 refactor: remove unused distributed args
  docs/fundamentals/flow/executor-args.md
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/helper.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/runtimes/distributed.py
  jina_cli/autocomplete.py
  tests/unit/orchestrate/deployments/test_deployments.py
Labels: size/M, area/core, size/S, area/testing, area/docs, area/cli

#5457 feat: add FastAPIBaseGateway
  jina/serve/runtimes/gateway/http/fastapi.py
  jina/serve/runtimes/gateway/http/gateway.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_custom_gateway.py
  tests/unit/serve/gateway/test_gateway.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/dummy_fastapi_gateway.py
  tests/unit/yaml/test-fastapi-gateway.yml
Labels: size/M, area/core, area/testing

#5463 fix: fix custom gateway container port
  jina/orchestrate/pods/container.py
Labels: area/core, size/XS

#5439 chore: add install ecosystem latest version test to ci
  .github/workflows/ci.yml
  .github/workflows/nightly-tests.yml
Labels: area/housekeeping, size/S, area/cicd

#5461 feat: add hot reload option to Executor for development
  docs/fundamentals/executor/executor-files.md
  docs/fundamentals/executor/executor-serve.md
  docs/fundamentals/flow/executor-args.md
  extra-requirements.txt
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/pod.py
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/runtimes/worker/request_handling.py
  jina_cli/autocomplete.py
  tests/integration/hot_reload/__init__.py
  tests/integration/hot_reload/exec1/__init__.py
  tests/integration/hot_reload/exec1/my_executor1.py
  tests/integration/hot_reload/exec2/__init__.py
  tests/integration/hot_reload/exec2/helper.py
  tests/integration/hot_reload/exec2/my_executor2.py
  tests/integration/hot_reload/exec3/__init__.py
  tests/integration/hot_reload/exec3/my_executor3.py
  tests/integration/hot_reload/helper2.py
  tests/integration/hot_reload/my_executor_1_new.py
  tests/integration/hot_reload/my_executor_3_new.py
  tests/integration/hot_reload/test_hot_reload.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/resource, area/setup, area/cli

#5462 fix: adapt to new resource structure
  jina/orchestrate/deployments/__init__.py
Labels: area/core, size/XS

#5445 feat: add k8s preStop hook to the containers
  extra-requirements.txt
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/resources/extra-requirements.txt
  jina/resources/k8s/template/configmap.yml
  jina/resources/k8s/template/deployment-executor.yml
  jina/resources/k8s/template/deployment-gateway.yml
  jina/resources/k8s/template/deployment-uses-after.yml
  jina/resources/k8s/template/deployment-uses-before-after.yml
  jina/resources/k8s/template/deployment-uses-before.yml
  jina/resources/k8s/template/statefulset-executor.yml
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/worker/__init__.py
  tests/k8s/test_k8s.py
  tests/k8s/test_k8s_failures.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/M, area/core, size/S, area/testing, size/XS, component/resource, area/setup
