Repository jina-ai/serve, pull requests merged in 2023-04, with the labels that each got.

#5783 fix: build and publish wheels in ci
  .github/workflows/stateful-build-wheels.yml
Labels: area/housekeeping, size/S, area/cicd, size/XL, size/XS

#5798 fix: fix docs building post proto refactor
  docs/makedoc.sh
Labels: area/docs, size/XS

#5778 docs: jcloud flow name customization
  docs/concepts/jcloud/configuration.md
Labels: size/S, area/docs

#5787 fix: getattr default checks
  jina/serve/runtimes/servers/http.py
Labels: area/core, size/S

#5789 feat: add force network mode option
  jina/enums.py
  jina/orchestrate/pods/container.py
  jina/parsers/orchestrate/runtimes/container.py
  jina_cli/autocomplete.py
Labels: area/core, area/helper, size/S, area/cli

#5803 chore: cap docarray version before 0.30 is released
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/housekeeping, area/core, size/S, area/cicd, size/XS, component/resource, area/setup

#5800 docs: adapt docs to new story
  README.md
  docs/concepts/orchestration/deployment.md
  docs/concepts/orchestration/flow.md
  docs/concepts/orchestration/images/http-deployment-swagger.png
  docs/concepts/orchestration/index.md
  docs/concepts/preliminaries/coding-in-python-yaml.md
  docs/concepts/preliminaries/index.md
  docs/concepts/serving/executor/create.md
  docs/concepts/serving/executor/docarray-v2.md
  docs/concepts/serving/executor/health-check.md
  docs/concepts/serving/executor/index.md
  docs/concepts/serving/executor/serve.md
  docs/concepts/serving/gateway/health-check.md
  docs/concepts/serving/index.md
  docs/index.md
Labels: size/M, size/S, area/docs

#5776 fix(readme): pipeline notebook url
  README.md
Labels: size/XS

#5806 chore: bump version for release
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5770 test: add integration test for stateful executor
  .github/workflows/ci.yml
  Dockerfiles/protogen.Dockerfile
  jina/orchestrate/pods/__init__.py
  jina/proto/docarray_v1/jina.proto
  jina/proto/docarray_v1/pb2/jina_pb2.py
  jina/proto/docarray_v1/pb2/jina_pb2_grpc.py
  jina/proto/docarray_v2/pb2/jina_pb2.py
  jina/proto/docarray_v2/pb2/jina_pb2_grpc.py
  jina/proto/jina_pb2.py
  jina/proto/jina_pb2_grpc.py
  jina/serve/consensus/client/client.go
  jina/serve/consensus/client/client_loop.go
  jina/serve/consensus/docarray.proto
  jina/serve/consensus/go.mod
  jina/serve/consensus/go.sum
  jina/serve/consensus/jina-go-proto/jina.pb.go
  jina/serve/consensus/jina-go-proto/jina_grpc.pb.go
  jina/serve/consensus/jina.proto
  jina/serve/consensus/jina_raft/fsm.go
  jina/serve/consensus/jina_raft/jinaraft.go
  jina/serve/consensus/jraft.h
  jina/serve/consensus/run.go
  jina/serve/consensus/scripts/protogen.sh
  jina/serve/runtimes/servers/grpc.py
  jina/serve/runtimes/worker/request_handling.py
  tests/integration/stateful/test_stateful.py
Labels: size/M, area/housekeeping, area/docker, area/core, area/cicd, area/testing, area/network, size/XL, component/proto

#5810 docs: point to legacy documentarray docs
  docs/concepts/preliminaries/index.md
  docs/concepts/serving/executor/create.md
  docs/tutorials/deploy-model.md
Labels: size/S, area/docs

#5811 test: fix docarray v2 comp tests
  tests/integration/docarray_v2/test_v2.py
Labels: area/testing, size/XS

#5812 test: fix some tests in CI
  tests/integration/instrumentation/test_container_instrumentation.py
  tests/integration/instrumentation/test_flow_instrumentation.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_except.py
Labels: size/S, area/testing, size/XS

#5726 chore: ignore dynamically generated protobuf docs
  .gitignore
Labels: size/XS

#5718 fix: docstrings-english
  jina/orchestrate/deployments/__init__.py
  jina/parsers/__init__.py
Labels: size/M, area/core

#5815 docs: add docs for jc recreate
  docs/concepts/jcloud/img/recreate_flow.png
  docs/concepts/jcloud/index.md
Labels: size/S, area/docs

#5816 fix: use container STOP so that containers running CUDA can be killed
  jina/orchestrate/pods/container.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
Labels: area/core, size/S, area/testing, size/XS

#5819 fix: fix new CLI for Deployment
  jina/resources/project-template/deployment/deployment.yml
Labels: area/core, size/S, component/resource

#5821 fix: encoding
  docs/conf.py
  docs/pin_requirements.py
  fastentrypoints.py
  jina/exporter.py
  jina/helper.py
  jina/importer.py
  jina/jaml/__init__.py
  jina/jaml/helper.py
  jina/logging/logger.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_tools.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/pods/container_helper.py
  jina/serve/networking/utils.py
  jina_cli/__init__.py
  scripts/announcement.py
  scripts/create-conda-recipe.py
  scripts/generate-list-args.py
  scripts/get-last-release-note.py
  scripts/get-openapi-schemas.py
  scripts/inject-cli-as-overload.py
  scripts/inject-document-props-as-overload.py
  scripts/prepend_version_json.py
  scripts/update-autocomplete-cli.py
  scripts/update-fluent-interface.py
  setup.py
  tests/integration/conditions_feature/test_condition_behavior.py
  tests/integration/docker_volumes/filewriter-exec/executor.py
  tests/integration/docker_volumes/test_volumes_in_flow.py
  tests/integration/floating_deployments/test_floating_deployments.py
  tests/integration/inspect_deployments_flow/test_inspect_deployments_flow.py
  tests/integration/runtime_signal_handling/test_runtime_captures_signals.py
  tests/k8s/test_k8s_flow.py
  tests/unit/jaml/test_gateway_parse.py
  tests/unit/jaml/test_type_parse.py
  tests/unit/logging/test_logging.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_docker_compose_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_yaml_parser.py
  tests/unit/orchestrate/flow/flow-construct/test_slow_executor_shutdown.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/instrumentation/conftest.py
  tests/unit/test_cli.py
  tests/unit/test_importer.py
  tests/unit/test_yamlparser.py
Labels: size/M, area/core, area/helper, area/testing, component/logging, area/docs, area/setup, area/cli, component/jaml

#5814 chore: try to fix CI
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/pods/__init__.py
  tests/conftest.py
  tests/integration/network_failures/test_network_failures.py
Labels: area/core, size/S, area/testing, size/XS

#5822 docs: fix broken links
  docs/concepts/serving/executor/hub/hub-portal.md
  docs/concepts/serving/executor/hub/index.md
  docs/concepts/serving/executor/hub/sandbox.md
  docs/jina-ai-cloud/index.md
Labels: size/S, area/docs

#5831 docs(jcloud): add storage section
  docs/concepts/jcloud/configuration.md
Labels: size/S, area/docs
