Repository jina-ai/serve, pull requests merged in 2023-08, with the labels that each got.

#5991 feat: executor singleton doc
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/clients/base/http.py
  jina/clients/mixin.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http_fastapi_app_docarrayv2.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/worker/http_fastapi_app.py
  jina/serve/runtimes/worker/request_handling.py
  jina/serve/stream/__init__.py
  tests/integration/docarray_v2/test_singleton.py
  tests/integration/docarray_v2/test_streaming.py
  tests/integration/streaming/test_streaming.py
Labels: size/M, area/housekeeping, size/L, area/core, area/cicd, area/testing, size/XL, component/client

#6001 feat: parameters can be described as Pydantic model for rich schema
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/clients/mixin.py
  jina/clients/request/__init__.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/gateway/async_request_response_handling.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http_fastapi_app_docarrayv2.py
  jina/serve/runtimes/helper.py
  jina/serve/runtimes/worker/http_fastapi_app.py
  jina/serve/runtimes/worker/request_handling.py
  jina/serve/stream/__init__.py
  jina/types/request/data.py
  tests/integration/docarray_v2/test_parameters_as_pydantic.py
Labels: size/M, area/housekeeping, size/L, area/core, area/cicd, area/testing, component/client, component/type

#6002 Chore remove print
  jina/serve/runtimes/gateway/async_request_response_handling.py
Labels: area/core, size/XS

#6003 ci: fix CD yaml
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/XS

#6005 fix: fix caching models from all endpoints, inputs and outputs
  jina/serve/runtimes/gateway/graph/topology_graph.py
  tests/integration/docarray_v2/test_v2.py
Labels: area/core, size/S, area/testing

#6008 docs: fix errors in getting started and preliminaries
  docs/concepts/preliminaries/index.md
  docs/get-started/create-app.md
Labels: size/S, area/docs

#6011 chore: update social sharing banner
  docs/_static/banner.png
Labels: area/docs, size/XS

#6013 docs: do not use tokenizer in client for llm streaming example
  README.md
  docs/concepts/serving/executor/add-endpoints.md
Labels: size/S, area/docs

#6009 docs: update Documentation to show single Document serving
  README.md
  docs/concepts/client/index.md
  docs/concepts/client/rate-limit.md
  docs/concepts/client/send-parameters.md
  docs/concepts/client/send-receive-data.md
  docs/concepts/orchestration/add-executors.md
  docs/concepts/orchestration/flow.md
  docs/concepts/orchestration/readiness.md
  docs/concepts/preliminaries/arch-deployment-overview.png
  docs/concepts/preliminaries/arch-flow-overview.svg
  docs/concepts/preliminaries/coding-in-python-yaml.md
  docs/concepts/preliminaries/index.md
  docs/concepts/serving/executor/add-endpoints.md
  docs/concepts/serving/executor/create.md
  docs/concepts/serving/executor/deployment-yaml-spec.md
  docs/concepts/serving/executor/doc-openapi-example.png
  docs/concepts/serving/executor/index.md
  docs/envs/index.md
Labels: size/M, size/L, area/docs

#6017 docs: fix streaming endpoint ref in readme
  README.md
Labels: size/XS

#6018 docs: update README.md
  README.md
Labels: size/XS

#6021 fix: refer to global schema definitions when creating models
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/helper.py
  jina_cli/autocomplete.py
  tests/integration/docarray_v2/test_issues.py
  tests/unit/serve/runtimes/test_helper.py
Labels: size/L, area/core, area/testing, area/cli

#6024 fix: make gateway load balancer should stream results
  jina/serve/runtimes/gateway/request_handling.py
  tests/integration/docarray_v2/test_streaming.py
  tests/integration/streaming/test_streaming.py
Labels: size/M, area/core, size/S, area/testing

#6033 docs: thumbnails fix
  .github/workflows/label-pr.yml
  docs/jina-ai-cloud/login.md
  docs/makedoc.sh
  docs/requirements.txt
Labels: area/housekeeping, size/S, area/cicd, area/docs, size/XS

#6036 chore: update tag to add model serving
  README.md
Labels: size/XS
