Repository jina-ai/serve, pull requests merged in 2023-01, with the labels that each got.

#5567 refactor: simplify get docs from requests
  jina/serve/runtimes/head/request_handling.py
  jina/serve/runtimes/worker/request_handling.py
Labels: area/core, size/S

#5566 refactor: removing seemingly useless line
  jina/clients/request/helper.py
Labels: area/core, size/XS, component/client

#5570 fix: multi protocol gateway supports monitoring
  jina/serve/runtimes/gateway/composite/gateway.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_multiprotocol.py
Labels: area/core, size/S, area/testing

#5568 refactor: remove dead code, improve test coverage and fix convoluted client code
  jina/clients/request/__init__.py
  jina/clients/request/asyncio.py
  jina/clients/request/helper.py
  tests/integration/v2_api/test_func_routing.py
  tests/unit/clients/test_asyncio.py
  tests/unit/clients/test_helper.py
Labels: area/core, size/S, area/testing, component/client

#5572 docs(jcloud): added documentation for retain
  docs/concepts/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5563 feat: expose deployment to serve Executors
  docs/concepts/executor/dynamic-batching.md
  docs/concepts/executor/serve.md
  docs/concepts/flow/add-executors.md
  jina/__init__.py
  jina/checker.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/orchestrator.py
  jina/orchestrate/pods/factory.py
  jina/proto/__init__.py
  jina/serve/executors/__init__.py
  jina_cli/autocomplete.py
  scripts/inject-cli-as-overload.py
  tests/integration/deployments/executor.py
  tests/integration/deployments/executor.yml
  tests/integration/deployments/test_deployment.py
  tests/integration/reload/exec/config_alt.yml
  tests/integration/reload/test_deployments_reload.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
  tests/unit/serve/executors/test_executor.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/network, size/XL, area/docs, component/proto, area/entrypoint, area/cli

#5590 feat: add client to deployment
  docs/concepts/executor/serve.md
  jina/orchestrate/deployments/__init__.py
  tests/integration/deployments/test_deployment.py
  tests/integration/reload/test_deployments_reload.py
Labels: size/M, area/core, size/S, area/testing, area/docs

#5591 feat: relax protobuf version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup

#5595 chore: add python 3.11 classifier to setup.py
  setup.py
Labels: size/XS, area/setup

#5583 docs: add ephemeral storage
  docs/concepts/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5577 docs: add flow update, restart, pause and resume
  docs/concepts/jcloud/img/pause_flow.png
  docs/concepts/jcloud/img/restart_executor.png
  docs/concepts/jcloud/img/restart_flow.png
  docs/concepts/jcloud/img/restart_gateway.png
  docs/concepts/jcloud/img/resume_flow.png
  docs/concepts/jcloud/img/scale_executor.png
  docs/concepts/jcloud/img/update_flow.png
  docs/concepts/jcloud/index.md
Labels: size/S, area/docs

#5597 fix: edit terminal profile file even if it does not exist
  jina_cli/autocomplete.py
  setup.py
Labels: size/S, area/setup, area/cli

#5579 feat: run warmup on Runtimes and Executor
  jina/serve/networking.py
  jina/serve/runtimes/asyncio.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/runtimes/gateway/composite/gateway.py
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/head/request_handling.py
  jina/serve/runtimes/worker/__init__.py
  jina/serve/runtimes/worker/request_handling.py
  jina/serve/streamer.py
  tests/integration/deployments/test_deployment.py
  tests/integration/runtimes/test_warmup.py
Labels: size/M, area/core, area/testing

#5600 fix: enable timeout for jina ping executor and gateway
  jina/checker.py
  jina/parsers/ping.py
Labels: area/core, area/helper, size/S

#5580 refactor: dont reverse request order
  jina/serve/runtimes/worker/request_handling.py
Labels: area/core, size/XS

#5558 feat: Support communicating with individual Executors in CustomGateway
  docs/concepts/gateway/customization.md
  jina/serve/gateway.py
  jina/serve/streamer.py
  tests/unit/serve/gateway/test_gateway.py
Labels: size/M, area/core, size/S, area/testing, area/docs

#5586 fix(pod parser): use mixin_hub_pull_options_parser from hubble
  docs/concepts/flow/executor-args.md
  extra-requirements.txt
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  jina_cli/autocomplete.py
Labels: area/core, size/S, area/docs, size/XS, component/resource, area/setup, area/cli

#5598 feat: use single gateway streamer for CompositeGateway
  jina/serve/runtimes/gateway/composite/gateway.py
Labels: area/core, size/S, size/XS

#5571 docs(contributing/callbacks): fix links and formatting
  CONTRIBUTING.md
  README.md
  docs/concepts/client/callbacks.md
  docs/concepts/client/third-party-clients.md
  docs/concepts/flow/troubleshooting-on-multiprocess.md
  docs/concepts/gateway/index.md
  docs/concepts/jcloud/yaml-spec.md
  docs/concepts/preliminaries/index.md
  docs/get-started/install/troubleshooting.md
  docs/index.md
Labels: size/M, size/S, area/docs

#5610 chore: use hubble pull mixin parser
  jina/parsers/__init__.py
  jina/parsers/orchestrate/pod.py
Labels: area/core, size/S

#5611 docs: have less versions to avoid timeout
  docs/_versions.json
Labels: area/docs, size/XS

#5607 feat: add prefetch argument to client post method
  docs/concepts/client/index.md
  docs/concepts/client/rate-limit.md
  jina/clients/__init__.py
  jina/clients/base/grpc.py
  jina/clients/base/http.py
  jina/clients/base/websocket.py
  jina/clients/mixin.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  jina/serve/stream/__init__.py
  scripts/devbot.sh
  scripts/inject-cli-as-overload.py
  tests/integration/gateway_clients/test_streaming.py
Labels: size/M, area/core, area/testing, size/XL, area/docs, component/client

#5617 fix: add proper error message to not-found errors
  jina/clients/base/grpc.py
  jina/serve/networking.py
  jina/serve/runtimes/gateway/graph/topology_graph.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/head/__init__.py
  tests/integration/runtimes/test_network_failures.py
Labels: area/core, size/S, area/testing, component/client

#5615 docs: caution users about exceptions inside Flow context
  docs/concepts/flow/index.md
Labels: size/S, area/docs

#5620 docs(jcloud): use 1 gpu in example bc thats more stable
  docs/concepts/jcloud/yaml-spec.md
Labels: area/docs, size/XS

#5619 fix: clean up open telemetry resources in the Flow context manager exit procedure
  .github/workflows/ci.yml
  jina/clients/base/__init__.py
  jina/orchestrate/flow/base.py
Labels: area/housekeeping, area/core, size/S, area/cicd, size/XS, component/client

#5608 feat: add to_kubernetes_yaml to Deployment
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docs/concepts/executor/serve.md
  extra-requirements.txt
  jina/jaml/parsers/flow/v1.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/deployments/config/k8slib/kubernetes_deployment.py
  jina/orchestrate/flow/base.py
  jina/parsers/__init__.py
  jina/parsers/orchestrate/base.py
  jina/resources/extra-requirements.txt
  jina/serve/executors/__init__.py
  tests/k8s/conftest.py
  tests/k8s/test_graceful_request_handling.py
  tests/k8s/test_k8s_deployment.py
  tests/k8s/test_k8s_failures.py
  tests/k8s/test_k8s_flow.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-construct/test_flow.py
Labels: size/M, area/housekeeping, size/L, area/core, area/cicd, area/testing, area/docs, component/resource, area/setup, component/jaml

#5621 refactor: small refactor in threads for waiting Flow readiness
  jina/helper.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/orchestrator.py
Labels: area/core, area/helper, size/S

#5614 feat: add grpc streaming endpoint to worker and head runtimes
  jina/proto/jina.proto
  jina/serve/runtimes/head/__init__.py
  jina/serve/runtimes/worker/__init__.py
  tests/k8s/test_k8s_deployment.py
  tests/unit/clients/python/test_client.py
  tests/unit/serve/runtimes/head/test_head_runtime.py
  tests/unit/serve/runtimes/worker/test_worker_runtime.py
Labels: size/M, area/core, size/S, area/testing, area/network, component/proto

#5630 test: fix test by not relying on wolf
  tests/integration/runtimes/test_network_failures.py
Labels: size/S, area/testing

#5631 fix: pass extra arguments to gateway runtime with container pod
  jina/orchestrate/pods/container.py
  tests/unit/orchestrate/pods/container/custom-gateway/dummy_gateway.py
  tests/unit/orchestrate/pods/container/test_container_pod.py
Labels: area/core, size/S, area/testing

#5632 refactor: no need to run summary in thread
  jina/orchestrate/flow/base.py
Labels: area/core, size/S

#5603 feat: support docarray v2
  .github/workflows/ci.yml
  docs/concepts/executor/docarray-v2.md
  docs/concepts/executor/index.md
  jina/__init__.py
  jina/_docarray.py
  jina/clients/base/http.py
  jina/clients/mixin.py
  jina/clients/request/__init__.py
  jina/clients/request/helper.py
  jina/jaml/parsers/executor/legacy.py
  jina/proto/docarray.proto
  jina/proto/pb2/jina_pb2.py
  jina/serve/executors/__init__.py
  jina/serve/executors/decorators.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/request_handling.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/runtimes/worker/batch_queue.py
  jina/serve/runtimes/worker/request_handling.py
  jina/serve/streamer.py
  jina/types/request/data.py
  tests/integration/crud/__init__.py
  tests/integration/docarray_v2/test_v2.py
  tests/integration/instrumentation/__init__.py
  tests/integration/override_executor_specific_params/test_specific_params.py
  tests/integration/sparse_pipeline/test_sparse_pipeline.py
  tests/k8s_otel/test-instrumentation/debug_executor.py
  tests/unit/clients/python/test_request.py
  tests/unit/jaml/test_type_parse.py
  tests/unit/serve/executors/test_executor.py
  tests/unit/serve/runtimes/gateway/http/test_app.py
Labels: size/M, area/housekeeping, size/L, area/core, area/helper, area/cicd, area/testing, area/network, area/docs, component/client, component/proto, area/entrypoint, component/type, component/jaml

#5640 ci: add docarray v two in cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, size/S, area/cicd

#5641 chore: add telemetry start and stop events for deployment
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/orchestrate/orchestrator.py
Labels: area/core, size/S

#5642 refactor: handle rich and threads differently
  jina/orchestrate/flow/base.py
Labels: size/M, area/core
