Repository jina-ai/serve, pull requests merged in 2023-10, with the labels that each got.

#6066 feat: change the logic to handle dynamic batching
  jina/serve/runtimes/worker/batch_queue.py
  jina/serve/runtimes/worker/request_handling.py
  tests/unit/serve/dynamic_batching/test_batch_queue.py
Labels: size/M, size/L, area/core, area/testing

#6068 docs: fix dynamic batching documentation
  docs/concepts/serving/executor/dynamic-batching.md
Labels: area/docs, size/XS

#6070 chore: update version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#6071 fix: fix start timer before getting data lock
  jina/serve/runtimes/worker/batch_queue.py
  tests/unit/serve/dynamic_batching/test_batch_queue.py
Labels: area/core, size/S, area/testing

#6075 docs: fix readme code
  README.md
Labels: size/XS

#6079 chore(docs): add Jina Deployment docs
  docs/concepts/jcloud/img/deployment/deploy.png
  docs/concepts/jcloud/img/deployment/list.png
  docs/concepts/jcloud/img/deployment/list_all.png
  docs/concepts/jcloud/img/deployment/list_deleted.png
  docs/concepts/jcloud/img/deployment/logs.png
  docs/concepts/jcloud/img/deployment/pause.png
  docs/concepts/jcloud/img/deployment/recreate.png
  docs/concepts/jcloud/img/deployment/restart.png
  docs/concepts/jcloud/img/deployment/resume.png
  docs/concepts/jcloud/img/deployment/scale.png
  docs/concepts/jcloud/img/deployment/status.png
  docs/concepts/jcloud/img/deployment/update.png
  docs/concepts/jcloud/index.md
Labels: size/M, area/docs

#6085 fix: fix check graph compatibility nested types
  jina/serve/runtimes/gateway/graph/topology_graph.py
  tests/integration/docarray_v2/test_issues.py
Labels: area/core, size/S, area/testing

#6078 chore: change to schemas.jina.ai
  docs/concepts/client/third-party-clients.md
  docs/concepts/orchestration/yaml-spec.md
  jina/schemas/__init__.py
  scripts/get-openapi-schemas.py
Labels: area/core, size/S, area/docs

#6092 Upated Twitter logo: solved issue #6089
  docs/_templates/page.html
Labels: area/docs

#6096 chore: revert twitter logo change
  docs/_templates/page.html
Labels: area/docs, size/XS
