Repository jina-ai/serve, pull requests merged in 2023-02, with the labels that each got.

#5638 fix: properly use logging configuration in Executor, Gateway and Client
  docs/concepts/client/index.md
  docs/concepts/executor/basics.md
  docs/concepts/executor/hub/use-hub-executor.md
  docs/concepts/flow/basics.md
  docs/concepts/flow/executor-args.md
  docs/concepts/flow/flow-args.md
  docs/concepts/flow/gateway-args.md
  docs/concepts/gateway/index.md
  jina/clients/__init__.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  jina/parsers/client.py
  jina/parsers/orchestrate/base.py
  jina/serve/executors/__init__.py
  jina/serve/gateway.py
  jina/serve/runtimes/gateway/__init__.py
  jina/serve/streamer.py
  jina_cli/autocomplete.py
  tests/integration/runtimes/test_network_failures.py
  tests/integration/runtimes/test_runtimes.py
  tests/unit/clients/test_interface.py
  tests/unit/clients/test_log_config.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/orchestrate/flow/flow-example/test_flow_examples.py
  tests/unit/orchestrate/flow/flow-orchestrate/test_flow_change_gateway.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/client, area/cli

#5633 refactor: remove manual deletion of channel resources or objects
  docs/concepts/flow/flow-args.md
  jina/clients/__init__.py
  jina/orchestrate/flow/base.py
  jina/serve/networking/connection_pool_map.py
  jina/serve/networking/replica_list.py
  jina_cli/autocomplete.py
  tests/unit/serve/networking/test_connection_pool_map.py
  tests/unit/serve/networking/test_replica_list.py
Labels: size/M, area/core, size/S, area/testing, area/docs, component/client, area/cli

#5624 docs: add jcloud executor availability parameters
  docs/concepts/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5644 docs(hub): document about arm64 architecture support
  docs/concepts/executor/hub/push-executor.md
  docs/concepts/executor/hub/use-hub-executor.md
Labels: size/S, area/docs

#5654 fix: fix usage with CUDA_VISIBLE_DEVICES
  jina/orchestrate/deployments/__init__.py
  jina_cli/autocomplete.py
  tests/integration/rr_cuda/__init__.py
  tests/integration/rr_cuda/test_rr_cuda.py
Labels: area/core, size/S, area/testing, area/cli

#5656 docs: refactor example code for experimenting with Otel
  docs/cloud-nativeness/opentelemetry.md
  docs/concepts/client/instrumentation.md
Labels: size/S, area/docs, size/XS

#5650 feat: refactor streamer.stream method to yield reponse and executor error
  docs/concepts/gateway/customization.md
  jina/excepts.py
  jina/serve/runtimes/gateway/grpc/gateway.py
  jina/serve/runtimes/gateway/http/app.py
  jina/serve/runtimes/gateway/websocket/app.py
  jina/serve/streamer.py
  tests/integration/gateway_streamer/test_gateway_streamer.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/serve/runtimes/gateway/grpc/test_grpc_gateway_runtime.py
  tests/unit/yaml/dummy_fastapi_gateway.py
Labels: size/M, area/core, area/helper, area/testing, area/docs

#5628 feat: deployment yaml
  docs/concepts/flow/deployment-args.md
  jina/jaml/__init__.py
  jina/jaml/parsers/__init__.py
  jina/jaml/parsers/deployment/__init__.py
  jina/jaml/parsers/deployment/legacy.py
  jina/jaml/parsers/flow/v1.py
  jina/jaml/parsers/gateway/legacy.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  scripts/generate-list-args.py
  tests/integration/deployments/deployment-embedded-executor-config.yml
  tests/integration/deployments/deployment-nested-executor-config.yml
  tests/integration/deployments/deployment-overridden-executor-config.yml
  tests/integration/deployments/executor.py
  tests/integration/deployments/test_deployment.py
  tests/unit/jaml/test_type_parse.py
  tests/unit/orchestrate/deployments/test_load_config.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_deployment.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/dummy_exec.py
  tests/unit/yaml/test-deployment-exec-config.yml
  tests/unit/yaml/test-deployment.yml
  tests/unit/yaml/test-flow-deployment-embedded-config-deployments-keyword.yml
  tests/unit/yaml/test-flow-deployment-embedded-config.yml
  tests/unit/yaml/test-flow-deployment-exec-nested-config.yml
  tests/unit/yaml/test-flow-deployment-nested-config-deployments-keyword.yml
  tests/unit/yaml/test-flow-deployment-nested-config.yml
Labels: size/M, size/L, area/core, size/S, area/testing, area/docs, component/jaml

#5649 docs: add survey banner
  .github/banner.svg
  README.md
  docs/index.md
Labels: area/housekeeping, size/S, area/docs

#5668 fix: remove warning when return type hint is none in exec
  jina/serve/executors/__init__.py
Labels: area/core, size/XS

#5664 fix: properly load gateway arguments from YAML
  jina/jaml/parsers/gateway/legacy.py
  jina/serve/runtimes/gateway/__init__.py
  tests/unit/test_yamlparser.py
  tests/unit/yaml/test-custom-gateway.yml
  tests/unit/yaml/test-fastapi-gateway.yml
Labels: area/core, size/S, area/testing, component/jaml

#5670 fix: fix warning typo
  jina/serve/executors/__init__.py
Labels: area/core, size/S

#5665 chore: deprecate executor serve and to_kubernetes_yaml methods
  jina/serve/executors/__init__.py
Labels: area/core, size/S

#5672 feat: changes in CLI for Deployment
  jina/exporter.py
  jina/parsers/export.py
  jina_cli/api.py
Labels: area/core, area/helper, size/S, area/cli

#5676 docs: fix jina base image required for custom gateway
  docs/concepts/gateway/customization.md
Labels: area/docs, size/XS

#5673 feat: add `to_docker_compose_yaml` to Deployment
  docs/concepts/executor/serve.md
  jina/exporter.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/docker_compose.py
  jina/orchestrate/flow/base.py
  jina/serve/executors/__init__.py
  tests/docker_compose/conftest.py
  tests/docker_compose/test_deployment_docker_compose.py
  tests/docker_compose/test_flow_docker_compose.py
Labels: size/M, size/L, area/core, area/helper, area/testing, area/docs

#5679 test: trying to fix deployment integration tests
  jina/jaml/__init__.py
  jina/jaml/parsers/flow/v1.py
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  tests/integration/deployments/test_deployment.py
  tests/unit/clients/python/test_client.py
  tests/unit/orchestrate/deployments/test_deployments.py
  tests/unit/test_yamlparser.py
Labels: size/M, area/core, size/S, area/testing, size/XS, component/jaml

#5684 docs: add deployment to python api docs
  docs/api-rst.rst
Labels: size/S, area/docs

#5674 docs: deployment yaml
  docs/concepts/executor/deployment-yaml-spec.md
  docs/concepts/executor/serve.md
  docs/concepts/flow/yaml-spec.md
  docs/concepts/flow/yaml-vars.md
Labels: size/M, area/docs

#5686 chore: minor revisions
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
  tests/integration/deployments/test_deployment.py
Labels: area/core, size/S, area/testing

#5667 feat: add survey placeholder
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#5645 test(hub): make less signature assumptions in _mock_fetch
  tests/integration/hub_usage/test_hub_usage.py
  tests/unit/orchestrate/deployments/config/test_docker_compose_pod_config.py
  tests/unit/orchestrate/deployments/config/test_helper.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
Labels: size/S, area/testing, size/XS

#5689 fix: fix survey message
  jina/orchestrate/flow/base.py
Labels: area/core, size/XS

#5688 docs: add traces support document
  docs/concepts/jcloud/yaml-spec.md
Labels: size/S, area/docs

#5692 chore: add SIGSEGV handler to runtimes
  jina/serve/runtimes/asyncio.py
Labels: area/core, size/XS

#5693 test: fix tests v2
  tests/integration/docarray_v2/test_v2.py
Labels: area/testing, size/XS

#5695 docs(readme): alex fixes
  README.md
Labels: size/M

#5696 chore: remove stale section about opentelemetry
  docs/cloud-nativeness/opentelemetry.md
Labels: area/docs, size/XS

#5694 docs: update the README to include single executor deployment
  .github/getting-started/TextToImage/Dockerfile
  .github/getting-started/TextToImage/README.md
  .github/getting-started/TextToImage/config.yml
  .github/getting-started/TextToImage/executor.py
  .github/getting-started/TextToImage/requirements.txt
  .github/getting-started/Translator/README.md
  .github/getting-started/Translator/config.yml
  .github/getting-started/Translator/executor.py
  .github/getting-started/Translator/requirements.txt
  .github/getting-started/deployment.yml
  .github/getting-started/flow.yml
  .github/getting-started/jcloud-flow.yml
  .github/getting-started/notebook.ipynb
  .github/stable-diffusion-output.png
  README.md
  docs/concepts/preliminaries/index.md
  docs/index.md
Labels: size/M, area/housekeeping, size/XL, area/docs

#5699 chore: update version
  jina/__init__.py
Labels: area/core, area/helper, size/XS, area/entrypoint

#5702 fix: docarray v2 support with protobuf 4
  .github/workflows/ci.yml
  jina/proto/build-proto.sh
  jina/proto/pb/jina_pb2.py
Labels: area/housekeeping, area/core, size/S, area/cicd, area/network, size/XS, component/proto

#5706 fix: hide known warnings in google colab
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/flow/base.py
Labels: size/M, area/core

#5707 chore: add warning when architectures do not match
  jina/orchestrate/pods/container.py
Labels: area/core, size/S, size/XS

#5708 docs: add warning about cleaning up the flow
  README.md
Labels: size/S

#5709 docs(readme): make flow and deployment difference clearer
  README.md
Labels: size/S

#5705 fix: fix deployment replication and host respecting
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/serve/runtimes/head/__init__.py
  tests/integration/deployments/test_deployment.py
  tests/k8s/test_k8s_deployment.py
  tests/unit/orchestrate/deployments/test_deployments.py
Labels: size/M, area/housekeeping, area/core, size/S, area/cicd, area/testing

#5717 docs(custom-gateway): polish english
  docs/concepts/gateway/customization.md
Labels: size/M, area/docs

#5716 docs(env-vars): polishing
  docs/envs/index.md
Labels: size/S, area/docs

#5711 feat: add replicas argument to Gateway for K8s
  docs/cloud-nativeness/k8s.md
  docs/concepts/flow/gateway-args.md
  jina/orchestrate/deployments/__init__.py
  jina/orchestrate/deployments/config/k8s.py
  jina/orchestrate/flow/base.py
  jina/parsers/orchestrate/runtimes/remote.py
  jina/serve/runtimes/gateway/http/fastapi.py
  jina_cli/autocomplete.py
  tests/unit/orchestrate/deployments/config/test_k8s_deployment_config.py
  tests/unit/orchestrate/flow/flow-construct/test_flow_to_k8s_yaml.py
Labels: area/core, size/S, area/testing, area/docs, area/cli

#5727 test: limit portforward version
  extra-requirements.txt
  jina/resources/extra-requirements.txt
Labels: area/core, size/XS, component/resource, area/setup
